oncasudi_shortform_v1.json
{
  "name": "온카스터디 숏폼 (완전자동 v1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        224
      ],
      "id": "c25ff7bc-d92a-4590-a6bc-ff3fa44a9f8b",
      "name": "스케줄 트리거"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "너는 '온카스터디'(온라인 카지노 정보 검증 및 안전 가이드 플랫폼)의 YouTube Shorts 콘텐츠 기획자야.\nYouTube Shorts(30~50초)용 간접 광고 콘텐츠를 기획해줘.\n\n타겟: 온라인 카지노/배팅에 관심 있는 20~40대, 먹튀 피해를 당했거나 안전한 사이트를 찾는 사람들\n톤: 공감적이고 친근한 대화체, 정보 전달 + 감정 자극\n\n간접 광고 스타일 (아래 중 하나를 랜덤으로 골라서 사용):\n1. 대화형: 친구끼리 대화하듯 \"야 나 어제 환전 안 됐어...\" → \"온카스터디에서 미리 확인했어야지\"\n2. 후기형: 실제 경험담처럼 \"처음엔 나도 몰랐는데...\" → \"온카스터디 보고 나서 달라졌다\"\n3. 정보형: 유용한 팁 전달 \"먹튀 당하기 전에 이것만 확인하세요\" → \"온카스터디에 검증 방법 다 나와있어요\"\n4. 비교형: 안전 vs 위험 비교 \"이런 사이트는 절대 가지 마세요\" → \"온카스터디 검증 사이트만 이용하세요\"\n\n주제 카테고리 (하나를 랜덤으로 골라서 구체적인 주제를 만들어):\n1. 먹튀 예방법 & 먹튀 사이트 특징\n2. 안전한 온라인 카지노 검증 방법\n3. 환전 문제 & 해결 방법\n4. 온라인 배팅 초보자 가이드\n5. 먹튀 피해 실제 사례 & 교훈\n6. 신뢰할 수 있는 사이트 구별법\n7. 배팅 전략 & 자금 관리\n8. 온라인 카지노 보너스 & 프로모션 주의사항\n\n핵심 규칙:\n- 처음 3초 안에 강력한 훅(호기심/충격/공감) 필수\n- '온카스터디'라는 이름이 나레이션에 자연스럽게 1~2번 언급되어야 함\n- 직접적인 광고가 아닌 자연스러운 정보 전달 속에 온카스터디 언급\n- 감정적 스토리텔링: 불안 → 해결 → 안도의 흐름\n- 클릭 유도: 호기심을 자극하는 제목과 댓글\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\n  \"Subject\": \"영상 제목 (호기심 유발, 15자 이내, 먹튀/안전/검증 관련)\",\n  \"Narration\": \"나레이션 전문 (30~50초 분량, 200~350자, 자연스러운 말투, 온카스터디 자연스럽게 언급)\",\n  \"Caption\": \"YouTube 설명 (해시태그 포함, 3줄, #온카스터디 #먹튀예방 #안전검증 등)\",\n  \"Comment\": \"첫 번째 댓글 (질문 유도 또는 공감 유도, 예: 혹시 먹튀 당해본 적 있으신 분?)\",\n  \"BGM_prompt\": \"BGM 분위기 영어 설명 (10~20단어, dramatic tense emotional mood)\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1568,
        224
      ],
      "id": "c29a78cb-1891-4e15-afeb-728bd3cd17dc",
      "name": "AI 주제 생성"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\n// Remove potential markdown code blocks\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nreturn [{\n  json: {\n    Subject: data.Subject,\n    Narration: data.Narration,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    BGM_prompt: data.BGM_prompt,\n    Status: '준비',\n    Publish: '',\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        224
      ],
      "id": "0d8daec2-6a29-4052-8c83-a52121f836dd",
      "name": "주제 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "ONCASUDI_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "온카스터디",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $json.Subject }}",
            "Narration": "={{ $json.Narration }}",
            "Caption": "={{ $json.Caption }}",
            "댓글": "={{ $json.Comment }}",
            "BGM prompt": "={{ $json.BGM_prompt }}",
            "Status": "준비"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Narration",
              "displayName": "Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "댓글",
              "displayName": "댓글",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BGM prompt",
              "displayName": "BGM prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -960,
        224
      ],
      "id": "6dbf17f9-8ffc-43e0-be21-d8c30b316d07",
      "name": "시트 기록"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=다음 나레이션을 5개 문장으로 나눠줘.\n규칙:\n1. 문장의 의미 단위로 자연스럽게 나눠줘\n2. 각 문장은 비슷한 길이로 균등하게 배분해\n3. 절대 단어 중간에서 끊지 마\n4. 쉼표, 조사, 문장 끝에서만 끊어줘\n5. 대화체가 포함된 경우, 대화의 흐름이 끊기지 않도록 자연스럽게 나눠줘\n6. 감정 전환(불안→해결→안도)의 흐름을 유지하며 나눠줘\n\n나레이션: {{ $json.Narration }}\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\"narration1\": \"...\", \"narration2\": \"...\", \"narration3\": \"...\", \"narration4\": \"...\", \"narration5\": \"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -672,
        224
      ],
      "id": "e32a8877-cc07-49c4-bab2-826517c9aad6",
      "name": "나레이션 분할"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  items.push({\n    json: {\n      text: data[`narration${i}`],\n      index: i,\n      subject: $('주제 파싱').first().json.Subject,\n      bgmPrompt: $('주제 파싱').first().json.BGM_prompt,\n      narration: $('주제 파싱').first().json.Narration\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        224
      ],
      "id": "65ad8c76-26f9-460c-93ec-7e7932a32d65",
      "name": "5파트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"language_code\": \"ko\",\n  \"voice\": \"FQ3MuLxZh0jHcZmA5vW1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        208
      ],
      "id": "53b49a8a-3997-4d39-ac42-6c9ff6dc62fd",
      "name": "TTS 요청"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        208
      ],
      "id": "e1a80c12-9ed2-48ae-97e1-4086e3276dbd",
      "name": "TTS 대기",
      "webhookId": "430401b8-56c7-4231-8799-1692fd32a382"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        208
      ],
      "id": "bbcc79f7-a1d9-4302-b76f-ed1931406950",
      "name": "TTS 결과"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=주어진 나레이션 파트에 정확히 매칭되는 시네마틱 이미지 프롬프트를 1개 생성해 주세요.\n\n콘텐츠 컨텍스트: 온라인 카지노 안전 검증, 먹튀 예방, 신뢰와 배신, 돈과 관련된 감정적 스토리\n\n핵심 규칙:\n1. 이 나레이션 파트가 말하는 구체적인 내용을 직접적으로 시각화할 것\n2. 추상적 비주얼이 아닌, 나레이션이 설명하는 실제 상황/장면을 보여줄 것\n3. 하나의 강렬한 비주얼 컨셉에 집중할 것\n4. 프롬프트는 영어로 작성, 150~200자\n5. 큰따옴표(\"\")는 사용하지 않음\n6. illustration, cartoon, 2D, anime, drawing 스타일은 절대 금지\n7. 프롬프트는 A vertical video. 로 시작할 것\n8. 프롬프트 끝에 필수: no text, no letters, no words, no watermark\n9. 온라인 도박/카지노 직접 묘사 금지 (대신 돈, 스마트폰, 불안한 표정, 안도감, 검색, 경고 등 간접적 비주얼 사용)\n\n비주얼 장르 (이번 영상 전체 톤):\n{{ ['다크 시네마틱 — dark cinematic dramatic shadows moody atmosphere', '네온 느와르 — neon noir dark city rain reflections dramatic lighting', '미스터리 서스펜스 — mystery suspense foggy tense atmosphere dark', '하이테크 감시 — high-tech surveillance screens digital dark blue glow', '도시 밤거리 — urban night street neon signs dark alley moody', '금융 다크 — financial dark money shadows dramatic tension', '사이버 스릴러 — cyber thriller hacking screens green code dark', '감성 드라마 — emotional drama soft light tears hope warmth', '긴장감 — tension anxiety close-up sweat dark room spotlight', '구원과 안도 — relief salvation warm light after darkness hope'][Math.floor(Math.random() * 10)] }}\n\n카메라/촬영 스타일 (이 파트용):\n{{ ['extreme close-up with shallow depth of field', 'close-up with dramatic rim lighting', 'medium shot with cinematic composition', 'wide establishing shot with atmospheric depth', 'aerial drone perspective with sweeping motion'][($json.index || 1) - 1] }}\n\n금지 패턴:\n- 카지노 테이블, 슬롯 머신, 룰렛 직접 묘사\n- 도박 행위 직접 묘사\n- 창문 앞 인물 실루엣, 골든아워 역광\n- shield/lock/key, arrow/graph/chart, rocket/lightning, puzzle, hourglass/clock\n\n추천 비주얼 소재:\n- 스마트폰 화면을 불안하게 바라보는 사람\n- 어둠 속 빛나는 모니터 앞의 실루엣\n- 지갑에서 돈이 사라지는 장면\n- 경고 사인과 위험 신호\n- 안도하며 한숨 쉬는 인물\n- 검증/확인하는 모습 (돋보기, 체크마크)\n- 빗속 도시 거리의 네온 반사\n\n출력 형식 (프롬프트만 1개):\nA vertical video. ..., no text, no letters, no words, no watermark\n\n나레이션 파트:\n{{ $json.text }}\n\n시드: {{ Math.floor(Math.random() * 99999) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -336,
        432
      ],
      "id": "b3e1f8c6-4e86-4ed9-a985-4007c7a2ff26",
      "name": "이미지 프롬프트 AI",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        624
      ],
      "id": "08489d9f-8460-4704-936e-e8bb4bd6cdc8",
      "name": "Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux-2-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": {\n    \"width\": 1080,\n    \"height\": 1920\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        432
      ],
      "id": "7f78278c-bc70-4319-b0c9-4e81d6aba78a",
      "name": "이미지 생성"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        432
      ],
      "id": "081bcfc2-a0ca-4b8b-ad38-aae8626bbbb2",
      "name": "이미지 대기",
      "webhookId": "ce76d445-802e-4911-ac60-af6364c5fc09"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        432
      ],
      "id": "e84cd046-2bcc-4f66-b709-2ce19be2bc1c",
      "name": "이미지 결과"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/aura-sr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"upscaling_factor\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        672
      ],
      "id": "ca152fb2-1fa7-4f9d-b571-b6c69b2c837c",
      "name": "업스케일 요청"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        672
      ],
      "id": "1997e359-686f-47ba-8f7c-a6f9f82131db",
      "name": "업스케일 대기",
      "webhookId": "0bb4f2d8-99f1-4fb2-b1bc-f5f05310ba6c"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        672
      ],
      "id": "38eb5220-c037-4798-b44e-7ba5964131e8",
      "name": "업스케일 결과"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kling-2.6/image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt || 'cinematic motion, slow camera movement, professional' }}\",\n    \"image_urls\": [\"{{ $json.image.url }}\"],\n    \"sound\": false,\n    \"duration\": \"5\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        928
      ],
      "id": "0bf155ad-2034-4e43-8ea5-0a73eb19c1ac",
      "name": "영상 생성"
    },
    {
      "parameters": {
        "amount": 200
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        928
      ],
      "id": "ff0246c9-b8f4-4b01-9fa7-e24358c3c288",
      "name": "영상 대기",
      "webhookId": "630ae806-ec3a-49ed-8124-054182733f48"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        928
      ],
      "id": "b32c6b20-92fc-4030-8cdc-0dc1422b01bf",
      "name": "영상 결과"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/beatoven/music-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.bgmPrompt || 'dark tense dramatic suspenseful cinematic background music' }}\",\n  \"duration\": 40,\n  \"refinement\": 100,\n  \"creativity\": 16\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -176
      ],
      "id": "028b371a-0c51-4f8e-bf33-2214553410e6",
      "name": "BGM 생성"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        -176
      ],
      "id": "de3dcdda-ad89-4605-9f33-ebd94fd8e452",
      "name": "BGM 대기",
      "webhookId": "3e6ab713-26cb-4d49-954a-7ba3c2554bdf"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        192
      ],
      "id": "00d6a054-0a91-4cda-8aed-c822d3781d37",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1296,
        208
      ],
      "id": "72b9d3a6-1264-4fda-915c-a6707d7e1b68",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// === Shotstack 타임라인 빌더 ===\nconst allItems = $input.first().json.data;\n\n// Collect data from all paths\nconst bgmUrl = $('BGM 대기').first().json.audio?.url || '';\nconst videoDuration = 5;\nconst bitrate = 128000;\n\nlet scenes = [];\nlet currentStart = 0;\n\nfor (let i = 0; i < 5; i++) {\n  // TTS results\n  const ttsResult = $('TTS 결과').all()[i]?.json;\n  const narrationUrl = ttsResult?.audio?.url || '';\n  const fileSize = ttsResult?.audio?.file_size || 40000;\n\n  // Calculate duration from audio file size\n  let duration = Math.round((fileSize * 8 / bitrate) * 100) / 100;\n  if (duration < 3) duration = 5;\n\n  // Video results\n  const videoResult = $('영상 URL 정리').all()[i]?.json;\n  const videoUrl = videoResult?.video?.url || '';\n\n  // Speed calculation\n  let speed = 1;\n  if (duration > videoDuration) {\n    speed = videoDuration / duration;\n  }\n\n  // Subtitle text\n  const subtitleText = $('5파트 분리').all()[i]?.json?.text || '';\n\n  scenes.push({\n    start: currentStart,\n    duration: duration,\n    videoUrl: videoUrl,\n    narrationUrl: narrationUrl,\n    subtitleText: subtitleText,\n    speed: speed\n  });\n\n  currentStart += duration;\n}\n\nconst totalDuration = currentStart;\n\n// Build Shotstack timeline\nconst timeline = {\n  soundtrack: {\n    src: bgmUrl,\n    effect: \"fadeOut\",\n    volume: 0.25\n  },\n  tracks: [\n    // Track 1: Video clips\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"video\",\n          src: s.videoUrl,\n          volume: 0,\n          trim: 0\n        },\n        start: s.start,\n        length: s.duration,\n        fit: \"cover\",\n        ...(s.speed !== 1 ? { speed: s.speed } : {})\n      }))\n    },\n    // Track 2: Narration audio\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"audio\",\n          src: s.narrationUrl\n        },\n        start: s.start,\n        length: s.duration\n      }))\n    },\n    // Track 3: Subtitles\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"html\",\n          html: '<p>' + s.subtitleText + '</p>',\n          css: \"p { font-family: 'Noto Sans KR', sans-serif; font-size: 42px; color: #ffffff; text-align: center; text-shadow: 2px 2px 8px rgba(0,0,0,0.9); line-height: 1.4; padding: 0 40px; font-weight: 700; }\",\n          width: 1080,\n          height: 300\n        },\n        start: s.start,\n        length: s.duration,\n        position: \"bottom\",\n        offset: { y: 0.08 }\n      }))\n    }\n  ]\n};\n\nconst payload = {\n  timeline: timeline,\n  output: {\n    format: \"mp4\",\n    resolution: \"hd\",\n    aspectRatio: \"9:16\",\n    fps: 30,\n    quality: \"high\"\n  }\n};\n\n// Also save metadata for sheet update\nreturn [{\n  json: {\n    shotstack_payload: payload,\n    totalDuration: totalDuration,\n    scenes: scenes,\n    subject: $('주제 파싱').first().json.Subject,\n    caption: $('주제 파싱').first().json.Caption,\n    comment: $('주제 파싱').first().json.Comment,\n    bgmUrl: bgmUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ],
      "id": "8f96a50f-9e51-4f58-b612-1187c83d4c70",
      "name": "Shotstack 타임라인"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.shotstack_payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        464
      ],
      "id": "01f9b358-00f7-417a-8fd3-12c5039b648f",
      "name": "Shotstack 렌더"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        464
      ],
      "id": "1b582475-37cb-4267-a784-e6cecd350d2a",
      "name": "렌더 대기",
      "webhookId": "4f9abb40-3773-41fc-a069-b5e8e2230c5c"
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/edit/stage/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        464
      ],
      "id": "5da50914-e404-4282-bbfa-e50c0a8b7935",
      "name": "렌더 결과"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "ONCASUDI_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "온카스터디",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Status": "생성 완료",
            "업로드 URL": "={{ $json.response.url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "업로드 URL",
              "displayName": "업로드 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1904,
        224
      ],
      "id": "515544ba-224a-4d48-8645-bd5a5f4c993c",
      "name": "상태 업데이트"
    },
    {
      "parameters": {
        "url": "={{ $json.response.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        592
      ],
      "id": "26ed1367-bd69-4500-a7e7-e7cf2647a0d3",
      "name": "영상 다운로드"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('주제 파싱').first().json.Subject }}",
        "regionCode": "KR",
        "categoryId": "28",
        "options": {
          "description": "={{ $('주제 파싱').first().json.Caption }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2128,
        592
      ],
      "id": "7b76df3d-22f0-4de6-9abf-9021a98bf0d7",
      "name": "YouTube 업로드"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"videoId\": \"{{ $json.id }}\",\n    \"topLevelComment\": {\n      \"snippet\": {\n        \"textOriginal\": \"{{ $('주제 파싱').first().json.Comment }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        592
      ],
      "id": "75c68686-1f1d-4bd1-a4ee-7bfadb884017",
      "name": "첫 댓글"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "ONCASUDI_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "온카스터디",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Publish": "발행 완료",
            "업로드 URL": "=https://youtube.com/shorts/{{ $('YouTube 업로드').first().json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Publish",
              "displayName": "Publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "업로드 URL",
              "displayName": "업로드 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2720,
        592
      ],
      "id": "bcde0f61-966a-4d43-854a-23058d220111",
      "name": "발행 완료"
    },
    {
      "parameters": {
        "jsCode": "// Kie.ai 응답에서 영상 URL 추출 → fal.ai 호환 형식\nconst data = $input.first().json;\nlet videoUrl = '';\n\nif (data.data && data.data.resultJson) {\n  try {\n    const result = JSON.parse(data.data.resultJson);\n    videoUrl = result.resultUrls ? result.resultUrls[0] : '';\n  } catch(e) { videoUrl = ''; }\n}\n\nreturn [{ json: { video: { url: videoUrl }, state: data.data?.state || 'unknown' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        928
      ],
      "id": "0e077acb-27e9-4316-905f-44a417336161",
      "name": "영상 URL 정리"
    }
  ],
  "connections": {
    "스케줄 트리거": {
      "main": [
        [
          {
            "node": "AI 주제 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 주제 생성": {
      "main": [
        [
          {
            "node": "주제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "나레이션 분할",
            "type": "main",
            "index": 0
          },
          {
            "node": "BGM 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "나레이션 분할": {
      "main": [
        [
          {
            "node": "5파트 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5파트 분리": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "이미지 프롬프트 AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 대기": {
      "main": [
        [
          {
            "node": "TTS 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "이미지 프롬프트 AI": {
      "main": [
        [
          {
            "node": "이미지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 생성": {
      "main": [
        [
          {
            "node": "이미지 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 대기": {
      "main": [
        [
          {
            "node": "이미지 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 결과": {
      "main": [
        [
          {
            "node": "업스케일 요청",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 요청": {
      "main": [
        [
          {
            "node": "업스케일 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 대기": {
      "main": [
        [
          {
            "node": "업스케일 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 결과": {
      "main": [
        [
          {
            "node": "영상 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 생성": {
      "main": [
        [
          {
            "node": "영상 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 대기": {
      "main": [
        [
          {
            "node": "영상 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 결과": {
      "main": [
        [
          {
            "node": "영상 URL 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM 생성": {
      "main": [
        [
          {
            "node": "BGM 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM 대기": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "이미지 프롬프트 AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Shotstack 타임라인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack 타임라인": {
      "main": [
        [
          {
            "node": "Shotstack 렌더",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack 렌더": {
      "main": [
        [
          {
            "node": "렌더 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 대기": {
      "main": [
        [
          {
            "node": "렌더 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 결과": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          },
          {
            "node": "영상 다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 다운로드": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "첫 댓글",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "첫 댓글": {
      "main": [
        [
          {
            "node": "발행 완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 URL 정리": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}