slot_shorts_v1.json
{
  "name": "슬롯 쇼츠 (완전자동 v1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        224
      ],
      "id": "96366c85-65f0-4338-ae79-6f718af96afa",
      "name": "스케줄 트리거"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "너는 슬롯 게임 정보 채널의 콘텐츠 기획자야.\nYouTube Shorts(30~50초)용 콘텐츠를 기획해줘.\n\n타겟: 슬롯 게임에 관심 있는 일반인, 안전하고 건강한 게임 문화에 관심 있는 사람들\n톤: 재미있고 유익하면서도 책임감 있는 목소리, 도박 중독을 조장하지 않는 건전한 정보 제공\n\n핵심 원칙:\n- 안전하고 책임감 있는 게임 정보 제공\n- 게임 메커니즘과 규칙 설명\n- 재미있고 흥미로운 슬롯 게임 팁\n- 슬롯을 건강하고 책임감 있게 즐기는 방법\n\n아래 주제 카테고리 중 하나를 랜덤으로 골라서 구체적인 주제를 만들어:\n1. 슬롯 게임 종류와 특징 (클래식, 비디오, 프로그레시브 등)\n2. RTP(환수율) 이해하기 - 수학적 원리와 의미\n3. 안전한 게임 사이트 선택법 - 라이선스, 인증, 보안\n4. 배팅 전략과 자금 관리 - 예산 설정, 손실 한도\n5. 보너스 활용법 - 프리스핀, 와일드, 스캐터 심볼\n6. 게임 중독 예방 - 건강한 게임 습관, 자가 진단\n7. 재미있는 슬롯 역사와 트리비아 - 최초의 슬롯머신부터 현대까지\n8. 인기 슬롯 게임 리뷰 - 게임 특징, 테마, 재미 요소\n\n피드/클릭 최적화:\n- 처음 3초 안에 강력한 훅 (놀라운 사실, 질문, 반전)\n- 호기심을 자극하는 제목\n- 시청자가 끝까지 보고 싶게 만드는 구성\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\n  \"Subject\": \"영상 제목 (호기심 유발, 15자 이내)\",\n  \"Narration\": \"나레이션 전문 (30~50초 분량, 200~350자, 자연스러운 말투)\",\n  \"Caption\": \"YouTube 설명 (해시태그 포함, 3줄)\",\n  \"Comment\": \"첫 번째 댓글 (질문 유도 또는 CTA)\",\n  \"BGM_prompt\": \"BGM 분위기 영어 설명 (10~20단어)\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1568,
        224
      ],
      "id": "b173e2ae-db92-4346-959f-2fcdbe313d09",
      "name": "AI 주제 생성"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\n// Remove potential markdown code blocks\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nreturn [{\n  json: {\n    Subject: data.Subject,\n    Narration: data.Narration,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    BGM_prompt: data.BGM_prompt,\n    Status: '준비',\n    Publish: '',\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        224
      ],
      "id": "5f65e5d8-cc3e-4462-8e69-d12ffde55dd6",
      "name": "주제 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SLOT_SHEET_ID",
          "mode": "list",
          "cachedResultName": "슬롯 쇼츠",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "슬롯",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $json.Subject }}",
            "Narration": "={{ $json.Narration }}",
            "Caption": "={{ $json.Caption }}",
            "댓글": "={{ $json.Comment }}",
            "BGM prompt": "={{ $json.BGM_prompt }}",
            "Status": "준비"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Narration",
              "displayName": "Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "댓글",
              "displayName": "댓글",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BGM prompt",
              "displayName": "BGM prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        224
      ],
      "id": "5a0e94c2-7de3-4a8f-8c47-32640f0e9c59",
      "name": "시트 기록"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=다음 나레이션을 5개 문장으로 나눠줘.\n규칙:\n1. 문장의 의미 단위로 자연스럽게 나눠줘\n2. 각 문장은 비슷한 길이로 균등하게 배분해\n3. 절대 단어 중간에서 끊지 마\n4. 쉼표, 조사, 문장 끝에서만 끊어줘\n\n나레이션: {{ $json.Narration }}\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\"narration1\": \"...\", \"narration2\": \"...\", \"narration3\": \"...\", \"narration4\": \"...\", \"narration5\": \"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -672,
        224
      ],
      "id": "1e989eca-7ee3-45d9-9ec5-e1f1a61eb86b",
      "name": "나레이션 분할"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  items.push({\n    json: {\n      text: data[`narration${i}`],\n      index: i,\n      subject: $('주제 파싱').first().json.Subject,\n      bgmPrompt: $('주제 파싱').first().json.BGM_prompt,\n      narration: $('주제 파싱').first().json.Narration\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        224
      ],
      "id": "cf6e1722-198e-488a-846a-30310d0b480d",
      "name": "5파트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"language_code\": \"ko\",\n  \"voice\": \"FQ3MuLxZh0jHcZmA5vW1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        208
      ],
      "id": "3e0dedb9-6796-4b0a-b1e3-0171dd9af77e",
      "name": "TTS 요청"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        208
      ],
      "id": "54f20899-e65a-45d3-b241-3c1e151407c2",
      "name": "TTS 대기",
      "webhookId": "e18cc959-4b51-4fe0-a805-f9dd894d0619"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        208
      ],
      "id": "47d43a08-63b8-4c6a-82a0-c1363f8fe2a1",
      "name": "TTS 결과"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=주어진 나레이션 파트에 정확히 매칭되는 시네마틱 이미지 프롬프트를 1개 생성해 주세요.\n\n핵심 규칙:\n1. 이 나레이션 파트가 말하는 구체적인 내용을 직접적으로 시각화할 것\n2. 슬롯 게임/카지노 테마에 맞는 화려하고 컬러풀한 비주얼\n3. 하나의 강렬한 비주얼 컨셉에 집중할 것\n4. 프롬프트는 영어로 작성, 150~200자\n5. 큰따옴표(\"\")는 사용하지 않음\n6. illustration, cartoon, 2D, anime, drawing 스타일은 절대 금지\n7. 프롬프트는 A vertical video. 로 시작할 것\n8. 프롬프트 끝에 필수: no text, no letters, no words, no watermark\n\n비주얼 장르 (슬롯 게임 테마):\n{{ ['네온 카지노 — neon glow casino colorful slot machines vibrant lights', '골드 럭셔리 — golden luxury premium casino elegant rich warm tones', '사이버 게임 — cyber gaming futuristic digital slot interface neon blue', '레트로 라스베가스 — retro Las Vegas vintage casino classic slot warm analog', '크리스탈 다이아몬드 — crystal diamond sparkling gems treasure jewels radiant', '다크 VIP — dark VIP lounge premium exclusive moody dramatic lighting', '팝 컬러 — pop color vibrant saturated bold cherry seven symbols', '매직 판타지 — magical fantasy enchanted mystical glowing ethereal casino', '동양풍 카지노 — oriental asian lucky themed golden dragon prosperity', '모던 하이테크 — modern high-tech sleek digital casino holographic clean'][Math.floor(Math.random() * 10)] }}\n\n카메라/촬영 스타일 (이 파트용):\n{{ ['extreme close-up of slot machine reels with shallow depth of field', 'close-up with dramatic neon rim lighting on casino elements', 'medium shot of vibrant casino floor with cinematic composition', 'wide establishing shot of glamorous casino interior with atmospheric depth', 'aerial perspective of colorful slot machine array with sweeping motion'][($json.index || 1) - 1] }}\n\n금지 패턴:\n- 실제 돈/현금 더미, 실제 도박하는 사람 클로즈업\n- 중독적이거나 부정적인 도박 이미지\n- 실제 카지노 브랜드 로고\n- shield/lock/key, arrow/graph/chart, rocket/lightning, puzzle, hourglass/clock\n\n비주얼 생성 가이드:\n- 슬롯 머신, 릴, 심볼 (체리, 세븐, BAR, 다이아몬드), 카지노 분위기\n- 화려하고 흥미진진하지만 건전한 게임 분위기\n- 마치 고급 게임 광고 감독이 스토리보드를 짜는 것처럼\n\n출력 형식 (프롬프트만 1개):\nA vertical video. ..., no text, no letters, no words, no watermark\n\n나레이션 파트:\n{{ $json.text }}\n\n시드: {{ Math.floor(Math.random() * 99999) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -336,
        432
      ],
      "id": "d0fb76e4-92ab-429d-9ba4-64119cf2124c",
      "name": "이미지 프롬프트 AI",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        624
      ],
      "id": "cabb94aa-7640-41ef-95e2-298e80aeca18",
      "name": "Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux-2-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": {\n    \"width\": 1080,\n    \"height\": 1920\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        432
      ],
      "id": "2392f7bb-288c-4ef0-9892-0f7c139ae754",
      "name": "이미지 생성"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        432
      ],
      "id": "b1c6cebc-2f00-4083-9212-180d9b1c55ca",
      "name": "이미지 대기",
      "webhookId": "e4b44148-4cfb-4a52-955f-4bd8bb2f996a"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        432
      ],
      "id": "2bb0b1e1-dccc-4e45-adf6-9f0bbc2eb7b8",
      "name": "이미지 결과"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/aura-sr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"upscaling_factor\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        672
      ],
      "id": "472d838b-5108-41d1-8181-22d8602e3b79",
      "name": "업스케일 요청"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        672
      ],
      "id": "dfccb115-f48c-4bb6-8cea-87a3609af835",
      "name": "업스케일 대기",
      "webhookId": "f7286efa-24aa-4652-886f-4e34e48ea1e5"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        672
      ],
      "id": "0d21c9e9-1689-4bc9-982b-b83f1b946268",
      "name": "업스케일 결과"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kling-2.6/image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt || 'cinematic motion, slow camera movement, professional' }}\",\n    \"image_urls\": [\"{{ $json.image.url }}\"],\n    \"sound\": false,\n    \"duration\": \"5\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        928
      ],
      "id": "817f6f4e-c687-4bf5-8c27-c808bab66670",
      "name": "영상 생성"
    },
    {
      "parameters": {
        "amount": 200
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        928
      ],
      "id": "af48dd1e-9938-4e5d-ac86-09dcb6535c17",
      "name": "영상 대기",
      "webhookId": "b4a4ec85-90ee-4e62-ad92-011bc4e0fa48"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        928
      ],
      "id": "4d8ffcb3-1382-42dc-b7da-7280cc6eb68b",
      "name": "영상 결과"
    },
    {
      "parameters": {
        "jsCode": "// Kie.ai 응답에서 영상 URL 추출 → fal.ai 호환 형식\nconst data = $input.first().json;\nlet videoUrl = '';\n\nif (data.data && data.data.resultJson) {\n  try {\n    const result = JSON.parse(data.data.resultJson);\n    videoUrl = result.resultUrls ? result.resultUrls[0] : '';\n  } catch(e) { videoUrl = ''; }\n}\n\nreturn [{ json: { video: { url: videoUrl }, state: data.data?.state || 'unknown' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        928
      ],
      "id": "2abaf238-d499-4400-bbce-eafebf33c9db",
      "name": "영상 URL 정리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/beatoven/music-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.bgmPrompt || 'upbeat exciting casino slot machine background music' }}\",\n  \"duration\": 40,\n  \"refinement\": 100,\n  \"creativity\": 16\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -176
      ],
      "id": "17ba64eb-2203-41d6-99c0-e134d8bd0393",
      "name": "BGM 생성"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        -176
      ],
      "id": "5d5f783d-86b2-452b-aed7-765032471166",
      "name": "BGM 대기",
      "webhookId": "64470a18-722c-4782-94ee-20abb1bb724f"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        192
      ],
      "id": "fe383ea1-b102-4ccc-b12a-065b239a2287",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1296,
        208
      ],
      "id": "892c132e-25c3-40c4-bd06-a8e03ca464ab",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// === Shotstack 타임라인 빌더 ===\nconst allItems = $input.first().json.data;\n\n// Collect data from all paths\nconst bgmUrl = $('BGM 대기').first().json.audio?.url || '';\nconst videoDuration = 5;\nconst bitrate = 128000;\n\nlet scenes = [];\nlet currentStart = 0;\n\nfor (let i = 0; i < 5; i++) {\n  // TTS results\n  const ttsResult = $('TTS 결과').all()[i]?.json;\n  const narrationUrl = ttsResult?.audio?.url || '';\n  const fileSize = ttsResult?.audio?.file_size || 40000;\n\n  // Calculate duration from audio file size\n  let duration = Math.round((fileSize * 8 / bitrate) * 100) / 100;\n  if (duration < 3) duration = 5;\n\n  // Video results\n  const videoResult = $('영상 URL 정리').all()[i]?.json;\n  const videoUrl = videoResult?.video?.url || '';\n\n  // Speed calculation\n  let speed = 1;\n  if (duration > videoDuration) {\n    speed = videoDuration / duration;\n  }\n\n  // Subtitle text\n  const subtitleText = $('5파트 분리').all()[i]?.json?.text || '';\n\n  scenes.push({\n    start: currentStart,\n    duration: duration,\n    videoUrl: videoUrl,\n    narrationUrl: narrationUrl,\n    subtitleText: subtitleText,\n    speed: speed\n  });\n\n  currentStart += duration;\n}\n\nconst totalDuration = currentStart;\n\n// Build Shotstack timeline\nconst timeline = {\n  soundtrack: {\n    src: bgmUrl,\n    effect: \"fadeOut\",\n    volume: 0.25\n  },\n  tracks: [\n    // Track 1: Video clips\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"video\",\n          src: s.videoUrl,\n          volume: 0,\n          trim: 0\n        },\n        start: s.start,\n        length: s.duration,\n        fit: \"cover\",\n        ...(s.speed !== 1 ? { speed: s.speed } : {})\n      }))\n    },\n    // Track 2: Narration audio\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"audio\",\n          src: s.narrationUrl\n        },\n        start: s.start,\n        length: s.duration\n      }))\n    },\n    // Track 3: Subtitles\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"html\",\n          html: '<p>' + s.subtitleText + '</p>',\n          css: \"p { font-family: 'Noto Sans KR', sans-serif; font-size: 42px; color: #ffffff; text-align: center; text-shadow: 2px 2px 8px rgba(0,0,0,0.9); line-height: 1.4; padding: 0 40px; font-weight: 700; }\",\n          width: 1080,\n          height: 300\n        },\n        start: s.start,\n        length: s.duration,\n        position: \"bottom\",\n        offset: { y: 0.08 }\n      }))\n    }\n  ]\n};\n\nconst payload = {\n  timeline: timeline,\n  output: {\n    format: \"mp4\",\n    resolution: \"hd\",\n    aspectRatio: \"9:16\",\n    fps: 30,\n    quality: \"high\"\n  }\n};\n\n// Also save metadata for sheet update\nreturn [{\n  json: {\n    shotstack_payload: payload,\n    totalDuration: totalDuration,\n    scenes: scenes,\n    subject: $('주제 파싱').first().json.Subject,\n    caption: $('주제 파싱').first().json.Caption,\n    comment: $('주제 파싱').first().json.Comment,\n    bgmUrl: bgmUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ],
      "id": "9d8814e7-6341-4ae1-b3c6-12f8f46a73f0",
      "name": "Shotstack 타임라인"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.shotstack_payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        464
      ],
      "id": "56a16955-04ea-41c9-8842-0912a5e85adf",
      "name": "Shotstack 렌더"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        464
      ],
      "id": "c367f11f-8c9c-4818-a40b-a3b888622d82",
      "name": "렌더 대기",
      "webhookId": "63c6352e-1aca-4d3b-a400-ce717f54b339"
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/edit/stage/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        464
      ],
      "id": "2da7c10a-ca64-470c-a183-439ce3645d9a",
      "name": "렌더 결과"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "SLOT_SHEET_ID",
          "mode": "list",
          "cachedResultName": "슬롯 쇼츠",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "슬롯",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Status": "생성 완료",
            "업로드 URL": "={{ $json.response.url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "업로드 URL",
              "displayName": "업로드 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        400
      ],
      "id": "caeac4d1-399d-4de1-a37a-da148b3ce03c",
      "name": "상태 업데이트"
    },
    {
      "parameters": {
        "url": "={{ $json.response.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        592
      ],
      "id": "562b1307-1735-4600-9310-b8a4dd3a4686",
      "name": "영상 다운로드"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('주제 파싱').first().json.Subject }}",
        "regionCode": "KR",
        "categoryId": "28",
        "options": {
          "description": "={{ $('주제 파싱').first().json.Caption }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2128,
        592
      ],
      "id": "394b9c99-2dd4-4a1e-9193-a946736af631",
      "name": "YouTube 업로드"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"videoId\": \"{{ $json.id }}\",\n    \"topLevelComment\": {\n      \"snippet\": {\n        \"textOriginal\": \"{{ $('주제 파싱').first().json.Comment }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        592
      ],
      "id": "2c6ed003-534c-414b-9fb1-f64da500d359",
      "name": "첫 댓글"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "SLOT_SHEET_ID",
          "mode": "list",
          "cachedResultName": "슬롯 쇼츠",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "슬롯",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Publish": "발행 완료",
            "업로드 URL": "=https://youtube.com/shorts/{{ $('YouTube 업로드').first().json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Publish",
              "displayName": "Publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "업로드 URL",
              "displayName": "업로드 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        592
      ],
      "id": "f54e93b7-b68c-4b5f-8751-6f6b3e6033c0",
      "name": "발행 완료"
    }
  ],
  "connections": {
    "스케줄 트리거": {
      "main": [
        [
          {
            "node": "AI 주제 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 주제 생성": {
      "main": [
        [
          {
            "node": "주제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "나레이션 분할",
            "type": "main",
            "index": 0
          },
          {
            "node": "BGM 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "나레이션 분할": {
      "main": [
        [
          {
            "node": "5파트 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5파트 분리": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "이미지 프롬프트 AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 대기": {
      "main": [
        [
          {
            "node": "TTS 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "이미지 프롬프트 AI": {
      "main": [
        [
          {
            "node": "이미지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 생성": {
      "main": [
        [
          {
            "node": "이미지 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 대기": {
      "main": [
        [
          {
            "node": "이미지 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 결과": {
      "main": [
        [
          {
            "node": "업스케일 요청",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 요청": {
      "main": [
        [
          {
            "node": "업스케일 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 대기": {
      "main": [
        [
          {
            "node": "업스케일 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 결과": {
      "main": [
        [
          {
            "node": "영상 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 생성": {
      "main": [
        [
          {
            "node": "영상 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 대기": {
      "main": [
        [
          {
            "node": "영상 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 결과": {
      "main": [
        [
          {
            "node": "영상 URL 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 URL 정리": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "BGM 생성": {
      "main": [
        [
          {
            "node": "BGM 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM 대기": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "이미지 프롬프트 AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Shotstack 타임라인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack 타임라인": {
      "main": [
        [
          {
            "node": "Shotstack 렌더",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack 렌더": {
      "main": [
        [
          {
            "node": "렌더 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 대기": {
      "main": [
        [
          {
            "node": "렌더 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 결과": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          },
          {
            "node": "영상 다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 다운로드": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "첫 댓글",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "첫 댓글": {
      "main": [
        [
          {
            "node": "발행 완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}