sports_shortform_v1.json
{
  "name": "스포츠 숏폼 (완전자동 v1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        224
      ],
      "id": "2eb2fc1b-ee20-4f32-aaaa-87fb830b4a39",
      "name": "스케줄 트리거"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "너는 스포츠 전문 콘텐츠 기획자야.\nYouTube Shorts(30~50초)용 스포츠 콘텐츠를 기획해줘.\n\n타겟: 스포츠 팬, 배팅 분석에 관심 있는 사람, 경기 결과/소식이 궁금한 시청자\n톤: 스포츠 전문가, 친근하면서 신뢰감 있는 목소리, 데이터 기반 분석\n\n아래 [콘텐츠 스타일] 중 하나를 랜덤으로 골라서 적용해:\na. 경기 분석형: \"오늘 토트넘 vs 아스날, 승부 가를 핵심 포인트 3가지\"\nb. 베팅 정보형: \"프로야구 배당률 분석, 이 팀이 저평가된 이유\"\nc. 선수 소식형: \"손흥민 최근 폼 분석, 다음 경기 활약 가능성은?\"\nd. 하이라이트/리뷰형: \"어제 경기 미쳤다... 역전 드라마 총정리\"\ne. 전략/팁형: \"스포츠 분석 잘하는 사람들의 공통점 5가지\"\n\n아래 [주제 카테고리] 중 하나를 랜덤으로 골라서 구체적인 주제를 만들어:\n1. 축구 (EPL, 라리가, K리그, 국대)\n2. 야구 (MLB, KBO)\n3. 농구 (NBA, KBL)\n4. 종합격투기 (UFC)\n5. 배당률/확률 분석\n6. 스포츠 데이터 분석 방법\n7. 시즌 프리뷰/리뷰\n8. 선수 이적/부상 영향 분석\n9. 테니스 (그랜드슬램, ATP/WTA)\n10. e스포츠 (LoL, 발로란트)\n\n[피드/클릭 최적화 규칙]\n- 첫 문장은 반드시 강력한 훅으로 시작 (질문, 충격, 공감 중 하나)\n- 제목은 호기심 유발 (숫자, 비밀, 충격적 사실 활용)\n- 감정 흐름: 호기심 → 정보/분석 → 솔루션(플랫폼 언급) → CTA\n\n[간접 광고 규칙 - OO 플랫폼]\n- 나레이션 후반부에서 \"OO 플랫폼\"을 자연스럽게 1~2회 언급\n- 다양한 간접 광고 스타일 중 하나를 랜덤 선택:\n  * 대화형: \"친구가 알려준 건데, OO 플랫폼에서 이런 분석 자료 다 볼 수 있더라고\"\n  * 후기형: \"나도 처음엔 반신반의했는데, OO 플랫폼 써보니까 데이터 정리가 확실히 다르더라\"\n  * 정보형: \"이런 분석 자료가 OO 플랫폼에 다 정리되어 있더라\"\n  * 비교형: \"여기저기 찾아봤는데, OO 플랫폼만큼 깔끔하게 정리된 곳은 없었어\"\n- 절대 직접적인 광고/홍보 느낌이 나면 안 됨\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\n  \"Subject\": \"영상 제목 (호기심 유발, 15자 이내, 숫자/비밀/충격 활용)\",\n  \"Narration\": \"나레이션 전문 (30~50초 분량, 200~350자, 자연스러운 말투, 후반부에 OO 플랫폼 자연스럽게 1~2회 언급)\",\n  \"Caption\": \"YouTube 설명 (해시태그 포함, 3줄, #스포츠 #분석 등)\",\n  \"Comment\": \"첫 번째 댓글 (질문 유도 또는 CTA, 스포츠 관련)\",\n  \"BGM_prompt\": \"energetic exciting sports stadium atmosphere background music\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -1568,
        224
      ],
      "id": "04226c3e-3cf2-45b6-acbf-8ac5fde283d6",
      "name": "AI 주제 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\n// Remove potential markdown code blocks\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nreturn [{\n  json: {\n    Subject: data.Subject,\n    Narration: data.Narration,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    BGM_prompt: data.BGM_prompt,\n    Status: '준비',\n    Publish: '',\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        224
      ],
      "id": "254876be-300a-4522-8655-63e57800fb21",
      "name": "주제 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M",
          "mode": "list",
          "cachedResultName": "n8n 스포츠",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "스포츠",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $json.Subject }}",
            "Narration": "={{ $json.Narration }}",
            "Caption": "={{ $json.Caption }}",
            "댓글": "={{ $json.Comment }}",
            "BGM prompt": "={{ $json.BGM_prompt }}",
            "Status": "준비"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Narration",
              "displayName": "Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "댓글",
              "displayName": "댓글",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BGM prompt",
              "displayName": "BGM prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        224
      ],
      "id": "caf26d71-6ec7-4f36-9e13-7e3c02d5e864",
      "name": "시트 기록",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=다음 나레이션을 5개 문장으로 나눠줘.\n규칙:\n1. 문장의 의미 단위로 자연스럽게 나눠줘\n2. 각 문장은 비슷한 길이로 균등하게 배분해\n3. 절대 단어 중간에서 끊지 마\n4. 쉼표, 조사, 문장 끝에서만 끊어줘\n\n나레이션: {{ $json.Narration }}\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\"narration1\": \"...\", \"narration2\": \"...\", \"narration3\": \"...\", \"narration4\": \"...\", \"narration5\": \"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -672,
        224
      ],
      "id": "92bf1b82-56c2-49ca-8b1e-7e6c8a648b4c",
      "name": "나레이션 분할",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  items.push({\n    json: {\n      text: data[`narration${i}`],\n      index: i,\n      subject: $('주제 파싱').first().json.Subject,\n      bgmPrompt: $('주제 파싱').first().json.BGM_prompt,\n      narration: $('주제 파싱').first().json.Narration\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        224
      ],
      "id": "13667a10-c5e2-4700-bbb7-671cb1c1e860",
      "name": "5파트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"language_code\": \"ko\",\n  \"voice\": \"FQ3MuLxZh0jHcZmA5vW1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        208
      ],
      "id": "512b77da-ec30-42a1-b56b-5b2da7fa4882",
      "name": "TTS 요청",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        208
      ],
      "id": "56b80cc0-2d56-483e-9d7f-c3f746431f42",
      "name": "TTS 대기",
      "webhookId": "b1812547-aa7e-46d4-8da7-e8fe81d8c8bb"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        208
      ],
      "id": "81c2ef07-2165-4e9c-b7e0-6404b37d6c08",
      "name": "TTS 결과",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=주어진 나레이션 파트에 정확히 매칭되는 스포츠 시네마틱 이미지 프롬프트를 1개 생성해 주세요.\n\n핵심 규칙:\n1. 이 나레이션 파트가 말하는 구체적인 스포츠 내용을 직접적으로 시각화할 것\n2. 추상적 비주얼이 아닌, 나레이션이 설명하는 실제 스포츠 상황/장면을 보여줄 것\n3. 하나의 강렬한 비주얼 컨셉에 집중할 것\n4. 프롬프트는 영어로 작성, 150~200자\n5. 큰따옴표(\"\")는 사용하지 않음\n6. illustration, cartoon, 2D, anime, drawing 스타일은 절대 금지\n7. 프롬프트는 A vertical video. 로 시작할 것\n8. 프롬프트 끝에 필수: no text, no letters, no words, no watermark\n\n금지 콘텐츠:\n- 실제 선수 얼굴 (특정 인물 묘사 금지)\n- 팀 로고, 저작권 있는 콘텐츠\n- 특정 유니폼 디자인 직접 묘사\n\n비주얼 장르 (이번 영상 전체 톤):\n{{ ['stadium atmosphere dramatic lighting — packed stadium roaring crowd floodlights dramatic shadows', 'dynamic sports action — motion blur athletic movement powerful dramatic angle', 'data stats overlay — futuristic holographic sports statistics neon data visualization', 'dramatic sports moment — cinematic slow motion decisive moment high contrast', 'neon sports graphics — vibrant neon glow modern sports aesthetic dark background electric'][Math.floor(Math.random() * 5)] }}\n\n카메라/촬영 스타일 (이 파트용):\n{{ ['extreme close-up with shallow depth of field', 'close-up with dramatic rim lighting', 'medium shot with cinematic composition', 'wide establishing shot with atmospheric depth', 'aerial drone perspective with sweeping motion'][($json.index || 1) - 1] }}\n\n금지 패턴:\n- 창문 앞 인물 실루엣, 골든아워 역광, 양복 남자가 도시 내려다보는 장면\n- 악수 장면, 단순 사무실\n- shield/lock/key, arrow/graph/chart, rocket/lightning, puzzle, hourglass/clock\n\n비주얼 생성 가이드:\n- 스포츠 현장의 생동감과 긴장감을 극대화\n- 시네마틱 스포츠 포토그래피 스타일\n- 마치 ESPN/DAZN 광고 감독이 스토리보드를 짜는 것처럼\n\n출력 형식 (프롬프트만 1개):\nA vertical video. ..., no text, no letters, no words, no watermark\n\n나레이션 파트:\n{{ $json.text }}\n\n시드: {{ Math.floor(Math.random() * 99999) }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -336,
        432
      ],
      "id": "a6f33535-21d6-47c5-a7da-74fcf48bce90",
      "name": "이미지 프롬프트 AI",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        624
      ],
      "id": "95f92eb0-98e7-408e-a6ae-4ef48e44a895",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux-2-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": {\n    \"width\": 1080,\n    \"height\": 1920\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        432
      ],
      "id": "f3e77d1d-65fa-4a24-8a46-1b8c8ccc7d89",
      "name": "이미지 생성",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        432
      ],
      "id": "91819b51-0104-4e34-a99e-7d12178280aa",
      "name": "이미지 대기",
      "webhookId": "fc134abc-9f28-4b6e-9b5f-a3c48ab5895c"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        432
      ],
      "id": "c600fd09-ef3b-4071-b75e-1867261b5154",
      "name": "이미지 결과",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/aura-sr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"upscaling_factor\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        672
      ],
      "id": "bac1e13b-66fe-4b82-9b3b-cc4e63efc873",
      "name": "업스케일 요청",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        672
      ],
      "id": "f9e69ffe-1fec-4e44-b721-3057de76cbcd",
      "name": "업스케일 대기",
      "webhookId": "429361cd-b1fc-426d-98d0-059a177a8372"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        672
      ],
      "id": "c6856bb8-8942-4908-aa25-c7dde80508a1",
      "name": "업스케일 결과",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kling-2.6/image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt || 'cinematic motion, slow camera movement, professional' }}\",\n    \"image_urls\": [\"{{ $json.image.url }}\"],\n    \"sound\": false,\n    \"duration\": \"5\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        928
      ],
      "id": "92fd2a23-39e2-456b-8dec-d63c43a1259d",
      "name": "영상 생성",
      "credentials": {
        "httpHeaderAuth": {
          "id": "34ktW72w0p8fCfUQ",
          "name": "Kie.ai"
        }
      }
    },
    {
      "parameters": {
        "amount": 200
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        928
      ],
      "id": "39e75372-3dbd-4233-b0e3-0aa6e9e4f785",
      "name": "영상 대기",
      "webhookId": "4af8bf1f-4349-42fe-8f61-4fa40e535e11"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        928
      ],
      "id": "df884ae3-3eb9-4deb-a606-2ae893a426b5",
      "name": "영상 결과",
      "credentials": {
        "httpHeaderAuth": {
          "id": "34ktW72w0p8fCfUQ",
          "name": "Kie.ai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/beatoven/music-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.bgmPrompt || 'energetic exciting sports stadium atmosphere background music' }}\",\n  \"duration\": 40,\n  \"refinement\": 100,\n  \"creativity\": 16\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -176
      ],
      "id": "e2a5ccf1-e068-49b6-ba8f-e8423ff2f033",
      "name": "BGM 생성",
      "credentials": {
        "httpHeaderAuth": {
          "id": "R0m2RD0rtE8IKRt6",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        -176
      ],
      "id": "66f4e6b2-21e4-44cb-af93-1289439aa47e",
      "name": "BGM 대기",
      "webhookId": "aac2684f-4d01-43fe-95d6-2c67164ef53f"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        192
      ],
      "id": "6b803198-d856-4232-a8f9-d060dbd88181",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1296,
        208
      ],
      "id": "6899e0a4-3a60-42f7-ac88-30e61825fee1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// === Shotstack 타임라인 빌더 ===\nconst allItems = $input.first().json.data;\n\n// Collect data from all paths\nconst bgmUrl = $('BGM 대기').first().json.audio?.url || '';\nconst videoDuration = 5;\nconst bitrate = 128000;\n\nlet scenes = [];\nlet currentStart = 0;\n\nfor (let i = 0; i < 5; i++) {\n  // TTS results\n  const ttsResult = $('TTS 결과').all()[i]?.json;\n  const narrationUrl = ttsResult?.audio?.url || '';\n  const fileSize = ttsResult?.audio?.file_size || 40000;\n\n  // Calculate duration from audio file size\n  let duration = Math.round((fileSize * 8 / bitrate) * 100) / 100;\n  if (duration < 3) duration = 5;\n\n  // Video results\n  const videoResult = $('영상 URL 정리').all()[i]?.json;\n  const videoUrl = videoResult?.video?.url || '';\n\n  // Speed calculation\n  let speed = 1;\n  if (duration > videoDuration) {\n    speed = videoDuration / duration;\n  }\n\n  // Subtitle text\n  const subtitleText = $('5파트 분리').all()[i]?.json?.text || '';\n\n  scenes.push({\n    start: currentStart,\n    duration: duration,\n    videoUrl: videoUrl,\n    narrationUrl: narrationUrl,\n    subtitleText: subtitleText,\n    speed: speed\n  });\n\n  currentStart += duration;\n}\n\nconst totalDuration = currentStart;\n\n// Build Shotstack timeline\nconst timeline = {\n  soundtrack: {\n    src: bgmUrl,\n    effect: \"fadeOut\",\n    volume: 0.25\n  },\n  tracks: [\n    // Track 1: Video clips\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"video\",\n          src: s.videoUrl,\n          volume: 0,\n          trim: 0\n        },\n        start: s.start,\n        length: s.duration,\n        fit: \"cover\",\n        ...(s.speed !== 1 ? { speed: s.speed } : {})\n      }))\n    },\n    // Track 2: Narration audio\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"audio\",\n          src: s.narrationUrl\n        },\n        start: s.start,\n        length: s.duration\n      }))\n    },\n    // Track 3: Subtitles\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"html\",\n          html: '<p>' + s.subtitleText + '</p>',\n          css: \"p { font-family: 'Noto Sans KR', sans-serif; font-size: 42px; color: #ffffff; text-align: center; text-shadow: 2px 2px 8px rgba(0,0,0,0.9); line-height: 1.4; padding: 0 40px; font-weight: 700; }\",\n          width: 1080,\n          height: 300\n        },\n        start: s.start,\n        length: s.duration,\n        position: \"bottom\",\n        offset: { y: 0.08 }\n      }))\n    }\n  ]\n};\n\nconst payload = {\n  timeline: timeline,\n  output: {\n    format: \"mp4\",\n    resolution: \"hd\",\n    aspectRatio: \"9:16\",\n    fps: 30,\n    quality: \"high\"\n  }\n};\n\n// Also save metadata for sheet update\nreturn [{\n  json: {\n    shotstack_payload: payload,\n    totalDuration: totalDuration,\n    scenes: scenes,\n    subject: $('주제 파싱').first().json.Subject,\n    caption: $('주제 파싱').first().json.Caption,\n    comment: $('주제 파싱').first().json.Comment,\n    bgmUrl: bgmUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ],
      "id": "1cae20b2-9476-48b9-91df-174d13f82660",
      "name": "Shotstack 타임라인"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.shotstack_payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        464
      ],
      "id": "6daee0c3-b770-47d7-8f11-f4741002649e",
      "name": "Shotstack 렌더",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3oEYwvtDnmFeylkp",
          "name": "Shotstack"
        }
      }
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        464
      ],
      "id": "8bce5368-6b3f-4cb8-9c35-4530b52349b0",
      "name": "렌더 대기",
      "webhookId": "4afecffb-7c23-413c-a5c2-36a7610be3b9"
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/edit/stage/render/{{ $json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        464
      ],
      "id": "e904055c-eaae-4f7a-9786-5859487efd65",
      "name": "렌더 결과",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3oEYwvtDnmFeylkp",
          "name": "Shotstack"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M",
          "mode": "list",
          "cachedResultName": "n8n 스포츠",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "스포츠",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Status": "생성 완료",
            "업로드 URL": "={{ $json.response.url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "업로드 URL",
              "displayName": "업로드 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        400
      ],
      "id": "9cb168ad-4aca-4de4-9c4c-d98daed3a49a",
      "name": "상태 업데이트",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.response.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        592
      ],
      "id": "acff09a4-601e-49f9-88bd-fb4bcf3c0fd1",
      "name": "영상 다운로드"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('주제 파싱').first().json.Subject }}",
        "regionCode": "KR",
        "categoryId": "17",
        "options": {
          "description": "={{ $('주제 파싱').first().json.Caption }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2128,
        592
      ],
      "id": "748a0a7e-fd4f-4803-aa12-2175aa417a23",
      "name": "YouTube 업로드",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "kRKBMYWf6cB72qUi",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"videoId\": \"{{ $json.id }}\",\n    \"topLevelComment\": {\n      \"snippet\": {\n        \"textOriginal\": \"{{ $('주제 파싱').first().json.Comment }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        592
      ],
      "id": "be5769fb-15b5-4bef-8a05-c9efb1383327",
      "name": "첫 댓글",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "kRKBMYWf6cB72qUi",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M",
          "mode": "list",
          "cachedResultName": "n8n 스포츠",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "스포츠",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NAVwKXLQOUzBoNckxxesIR_ZS3GoNVGepr8zkBFmz4M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Publish": "발행 완료",
            "업로드 URL": "=https://youtube.com/shorts/{{ $('YouTube 업로드').first().json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Publish",
              "displayName": "Publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "업로드 URL",
              "displayName": "업로드 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        592
      ],
      "id": "26ec4889-ae87-4f9f-bc32-90a7ea0131bc",
      "name": "발행 완료",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kie.ai 응답에서 영상 URL 추출 → fal.ai 호환 형식\nconst data = $input.first().json;\nlet videoUrl = '';\n\nif (data.data && data.data.resultJson) {\n  try {\n    const result = JSON.parse(data.data.resultJson);\n    videoUrl = result.resultUrls ? result.resultUrls[0] : '';\n  } catch(e) { videoUrl = ''; }\n}\n\nreturn [{ json: { video: { url: videoUrl }, state: data.data?.state || 'unknown' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        928
      ],
      "id": "b7f3b8df-bdb6-492d-af1b-58af3da12bb4",
      "name": "영상 URL 정리"
    }
  ],
  "connections": {
    "스케줄 트리거": {
      "main": [
        [
          {
            "node": "AI 주제 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 주제 생성": {
      "main": [
        [
          {
            "node": "주제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "나레이션 분할",
            "type": "main",
            "index": 0
          },
          {
            "node": "BGM 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "나레이션 분할": {
      "main": [
        [
          {
            "node": "5파트 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5파트 분리": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "이미지 프롬프트 AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 대기": {
      "main": [
        [
          {
            "node": "TTS 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "이미지 프롬프트 AI": {
      "main": [
        [
          {
            "node": "이미지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 생성": {
      "main": [
        [
          {
            "node": "이미지 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 대기": {
      "main": [
        [
          {
            "node": "이미지 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 결과": {
      "main": [
        [
          {
            "node": "업스케일 요청",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 요청": {
      "main": [
        [
          {
            "node": "업스케일 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 대기": {
      "main": [
        [
          {
            "node": "업스케일 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업스케일 결과": {
      "main": [
        [
          {
            "node": "영상 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 생성": {
      "main": [
        [
          {
            "node": "영상 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 대기": {
      "main": [
        [
          {
            "node": "영상 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 결과": {
      "main": [
        [
          {
            "node": "영상 URL 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM 생성": {
      "main": [
        [
          {
            "node": "BGM 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM 대기": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "이미지 프롬프트 AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Shotstack 타임라인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack 타임라인": {
      "main": [
        [
          {
            "node": "Shotstack 렌더",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack 렌더": {
      "main": [
        [
          {
            "node": "렌더 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 대기": {
      "main": [
        [
          {
            "node": "렌더 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 결과": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          },
          {
            "node": "영상 다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 다운로드": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "첫 댓글",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "첫 댓글": {
      "main": [
        [
          {
            "node": "발행 완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 URL 정리": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}