story_shorts_v1.json
{
  "name": "온카스터디 스토리형 숏츠 (완전자동 v1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3,15 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2400,
        300
      ],
      "id": "a042c6b2-5d62-4716-8693-f5f558d46ce2",
      "name": "스케줄 트리거"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "너는 '온카스터디' 먹튀검증 커뮤니티의 YouTube Shorts 스토리형 콘텐츠 기획자야.\n**실제 영상 클립을 편집한 스토리형 숏츠**를 기획해줘.\n\n## 영상 구조\n- 총 40~50초, 9:16 세로 영상\n- 상단 배너: 고정된 훅 제목 (강조할 단어는 <y>태그</y>로 감싸기)\n- 중간: Pexels 스톡 영상 (3~5초 간격 전환)\n- 하단: 나레이션 자막\n- 오디오: TTS 나레이션 + BGM\n\n## 핵심 규칙\n1. hook_title: 1~2줄, 강렬한 후킹. <y>강조단어</y> 1~3개\n2. 나레이션 7~10문장, 총 40~50초\n3. 각 문장마다 Pexels 검색용 영어 키워드 (2~4단어)\n4. 키워드: casino, roulette, poker chips, slot machine, money, gambling 등 실제 영상 있는 키워드\n5. \"온카스터디\"는 후반부 1~2회만 자연스럽게 언급\n6. subject에 해시태그: 온카스터디 #먹튀검증 #카지노커뮤니티 ...\n\n## 주제 카테고리 (하나 랜덤 선택)\n1. 카지노에서 절대 해서는 안 되는 행동\n2. 먹튀 사이트 구별하는 확실한 방법\n3. 온라인 카지노의 숨겨진 함정\n4. 초보자가 반드시 알아야 할 카지노 상식\n5. 환전 사고 실제 사례와 예방법\n6. 카지노 보너스의 진짜 의미\n7. 안전한 배팅 사이트 선택 기준\n8. 카지노에서 돈 잃는 심리적 이유\n9. VIP 시스템의 진실\n10. 블랙잭/바카라/룰렛 기본 전략\n\n## 출력 (순수 JSON, 마크다운 코드블록 없이)\n{\n  \"hook_title\": \"카지노에서 가장 <y>무서운</y> 숫자는 <y>7</y>이 아니라 <y>0</y>입니다\",\n  \"narration_segments\": [\n    {\"text\": \"첫 번째 문장.\", \"keyword\": \"casino roulette table\"},\n    {\"text\": \"두 번째 문장.\", \"keyword\": \"poker chips stack\"},\n    {\"text\": \"세 번째 문장.\", \"keyword\": \"slot machine spinning\"},\n    {\"text\": \"네 번째 문장.\", \"keyword\": \"money cash bills\"},\n    {\"text\": \"다섯 번째 문장.\", \"keyword\": \"gambling dice cards\"},\n    {\"text\": \"여섯 번째 문장.\", \"keyword\": \"casino neon lights\"},\n    {\"text\": \"일곱 번째 문장.\", \"keyword\": \"poker game table\"},\n    {\"text\": \"여덟 번째 문장.\", \"keyword\": \"roulette wheel spinning\"}\n  ],\n  \"Subject\": \"제목 온카스터디 #먹튀검증 #카지노 #온라인카지노 #카지노커뮤니티\",\n  \"Caption\": \"설명 + #해시태그\",\n  \"Comment\": \"구글에 온카스터디 검색\",\n  \"BGM_prompt\": \"dark cinematic tension suspense mysterious casino atmosphere\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -2100,
        300
      ],
      "id": "0f0b8cab-e649-4c60-afba-6991b2a30901",
      "name": "AI 콘텐츠 생성"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content.parts[0].text;\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\n// Validate segments\nif (!data.narration_segments || data.narration_segments.length < 7) {\n  throw new Error('narration_segments must have at least 7 items');\n}\n\nreturn [{\n  json: {\n    hook_title: data.hook_title,\n    narration_segments: data.narration_segments,\n    Subject: data.Subject,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    BGM_prompt: data.BGM_prompt,\n    fullNarration: data.narration_segments.map(s => s.text).join(' '),\n    segmentCount: data.narration_segments.length,\n    Status: '준비',\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1800,
        300
      ],
      "id": "debd624e-66b9-4443-8544-002d62bd2da6",
      "name": "콘텐츠 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "STORY_SHORTS_SHEET_ID",
          "mode": "list",
          "cachedResultName": "온카스터디 스토리형 숏츠",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "스토리형 숏츠",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $json.Subject }}",
            "Hook": "={{ $json.hook_title }}",
            "Narration": "={{ $json.fullNarration }}",
            "Caption": "={{ $json.Caption }}",
            "댓글": "={{ $json.Comment }}",
            "BGM prompt": "={{ $json.BGM_prompt }}",
            "Status": "준비"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Narration",
              "displayName": "Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "댓글",
              "displayName": "댓글",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BGM prompt",
              "displayName": "BGM prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1500,
        300
      ],
      "id": "ad97017d-7051-4a32-a9d2-9ba6d5276e01",
      "name": "시트 기록"
    },
    {
      "parameters": {
        "jsCode": "const data = $('콘텐츠 파싱').first().json;\n\nconst items = data.narration_segments.map((seg, i) => ({\n  json: {\n    text: seg.text,\n    keyword: seg.keyword,\n    index: i + 1,\n    hook_title: data.hook_title,\n    subject: data.Subject,\n    bgmPrompt: data.BGM_prompt,\n    segmentCount: data.segmentCount\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        300
      ],
      "id": "624571a3-41be-44cb-a4cd-1b5f40b89fec",
      "name": "세그먼트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"language_code\": \"ko\",\n  \"voice\": \"FQ3MuLxZh0jHcZmA5vW1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -900,
        100
      ],
      "id": "bc8cf138-8ff3-4651-a001-8b6bacf36820",
      "name": "TTS 요청"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        100
      ],
      "id": "6ecd625e-fa7a-4dfd-b96f-bf4085cf370f",
      "name": "TTS 대기",
      "webhookId": "9ee20cd0-4924-4c58-8308-107b4e41da3c"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -300,
        100
      ],
      "id": "43fbac35-d97d-4383-ae4c-2e3bcdea2558",
      "name": "TTS 결과"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.pexels.com/videos/search?query={{ encodeURIComponent($json.keyword) }}&per_page=3&orientation=portrait&size=medium",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -900,
        500
      ],
      "id": "9be4d606-1cf9-44e0-9caf-b7c2bce338f7",
      "name": "Pexels 검색"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst videos = result.videos || [];\n\nlet videoUrl = '';\nlet videoDuration = 0;\nlet isPortrait = true;\n\nif (videos.length > 0) {\n  // Pick a random video from top 3 results for variety\n  const video = videos[Math.floor(Math.random() * Math.min(3, videos.length))];\n  videoDuration = video.duration || 10;\n\n  // Find HD quality file (prefer portrait 1080x1920)\n  const files = video.video_files || [];\n  const hdFile = files.find(f => f.height >= 1920 && f.width <= 1080 && f.quality === 'hd')\n    || files.find(f => f.height >= 1080 && f.quality === 'hd')\n    || files.find(f => f.quality === 'hd')\n    || files[0];\n\n  if (hdFile) {\n    videoUrl = hdFile.link;\n    // Check if actually portrait\n    isPortrait = (hdFile.height || 0) > (hdFile.width || 0);\n  }\n}\n\n// Fallback: generic casino video\nif (!videoUrl) {\n  videoUrl = 'https://videos.pexels.com/video-files/3249925/3249925-hd_1080_1920_25fps.mp4';\n  videoDuration = 10;\n  isPortrait = true;\n}\n\nreturn [{\n  json: {\n    videoUrl: videoUrl,\n    videoDuration: videoDuration,\n    isPortrait: isPortrait,\n    keyword: $('세그먼트 분리').item.json.keyword,\n    index: $('세그먼트 분리').item.json.index,\n    text: $('세그먼트 분리').item.json.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        500
      ],
      "id": "c3a11bf4-1d98-4d12-98d2-d1f2d4ab0dd2",
      "name": "영상 URL 추출"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/beatoven/music-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.bgmPrompt || 'dark cinematic tension suspense casino atmosphere' }}\",\n  \"duration\": 60,\n  \"refinement\": 100,\n  \"creativity\": 16\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -900,
        -100
      ],
      "id": "9ced5a88-6579-4832-ad15-7a6e0131552f",
      "name": "BGM 생성"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -600,
        -100
      ],
      "id": "db0ef4a4-f967-4924-b3f2-54620a74bb0d",
      "name": "BGM 대기",
      "webhookId": "2c95d2bb-9545-4503-8cc5-2ddbf97c2c80"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        300
      ],
      "id": "0570c154-cc25-44cb-bf5e-d5bb92f01920",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "id": "7461ba5a-a829-4ccb-8437-f4107e6aba1a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// NCA 스토리형 숏츠 데이터 준비\n// TTS 결과 + Pexels 영상 + BGM 통합\n\nconst NCA_URL = \"http://76.13.182.180:8080\";\nconst NCA_API_KEY = \"nca-sagong-2026\";\nconst bitrate = 128000;\n\nconst hookTitle = $('콘텐츠 파싱').first().json.hook_title;\nconst segmentCount = $('콘텐츠 파싱').first().json.segmentCount;\nconst bgmUrl = $('BGM 대기').first().json.audio?.url || '';\n\nlet segments = [];\nlet currentStart = 0;\n\nfor (let i = 0; i < segmentCount; i++) {\n  // TTS 결과\n  const ttsResult = $('TTS 결과').all()[i]?.json;\n  const audioUrl = ttsResult?.audio?.url || '';\n  const fileSize = ttsResult?.audio?.file_size || 40000;\n\n  // Duration from audio file size\n  let duration = Math.round((fileSize * 8 / bitrate) * 100) / 100;\n  if (duration < 2) duration = 4;\n\n  // Pexels 영상\n  const pexelsResult = $('영상 URL 추출').all()[i]?.json;\n  const videoUrl = pexelsResult?.videoUrl || '';\n  const isPortrait = pexelsResult?.isPortrait !== false;\n\n  // Subtitle text\n  const subtitleText = $('세그먼트 분리').all()[i]?.json?.text || '';\n\n  segments.push({\n    index: i + 1,\n    videoUrl: videoUrl,\n    audioUrl: audioUrl,\n    duration: duration,\n    start: currentStart,\n    subtitleText: subtitleText,\n    isPortrait: isPortrait,\n  });\n\n  currentStart += duration;\n}\n\nconst totalDuration = currentStart;\n\nreturn [{\n  json: {\n    segments: segments,\n    totalDuration: totalDuration,\n    segmentCount: segmentCount,\n    hookTitle: hookTitle,\n    bgmUrl: bgmUrl,\n    NCA_URL: NCA_URL,\n    NCA_API_KEY: NCA_API_KEY,\n    subject: $('콘텐츠 파싱').first().json.Subject,\n    caption: $('콘텐츠 파싱').first().json.Caption,\n    comment: $('콘텐츠 파싱').first().json.Comment,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "id": "98d0499e-0f4e-43d0-a80d-f65128036951",
      "name": "NCA 데이터 준비"
    },
    {
      "parameters": {
        "jsCode": "// NCA: 파트별 영상 트림 + 세로 crop + 나레이션 합성\nconst data = $input.first().json;\nconst segments = data.segments || [];\nconst NCA_URL = data.NCA_URL;\nconst NCA_API_KEY = data.NCA_API_KEY;\n\nconst composedVideos = [];\n\nfor (let i = 0; i < segments.length; i++) {\n  const seg = segments[i];\n  if (!seg.videoUrl) {\n    composedVideos.push({ index: i + 1, url: '', error: 'no_video_url' });\n    continue;\n  }\n\n  try {\n    // FFmpeg: trim to duration, loop if needed, crop to portrait, add narration audio\n    let vfilter = '';\n    if (seg.isPortrait) {\n      vfilter = 'scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2';\n    } else {\n      // Landscape -> crop to portrait center\n      vfilter = 'scale=-1:1920,crop=1080:1920';\n    }\n\n    let ffmpegCmd = '';\n    if (seg.audioUrl) {\n      // With narration audio\n      ffmpegCmd = `-stream_loop -1 -i \"${seg.videoUrl}\" -i \"${seg.audioUrl}\" -c:v libx264 -preset fast -crf 23 -c:a aac -b:a 192k -pix_fmt yuv420p -shortest -vf \"${vfilter}\" -t ${seg.duration} -movflags +faststart output_part${i+1}.mp4`;\n    } else {\n      // Video only\n      ffmpegCmd = `-stream_loop -1 -i \"${seg.videoUrl}\" -c:v libx264 -preset fast -crf 23 -an -pix_fmt yuv420p -vf \"${vfilter}\" -t ${seg.duration} -movflags +faststart output_part${i+1}.mp4`;\n    }\n\n    const response = await $http.request({\n      method: 'POST',\n      url: `${NCA_URL}/v1/ffmpeg/compose`,\n      headers: {\n        'x-api-key': NCA_API_KEY,\n        'Content-Type': 'application/json',\n      },\n      body: { ffmpeg_command: ffmpegCmd },\n      json: true,\n    });\n\n    const outputUrl = response.output_url || response.url || response.result_url || response.video_url || '';\n    composedVideos.push({\n      index: i + 1,\n      url: outputUrl,\n      task_id: response.task_id || response.id || '',\n    });\n  } catch (error) {\n    console.error(`Part ${i+1} error:`, error.message);\n    composedVideos.push({\n      index: i + 1,\n      url: seg.videoUrl,\n      error: error.message,\n    });\n  }\n}\n\nreturn [{\n  json: {\n    composed_videos: composedVideos,\n    video_urls: composedVideos.map(v => v.url).filter(u => u),\n    hookTitle: data.hookTitle,\n    bgmUrl: data.bgmUrl,\n    segments: data.segments,\n    totalDuration: data.totalDuration,\n    NCA_URL: data.NCA_URL,\n    NCA_API_KEY: data.NCA_API_KEY,\n    subject: data.subject,\n    caption: data.caption,\n    comment: data.comment,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "id": "914b1f24-d014-477f-97d0-edc9a5f0a3d1",
      "name": "NCA 파트별 트림"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ],
      "id": "b88744fd-d83d-45df-ab91-8a8edb621bce",
      "name": "NCA 트림 대기",
      "webhookId": "1d1e78dc-129b-44c9-9046-2e31b7ee9434"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://76.13.182.180:8080/v1/video/concatenate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nca-sagong-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"video_urls\": $json.video_urls }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1300,
        300
      ],
      "id": "c745e51c-871a-4c0a-9654-15edfacd0f20",
      "name": "NCA 영상 합치기"
    },
    {
      "parameters": {
        "jsCode": "// NCA 배너 + 자막 오버레이 FFmpeg 명령 준비\nconst prevData = $('NCA 트림 대기').first().json;\nconst concatResult = $input.first().json;\n\nconst concatenatedUrl = concatResult.output_url || concatResult.url || concatResult.result_url || concatResult.video_url || '';\nconst hookTitle = prevData.hookTitle || '';\nconst segments = prevData.segments || [];\nconst totalDuration = prevData.totalDuration || 50;\n\n// Parse hook title: extract <y>강조</y> parts\nconst hookClean = hookTitle.replace(/<y>/g, '').replace(/<\\/y>/g, '');\n\n// Build drawtext filter for banner\n// Top 15%: gray banner (288px high) with hook title\nlet filterParts = [];\n\n// Gray banner background\nfilterParts.push(`drawbox=y=0:w=1080:h=288:color=#404040@0.85:t=fill`);\n\n// Hook title (centered, white text, yellow highlights)\n// Split by <y> tags to apply different colors\nconst titleParts = hookTitle.split(/(<y>.*?<\\/y>)/);\nlet titleFilters = [];\nlet xOffset = 0;\n\n// For simplicity: render full title in white, then overlay yellow parts\n// Use a single centered text for the clean version\nconst escapedTitle = hookClean.replace(/'/g, \"\\\\'\").replace(/:/g, \"\\\\:\");\nfilterParts.push(`drawtext=text='${escapedTitle}':fontsize=52:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=8`);\n\n// Subtitle overlays (bottom 15%)\nfor (let i = 0; i < segments.length; i++) {\n  const seg = segments[i];\n  const startTime = seg.start;\n  const endTime = seg.start + seg.duration;\n  const subText = seg.subtitleText.replace(/'/g, \"\\\\'\").replace(/:/g, \"\\\\:\");\n\n  filterParts.push(\n    `drawtext=text='${subText}':fontsize=42:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-180:line_spacing=6:borderw=3:bordercolor=black:enable='between(t,${startTime.toFixed(1)},${endTime.toFixed(1)})'`\n  );\n}\n\nconst filterComplex = filterParts.join(',');\nconst ffmpegCmd = `-i \"${concatenatedUrl}\" -vf \"${filterComplex}\" -c:v libx264 -preset fast -crf 23 -c:a copy -movflags +faststart output_overlay.mp4`;\n\nreturn [{\n  json: {\n    concatenated_url: concatenatedUrl,\n    overlay_ffmpeg_command: ffmpegCmd,\n    bgmUrl: prevData.bgmUrl,\n    totalDuration: totalDuration,\n    segments: segments,\n    hookTitle: hookTitle,\n    NCA_URL: prevData.NCA_URL,\n    NCA_API_KEY: prevData.NCA_API_KEY,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "id": "342565a2-4619-43e0-8511-ebff7c6ef5f5",
      "name": "NCA 오버레이 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://76.13.182.180:8080/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nca-sagong-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"ffmpeg_command\": $json.overlay_ffmpeg_command }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1900,
        300
      ],
      "id": "365ffa47-d92c-4102-a3f7-d5e94c5dec73",
      "name": "NCA 배너자막 오버레이"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2200,
        300
      ],
      "id": "51a15bd1-4e9d-415f-bc9c-1e45b79adead",
      "name": "NCA 오버레이 대기",
      "webhookId": "5fbe2c42-3cb7-4a04-8c55-80cf15ae16ef"
    },
    {
      "parameters": {
        "jsCode": "// NCA 오디오 합성: TTS + BGM 믹스\nconst prevData = $('NCA 오버레이 준비').first().json;\nconst overlayResult = $input.first().json;\n\nconst overlayedUrl = overlayResult.output_url || overlayResult.url || overlayResult.result_url || overlayResult.video_url || '';\nconst bgmUrl = prevData.bgmUrl || '';\n\nlet output = {\n  video_url: overlayedUrl,\n  bgmUrl: bgmUrl,\n  totalDuration: prevData.totalDuration,\n  subject: prevData.subject,\n  caption: prevData.caption,\n  comment: prevData.comment,\n  NCA_URL: prevData.NCA_URL,\n  NCA_API_KEY: prevData.NCA_API_KEY,\n};\n\n// BGM FFmpeg: mix BGM at low volume with existing audio\nif (overlayedUrl && bgmUrl) {\n  output.bgm_ffmpeg_command = `-i \"${overlayedUrl}\" -i \"${bgmUrl}\" -filter_complex \"[1:a]volume=0.15[bgm];[0:a][bgm]amix=inputs=2:duration=first:dropout_transition=2[aout]\" -map 0:v -map \"[aout]\" -c:v copy -c:a aac -b:a 192k -movflags +faststart output_final.mp4`;\n  output.has_bgm = true;\n} else {\n  output.has_bgm = false;\n  output.final_video_url = overlayedUrl;\n}\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ],
      "id": "8996f830-7f12-433b-b994-979a3cf8c9dd",
      "name": "NCA 오디오 준비"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c182e003-d302-4e37-88d6-7dd60d06ca70",
              "leftValue": "={{ $json.has_bgm }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        300
      ],
      "id": "27b91059-3497-4771-983d-d5a979b9320f",
      "name": "NCA BGM 분기"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://76.13.182.180:8080/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nca-sagong-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"ffmpeg_command\": $json.bgm_ffmpeg_command }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3100,
        200
      ],
      "id": "25e66cf7-0d0d-4b6e-a8bd-5b827f39ca83",
      "name": "NCA BGM 추가"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3400,
        200
      ],
      "id": "7db94763-1a61-446f-8844-5fd0fd358b22",
      "name": "NCA BGM 대기",
      "webhookId": "2fbf8b44-384f-4264-bfd7-ed767e524f57"
    },
    {
      "parameters": {
        "jsCode": "// BGM 추가 결과\nconst prevData = $('NCA 오디오 준비').first().json;\nconst bgmResult = $input.first().json;\n\nconst videoWithBgm = bgmResult.output_url || bgmResult.url || bgmResult.result_url || bgmResult.video_url || '';\n\nreturn [{\n  json: {\n    final_video_url: videoWithBgm || prevData.video_url,\n    url: videoWithBgm || prevData.video_url,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        200
      ],
      "id": "6267b0a9-331b-4ba7-aeab-21415c02a3d9",
      "name": "NCA BGM 결과"
    },
    {
      "parameters": {
        "jsCode": "// BGM 없이 진행\nconst prevData = $('NCA 오디오 준비').first().json;\nreturn [{\n  json: {\n    final_video_url: prevData.video_url || prevData.final_video_url,\n    url: prevData.video_url || prevData.final_video_url,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        500
      ],
      "id": "1c1640d8-0b5d-4567-a9aa-93590dbf0e1c",
      "name": "NCA BGM 없음"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4000,
        300
      ],
      "id": "633b75d2-0c00-49c2-b523-373244e85697",
      "name": "NCA 최종 Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "STORY_SHORTS_SHEET_ID",
          "mode": "list",
          "cachedResultName": "온카스터디 스토리형 숏츠"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "스토리형 숏츠"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Status": "생성 완료",
            "영상 URL": "={{ $json.final_video_url || $json.url }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "영상 URL",
              "displayName": "영상 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4300,
        200
      ],
      "id": "9d065d63-6fbc-4c9e-9bf2-7b06ec695e4c",
      "name": "상태 업데이트"
    },
    {
      "parameters": {
        "url": "={{ $json.final_video_url || $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4300,
        400
      ],
      "id": "a5ed7caa-c3a3-40c2-9bcc-139e3b6e46be",
      "name": "영상 다운로드"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('콘텐츠 파싱').first().json.Subject }}",
        "regionCode": "KR",
        "categoryId": "28",
        "options": {
          "description": "={{ $('콘텐츠 파싱').first().json.Caption }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        4600,
        400
      ],
      "id": "2233a3d5-b7e0-4d1c-b04e-494d9f779092",
      "name": "YouTube 업로드"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/commentThreads?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"videoId\": \"{{ $json.id }}\",\n    \"topLevelComment\": {\n      \"snippet\": {\n        \"textOriginal\": \"{{ $('콘텐츠 파싱').first().json.Comment }}\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4900,
        400
      ],
      "id": "609908b4-eef3-4a7d-9a13-da4ba486aed4",
      "name": "첫 댓글"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "STORY_SHORTS_SHEET_ID",
          "mode": "list",
          "cachedResultName": "온카스터디 스토리형 숏츠"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "스토리형 숏츠"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('시트 기록').first().json.row_number }}",
            "Publish": "발행 완료",
            "영상 URL": "=https://youtube.com/shorts/{{ $('YouTube 업로드').first().json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Publish",
              "displayName": "Publish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "영상 URL",
              "displayName": "영상 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5200,
        400
      ],
      "id": "fd0e7157-d896-4aad-a2c8-2ca8284b36bc",
      "name": "발행 완료"
    }
  ],
  "connections": {
    "스케줄 트리거": {
      "main": [
        [
          {
            "node": "AI 콘텐츠 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 콘텐츠 생성": {
      "main": [
        [
          {
            "node": "콘텐츠 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콘텐츠 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "세그먼트 분리",
            "type": "main",
            "index": 0
          },
          {
            "node": "BGM 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "세그먼트 분리": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pexels 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 대기": {
      "main": [
        [
          {
            "node": "TTS 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pexels 검색": {
      "main": [
        [
          {
            "node": "영상 URL 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 URL 추출": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "BGM 생성": {
      "main": [
        [
          {
            "node": "BGM 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BGM 대기": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "NCA 데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 데이터 준비": {
      "main": [
        [
          {
            "node": "NCA 파트별 트림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 파트별 트림": {
      "main": [
        [
          {
            "node": "NCA 트림 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 트림 대기": {
      "main": [
        [
          {
            "node": "NCA 영상 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 영상 합치기": {
      "main": [
        [
          {
            "node": "NCA 오버레이 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 오버레이 준비": {
      "main": [
        [
          {
            "node": "NCA 배너자막 오버레이",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 배너자막 오버레이": {
      "main": [
        [
          {
            "node": "NCA 오버레이 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 오버레이 대기": {
      "main": [
        [
          {
            "node": "NCA 오디오 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 오디오 준비": {
      "main": [
        [
          {
            "node": "NCA BGM 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA BGM 분기": {
      "main": [
        [
          {
            "node": "NCA BGM 추가",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NCA BGM 없음",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA BGM 추가": {
      "main": [
        [
          {
            "node": "NCA BGM 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA BGM 대기": {
      "main": [
        [
          {
            "node": "NCA BGM 결과",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA BGM 결과": {
      "main": [
        [
          {
            "node": "NCA 최종 Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA BGM 없음": {
      "main": [
        [
          {
            "node": "NCA 최종 Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NCA 최종 Merge": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          },
          {
            "node": "영상 다운로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 다운로드": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "첫 댓글",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "첫 댓글": {
      "main": [
        [
          {
            "node": "발행 완료",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}