v3_current.json
{"updatedAt":"2026-02-08T04:10:22.033Z","createdAt":"2026-02-08T01:37:00.752Z","id":"9YOHS8N1URWlzGWj","name":"루믹스 솔루션 숏폼 (완전자동 v3)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1872,224],"id":"01219b29-3e8f-4b98-bd67-57010f7627f0","name":"스케줄 트리거"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"너는 루믹스 솔루션(웹/앱 개발 및 IT 솔루션 전문 기업)의 콘텐츠 기획자야.\nYouTube Shorts(30~50초)용 콘텐츠를 기획해줘.\n\n타겟: IT 솔루션이 필요한 사업자, 스타트업, 중소기업 대표\n톤: 전문적이면서 쉽게 설명, 신뢰감 있는 목소리\n\n아래 주제 카테고리 중 하나를 랜덤으로 골라서 구체적인 주제를 만들어:\n1. 웹사이트/앱 제작의 중요성과 트렌드\n2. IT 자동화로 비용 절감하는 방법\n3. 성공적인 디지털 전환 사례\n4. AI/클라우드 기술 활용법\n5. 보안과 데이터 관리의 중요성\n6. 모바일 앱으로 매출 올리는 전략\n7. SaaS vs 커스텀 개발 비교\n8. SEO/마케팅 자동화 전략\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\n  \"Subject\": \"영상 제목 (호기심 유발, 15자 이내)\",\n  \"Narration\": \"나레이션 전문 (30~50초 분량, 200~350자, 자연스러운 말투)\",\n  \"Caption\": \"YouTube 설명 (해시태그 포함, 3줄)\",\n  \"Comment\": \"첫 번째 댓글 (질문 유도 또는 CTA)\",\n  \"BGM_prompt\": \"BGM 분위기 영어 설명 (10~20단어)\"\n}"}]},"jsonOutput":true,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-1568,224],"id":"61b46add-870a-4194-b7a8-416a7fc03550","name":"AI 주제 생성"},{"parameters":{"jsCode":"const text = $input.first().json.content.parts[0].text;\n// Remove potential markdown code blocks\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nreturn [{\n  json: {\n    Subject: data.Subject,\n    Narration: data.Narration,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    BGM_prompt: data.BGM_prompt,\n    Status: '준비',\n    Publish: '',\n    generatedAt: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,224],"id":"a41546fc-985e-466c-9111-c60c6dd138e3","name":"주제 파싱"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"루믹스","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Subject":"={{ $json.Subject }}","Narration":"={{ $json.Narration }}","Caption":"={{ $json.Caption }}","댓글":"={{ $json.Comment }}","BGM prompt":"={{ $json.BGM_prompt }}","Status":"준비"},"matchingColumns":[],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Narration","displayName":"Narration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"댓글","displayName":"댓글","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BGM prompt","displayName":"BGM prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-960,224],"id":"e4346c97-7cc4-4b8f-8a6f-eefba59dd604","name":"시트 기록"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=다음 나레이션을 5개 문장으로 나눠줘.\n규칙:\n1. 문장의 의미 단위로 자연스럽게 나눠줘\n2. 각 문장은 비슷한 길이로 균등하게 배분해\n3. 절대 단어 중간에서 끊지 마\n4. 쉼표, 조사, 문장 끝에서만 끊어줘\n\n나레이션: {{ $json.Narration }}\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록 없이 순수 JSON만:\n{\"narration1\": \"...\", \"narration2\": \"...\", \"narration3\": \"...\", \"narration4\": \"...\", \"narration5\": \"...\"}"}]},"jsonOutput":true,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-672,224],"id":"ce63b524-daa2-46a6-8226-2df60c6d6285","name":"나레이션 분할"},{"parameters":{"jsCode":"const text = $input.first().json.content.parts[0].text;\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  items.push({\n    json: {\n      text: data[`narration${i}`],\n      index: i,\n      subject: $('주제 파싱').first().json.Subject,\n      bgmPrompt: $('주제 파싱').first().json.BGM_prompt,\n      narration: $('주제 파싱').first().json.Narration\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,224],"id":"12c444ff-1bad-4d6c-a949-f3667e574a50","name":"5파트 분리"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.text }}\",\n  \"language_code\": \"ko\",\n  \"voice\": \"FQ3MuLxZh0jHcZmA5vW1\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,208],"id":"4dd3dc38-eacf-44f3-a63e-aaa3596c3db5","name":"TTS 요청","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[272,208],"id":"1bdf0dff-2c0c-43e9-9ba9-ae98a18ab65f","name":"TTS 대기","webhookId":"197bd759-3285-4f32-b84a-3cc02a778b8e"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[576,208],"id":"5e6550c7-a3e9-406b-8c35-3e03edd043f4","name":"TTS 결과","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"promptType":"define","text":"=주어진 나레이션 파트에 정확히 매칭되는 시네마틱 이미지 프롬프트를 1개 생성해 주세요.\n\n핵심 규칙:\n1. 이 나레이션 파트가 말하는 구체적인 내용을 직접적으로 시각화할 것\n2. 추상적 비주얼이 아닌, 나레이션이 설명하는 실제 상황/장면을 보여줄 것\n3. 하나의 강렬한 비주얼 컨셉에 집중할 것\n4. 프롬프트는 영어로 작성, 150~200자\n5. 큰따옴표(\"\")는 사용하지 않음\n6. illustration, cartoon, 2D, anime, drawing 스타일은 절대 금지\n7. 프롬프트는 A vertical video. 로 시작할 것\n8. 프롬프트 끝에 필수: no text, no letters, no words, no watermark\n\n비주얼 장르 (이번 영상 전체 톤):\n{{ ['사이버펑크 네온 — neon glow cyberpunk futuristic dark city', '자연 다큐멘터리 — nature documentary organic earthy warm tones', '미니멀 흑백 — minimal monochrome high contrast black white', '레트로 필름그레인 — retro film grain vintage 70s warm analog', '하이테크 미래 — high-tech futuristic holographic clean blue', '다크 시네마틱 — dark cinematic dramatic shadows moody', '팝아트 컬러풀 — pop art vibrant saturated bold colors', '수중/우주 판타지 — underwater space fantasy ethereal floating', '동양풍 — oriental asian aesthetic ink wash dramatic', '고딕 다크판타지 — gothic dark fantasy mystical ancient'][Math.floor(Math.random() * 10)] }}\n\n카메라/촬영 스타일 (이 파트용):\n{{ ['extreme close-up with shallow depth of field', 'close-up with dramatic rim lighting', 'medium shot with cinematic composition', 'wide establishing shot with atmospheric depth', 'aerial drone perspective with sweeping motion'][($json.index || 1) - 1] }}\n\n금지 패턴:\n- 창문 앞 인물 실루엣, 골든아워 역광, 양복 남자가 도시 내려다보는 장면\n- 악수 장면, 단순 사무실\n- shield/lock/key, arrow/graph/chart, rocket/lightning, puzzle, hourglass/clock\n\n비주얼 생성 가이드:\n- 나레이션이 말하는 내용을 시청자가 바로 이해할 수 있는 구체적 장면\n- 마치 고급 브랜드 광고 감독이 스토리보드를 짜는 것처럼\n\n출력 형식 (프롬프트만 1개):\nA vertical video. ..., no text, no letters, no words, no watermark\n\n나레이션 파트:\n{{ $json.text }}\n\n시드: {{ Math.floor(Math.random() * 99999) }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-336,432],"id":"b234b187-43f7-43ea-af80-43e585ccc983","name":"이미지 프롬프트 AI","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-432,624],"id":"cd8c2205-42e9-4739-b118-84c8600bcc3e","name":"Gemini Chat Model"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/flux-2-pro","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.text }}\",\n  \"image_size\": {\n    \"width\": 1080,\n    \"height\": 1920\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,432],"id":"3b570b77-2ed6-4828-9e05-6252cefc7c95","name":"이미지 생성","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[272,432],"id":"78ec2753-e329-4974-90e4-bc820fad2e89","name":"이미지 대기","webhookId":"518ca9b1-f22f-44bb-b94a-d07114d665ce"},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[576,432],"id":"82698431-6ca3-4ab3-beac-19f05cb7c8b0","name":"이미지 결과","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/aura-sr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"upscaling_factor\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,672],"id":"3df10b23-8a38-460e-ab4f-de7bf41d6ea6","name":"업스케일 요청","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[256,672],"id":"9d3a38e9-b593-424b-900a-b9b98334286e","name":"업스케일 대기","webhookId":"3fa979be-79a0-4e4a-99ed-20582e1a3d4c"},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,672],"id":"d479c47f-eddd-41a6-8714-d2d2723f3827","name":"업스케일 결과","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kling-2.6/image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt || 'cinematic motion, slow camera movement, professional' }}\",\n    \"image_urls\": [\"{{ $json.image.url }}\"],\n    \"sound\": false,\n    \"duration\": \"5\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-32,928],"id":"32c4423d-5c3a-4668-8713-2a424a2db685","name":"영상 생성","credentials":{"httpHeaderAuth":{"id":"34ktW72w0p8fCfUQ","name":"Kie.ai"}}},{"parameters":{"amount":200},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[256,928],"id":"1d9525ce-7e50-414a-8770-d25644031063","name":"영상 대기","webhookId":"5ba01502-1df9-4b05-ac42-e8b7f6c3a271"},{"parameters":{"url":"=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,928],"id":"bd66c979-b817-4ae5-aa7e-bb4295cad138","name":"영상 결과","credentials":{"httpHeaderAuth":{"id":"34ktW72w0p8fCfUQ","name":"Kie.ai"}}},{"parameters":{"method":"POST","url":"https://fal.run/beatoven/music-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.bgmPrompt || 'upbeat corporate technology background music' }}\",\n  \"duration\": 40,\n  \"refinement\": 100,\n  \"creativity\": 16\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-64,-176],"id":"610c155b-3a4a-4017-bbde-9e2e51bf0e72","name":"BGM 생성","credentials":{"httpHeaderAuth":{"id":"R0m2RD0rtE8IKRt6","name":"Header Auth account"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,-176],"id":"e3f53ac2-9ee3-4249-8bd2-42a7feda1474","name":"BGM 대기","webhookId":"f844b325-aafb-44b0-9e50-b57dc049455e"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1008,192],"id":"e707782b-c359-44ec-bbaa-53c23523e567","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1296,208],"id":"9155097a-9675-4831-a22a-27f5304c84eb","name":"Aggregate"},{"parameters":{"jsCode":"// === Shotstack 타임라인 빌더 ===\nconst allItems = $input.first().json.data;\n\n// Collect data from all paths\nconst bgmUrl = $('BGM 대기').first().json.audio?.url || '';\nconst videoDuration = 5;\nconst bitrate = 128000;\n\nlet scenes = [];\nlet currentStart = 0;\n\nfor (let i = 0; i < 5; i++) {\n  // TTS results\n  const ttsResult = $('TTS 결과').all()[i]?.json;\n  const narrationUrl = ttsResult?.audio?.url || '';\n  const fileSize = ttsResult?.audio?.file_size || 40000;\n\n  // Calculate duration from audio file size\n  let duration = Math.round((fileSize * 8 / bitrate) * 100) / 100;\n  if (duration < 3) duration = 5;\n\n  // Video results\n  const videoResult = $('영상 URL 정리').all()[i]?.json;\n  const videoUrl = videoResult?.video?.url || '';\n\n  // Speed calculation\n  let speed = 1;\n  if (duration > videoDuration) {\n    speed = videoDuration / duration;\n  }\n\n  // Subtitle text\n  const subtitleText = $('5파트 분리').all()[i]?.json?.text || '';\n\n  scenes.push({\n    start: currentStart,\n    duration: duration,\n    videoUrl: videoUrl,\n    narrationUrl: narrationUrl,\n    subtitleText: subtitleText,\n    speed: speed\n  });\n\n  currentStart += duration;\n}\n\nconst totalDuration = currentStart;\n\n// Build Shotstack timeline\nconst timeline = {\n  soundtrack: {\n    src: bgmUrl,\n    effect: \"fadeOut\",\n    volume: 0.25\n  },\n  tracks: [\n    // Track 1: Video clips\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"video\",\n          src: s.videoUrl,\n          volume: 0,\n          trim: 0\n        },\n        start: s.start,\n        length: s.duration,\n        fit: \"cover\",\n        ...(s.speed !== 1 ? { speed: s.speed } : {})\n      }))\n    },\n    // Track 2: Narration audio\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"audio\",\n          src: s.narrationUrl\n        },\n        start: s.start,\n        length: s.duration\n      }))\n    },\n    // Track 3: Subtitles\n    {\n      clips: scenes.map(s => ({\n        asset: {\n          type: \"html\",\n          html: '<p>' + s.subtitleText + '</p>',\n          css: \"p { font-family: 'Noto Sans KR', sans-serif; font-size: 42px; color: #ffffff; text-align: center; text-shadow: 2px 2px 8px rgba(0,0,0,0.9); line-height: 1.4; padding: 0 40px; font-weight: 700; }\",\n          width: 1080,\n          height: 300\n        },\n        start: s.start,\n        length: s.duration,\n        position: \"bottom\",\n        offset: { y: 0.08 }\n      }))\n    }\n  ]\n};\n\nconst payload = {\n  timeline: timeline,\n  output: {\n    format: \"mp4\",\n    resolution: \"hd\",\n    aspectRatio: \"9:16\",\n    fps: 30,\n    quality: \"high\"\n  }\n};\n\n// Also save metadata for sheet update\nreturn [{\n  json: {\n    shotstack_payload: payload,\n    totalDuration: totalDuration,\n    scenes: scenes,\n    subject: $('주제 파싱').first().json.Subject,\n    caption: $('주제 파싱').first().json.Caption,\n    comment: $('주제 파싱').first().json.Comment,\n    bgmUrl: bgmUrl\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,208],"id":"ef9fd3ef-da06-49f0-99cf-a79b1c351c68","name":"Shotstack 타임라인"},{"parameters":{"method":"POST","url":"https://api.shotstack.io/edit/stage/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.shotstack_payload) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,464],"id":"95bfa778-ea72-4da0-ba2e-f9c7d80861cb","name":"Shotstack 렌더","credentials":{"httpHeaderAuth":{"id":"3oEYwvtDnmFeylkp","name":"Shotstack"}}},{"parameters":{"amount":120},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,464],"id":"3578633f-d271-44c7-aa99-be440bdd4fcd","name":"렌더 대기","webhookId":"45cb9de6-6d5f-4d15-8f92-8e73ef7c940e"},{"parameters":{"url":"=https://api.shotstack.io/edit/stage/render/{{ $json.response.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1600,464],"id":"ea3be06a-75a8-4a92-8083-180a6306d76a","name":"렌더 결과","credentials":{"httpHeaderAuth":{"id":"3oEYwvtDnmFeylkp","name":"Shotstack"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"루믹스","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('시트 기록').first().json.row_number }}","Status":"생성 완료","업로드 URL":"={{ $json.response.url }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"업로드 URL","displayName":"업로드 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,400],"id":"89d281c6-dfa7-40b9-90b4-78a2e4c02724","name":"상태 업데이트"},{"parameters":{"url":"={{ $json.response.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1904,592],"id":"8ac7acf3-9faf-4a23-bca6-658c6cc1b37b","name":"영상 다운로드"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('주제 파싱').first().json.Subject }}","regionCode":"KR","categoryId":"28","options":{"description":"={{ $('주제 파싱').first().json.Caption }}","privacyStatus":"public"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[2128,592],"id":"388f15b5-6913-4d3c-9a3f-326d42613450","name":"YouTube 업로드"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/youtube/v3/commentThreads?part=snippet","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"snippet\": {\n    \"videoId\": \"{{ $json.id }}\",\n    \"topLevelComment\": {\n      \"snippet\": {\n        \"textOriginal\": \"{{ $('주제 파싱').first().json.Comment }}\"\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2416,592],"id":"3f5a1364-35d0-4c09-8e40-c1ff7fdb3cfc","name":"첫 댓글"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"루믹스","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('시트 기록').first().json.row_number }}","Publish":"발행 완료","업로드 URL":"=https://youtube.com/shorts/{{ $('YouTube 업로드').first().json.id }}"},"matchingColumns":["row_number"],"schema":[{"id":"Publish","displayName":"Publish","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"업로드 URL","displayName":"업로드 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2720,592],"id":"c53cb202-1b27-4505-b312-a8efd34f7d10","name":"발행 완료"},{"parameters":{"jsCode":"// Kie.ai 응답에서 영상 URL 추출 → fal.ai 호환 형식\nconst data = $input.first().json;\nlet videoUrl = '';\n\nif (data.data && data.data.resultJson) {\n  try {\n    const result = JSON.parse(data.data.resultJson);\n    videoUrl = result.resultUrls ? result.resultUrls[0] : '';\n  } catch(e) { videoUrl = ''; }\n}\n\nreturn [{ json: { video: { url: videoUrl }, state: data.data?.state || 'unknown' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,928],"id":"c4e94ed7-3ddc-4f8f-8231-42f557b3987c","name":"영상 URL 정리"}],"connections":{"스케줄 트리거":{"main":[[{"node":"AI 주제 생성","type":"main","index":0}]]},"AI 주제 생성":{"main":[[{"node":"주제 파싱","type":"main","index":0}]]},"주제 파싱":{"main":[[{"node":"시트 기록","type":"main","index":0}]]},"시트 기록":{"main":[[{"node":"나레이션 분할","type":"main","index":0},{"node":"BGM 생성","type":"main","index":0}]]},"나레이션 분할":{"main":[[{"node":"5파트 분리","type":"main","index":0}]]},"5파트 분리":{"main":[[{"node":"TTS 요청","type":"main","index":0},{"node":"이미지 프롬프트 AI","type":"main","index":0}]]},"TTS 요청":{"main":[[{"node":"TTS 대기","type":"main","index":0}]]},"TTS 대기":{"main":[[{"node":"TTS 결과","type":"main","index":0}]]},"TTS 결과":{"main":[[{"node":"Merge","type":"main","index":1}]]},"이미지 프롬프트 AI":{"main":[[{"node":"이미지 생성","type":"main","index":0}]]},"이미지 생성":{"main":[[{"node":"이미지 대기","type":"main","index":0}]]},"이미지 대기":{"main":[[{"node":"이미지 결과","type":"main","index":0}]]},"이미지 결과":{"main":[[{"node":"업스케일 요청","type":"main","index":0}]]},"업스케일 요청":{"main":[[{"node":"업스케일 대기","type":"main","index":0}]]},"업스케일 대기":{"main":[[{"node":"업스케일 결과","type":"main","index":0}]]},"업스케일 결과":{"main":[[{"node":"영상 생성","type":"main","index":0}]]},"영상 생성":{"main":[[{"node":"영상 대기","type":"main","index":0}]]},"영상 대기":{"main":[[{"node":"영상 결과","type":"main","index":0}]]},"영상 결과":{"main":[[{"node":"영상 URL 정리","type":"main","index":0}]]},"BGM 생성":{"main":[[{"node":"BGM 대기","type":"main","index":0}]]},"BGM 대기":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Gemini Chat Model":{"ai_languageModel":[[{"node":"이미지 프롬프트 AI","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Shotstack 타임라인","type":"main","index":0}]]},"Shotstack 타임라인":{"main":[[{"node":"Shotstack 렌더","type":"main","index":0}]]},"Shotstack 렌더":{"main":[[{"node":"렌더 대기","type":"main","index":0}]]},"렌더 대기":{"main":[[{"node":"렌더 결과","type":"main","index":0}]]},"렌더 결과":{"main":[[{"node":"상태 업데이트","type":"main","index":0},{"node":"영상 다운로드","type":"main","index":0}]]},"영상 다운로드":{"main":[[{"node":"YouTube 업로드","type":"main","index":0}]]},"YouTube 업로드":{"main":[[{"node":"첫 댓글","type":"main","index":0}]]},"첫 댓글":{"main":[[{"node":"발행 완료","type":"main","index":0}]]},"영상 URL 정리":{"main":[[{"node":"Merge","type":"main","index":2}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"10d2a782-114f-4bad-afde-72dd80290c95","activeVersionId":null,"versionCounter":15,"triggerCount":0,"shared":[{"updatedAt":"2026-02-08T01:37:00.752Z","createdAt":"2026-02-08T01:37:00.752Z","role":"workflow:owner","workflowId":"9YOHS8N1URWlzGWj","projectId":"W6LETsSnBzw4J5Aa","project":{"updatedAt":"2026-02-07T19:24:21.289Z","createdAt":"2026-02-07T19:04:11.494Z","id":"W6LETsSnBzw4J5Aa","name":"Dongseok Kim <hatihoro15@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2","projectRelations":[{"updatedAt":"2026-02-07T19:04:11.494Z","createdAt":"2026-02-07T19:04:11.494Z","userId":"2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2","projectId":"W6LETsSnBzw4J5Aa","user":{"updatedAt":"2026-02-08T00:23:03.418Z","createdAt":"2026-02-07T19:04:09.331Z","id":"2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2","email":"hatihoro15@gmail.com","firstName":"Dongseok","lastName":"Kim","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-07T19:24:51.818Z","personalization_survey_n8n_version":"2.6.4"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-08","isPending":false}}]}}],"tags":[],"activeVersion":null}