workflow_original.json
{"updatedAt":"2026-02-07T20:23:12.556Z","createdAt":"2026-02-07T19:26:51.386Z","id":"tCn0Wjzok_227QHWbSDhq","name":"전용","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1248,240],"id":"7a9b75e2-e51a-46d4-832f-dd0eecb71deb","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"루믹스","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"준비"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1024,240],"id":"79ef4080-fd89-4408-ac93-f8eae727a61f","name":"Get row(s) in sheet"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-144,272],"id":"6586707c-32fe-45c6-b45c-2a3e992cad33","name":"Wait","webhookId":"f248eae2-f685-4c70-9d8f-be2245052c38"},{"parameters":{"promptType":"define","text":"=주어진 스크립트를 분석하고, 각 장면에 어울리는 시네마틱 이미지 프롬프트를 5장 생성해 주세요.\n\n핵심 규칙:\n1. 스크립트를 5등분하고, 각 파트의 구체적인 내용을 직접적으로 시각화할 것. 추상적 비주얼보다 스크립트가 말하는 실제 상황/장면을 보여줄 것\n2. 각 장면은 하나의 강렬한 비주얼 컨셉에 집중할 것\n3. 5장 모두 완전히 다른 비주얼 컨셉, 촬영 스타일, 카메라 앵글을 사용할 것 (중복 금지)\n4. 각 프롬프트는 영어로 작성, 150~200자\n5. 큰따옴표(\"\")는 사용하지 않음\n6. illustration, cartoon, 2D, anime, drawing 스타일은 절대 금지\n7. 모든 프롬프트는 A vertical video. 로 시작할 것\n8. 모든 프롬프트 끝에 필수: no text, no letters, no words, no watermark\n\n5장 필수 차별화 (중복 시 재생성):\n□ 5장 모두 다른 카메라 거리 (extreme close-up / close-up / medium / wide / aerial)\n□ 5장 모두 다른 주요 색감\n□ 5장 모두 다른 움직임 패턴\n□ 5장 모두 다른 물질/재질\n\n금지 패턴 (절대 사용 금지):\n- 창문 앞에 서있는 인물 실루엣\n- 골든아워/석양 역광 장면\n- 양복 입은 남자가 도시를 내려다보는 장면\n- 악수하는 장면\n- 단순한 사무실 풍경\n- shield, lock, padlock, key (보안)\n- arrow going up, graph, chart (성장)\n- rocket, lightning bolt (속도)\n- puzzle pieces, jigsaw (통합)\n- hourglass, clock face (시간)\n\n비주얼 생성 가이드:\n- 스크립트가 말하는 내용을 시청자가 바로 이해할 수 있는 구체적 장면으로 만드세요\n- 예시: 스크립트가 서버 관리를 말하면 → 서버룸 장면, 자동화를 말하면 → 대시보드 화면, 보안을 말하면 → 데이터센터 장면, 수익을 말하면 → 카지노 칩/금화 장면, 모바일을 말하면 → 스마트폰 UI 장면\n- 추상적 빛/파티클 비주얼은 최대 1장까지만 허용\n- 나머지 4장은 반드시 스크립트 내용과 직접적으로 연결되는 구체적 장면으로 만드세요\n- 마치 고급 브랜드 광고 감독이 스토리보드를 짜듯이, 각 장면의 감정 곡선을 설계하세요\n\n촬영 스타일 참고:\ncinematic lighting 8K, high contrast dark background, motion blur speed, depth of field bokeh, neon glow cyberpunk, slow motion zero gravity, dramatic rim lighting, premium commercial look, futuristic technology style, shiny reflections metallic, macro photography extreme detail, aerial drone perspective, underwater caustics lighting, time-lapse transformation, split-tone color grading\n\n출력 형식 (반드시 이 형식으로만 출력, 번호와 프롬프트만 작성):\n1: A vertical video. ..., no text, no letters, no words, no watermark\n2: A vertical video. ..., no text, no letters, no words, no watermark\n3: A vertical video. ..., no text, no letters, no words, no watermark\n4: A vertical video. ..., no text, no letters, no words, no watermark\n5: A vertical video. ..., no text, no letters, no words, no watermark\n\n스크립트:\n{{ $('Get row(s) in sheet').item.json.Narration }}\n\n시드: {{ Math.floor(Math.random() * 99999) }}\n이 숫자에 맞춰 완전히 새로운 비주얼 컨셉을 창작하세요.","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-720,464],"id":"c3bec9e3-c430-4a90-b9f4-4c5577aacee2","name":"이미지 프롬프트","alwaysOutputData":false},{"parameters":{"options":{"numberOfItems":5}},"type":"@n8n/n8n-nodes-langchain.outputParserItemList","typeVersion":1,"position":[-560,640],"id":"db1f809d-113d-48e1-9f46-2b056448660a","name":"Item List Output Parser"},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-720,640],"id":"451366cf-6608-4d64-bb83-5a46aa8fa811","name":"Google Gemini Chat Model"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-176,464],"id":"c160eeff-f715-466e-82c5-edba58d29b70","name":"Wait1","webhookId":"cf64da24-072b-4ed0-a93d-ac819d6fda36"},{"parameters":{"url":"={{ $json.status_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,464],"id":"adaa679b-3294-4bed-91d9-716c0f988f64","name":"이미지 출력"},{"parameters":{"amount":200},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-32,928],"id":"3bc2dbc7-92f2-4f94-b5b4-2bae5df0ade8","name":"Wait2","webhookId":"c4025dc9-a45f-4999-9c9b-0fe8336462a9"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/kling-video/v1.6/standard/image-to-video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('이미지 결과 확인').item.json.prompt }}\",\n  \"image_url\": \"{{ $json.image.url }}\",\n  \"duration\": \"5\",\n  \"aspect_ratio\": \"9:16\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-240,928],"id":"42bcf0c8-a9df-4822-b020-cb0aa97ceddd","name":"영상 입력"},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,928],"id":"5cfe3efd-4f82-47e5-9a0f-803b5793a0d6","name":"영상출력"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/elevenlabs/tts/turbo-v2.5","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"{{ $json.text }}\",\n  \"language_code\": \"ko\",\n  \"voice\": \"FQ3MuLxZh0jHcZmA5vW1\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,272],"id":"fa4d3941-7963-48bd-b05b-3ba1a66de389","name":"나레이션 음성 입력"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/elevenlabs/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[64,272],"id":"b29290fd-2b7d-4104-97e4-6abe6ea6f3b1","name":"나레이션 음성 출력"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/flux-pro","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.text }}, ultra-detailed, sharp focus, crisp textures, cinematic lighting, macro photography, high contrast, professional commercial photo\",\n  \"image_size\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"style\": \"realistic_image\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-368,464],"id":"654930d0-0ab4-4adf-9321-d9fe2e4b6d89","name":"이미지 입력"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-368,80],"id":"6853f394-c32b-4a7e-a455-6feed37f718d","name":"Wait3","webhookId":"2a72926e-f3ef-48de-a87d-66d33d302e69"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[288,96],"id":"c680fe1e-3594-4344-9cf1-be1c9662d6f7","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[528,112],"id":"f0d96879-3003-4b3c-bc20-b0c3624d889f","name":"Aggregate"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"scene1\": \"{{ $('영상출력').all()[0].json.video.url }}\",\n  \"scene2\": \"{{ $('영상출력').all()[1].json.video.url }}\",\n  \"scene3\": \"{{ $('영상출력').all()[2].json.video.url }}\",\n  \"scene4\": \"{{ $('영상출력').all()[3].json.video.url }}\",\n  \"scene5\": \"{{ $('영상출력').all()[4].json.video.url }}\",\n  \"narration1\": \"{{ $('나레이션 음성 출력').all()[0].json.audio.url }}\",\n  \"narration2\": \"{{ $('나레이션 음성 출력').all()[1].json.audio.url }}\",\n  \"narration3\": \"{{ $('나레이션 음성 출력').all()[2].json.audio.url }}\",\n  \"narration4\": \"{{ $('나레이션 음성 출력').all()[3].json.audio.url }}\",\n  \"narration5\": \"{{ $('나레이션 음성 출력').all()[4].json.audio.url }}\",\n  \"narration1Size\": \"{{ $('나레이션 음성 출력').all()[0].json.audio.file_size }}\",\n  \"narration2Size\": \"{{ $('나레이션 음성 출력').all()[1].json.audio.file_size }}\",\n  \"narration3Size\": \"{{ $('나레이션 음성 출력').all()[2].json.audio.file_size }}\",\n  \"narration4Size\": \"{{ $('나레이션 음성 출력').all()[3].json.audio.file_size }}\",\n  \"narration5Size\": \"{{ $('나레이션 음성 출력').all()[4].json.audio.file_size }}\",\n  \"subtitleText1\": \"{{ $('Code in JavaScript2').all()[0].json.text }}\",\n  \"subtitleText2\": \"{{ $('Code in JavaScript2').all()[1].json.text }}\",\n  \"subtitleText3\": \"{{ $('Code in JavaScript2').all()[2].json.text }}\",\n  \"subtitleText4\": \"{{ $('Code in JavaScript2').all()[3].json.text }}\",\n  \"subtitleText5\": \"{{ $('Code in JavaScript2').all()[4].json.text }}\",\n  \"sound1\": \"{{ $('Wait3').first().json.audio.url }}\",\n  \"row_number\": \"{{ $('Get row(s) in sheet').first().json.row_number }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,112],"id":"e3a60f4d-ba04-4247-8ca6-96157bce1bb8","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.Creatomate.com/v1/renders","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"template_id\": \"056a9082-710f-4345-b964-c6384103fbf6\",\n  \"output_format\": \"mp4\",\n  \"h264_profile\": \"high\",\n  \"h264_level\": \"5.2\",\n  \"h264_crf\": 16,\n  \"h264_bitrate\": 12000000,\n  \"frame_rate\": 30,\n  \"duration\": \"{{ $json.totalDuration }}\",\n  \"modifications\": {\n    \"Composition-1.duration\": \"{{ $json.duration1 }}\",\n    \"Composition-2.duration\": \"{{ $json.duration2 }}\",\n    \"Composition-3.duration\": \"{{ $json.duration3 }}\",\n    \"Composition-4.duration\": \"{{ $json.duration4 }}\",\n    \"Composition-5.duration\": \"{{ $json.duration5 }}\",\n    \"Video-1.source\": \"{{ $json.scene1 }}\",\n    \"Video-1.speed\": \"{{ $json.speed1 }}\",\n    \"Video-2.source\": \"{{ $json.scene2 }}\",\n    \"Video-2.speed\": \"{{ $json.speed2 }}\",\n    \"Video-3.source\": \"{{ $json.scene3 }}\",\n    \"Video-3.speed\": \"{{ $json.speed3 }}\",\n    \"Video-4.source\": \"{{ $json.scene4 }}\",\n    \"Video-4.speed\": \"{{ $json.speed4 }}\",\n    \"Video-5.source\": \"{{ $json.scene5 }}\",\n    \"Video-5.speed\": \"{{ $json.speed5 }}\",\n    \"Narration-1.source\": \"{{ $json.narration1 }}\",\n    \"Narration-2.source\": \"{{ $json.narration2 }}\",\n    \"Narration-3.source\": \"{{ $json.narration3 }}\",\n    \"Narration-4.source\": \"{{ $json.narration4 }}\",\n    \"Narration-5.source\": \"{{ $json.narration5 }}\",\n    \"Text-1.text\": \"{{ $json.subtitleText1 }}\",\n    \"Text-2.text\": \"{{ $json.subtitleText2 }}\",\n    \"Text-3.text\": \"{{ $json.subtitleText3 }}\",\n    \"Text-4.text\": \"{{ $json.subtitleText4 }}\",\n    \"Text-5.text\": \"{{ $json.subtitleText5 }}\",\n    \"Video-T24.time\": \"{{ $json.videoT24Start }}\",\n    \"BGM.source\": \"{{ $json.sound1 }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[752,352],"id":"bc120b9f-236c-460a-a819-ecc0582e0708","name":"영상 편집"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,-160],"id":"89b52223-053b-479d-afcb-9cad2f5ddf1f","name":"Schedule Trigger","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Publish","lookupValue":"대기중"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,-160],"id":"c1735cb8-36f2-4139-ac85-86a703a5f7ec","name":"Get row(s) in sheet1"},{"parameters":{"url":"={{ $json['업로드 URL'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-192,-160],"id":"3b93fb54-c552-43c2-ae21-341bc19f8fd8","name":"HTTP Request"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json.Subject }}","regionCode":"KR","categoryId":"1","options":{"description":"={{ $json.Caption }}","privacyStatus":"unlisted"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[32,-160],"id":"8df57824-fdd7-43fd-b3f3-fa94ef1b7562","name":"Upload a video"},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/youtube/v3/commentThreads?part=snippet","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"snippet\": {\n    \"channelId\": \"브랜드채널ID\",\n    \"videoId\": \"{{ $('Upload a video').first().json.uploadId }}\",\n    \"topLevelComment\": {\n      \"snippet\": {\n        \"textOriginal\": \"{{ $('Get row(s) in sheet1').first().json['댓글'] }}\"\n      }\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,-160],"id":"609499d0-7c06-488f-bee7-32245bf856f8","name":"HTTP Request1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet1').item.json.row_number }}","Publish":"발행 완료","업로드 URL":"=https://youtube.com/shorts/{{ $json.snippet.videoId }}"},"matchingColumns":["row_number"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Narration","displayName":"Narration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Publish","displayName":"Publish","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"영상 URL","displayName":"영상 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"효과음 URL","displayName":"효과음 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"나레이션 URL","displayName":"나레이션 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"업로드 URL","displayName":"업로드 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,-160],"id":"2085118e-389f-4430-b0ae-07f8a299594c","name":"Update row in sheet1"},{"parameters":{"method":"POST","url":"https://fal.run/beatoven/music-generation","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json[\"BGM prompt\"] }}\",\n  \"duration\": 30,\n  \"refinement\": 100,\n  \"creativity\": 16\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-656,80],"id":"bb419c99-b92a-4691-9aae-4901956c2c60","name":"BGM 입력"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1525917080,"mode":"list","cachedResultName":"루믹스 수동편집","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=1525917080"},"columns":{"mappingMode":"defineBelow","value":{"샘플 영상 URL1":"={{ $json.modifications['Video-1.source'] }}","샘플 영상 URL2":"={{ $json.modifications['Video-2.source'] }}","샘플 영상 URL3":"={{ $json.modifications['Video-3.source'] }}","샘플 영상 URL4":"={{ $json.modifications['Video-4.source'] }}","샘플 영상 URL5":"={{ $json.modifications['Video-5.source'] }}","Subject":"={{ $('Get row(s) in sheet').first().json.Subject }}","row_number":"={{ $('Get row(s) in sheet').first().json.row_number }}","나레이션 URL1":"={{ $json.modifications['Narration-1.source'] }}","나레이션 URL2":"={{ $json.modifications['Narration-2.source'] }}","나레이션 URL3":"={{ $json.modifications['Narration-3.source'] }}","나레이션 URL4":"={{ $json.modifications['Narration-4.source'] }}","나레이션 URL5":"={{ $json.modifications['Narration-5.source'] }}","BGM URL":"={{ $json.modifications['BGM.source'] }}","자막1":"={{ $json.modifications['Text-1.text'] }}","자막2":"={{ $json.modifications['Text-2.text'] }}","자막3":"={{ $json.modifications['Text-3.text'] }}","자막4":"={{ $json.modifications['Text-4.text'] }}","자막5":"={{ $json.modifications['Text-5.text'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"샘플 영상 URL1","displayName":"샘플 영상 URL1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"샘플 영상 URL2","displayName":"샘플 영상 URL2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"샘플 영상 URL3","displayName":"샘플 영상 URL3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"샘플 영상 URL4","displayName":"샘플 영상 URL4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"샘플 영상 URL5","displayName":"샘플 영상 URL5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"효과음 URL","displayName":"효과음 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"나레이션 URL1","displayName":"나레이션 URL1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"나레이션 URL2","displayName":"나레이션 URL2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"나레이션 URL3","displayName":"나레이션 URL3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"나레이션 URL4","displayName":"나레이션 URL4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"나레이션 URL5","displayName":"나레이션 URL5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BGM URL","displayName":"BGM URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"자막1","displayName":"자막1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"자막2","displayName":"자막2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"자막3","displayName":"자막3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"자막4","displayName":"자막4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"자막5","displayName":"자막5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,528],"id":"e732b51f-a0ef-4327-9a2b-b5e451c79f5e","name":"URL 영상 자동"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst videoDuration = 5;\nconst bitrate = 128000;\nlet totalDuration = 0;\n\nfor (let i = 1; i <= 5; i++) {\n  const fileSize = item[`narration${i}Size`];\n  const duration = Math.round((fileSize * 8 / bitrate) * 100) / 100;\n  if (duration > videoDuration) {\n    item[`duration${i}`] = duration;\n    item[`speed${i}`] = Math.round((videoDuration / duration) * 100) + \"%\";\n  } else {\n    item[`duration${i}`] = duration;\n    item[`speed${i}`] = \"100%\";\n  }\n  totalDuration += item[`duration${i}`];\n}\n\nitem['videoT24Start'] = totalDuration;\nitem['totalDuration'] = totalDuration + 8;\n\nreturn [{ json: item }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,352],"id":"4c4a528a-1693-4ba5-8d8b-90df72cf15d1","name":"Code in JavaScript1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag","mode":"list","cachedResultName":"n8n LUMIX","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"루믹스","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qPH9TG4M0Hv4V63_LqAb6X2gNl_ksbf2T_oIkJJ06Ag/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').first().json.row_number }}","Status":"생성 완료","업로드 URL":"={{ $json.url }}"},"matchingColumns":["row_number"],"schema":[{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Narration","displayName":"Narration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"댓글","displayName":"댓글","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publish","displayName":"Publish","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BGM prompt","displayName":"BGM prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"업로드 URL","displayName":"업로드 URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,288],"id":"5ea935e1-df63-4f39-8b71-895e5dc6bfac","name":"URL 영상 자동1"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  for (let i = 1; i <= 5; i++) {\n    const key = `caption${i}`;\n    if (item.json[key]) {\n      // 먼저 \\n 텍스트를 실제 줄바꿈으로 변환\n      item.json[key] = item.json[key].replace(/\\\\n/g, '\\n');\n      // 그 다음 실제 줄바꿈을 다시 \\n 텍스트로 (JSON용)\n      item.json[key] = item.json[key].replace(/\\n/g, '\\\\n');\n    }\n  }\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,672],"id":"cec4c022-0125-477e-a712-fa82f04f40a7","name":"Code in JavaScript"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"=다음 나레이션을 5개 문장으로 나눠줘.\n규칙:\n1. 문장의 의미 단위로 자연스럽게 나눠줘\n2. 각 문장은 비슷한 길이로 균등하게 배분해\n3. 절대 단어 중간에서 끊지 마\n4. 쉼표, 조사, 문장 끝에서만 끊어줘\n\n나레이션: {{ $json.Narration }}\n\n반드시 아래 JSON 형식으로만 응답해. 마크다운 코드블록(```) 없이 순수 JSON만 출력해.\n{\"narration1\": \"...\", \"narration2\": \"...\", \"narration3\": \"...\", \"narration4\": \"...\", \"narration5\": \"...\"}"}]},"jsonOutput":true,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-1104,464],"id":"c91de9fd-6e8e-4831-8a13-07cbb09ed052","name":"Message a model1"},{"parameters":{"jsCode":"const text = $input.first().json.content.parts[0].text;\nconst data = JSON.parse(text);\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  items.push({\n    json: {\n      text: data[`narration${i}`],\n      index: i\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,272],"id":"80c42f44-4652-4b31-93d2-ec0cfeac9532","name":"Code in JavaScript2"},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,464],"id":"e86cd160-16f1-4125-9a33-494601e461ba","name":"이미지 결과 확인"},{"parameters":{"method":"POST","url":"=https://queue.fal.run/fal-ai/esrgan","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"image_url\": \"{{ $json.images[0].url }}\",\n  \"scale\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-256,720],"id":"dc1fb386-6a4c-46f0-8e08-643ac4acd958","name":"업스케일 입력"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-32,720],"id":"a581ce09-685a-4f60-855f-58007f088ef4","name":"Wait12","webhookId":"cf64da24-072b-4ed0-a93d-ac819d6fda36"},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,720],"id":"92c20cd4-4784-4bfb-a0a8-208661a60600","name":"업스케일 결과"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"BGM 입력","type":"main","index":0},{"node":"이미지 프롬프트","type":"main","index":0},{"node":"Message a model1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"나레이션 음성 출력","type":"main","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"이미지 프롬프트","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"이미지 프롬프트","type":"ai_languageModel","index":0}]]},"이미지 프롬프트":{"main":[[{"node":"이미지 입력","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"이미지 출력","type":"main","index":0}]]},"이미지 출력":{"main":[[{"node":"이미지 결과 확인","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"영상출력","type":"main","index":0}]]},"영상 입력":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"나레이션 음성 입력":{"main":[[{"node":"Wait","type":"main","index":0}]]},"나레이션 음성 출력":{"main":[[{"node":"Merge","type":"main","index":1}]]},"이미지 입력":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"영상출력":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Wait3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"영상 편집":{"main":[[{"node":"URL 영상 자동","type":"main","index":0},{"node":"URL 영상 자동1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload a video","type":"main","index":0}]]},"Upload a video":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"BGM 입력":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"영상 편집","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"나레이션 음성 입력","type":"main","index":0}]]},"이미지 결과 확인":{"main":[[{"node":"업스케일 입력","type":"main","index":0}]]},"업스케일 입력":{"main":[[{"node":"Wait12","type":"main","index":0}]]},"Wait12":{"main":[[{"node":"업스케일 결과","type":"main","index":0}]]},"업스케일 결과":{"main":[[{"node":"영상 입력","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"01ea9a85-50a3-40e0-86d1-3ef38d22d1e7","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-02-07T19:26:51.386Z","createdAt":"2026-02-07T19:26:51.386Z","role":"workflow:owner","workflowId":"tCn0Wjzok_227QHWbSDhq","projectId":"W6LETsSnBzw4J5Aa","project":{"updatedAt":"2026-02-07T19:24:21.289Z","createdAt":"2026-02-07T19:04:11.494Z","id":"W6LETsSnBzw4J5Aa","name":"Dongseok Kim <hatihoro15@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2","projectRelations":[{"updatedAt":"2026-02-07T19:04:11.494Z","createdAt":"2026-02-07T19:04:11.494Z","userId":"2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2","projectId":"W6LETsSnBzw4J5Aa","user":{"updatedAt":"2026-02-07T19:26:55.770Z","createdAt":"2026-02-07T19:04:09.331Z","id":"2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2","email":"hatihoro15@gmail.com","firstName":"Dongseok","lastName":"Kim","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-07T19:24:51.818Z","personalization_survey_n8n_version":"2.6.4"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-07","isPending":false}}]}}],"tags":[],"activeVersion":null}