n8n/ao_image_generator.json
{
  "updatedAt": "2026-03-06T02:49:06.083Z",
  "createdAt": "2026-03-06T00:02:43.587Z",
  "id": "d5b35fb7f1724e448",
  "name": "AO Image Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ao-generate-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b4109d15-af9d-4de0-8b81-8ca9bb2d99ae",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "d0697b0e-6185-4593-8877-fc9f10ce5f93"
    },
    {
      "parameters": {
        "jsCode": "// 이미지 생성 — 슬롯(url+분석) + 내사진(my_images) + kie.ai\nconst body = $input.first().json.body || $input.first().json;\n\nconst prompt = body.prompt;\nif (!prompt) throw new Error('prompt는 필수입니다.');\nconst aspectRatio = body.aspect_ratio || '9:16';\nif (!['9:16', '16:9', '1:1'].includes(aspectRatio)) throw new Error('aspect_ratio: 9:16 / 16:9 / 1:1');\nconst count = Math.min(3, Math.max(1, parseInt(body.count) || 1));\nconst slots = body.slots || {};\nconst myImages = body.my_images || [];\n\n// 1) 슬롯 vision_analysis → 프롬프트 파트\nconst promptParts = [];\n\nif (slots.subject?.use && slots.subject?.vision_analysis) {\n  promptParts.push(`[Subject - include this person/object exactly as described]: ${slots.subject.vision_analysis}`);\n}\nif (slots.scene?.use && slots.scene?.vision_analysis) {\n  promptParts.push(`[Scene - use this background/setting]: ${slots.scene.vision_analysis}`);\n}\nif (slots.style?.use && slots.style?.vision_analysis) {\n  promptParts.push(`[Style - apply this mood/art style]: ${slots.style.vision_analysis}`);\n}\n\n// 2) my_images 처리\nfor (const img of myImages) {\n  if (img.use_mode === 'analysis_only' && img.auto_prompt) {\n    promptParts.push(`[Reference image analysis]: ${img.auto_prompt}`);\n  } else if (img.use_mode === 'generate' && img.analysis) {\n    promptParts.push(`[Generate similar to]: ${img.analysis}`);\n  }\n}\n\n// 3) 최종 프롬프트\npromptParts.push(prompt);\nconst finalPrompt = promptParts.join('\\n');\n\n// 4) kie.ai input 구성 (이미지 URL 포함)\nconst kieInput = {\n  prompt: finalPrompt,\n  aspect_ratio: aspectRatio,\n};\nif (slots.subject?.use && slots.subject?.url) kieInput.subject_image_url = slots.subject.url;\nif (slots.scene?.use && slots.scene?.url) kieInput.scene_image_url = slots.scene.url;\nif (slots.style?.use && slots.style?.url) kieInput.style_image_url = slots.style.url;\n\n// direct 모드 내 사진을 subject 참조로 사용 (슬롯 subject가 없을 때)\nif (!kieInput.subject_image_url) {\n  const directImg = myImages.find(img => img.use_mode === 'direct' && img.url);\n  if (directImg) kieInput.subject_image_url = directImg.url;\n}\n\n// kie.ai API\nconst apiKey = $env.KIEAI_API_KEY;\n\nasync function pollTask(taskId) {\n  for (let i = 0; i < 60; i++) {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.kie.ai/api/v1/jobs/recordInfo?taskId=${taskId}`,\n      headers: { 'Authorization': `Bearer ${apiKey}` },\n      json: true\n    });\n    const state = resp?.data?.state;\n    if (state === 'success') {\n      const result = JSON.parse(resp.data.resultJson || '{}');\n      return result.resultUrls || [];\n    }\n    if (state === 'failed' || state === 'fail') {\n      throw new Error(`이미지 생성 실패: ${resp.data.failMsg || state}`);\n    }\n    await new Promise(r => setTimeout(r, 5000));\n  }\n  throw new Error('이미지 생성 타임아웃 (300초)');\n}\n\nconst taskIds = [];\nfor (let i = 0; i < count; i++) {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: { model: 'nano-banana-pro', input: kieInput },\n    json: true\n  });\n  const taskId = resp?.data?.taskId;\n  if (!taskId) throw new Error(`이미지 생성 요청 실패 (${i+1}): ` + JSON.stringify(resp).substring(0, 200));\n  taskIds.push(taskId);\n}\n\nconst allUrls = [];\nfor (const taskId of taskIds) {\n  const urls = await pollTask.call(this, taskId);\n  allUrls.push(...urls);\n}\n\nif (allUrls.length === 0) throw new Error('생성된 이미지 없음');\n\nreturn [{\n  json: {\n    success: true,\n    count: allUrls.length,\n    images: allUrls,\n    prompt: finalPrompt,\n    aspect_ratio: aspectRatio,\n    slots_used: {\n      subject: !!(slots.subject?.use),\n      scene: !!(slots.scene?.use),\n      style: !!(slots.style?.use)\n    },\n    my_images_count: myImages.length\n  }\n}];"
      },
      "id": "4dfab394-41cf-48d9-98ba-e6493d57d342",
      "name": "이미지 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "92173869-757f-4961-a394-abe60b1fd9b5",
      "name": "응답 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "이미지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 생성": {
      "main": [
        [
          {
            "node": "응답 반환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7ceecee3-f495-4b4a-86a2-0fe28a976a33",
  "activeVersionId": "7ceecee3-f495-4b4a-86a2-0fe28a976a33",
  "versionCounter": 46,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-06T00:02:43.587Z",
      "createdAt": "2026-03-06T00:02:43.587Z",
      "role": "workflow:owner",
      "workflowId": "d5b35fb7f1724e448",
      "projectId": "W6LETsSnBzw4J5Aa",
      "project": {
        "updatedAt": "2026-02-09T04:42:12.235Z",
        "createdAt": "2026-02-07T19:04:11.494Z",
        "id": "W6LETsSnBzw4J5Aa",
        "name": "hatihoro15 hatihoro15 <hatihoro15@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2"
      }
    }
  ]
}