n8n/ao_producer.json
{
  "updatedAt": "2026-03-05T11:12:43.939Z",
  "createdAt": "2026-03-05T10:52:36.709Z",
  "id": "XV5shW265ht59MTD",
  "name": "AO Producer",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ao-produce",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "dff8568d-f569-4980-9f70-70cff125ff40"
    },
    {
      "parameters": {
        "jsCode": "// 필수값 검사 — P0: prompt_p1 필수, topic/keywords/category 선택(저장 전용)\ntry {\nconst body = $input.first().json.body || $input.first().json;\n\n// payload 디버그 로깅\nconsole.log('[AO Producer] payload keys:', JSON.stringify(Object.keys(body)));\nconsole.log('[AO Producer] duration fields:', JSON.stringify({ duration: body.duration, duration_sec: body.duration_sec, durationSec: body.durationSec }));\nconsole.log('[AO Producer] mode fields:', JSON.stringify({ production_mode: body.production_mode, productionMode: body.productionMode }));\n\n// prompt_p1 필수\nif (!body.prompt_p1 || !body.prompt_p1.trim()) {\n  throw new Error('필수값 누락: prompt_p1');\n}\n\n// duration 범위 검증 (0=자동, 3~180초)\nconst rawDuration = (body.duration || body.duration_sec) ? parseInt(body.duration || body.duration_sec) : null;\nif (rawDuration !== null && rawDuration !== 0 && (rawDuration < 3 || rawDuration > 180)) {\n  throw new Error('duration 오류: ' + rawDuration + ' (허용: 0 또는 3~180)');\n}\nconst duration = rawDuration;\n\n// files 검증 (최대 10개)\nconst files = body.files || [];\nif (files.length > 10) throw new Error(`files 최대 10개 (현재: ${files.length})`);\n\n// generated_images 검증\nconst generatedImages = body.generated_images || [];\n\n// production_mode: ai_video (기본) / slideshow\nconst productionMode = body.production_mode || body.productionMode || 'ai_video';\nif (!['ai_video', 'slideshow'].includes(productionMode)) {\n  throw new Error(`production_mode 오류: ${productionMode} (ai_video/slideshow 중 하나)`);\n}\n\n// slideshow 모드: 이미지 최소 1개 필요\nif (productionMode === 'slideshow' && files.length === 0 && generatedImages.length === 0) {\n  throw new Error('slideshow 모드는 이미지가 최소 1장 필요합니다.');\n}\n\n// ai_video 모드: 프롬프트 or 이미지 중 최소 1개\nif (productionMode === 'ai_video' && files.length === 0 && generatedImages.length === 0 && !body.prompt_p1) {\n  throw new Error('파일, 생성 이미지, 프롬프트 중 최소 1개는 필요합니다.');\n}\n\nconst hasImages = files.length > 0 || generatedImages.length > 0;\n\n// clip_duration: ai_video=3~15초(Kling), slideshow=무관\nconst rawDur = parseInt(body.clip_duration) || 8;\nconst clipDuration = productionMode === 'ai_video' ? Math.max(3, Math.min(15, rawDur)) : rawDur;\n// clip_duration_mode: duration>15이고 clip_duration 미지정이면 auto\nconst clipDurationMode = (duration && duration > 15 && !body.clip_duration) ? 'auto' : 'fixed';\n\n// scenes[] 검증 (멀티클립 씬별 프롬프트)\nconst scenes = body.scenes || [];\nlet scenesWarning = '';\nif (scenes.length > 0) {\n  for (let i = 0; i < scenes.length; i++) {\n    const sd = parseInt(scenes[i].duration_sec);\n    if (!sd || sd < 1 || sd > 12) throw new Error('scenes[' + i + '].duration_sec 오류: ' + scenes[i].duration_sec + ' (1~12 허용)');\n    if (!scenes[i].prompt || !scenes[i].prompt.trim()) throw new Error('scenes[' + i + '].prompt 필수');\n  }\n  const scenesTotal = scenes.reduce((s, sc) => s + parseInt(sc.duration_sec), 0);\n  if (duration && Math.abs(scenesTotal - duration) > 3) {\n    throw new Error('scenes 총합(' + scenesTotal + 's)과 duration(' + duration + 's) 불일치 (허용 +-3초)');\n  }\n  const uniquePrompts = new Set(scenes.map(s => s.prompt.trim()));\n  if (uniquePrompts.size === 1 && scenes.length > 1) {\n    scenesWarning = 'all_same_prompt';\n  }\n}\n\nconst slideDuration = parseInt(body.slide_duration) || 3;\n\n// aspect_ratio\nconst aspectRatio = body.aspect_ratio || '9:16';\nif (!['9:16', '16:9'].includes(aspectRatio)) {\n  throw new Error(`aspect_ratio 오류: ${aspectRatio} (9:16/16:9 중 하나)`);\n}\n\nconst useMedia = body.use_media || 'forced';\nconst uploadTarget = body.upload_target || 'youtube';\n\n// BGM/SFX 옵션 (bgm_mode/sfx_mode + 하위호환)\nconst ALLOWED_BGM = ['none', 'ai_auto', 'uploaded'];\nconst ALLOWED_SFX = ['none', 'ai_auto', 'uploaded', 'combined'];\nlet bgmMode = body.bgm_mode || (body.enable_bgm === true ? 'ai_auto' : 'none');\nif (!ALLOWED_BGM.includes(bgmMode)) throw new Error('bgm_mode 오류: ' + bgmMode + ' (허용: ' + ALLOWED_BGM.join('/') + ')');\nlet sfxMode = body.sfx_mode || (body.enable_sfx === true ? 'ai_auto' : 'none');\nif (!ALLOWED_SFX.includes(sfxMode)) throw new Error('sfx_mode 오류: ' + sfxMode + ' (허용: ' + ALLOWED_SFX.join('/') + ')');\nconst enableBgm = bgmMode !== 'none';\nconst enableSfx = sfxMode !== 'none';\nconst bgmUrl = body.bgm_url || '';\nconst sfxFileUrl = body.sfx_file_url || '';\n\n// strict_mode / verify_mode\nconst strictMode = body.strict_mode === true;\nconst verifyMode = body.verify_mode === true;\n\n// engine_type 검증\nconst ALLOWED_ENGINES = ['character_story', 'core_message', 'live_promo', 'meme', 'action_sports'];\nconst engineType = body.engine_type || 'core_message';\nif (!ALLOWED_ENGINES.includes(engineType)) {\n  throw new Error(`engine_type 오류: ${engineType} (허용값: ${ALLOWED_ENGINES.join('/')})`);\n}\n\n// narration_style 검증\nconst ALLOWED_STYLES = ['설명형', '스토리형', '광고형', '감성형'];\nconst narrationStyle = body.narration_style || '설명형';\nif (!ALLOWED_STYLES.includes(narrationStyle)) {\n  throw new Error(`narration_style 오류: ${narrationStyle} (허용값: ${ALLOWED_STYLES.join('/')})`);\n}\n\n// narration_tone 검증\nconst ALLOWED_TONES = ['차분하게', '흥분되게', '유머러스하게', '긴박하게'];\nconst narrationTone = body.narration_tone || '차분하게';\nif (!ALLOWED_TONES.includes(narrationTone)) {\n  throw new Error(`narration_tone 오류: ${narrationTone} (허용값: ${ALLOWED_TONES.join('/')})`);\n}\n\n// voice_provider 검증 (tts | kling, 기본 tts)\nconst ALLOWED_VOICE = ['tts', 'kling'];\nconst voiceProvider = body.voice_provider || 'tts';\nif (!ALLOWED_VOICE.includes(voiceProvider)) {\n  throw new Error('voice_provider 오류: ' + voiceProvider + ' (허용: tts/kling)');\n}\n\n// kling_group_shots 수신 (2단계 사전 분해 데이터)\nconst klingGroupShots = body.kling_group_shots || null;\nif (klingGroupShots) {\n  if (!Array.isArray(klingGroupShots)) throw new Error('kling_group_shots는 배열이어야 합니다');\n  if (klingGroupShots.length > 12) throw new Error('kling_group_shots 그룹 최대 12개');\n  for (let gi = 0; gi < klingGroupShots.length; gi++) {\n    const g = klingGroupShots[gi];\n    if (!g || !Array.isArray(g.shots)) throw new Error('kling_group_shots[' + gi + '].shots 필수');\n    if (g.shots.length < 1 || g.shots.length > 5) throw new Error('kling_group_shots[' + gi + '] 샷 1~5개');\n    for (let si = 0; si < g.shots.length; si++) {\n      const s = g.shots[si];\n      if (!s.prompt) throw new Error('kling_group_shots[' + gi + '].shots[' + si + '].prompt 필수');\n      const d = parseInt(s.duration);\n      if (!d || d < 1 || d > 12) throw new Error('kling_group_shots[' + gi + '].shots[' + si + '].duration 오류 (1~12)');\n    }\n  }\n}\n\n// narration_start_sec (선택: null=자동, 0이상=해당 초 시작)\nconst narrationStartSec = (body.narration_start_sec !== undefined && body.narration_start_sec !== null && body.narration_start_sec !== '')\n  ? Math.max(0, parseInt(body.narration_start_sec) || 0)\n  : null;\n\n// files 정규화\nconst finalFiles = files.map(f => ({\n  type: f.type || 'image',\n  url: f.url || '',\n  vision_analysis: f.vision_analysis || '',\n  video_analysis: f.video_analysis || '',\n  use_mode: f.use_mode || 'direct',\n  auto_prompt: f.auto_prompt || '',\n  skip_kling: f.skip_kling === true\n}));\n\n// 언어 감지\nconst isKorean = /[\\uAC00-\\uD7A3]/.test((body.prompt_p1 || '') + (body.topic || ''));\nconst translateMode = body.translate_mode || 'auto';\nconst needsTranslation = translateMode === 'on' || (translateMode === 'auto' && isKorean);\n\n// Prompt Lock: SHA-256 해시 생성\nconst promptText = body.prompt_p1.trim();\nlet promptHash = '';\nconst hashChars = [];\nfor (let i = 0; i < promptText.length; i++) {\n  hashChars.push(promptText.charCodeAt(i).toString(16));\n}\n// 간이 해시 (n8n Code 노드에서 crypto 사용 불가하므로 FNV-1a 방식)\nlet h = 0x811c9dc5;\nfor (let i = 0; i < promptText.length; i++) {\n  h ^= promptText.charCodeAt(i);\n  h = Math.imul(h, 0x01000193);\n}\npromptHash = (h >>> 0).toString(16).padStart(8, '0');\n// 추가 엔트로피: 길이 + 처음/끝 4자\npromptHash += '-' + promptText.length + '-' + promptText.substring(0, 4).split('').map(c => c.charCodeAt(0).toString(16)).join('');\n\n// SQL 싱글쿼트 이스케이프\nconst esc = (s) => typeof s === 'string' ? s.replace(/'/g, \"''\") : s;\n\nreturn [{\n  json: {\n    error: false,\n    ...body,\n    prompt_p1: esc(body.prompt_p1 || ''),\n    topic: esc(body.topic || ''),\n    keywords: esc(body.keywords || ''),\n    category: esc(body.category || ''),\n    narration_script: esc(body.narration_script || ''),\n    narration_text: esc(body.narration_text || ''),\n    production_id: body.productionId || body.production_id || null,\n    production_mode: productionMode,\n    has_images: hasImages,\n    clips: esc(JSON.stringify(finalFiles)),\n    generated_images: esc(JSON.stringify(generatedImages)),\n    aspect_ratio: aspectRatio,\n    clip_duration: clipDuration,\n    clip_duration_mode: clipDurationMode,\n    slide_duration: slideDuration,\n    use_media: useMedia,\n    upload_target: uploadTarget,\n    prompt_lang_detected: isKorean ? 'ko' : 'en',\n    needs_translation: needsTranslation,\n    enable_bgm: enableBgm,\n    enable_sfx: enableSfx,\n    bgm_mode: bgmMode,\n    sfx_mode: sfxMode,\n    bgm_url: esc(bgmUrl),\n    sfx_file_url: esc(sfxFileUrl),\n    duration: duration,\n    strict_mode: strictMode,\n    verify_mode: verifyMode,\n    engine_type: engineType,\n    narration_style: narrationStyle,\n    narration_tone: narrationTone,\n    prompt_hash: promptHash,\n    scenes: scenes,\n    narration_start_sec: narrationStartSec,\n    scenes_warning: scenesWarning,\n    voice_provider: voiceProvider,\n    kling_group_shots: klingGroupShots,\n    validated_at: new Date().toISOString()\n  }\n}];\n} catch (e) {\n  return [{ json: { error: true, message: e.message } }];\n}"
      },
      "id": "validate-input",
      "name": "입력값 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (\n  prompt_p1, topic, keywords, category,\n  use_media, upload_target, template_id,\n  clips, clip_duration, slide_duration,\n  aspect_ratio, production_mode, generated_images,\n  metadata, prompt_lang_detected, needs_translation,\n  production_id, narration_script,\n  enable_bgm, enable_sfx, bgm_url,\n  bgm_mode, sfx_mode, sfx_file_url,\n  prompt_hash, duration, strict_mode, verify_mode, engine_type,\n  narration_style, narration_tone,\n  status, retry_count, created_at, updated_at\n) VALUES (\n  '{{ $json.prompt_p1 }}',\n  '{{ $json.topic }}',\n  '{{ $json.keywords }}',\n  '{{ $json.category }}',\n  '{{ $json.use_media }}',\n  '{{ $json.upload_target }}',\n  {{ $json.template_id ? `'${$json.template_id}'` : 'NULL' }},\n  '{{ JSON.stringify($json.clips) }}'::jsonb,\n  {{ $json.clip_duration }},\n  {{ $json.slide_duration }},\n  '{{ $json.aspect_ratio }}',\n  '{{ $json.production_mode }}',\n  '{{ $json.generated_images || '[]' }}'::jsonb,\n  {{ (() => { const m = {}; if ($json.scenes && $json.scenes.length > 0) { m.scenes = $json.scenes; m.scenes_warning = $json.scenes_warning || ''; } if ($json.narration_start_sec !== null && $json.narration_start_sec !== undefined) { m.narration_start_sec = $json.narration_start_sec; } if ($json.voice_provider && $json.voice_provider !== 'tts') { m.voice_provider = $json.voice_provider; } if ($json.kling_group_shots) { m.kling_group_shots = $json.kling_group_shots; } return Object.keys(m).length > 0 ? `'${JSON.stringify(m)}'::jsonb` : ($json.metadata ? `'${JSON.stringify($json.metadata)}'::jsonb` : 'NULL'); })() }},\n  '{{ $json.prompt_lang_detected }}',\n  {{ $json.needs_translation }},\n  {{ $json.production_id ? `'${$json.production_id}'` : 'NULL' }},\n  {{ ($json.narration_script || $json.narration_text) ? `'${$json.narration_script || $json.narration_text}'` : 'NULL' }},\n  {{ $json.enable_bgm }},\n  {{ $json.enable_sfx }},\n  {{ $json.bgm_url ? `'${$json.bgm_url}'` : 'NULL' }},\n  '{{ $json.bgm_mode || \"none\" }}',\n  '{{ $json.sfx_mode || \"none\" }}',\n  {{ $json.sfx_file_url ? `'${$json.sfx_file_url}'` : 'NULL' }},\n  {{ $json.prompt_hash ? `'${$json.prompt_hash}'` : 'NULL' }},\n  {{ $json.duration !== null && $json.duration !== undefined ? $json.duration : 'NULL' }},\n  {{ $json.strict_mode }},\n  {{ $json.verify_mode }},\n  '{{ $json.engine_type }}',\n  '{{ $json.narration_style }}',\n  '{{ $json.narration_tone }}',\n  'queued', 0, NOW(), NOW()\n) RETURNING id, status, created_at, production_id;",
        "options": {}
      },
      "id": "create-job",
      "name": "Job 생성 (Supabase)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        688,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    job_id: job.id,\n    production_id: job.production_id || null,\n    status: job.status,\n    message: 'Job이 큐에 등록되었습니다.',\n    created_at: job.created_at\n  }\n}];"
      },
      "id": "format-response",
      "name": "응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1112,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "응답 반환 (200)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1320,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "응답 반환 (400)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1320,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "val-err-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-validation",
      "name": "검증 결과 분기",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        576,
        304
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        496
      ],
      "id": "5160caee-1747-4855-9bed-ee01c7e6ab84",
      "name": "수동 실행"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "eng-1",
                    "leftValue": "={{ $json.engine_type }}",
                    "rightValue": "character_story",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "character_story"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "eng-2",
                    "leftValue": "={{ $json.engine_type }}",
                    "rightValue": "core_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "core_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "eng-3",
                    "leftValue": "={{ $json.engine_type }}",
                    "rightValue": "live_promo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "live_promo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "eng-4",
                    "leftValue": "={{ $json.engine_type }}",
                    "rightValue": "meme",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "meme"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "id": "eng-5",
                    "leftValue": "={{ $json.engine_type }}",
                    "rightValue": "action_sports",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "action_sports"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "engine-switch",
      "name": "엔진 분기 (골격)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        304
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "입력값 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력값 검증": {
      "main": [
        [
          {
            "node": "검증 결과 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "검증 결과 분기": {
      "main": [
        [
          {
            "node": "응답 반환 (400)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Job 생성 (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job 생성 (Supabase)": {
      "main": [
        [
          {
            "node": "엔진 분기 (골격)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "응답 포맷": {
      "main": [
        [
          {
            "node": "응답 반환 (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "입력값 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "엔진 분기 (골격)": {
      "main": [
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f8342b23-04aa-4f4a-b0ee-99d3b3660e88",
  "activeVersionId": "f8342b23-04aa-4f4a-b0ee-99d3b3660e88"
}