n8n/ao_worker.json
{
  "updatedAt": "2026-03-07T14:22:01.031Z",
  "createdAt": "2026-03-05T10:52:54.255Z",
  "id": "FHYohZccExR24Uha",
  "name": "AO Worker",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "스케줄 트리거 (30초)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM jobs\nWHERE status = 'queued'\nORDER BY created_at ASC\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
        "options": {}
      },
      "id": "pop-queue",
      "name": "큐에서 Job 꺼내기",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-job-exists",
      "name": "Job 존재 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status = 'processing', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
        "options": {}
      },
      "id": "mark-processing",
      "name": "상태 → processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// AO 프롬프트 조립기 — Last-Edit Priority + Prompt Lock (재생성 연결)\nconst job = $input.first().json;\n\n// mark-processing RETURNING * 에서 최신 DB 값이 이미 전달됨\nconst p1 = (job.prompt_p1 || '').trim();\n\n// files 파싱\nlet files = [];\ntry {\n  files = typeof job.clips === 'string' ? JSON.parse(job.clips) : (job.clips || []);\n} catch(e) { files = []; }\n\n// FNV-1a 해시 함수\nfunction fnvHash(text) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < text.length; i++) {\n    h ^= text.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  const hex = (h >>> 0).toString(16).padStart(8, '0');\n  return hex + '-' + text.length + '-' + text.substring(0, 4).split('').map(c => c.charCodeAt(0).toString(16)).join('');\n}\n\n// Prompt Lock: prompt_hash 비교\nconst storedHash = job.prompt_hash || '';\nconst currentHash = p1 ? fnvHash(p1) : '';\nconst promptLockValid = !storedHash || storedHash === currentHash;\n\n// Prompt Lock 불일치 시: 최신 prompt_p1 기준으로 재생성\n// mark-processing RETURNING * 에서 이미 최신 DB 값이므로 현재 p1이 최신\n// 저장된 해시만 현재 해시로 갱신 (DB UPDATE는 아래 플래그로 후속 처리)\nlet promptHashToUse = storedHash;\nlet promptLockAction = 'none';\nif (!promptLockValid && p1) {\n  // 기존 계획 폐기 → 현재 prompt_p1 기준으로 재조립\n  promptHashToUse = currentHash;\n  promptLockAction = 'regenerated';\n}\n\n// Last-Edit Priority: prompt_p1을 그대로 사용 (슬롯 치환 없음)\nconst finalPrompt = p1;\n\n// 파일 분석 결과 수집\nconst analysisParts = [];\nfiles.forEach((f, i) => {\n  if (f.vision_analysis) analysisParts.push(`[Image ${i+1}: ${f.vision_analysis}]`);\n  if (f.video_analysis) analysisParts.push(`[Video ${i+1}: ${f.video_analysis}]`);\n});\n\n// P1이 없으면 topic 기반 자동 프롬프트 (fallback)\nlet basePrompt = finalPrompt;\nif (!p1) {\n  const autoParts = [];\n  if (job.topic) autoParts.push(`Create a cinematic video about: ${job.topic}`);\n  if (job.keywords) autoParts.push(`Keywords: ${job.keywords}`);\n  if (job.category) autoParts.push(`Category: ${job.category}`);\n  basePrompt = autoParts.join('. ') + '. High quality, smooth motion, professional cinematography.';\n}\n\nconst promptWithAnalysis = analysisParts.length > 0\n  ? analysisParts.join('\\n') + '\\n' + basePrompt\n  : basePrompt;\n\n// generated_images 파싱\nlet generatedImages = [];\ntry {\n  generatedImages = typeof job.generated_images === 'string' ? JSON.parse(job.generated_images) : (job.generated_images || []);\n} catch(e) { generatedImages = []; }\n\n// Length Gate: target_duration 설정\nconst targetDuration = job.duration || null;\nconst maxDuration = targetDuration ? targetDuration + 1 : null;\nconst strictMode = job.strict_mode === true;\nconst verifyMode = job.verify_mode === true;\n\n// Prompt Lock 불일치 시 prompt_hash 갱신 (DB UPDATE)\nif (promptLockAction === 'regenerated') {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://76.13.182.180:8080/v1/toolkit/echo',\n      headers: { 'Content-Type': 'application/json' },\n      body: { message: `prompt_lock_regenerated: job=${job.id}, old=${storedHash}, new=${currentHash}` },\n      json: true,\n      timeout: 5000\n    });\n  } catch(e) { /* 로깅 실패 무시 */ }\n}\n\n// metadata에서 scenes 추출 (Producer가 metadata JSONB에 저장)\nconst metadata = typeof job.metadata === 'string' ? JSON.parse(job.metadata) : (job.metadata || {});\nconst scenes = metadata.scenes || job.scenes || [];\n\nreturn [{\n  json: {\n    ...job,\n    files: files,\n    scenes: scenes,\n    generated_images: generatedImages,\n    clip_duration: (job.clip_duration === 0 || job.clip_duration === '0' || String(job.clip_duration || '').toLowerCase() === 'auto') ? 'auto' : (parseInt(job.clip_duration) || 8),\n    clip_duration_mode: (targetDuration && targetDuration > 15 && (!job.clip_duration || parseInt(job.clip_duration) === 8)) ? 'auto' : 'fixed',\n    prompt_to_engine: promptWithAnalysis,\n    prompt_p1_preserved: p1 || null,\n    prompt_auto_generated: !p1,\n    prompt_lock_valid: promptLockValid,\n    prompt_lock_action: promptLockAction,\n    prompt_hash_current: currentHash,\n    prompt_hash: promptHashToUse,\n    target_duration: targetDuration,\n    max_duration: maxDuration,\n    strict_mode: strictMode,\n    verify_mode: verifyMode,\n    assembled_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "assemble-prompt",
      "name": "AO 프롬프트 조립 (P1 보존)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.needs_translation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-translation",
      "name": "번역 필요 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// 한글→영문 번역 (Claude API)\nconst job = $input.first().json;\nconst claudeKey = $env.CLAUDE_API_KEY;\nif (!claudeKey) throw new Error('CLAUDE_API_KEY 환경변수 없음');\n\nconst prompt = job.prompt_to_engine || '';\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': claudeKey,\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1000,\n    messages: [{\n      role: 'user',\n      content: '다음 한국어 텍스트를 영어로 번역해줘. 원문 의미를 100% 보존하고, 번역문만 반환해. 설명 없이.\\n\\n' + prompt\n    }]\n  },\n  json: true\n});\n\nreturn [{ json: resp }];"
      },
      "id": "translate-prompt",
      "name": "한글→영문 번역 (Claude)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('번역 필요 여부').first().json;\nconst translated = $input.first().json;\n\nconst promptEn = translated.content?.[0]?.text || prev.prompt_to_engine;\n\nreturn [{\n  json: {\n    ...prev,\n    prompt_en: promptEn\n  }\n}];"
      },
      "id": "merge-translation",
      "name": "번역 결과 병합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// NCA FFmpeg 합성 — slideshow / ai_video 모두 NCA 사용\n\nfunction ensureExtension(url, ext) {\n  if (!url) return url;\n  const qIdx = url.indexOf('?');\n  const path = qIdx >= 0 ? url.substring(0, qIdx) : url;\n  if (/\\.(jpg|jpeg|png|gif|webp|mp4|mp3|wav|m4a)$/i.test(path)) return url;\n  return url + (url.includes('?') ? '&' : '?') + 'ext=.' + ext;\n}\nconst job = $input.first().json;\nconst productionMode = job.production_mode || 'ai_video';\nconst ar = job.aspect_ratio || '9:16';\nconst W = ar === '16:9' ? 1920 : 1080;\nconst H = ar === '16:9' ? 1080 : 1920;\nconst DEFAULT_BGM = 'http://76.13.182.180:9000/audio/bgm_new.mp3';\nconst SFX_URL = 'http://76.13.182.180:9000/audio/sfx_ppook.wav';\n// bgm_mode / sfx_mode 기반 (하위 호환 fallback 포함)\nconst bgmMode = job.bgm_mode || (job.enable_bgm === true ? 'ai_auto' : 'none');\nconst sfxMode = job.sfx_mode || (job.enable_sfx === true ? 'ai_auto' : 'none');\nconst enableBgm = bgmMode === 'ai_auto' || (bgmMode === 'uploaded' && !!job.bgm_url);\nconst enableSfx = sfxMode !== 'none';\nconst bgmUrl = job.bgm_url || (bgmMode === 'uploaded' ? '' : DEFAULT_BGM);\nconst sfxFileUrl = job.sfx_file_url || '';\nconst SFX_ACTIVE_URL = (sfxMode === 'uploaded' || sfxMode === 'combined') && sfxFileUrl ? sfxFileUrl : SFX_URL;\n\nfunction escSingle(t) {\n  if (!t) return '';\n  return t.replace(/[\\u{1F600}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu,'').trim()\n    .replace(/\\\\/g,'\\\\\\\\').replace(/'/g,'\\u2019').replace(/\"/g,'\\u201D')\n    .replace(/:/g,'\\\\:').replace(/;/g,'\\;').replace(/,/g,'\\\\,')\n    .replace(/\\[/g,'\\\\[').replace(/\\]/g,'\\\\]').replace(/\\n/g,' ');\n}\nfunction escMulti(t) {\n  if (!t) return '';\n  return t.replace(/[\\u{1F600}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu,'').trim()\n    .replace(/\\\\/g,'\\\\\\\\').replace(/'/g,'\\u2019').replace(/\"/g,'\\u201D')\n    .replace(/:/g,'\\\\:').replace(/;/g,'\\;').replace(/,/g,'\\\\,')\n    .replace(/\\[/g,'\\\\[').replace(/\\]/g,'\\\\]');\n}\nfunction wrap(t, max) {\n  if (!t || t.replace(/\\s+/g,'').length <= max) return t || '';\n  const mid = Math.floor(t.length / 2);\n  let best = -1, minD = t.length;\n  for (let i = 1; i < t.length - 1; i++) {\n    if (t[i] === ' ' && Math.abs(i - mid) < minD) { minD = Math.abs(i - mid); best = i; }\n  }\n  if (best > 0) return t.substring(0, best).trim() + '\\n' + t.substring(best).trim();\n  return t.substring(0, max) + '\\n' + t.substring(max);\n}\nfunction wrapTitle(t, max) {\n  if (!t || t.length <= max) return t || '';\n  const mid = Math.floor(t.length / 2);\n  let best = -1, minD = t.length;\n  for (let i = 0; i < t.length; i++) {\n    if (t[i] === ',' && Math.abs(i+1-mid) < minD) { minD = Math.abs(i+1-mid); best = i+1; }\n  }\n  if (best === -1) {\n    for (let i = 1; i < t.length-1; i++) {\n      if (t[i] === ' ' && Math.abs(i-mid) < minD) { minD = Math.abs(i-mid); best = i; }\n    }\n  }\n  if (best > 0) return t.substring(0, best).trim() + '\\n' + t.substring(best).trim();\n  return t.substring(0, max) + '\\n' + t.substring(max);\n}\n\nconst subtitles = job.tts_subtitles || [];\nconst audioUrl = job.tts_audio_url;\nconst totalDuration = job.total_duration || 10;\nconst topicText = escMulti(wrapTitle(job.topic || '', 14));\n\nlet inputs = [];\nlet idx = 0;\n\nif (productionMode === 'slideshow') {\n  // ===== SLIDESHOW =====\n  const imgUrls = job.slide_image_urls || [];\n  if (imgUrls.length === 0) throw new Error('slideshow: 이미지 없음');\n  const imgDur = job.img_duration || (totalDuration / imgUrls.length);\n\n  for (const url of imgUrls) {\n    inputs.push({ file_url: ensureExtension(url, 'jpg'), options: [\n      { option: '-loop', argument: '1' },\n      { option: '-framerate', argument: '30' },\n      { option: '-t', argument: imgDur.toFixed(2) }\n    ] });\n    idx++;\n  }\n\n  // TTS\n  const audioIdx = idx;\n  if (audioUrl) { inputs.push({ file_url: ensureExtension(audioUrl, 'mp3'), options: [] }); idx++; }\n\n  // BGM (enableBgm일 때만)\n  let bgmIdx = -1;\n  if (enableBgm) {\n    bgmIdx = idx;\n    inputs.push({ file_url: ensureExtension(bgmUrl, 'mp3'), options: [{ option: '-stream_loop', argument: '-1' }] }); idx++;\n  }\n\n  // SFX (enableSfx일 때만, 이미지 전환)\n  const sfxList = [];\n  if (enableSfx) {\n    for (let i = 1; i < imgUrls.length; i++) {\n      inputs.push({ file_url: SFX_ACTIVE_URL, options: [] });\n      sfxList.push({ idx: idx, ms: Math.round(i * imgDur * 1000) }); idx++;\n    }\n  }\n\n  let fp = [];\n  // 이미지: 풀프레임 확대 crop (패딩 없음)\n  for (let i = 0; i < imgUrls.length; i++) {\n    if (ar === '16:9') {\n      fp.push(`[${i}:v]scale=${W}:${H}:force_original_aspect_ratio=increase,crop=${W}:${H},setsar=1,fps=30[v${i}]`);\n    } else {\n      fp.push(`[${i}:v]scale=1080:1080:force_original_aspect_ratio=increase,crop=1080:1080,setsar=1,fps=30[v${i}]`);\n    }\n  }\n  fp.push(`${imgUrls.map((_,i) => `[v${i}]`).join('')}concat=n=${imgUrls.length}:v=1:a=0[vconcat]`);\n\n  // 오디오 믹싱 (조건부)\n  if (audioUrl) fp.push(`[${audioIdx}:a]atrim=duration=${totalDuration.toFixed(2)},asetpts=PTS-STARTPTS[tts_raw]`);\n\n  if (enableBgm && bgmIdx >= 0) {\n    const bgmTotalDur = totalDuration + 2;\n    fp.push(`[${bgmIdx}:a]atrim=duration=${bgmTotalDur.toFixed(2)},asetpts=PTS-STARTPTS,afade=t=out:st=${Math.max(0, totalDuration - 2).toFixed(2)}:d=2[bgm]`);\n  }\n\n  if (enableSfx && sfxList.length > 0) {\n    sfxList.forEach((s, i) => fp.push(`[${s.idx}:a]atrim=duration=0.3,asetpts=PTS-STARTPTS,volume=0.6,adelay=${s.ms}|${s.ms}[sfx${i}]`));\n    fp.push(`${sfxList.map((_,i) => `[sfx${i}]`).join('')}amix=inputs=${sfxList.length}:duration=longest:normalize=0[sfx_mix]`);\n  }\n\n  // 최종 오디오 조합\n  if (audioUrl && enableBgm && enableSfx && sfxList.length > 0) {\n    fp.push(`[tts_raw][bgm][sfx_mix]amix=inputs=3:duration=longest:weights=1 1 0.8:normalize=0[amain]`);\n  } else if (audioUrl && enableBgm) {\n    fp.push(`[tts_raw][bgm]amix=inputs=2:duration=longest:weights=1 1:normalize=0[amain]`);\n  } else if (audioUrl && enableSfx && sfxList.length > 0) {\n    fp.push(`[tts_raw][sfx_mix]amix=inputs=2:duration=longest:weights=1 0.8:normalize=0[amain]`);\n  } else if (audioUrl) {\n    fp.push(`[tts_raw]acopy[amain]`);\n  } else if (enableBgm) {\n    fp.push(`[bgm]acopy[amain]`);\n  } else {\n    fp.push(`anullsrc=r=44100:cl=stereo,atrim=duration=${totalDuration.toFixed(2)}[amain]`);\n  }\n\n  // 상단 제목 + 하단 자막\n  let ov = `[vconcat]drawbox=y=40:w=${W}:h=280:color=#000000@1.0:t=fill`;\n  if (topicText) {\n    ov += `,drawtext=expansion=none:text='${topicText}':fontsize=72:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=12`;\n  }\n  for (const sub of subtitles) {\n    const st = escMulti(wrap(sub.text, 12));\n    if (!st) continue;\n    ov += `,drawtext=expansion=none:text='${st}':fontsize=70:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-280:line_spacing=8:borderw=4:bordercolor=black:enable='between(t\\\\,${sub.start.toFixed(2)}\\\\,${(sub.start + sub.duration).toFixed(2)})'`;\n  }\n  ov += '[vfinal]';\n  fp.push(ov);\n\n  const payload = {\n    inputs,\n    filters: [{ filter: fp.join(';') }],\n    outputs: [{ options: [\n      { option: '-map', argument: '[vfinal]' }, { option: '-map', argument: '[amain]' },\n      { option: '-c:v', argument: 'libx264' }, { option: '-preset', argument: 'fast' }, { option: '-crf', argument: '23' },\n      { option: '-c:a', argument: 'aac' }, { option: '-b:a', argument: '192k' },\n      { option: '-pix_fmt', argument: 'yuv420p' }, { option: '-movflags', argument: '+faststart' },\n      { option: '-t', argument: totalDuration.toFixed(2) }\n    ], file_name: 'ao_slideshow.mp4' }]\n  };\n\n  const ncaResp = await this.helpers.httpRequest({\n    method: 'POST', url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: { 'x-api-key': 'nca-sagong-2026', 'Content-Type': 'application/json' },\n    body: payload, json: true, timeout: 600000\n  });\n\n  let videoUrl = '';\n  if (Array.isArray(ncaResp.response)) videoUrl = ncaResp.response[0]?.file_url || '';\n  else if (typeof ncaResp.response === 'string') videoUrl = ncaResp.response;\n  else videoUrl = ncaResp.output_url || ncaResp.url || ncaResp.video_url || '';\n  if (!videoUrl) throw new Error('NCA 슬라이드쇼 URL 없음: ' + JSON.stringify(ncaResp).substring(0, 500));\n\n  return [{ json: { id: 'nca-slideshow', status: 'succeeded', url: videoUrl } }];\n\n} else {\n  // ===== AI_VIDEO =====\n  const klingVideoUrls = job.kling_video_urls || (job.kling_video_url ? [job.kling_video_url] : []);\n  if (klingVideoUrls.length === 0) throw new Error('ai_video: kling_video_url(s) 없음');\n  const videoDuration = job.total_duration || parseInt(job.clip_duration) || 8;\n  const isMultiClip = klingVideoUrls.length > 1;\n\n  // 영상 클립 입력\n  const videoStartIdx = idx;\n  for (const vUrl of klingVideoUrls) {\n    inputs.push({ file_url: ensureExtension(vUrl, 'mp4'), options: [] }); idx++;\n  }\n\n  const audioIdx = idx;\n  if (audioUrl) { inputs.push({ file_url: ensureExtension(audioUrl, 'mp3'), options: [] }); idx++; }\n\n  let bgmIdx = -1;\n  if (enableBgm) {\n    bgmIdx = idx;\n    inputs.push({ file_url: ensureExtension(bgmUrl, 'mp3'), options: [{ option: '-stream_loop', argument: '-1' }] }); idx++;\n  }\n\n  // F-9: 동적 SFX 타이밍 (sfx_timings 배열 사용)\n  const sfxTimings = job.sfx_timings || [];\n  const sfxIndices = [];\n  if (enableSfx && sfxTimings.length > 0) {\n    for (const st of sfxTimings) {\n      sfxIndices.push({ idx: idx, ms: Math.round(st.start * 1000) });\n      inputs.push({ file_url: SFX_ACTIVE_URL, options: [] }); idx++;\n    }\n  } else if (enableSfx) {\n    // fallback: 단일 SFX at 500ms\n    sfxIndices.push({ idx: idx, ms: 500 });\n    inputs.push({ file_url: SFX_ACTIVE_URL, options: [] }); idx++;\n  }\n\n  let fp = [];\n  // 영상: 풀프레임 확대 crop — 멀티클립 concat 대응\n  if (isMultiClip) {\n    for (let vi = 0; vi < klingVideoUrls.length; vi++) {\n      fp.push(`[${videoStartIdx + vi}:v]scale=${W}:${H}:force_original_aspect_ratio=increase,crop=${W}:${H},setsar=1,fps=30[v${vi}]`);\n    }\n    fp.push(`${klingVideoUrls.map((_, i) => `[v${i}]`).join('')}concat=n=${klingVideoUrls.length}:v=1:a=0[vscaled]`);\n  } else {\n    fp.push(`[${videoStartIdx}:v]scale=${W}:${H}:force_original_aspect_ratio=increase,crop=${W}:${H},setsar=1,fps=30[vscaled]`);\n  }\n\n  if (audioUrl) fp.push(`[${audioIdx}:a]atrim=duration=${totalDuration.toFixed(2)},asetpts=PTS-STARTPTS[tts_raw]`);\n\n  if (enableBgm && bgmIdx >= 0) {\n    const bgmTotalDur = totalDuration + 2;\n    fp.push(`[${bgmIdx}:a]atrim=duration=${bgmTotalDur.toFixed(2)},asetpts=PTS-STARTPTS,afade=t=out:st=${Math.max(0, totalDuration - 2).toFixed(2)}:d=2[bgm]`);\n  }\n\n  // F-9: 동적 SFX 필터 (각 타이밍에 adelay 적용)\n  if (enableSfx && sfxIndices.length > 0) {\n    sfxIndices.forEach((s, i) => fp.push(`[${s.idx}:a]atrim=duration=0.3,asetpts=PTS-STARTPTS,volume=0.6,adelay=${s.ms}|${s.ms}[sfx${i}]`));\n    if (sfxIndices.length > 1) {\n      fp.push(`${sfxIndices.map((_,i) => `[sfx${i}]`).join('')}amix=inputs=${sfxIndices.length}:duration=longest:normalize=0[sfx_mix]`);\n    } else {\n      fp.push(`[sfx0]acopy[sfx_mix]`);\n    }\n  }\n\n  // 오디오 조합\n  const hasSfx = enableSfx && sfxIndices.length > 0;\n  if (audioUrl && enableBgm && hasSfx) {\n    fp.push(`[tts_raw][bgm][sfx_mix]amix=inputs=3:duration=longest:weights=1 1 0.8:normalize=0[amain]`);\n  } else if (audioUrl && enableBgm) {\n    fp.push(`[tts_raw][bgm]amix=inputs=2:duration=longest:weights=1 1:normalize=0[amain]`);\n  } else if (audioUrl && hasSfx) {\n    fp.push(`[tts_raw][sfx_mix]amix=inputs=2:duration=longest:weights=1 0.8:normalize=0[amain]`);\n  } else if (audioUrl) {\n    fp.push(`[tts_raw]acopy[amain]`);\n  } else if (enableBgm) {\n    fp.push(`[bgm]acopy[amain]`);\n  } else {\n    fp.push(`anullsrc=r=44100:cl=stereo,atrim=duration=${totalDuration.toFixed(2)}[amain]`);\n  }\n\n  // 상단 제목 + 하단 자막\n  let ov = `[vscaled]drawbox=y=40:w=${W}:h=280:color=#000000@1.0:t=fill`;\n  if (topicText) {\n    ov += `,drawtext=expansion=none:text='${topicText}':fontsize=72:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=12`;\n  }\n  for (const sub of subtitles) {\n    const st = escMulti(wrap(sub.text, 12));\n    if (!st) continue;\n    ov += `,drawtext=expansion=none:text='${st}':fontsize=70:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-280:line_spacing=8:borderw=4:bordercolor=black:enable='between(t\\\\,${sub.start.toFixed(2)}\\\\,${(sub.start + sub.duration).toFixed(2)})'`;\n  }\n  ov += '[vfinal]';\n  fp.push(ov);\n\n  const payload = {\n    inputs,\n    filters: [{ filter: fp.join(';') }],\n    outputs: [{ options: [\n      { option: '-map', argument: '[vfinal]' }, { option: '-map', argument: '[amain]' },\n      { option: '-c:v', argument: 'libx264' }, { option: '-preset', argument: 'fast' }, { option: '-crf', argument: '23' },\n      { option: '-c:a', argument: 'aac' }, { option: '-b:a', argument: '192k' },\n      { option: '-pix_fmt', argument: 'yuv420p' }, { option: '-movflags', argument: '+faststart' },\n      { option: '-t', argument: totalDuration.toFixed(2) }\n    ], file_name: 'ao_video.mp4' }]\n  };\n\n  const ncaResp = await this.helpers.httpRequest({\n    method: 'POST', url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: { 'x-api-key': 'nca-sagong-2026', 'Content-Type': 'application/json' },\n    body: payload, json: true, timeout: 600000\n  });\n\n  let videoUrl = '';\n  if (Array.isArray(ncaResp.response)) videoUrl = ncaResp.response[0]?.file_url || '';\n  else if (typeof ncaResp.response === 'string') videoUrl = ncaResp.response;\n  else videoUrl = ncaResp.output_url || ncaResp.url || ncaResp.video_url || '';\n  if (!videoUrl) throw new Error('NCA ai_video URL 없음: ' + JSON.stringify(ncaResp).substring(0, 500));\n\n  return [{ json: { id: 'nca-aivideo', status: 'succeeded', url: videoUrl } }];\n}\n"
      },
      "id": "render-video",
      "name": "최종 영상 합성 (Creatomate)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// NCA 응답: 이미 완료, 폴링 불필요 (slideshow + ai_video 모두)\nconst renderResponse = $input.first().json;\nif (renderResponse.status === 'succeeded' && renderResponse.url) {\n  const prevData = $('멀티씬 순차 처리').first().json;\n  return [{ json: {\n    ...prevData,\n    rendered_video_url: renderResponse.url,\n    render_id: renderResponse.id || 'nca'\n  } }];\n}\n\n// fallback: Creatomate 폴링 (비활성화 상태이지만 보존)\nconst renderId = renderResponse.id;\nconst apiKey = $env.CREATOMATE_API_KEY;\nif (!renderId || !apiKey) throw new Error('render_id 또는 API key 없음');\n\nfor (let i = 0; i < 60; i++) {\n  await new Promise(r => setTimeout(r, 10000));\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.creatomate.com/v1/renders/${renderId}`,\n    headers: { 'Authorization': `Bearer ${apiKey}` },\n    json: true\n  });\n  if (resp.status === 'succeeded') {\n    const prevData = $('멀티씬 순차 처리').first().json;\n    return [{ json: { ...prevData, rendered_video_url: resp.url, render_id: renderId } }];\n  }\n  if (resp.status === 'failed') throw new Error('Creatomate 렌더 실패: ' + (resp.error_message || ''));\n}\nthrow new Error('렌더링 타임아웃 (600초)');"
      },
      "id": "poll-render",
      "name": "렌더링 대기 (폴링)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7uzM44eLOitv8ubQ",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs\nSET status = 'generated',\n    rendered_video_url = '{{ $json.rendered_video_url }}',\n    render_id = '{{ $json.render_id }}',\n    prompt_hash = '{{ $json.prompt_hash }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}';\n\nINSERT INTO job_logs (job_id, level, message, detail)\nSELECT '{{ $json.id }}'::uuid, 'info', 'verify_mode: output_hash',\n  json_build_object(\n    'output_hash', '{{ $json.output_hash || \"\" }}',\n    'length_gate_status', '{{ $json.length_gate_status || \"no_gate\" }}',\n    'total_duration', {{ $json.total_duration || 0 }},\n    'target_duration', {{ $json.target_duration || 0 }},\n    'prompt_lock_action', '{{ $json.prompt_lock_action || \"none\" }}',\n    'length_gate_log', '{{ $json.length_gate_log || \"\" }}',\n    'clip_count', {{ $json.clip_count || 1 }},\n    'tts_duration', {{ $json.tts_duration || 0 }},\n    'scene_duration', {{ $json.scene_duration || 0 }},\n    'total_duration_source', '{{ $json.total_duration_source || \"tts\" }}',\n    'sfx_count', {{ ($json.sfx_timings || []).length || 0 }}\n  )::jsonb\nWHERE '{{ $json.verify_mode }}' = 'true';\n\nINSERT INTO job_logs (job_id, level, message, detail)\nSELECT '{{ $json.id }}'::uuid, 'info', 'prompt_lock: regenerated',\n  json_build_object(\n    'old_hash', '{{ $json.prompt_hash_current || \"\" }}',\n    'new_hash', '{{ $json.prompt_hash || \"\" }}'\n  )::jsonb\nWHERE '{{ $json.prompt_lock_action }}' = 'regenerated';\n\nSELECT * FROM jobs WHERE id = '{{ $json.id }}';",
        "options": {}
      },
      "id": "mark-generated",
      "name": "상태 → generated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3328,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status = 'uploading', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
        "options": {}
      },
      "id": "mark-uploading",
      "name": "상태 → uploading",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3552,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs\nSET status = 'uploaded',\n    youtube_video_id = '{{ $json.youtube_video_id }}',\n    youtube_url = '{{ $json.youtube_url }}',\n    completed_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\nRETURNING *;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.id }}',\n  'info',\n  'YouTube 업로드 완료',\n  NOW()\n);",
        "options": {}
      },
      "id": "mark-uploaded",
      "name": "상태 → uploaded",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3984,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ 에러 핸들러 — 재시도 로직\nconst error = $input.first().json;\nconst jobId = $('큐에서 Job 꺼내기').first().json?.id;\n\nif (!jobId) return [];\n\nreturn [{\n  json: {\n    job_id: jobId,\n    error_message: error.message || JSON.stringify(error),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "handle-error",
      "name": "에러 캡처",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs\nSET retry_count = retry_count + 1,\n    status = CASE\n      WHEN retry_count + 1 >= 3 THEN 'failed'\n      ELSE 'queued'\n    END,\n    last_error = '{{ $json.error_message }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.job_id }}'\nRETURNING id, status, retry_count;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.job_id }}',\n  'error',\n  '{{ $json.error_message }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "retry-or-fail",
      "name": "재시도 or 실패 처리",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2224,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-job",
      "name": "대기 (Job 없음)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        528
      ],
      "id": "2b83b859-bae3-46a9-b29b-495a5e214a13",
      "name": "수동 실행"
    },
    {
      "parameters": {
        "jsCode": "// 영상/슬라이드쇼 처리 — use_mode + generated_images + kie.ai TTS\nconst job = $input.first().json;\nlet files = job.files || [];\nif (typeof files === 'string') { try { files = JSON.parse(files); } catch(e) { files = []; } }\nconst hasDirect = Array.isArray(files) && files.some(f => f.use_mode === 'direct' && f.type === 'image');\nconst productionMode = job.production_mode || (hasDirect ? 'ai_video' : 'ai_video');\n\nlet generatedImages = job.generated_images || [];\nif (typeof generatedImages === 'string') { try { generatedImages = JSON.parse(generatedImages); } catch(e) { generatedImages = []; } }\n\nconst apiKey = $env.KIEAI_API_KEY;\nconst aspectRatio = job.aspect_ratio || '9:16';\nconst promptBase = job.prompt_en || job.prompt_to_engine || job.prompt_p1;\n\n// bgm_mode / sfx_mode fallback (하위 호환)\nlet bgmMode = job.bgm_mode || (job.enable_bgm === true ? 'ai_auto' : 'none');\nlet sfxMode = job.sfx_mode || (job.enable_sfx === true ? 'ai_auto' : 'none');\nconst sfxFileUrl = job.sfx_file_url || '';\nconst imageOrder = job.image_order || 'sequential';\n\n// kie.ai 폴링 (공통)\nasync function pollTask(taskId) {\n  for (let i = 0; i < 90; i++) {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.kie.ai/api/v1/jobs/recordInfo?taskId=${taskId}`,\n      headers: { 'Authorization': `Bearer ${apiKey}` },\n      json: true\n    });\n    const state = resp?.data?.state;\n    if (state === 'success') {\n      const result = JSON.parse(resp.data.resultJson || '{}');\n      return result.resultUrls?.[0] || null;\n    }\n    if (state === 'failed' || state === 'fail') {\n      throw new Error(`Task 실패: ${resp.data.failMsg || state}`);\n    }\n    await new Promise(r => setTimeout(r, 10000));\n  }\n  throw new Error('Task 타임아웃 (900초)');\n}\n\n// kie.ai 이미지 생성\nasync function generateImage(prompt) {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: { model: 'nano-banana-pro', input: { prompt: prompt, aspect_ratio: aspectRatio } },\n    json: true\n  });\n  const taskId = resp?.data?.taskId;\n  if (!taskId) throw new Error('이미지 생성 taskId 없음');\n  return await pollTask.call(this, taskId);\n}\n\n// Claude 나레이션 스크립트 생성\nasync function generateNarration(rawText, job) {\n  if (!rawText) return rawText;\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) return rawText;\n  try {\n    // SPEC 4조: topic/keywords/category는 나레이션 생성에 영향 금지\n    // prompt_p1만 소스로 사용\n    const context = rawText;\n\n    // narration_style + narration_tone\n    const style = job.narration_style || '설명형';\n    const tone = job.narration_tone || '차분하게';\n    const styleGuide = `스타일: ${style}, 톤: ${tone}`;\n\n    // target_duration 기반 분량 계산 (한국어 TTS 약 4.5자/초)\n    const targetDur = job.target_duration || job.duration || null;\n    let lengthGuide = '30초~1분 분량 (150~300자)';\n    if (targetDur) {\n      const targetChars = Math.round(targetDur * 4.5);\n      const minChars = Math.round(targetChars * 0.85);\n      const maxChars = Math.round(targetChars * 1.0);\n      lengthGuide = `정확히 약 ${targetDur}초 분량 (${minChars}~${maxChars}자). 이 글자수를 반드시 맞춰줘`;\n    }\n\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 2048,\n        messages: [{\n          role: 'user',\n          content: `다음 내용을 기반으로 영상 나레이션 스크립트를 작성해줘.\\n- ${styleGuide}\\n- 한국어 자연스러운 구어체\\n- 시청자 관심을 끄는 도입부\\n- ${lengthGuide}\\n- 나레이션 텍스트만 출력 (설명/마크다운/제목 금지)\\n\\n${context}`\n        }]\n      },\n      json: true\n    });\n    const narration = resp?.content?.[0]?.text;\n    return narration && narration.trim().length > 10 ? narration.trim() : rawText;\n  } catch (e) {\n    return rawText;\n  }\n}\n\n// kie.ai TTS 생성 (ElevenLabs multilingual v2) — 429 재시도 포함\nasync function generateTTS(text) {\n  if (!text) return { audioUrl: null, duration: 0 };\n  let audioUrl = null;\n  for (let attempt = 0; attempt < 3; attempt++) {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/jobs/createTask',\n      headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n      body: {\n        model: 'elevenlabs/text-to-speech-multilingual-v2',\n        input: { text: text, voice_id: 'EXAVITQu4vr4xnSDxMaL' }\n      },\n      json: true\n    });\n    const taskId = resp?.data?.taskId;\n    if (!taskId) throw new Error('TTS taskId 없음');\n    try {\n      audioUrl = await pollTask.call(this, taskId);\n      break;\n    } catch(e) {\n      if (attempt < 2 && (e.message.includes('internal error') || e.message.includes('429'))) {\n        await new Promise(r => setTimeout(r, 30000 * (attempt + 1)));\n        continue;\n      }\n      throw e;\n    }\n  }\n  // ffprobe로 실제 오디오 길이 측정\n  let actualDuration = 0;\n  if (audioUrl) {\n    try {\n      const probeResp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'http://76.13.182.180:8080/v1/toolkit/ffprobe',\n        headers: { 'x-api-key': 'nca-sagong-2026', 'Content-Type': 'application/json' },\n        body: { file_url: audioUrl },\n        json: true,\n        timeout: 30000\n      });\n      const streams = probeResp?.streams || probeResp?.format || {};\n      actualDuration = parseFloat(probeResp?.format?.duration || streams?.duration || '0');\n    } catch(e) { /* ffprobe 실패 시 추정값 사용 */ }\n  }\n  const estimatedDuration = Math.max(3, text.replace(/\\s+/g, '').length / 4.5);\n  const duration = actualDuration > 0 ? actualDuration : estimatedDuration;\n  return { audioUrl, duration };\n}\n\n// F-10: AI 장면-이미지 자동 매칭\nasync function matchImageToScene(images, files, promptP1, narrationText) {\n  if (!images || images.length < 2) return images;\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) return images;\n\n  // files에서 vision_analysis 추출\n  const analyses = [];\n  for (let i = 0; i < images.length; i++) {\n    const matchFile = Array.isArray(files) ? files.find(f => f.url === images[i]) : null;\n    analyses.push({\n      index: i,\n      url: images[i],\n      analysis: matchFile?.vision_analysis || matchFile?.auto_prompt || `이미지 ${i + 1}`\n    });\n  }\n\n  try {\n    const analysisStr = analyses.map(a => `[${a.index}] ${a.analysis}`).join('\\n');\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 512,\n        messages: [{\n          role: 'user',\n          content: `영상 프롬프트와 나레이션 흐름에 맞게 이미지 순서를 재배치해줘.\n\n프롬프트: ${promptP1 || ''}\n나레이션: ${narrationText || ''}\n\n이미지 목록 (현재 순서):\n${analysisStr}\n\n규칙:\n- 나레이션/프롬프트의 서사 흐름에 맞는 순서로 재배치\n- 도입부에 어울리는 이미지를 먼저, 클라이맥스/결론에 어울리는 이미지를 나중에\n- 원본 index 번호의 배열로만 응답해. 다른 텍스트 금지\n\n예시 응답: [2, 0, 1, 3]`\n        }]\n      },\n      json: true\n    });\n\n    const raw = (resp?.content?.[0]?.text || '').trim();\n    const jsonStr = raw.replace(/^\\`\\`\\`json?\\n?/i, '').replace(/\\n?\\`\\`\\`$/i, '').trim();\n    const order = JSON.parse(jsonStr);\n\n    if (Array.isArray(order) && order.length === images.length) {\n      const valid = order.every(i => typeof i === 'number' && i >= 0 && i < images.length);\n      const unique = new Set(order).size === order.length;\n      if (valid && unique) {\n        return order.map(i => images[i]);\n      }\n    }\n    return images;\n  } catch(e) {\n    return images;\n  }\n}\n\n// use_mode별 이미지 처리 (direct / analysis_only)\nasync function processFilesByUseMode(fileList) {\n  const imageUrls = [];\n  for (const f of fileList) {\n    if (f.type !== 'image') continue;\n    const mode = f.use_mode || 'direct';\n    if (mode === 'direct') {\n      if (f.url) imageUrls.push(f.url);\n    } else if (mode === 'analysis_only') {\n      const prompt = f.auto_prompt || f.vision_analysis || 'Cinematic image, high quality.';\n      const url = await generateImage.call(this, prompt);\n      if (url) imageUrls.push(url);\n    }\n  }\n  return imageUrls;\n}\n\n// 자막 타이밍 배치 (Claude API) + fallback (글자수 비율)\nasync function buildSubtitleTimings(promptP1, narrationText, targetDuration) {\n  const result = { scene_duration: targetDuration, subtitle_timings: [] };\n  if (!narrationText || !narrationText.trim()) return result;\n\n  // fallback: 글자수 비율 배분\n  function fallbackTimings(text, dur) {\n    const sentences = text.split(/(?<=[.!?\\u3002\\uFF01\\uFF1F])\\s*/).filter(s => s.trim());\n    if (sentences.length === 0) return [];\n    const totalChars = sentences.reduce((sum, s) => sum + s.replace(/\\s+/g, '').length, 0);\n    let offset = 0;\n    return sentences.map(s => {\n      const chars = s.replace(/\\s+/g, '').length;\n      const d = totalChars > 0 ? (chars / totalChars) * dur : dur / sentences.length;\n      const seg = { text: s.trim(), start: parseFloat(offset.toFixed(2)), duration: parseFloat(d.toFixed(2)) };\n      offset += d;\n      return seg;\n    });\n  }\n\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) {\n    result.subtitle_timings = fallbackTimings(narrationText, targetDuration);\n    result.scene_duration = targetDuration;\n    return result;\n  }\n\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 2048,\n        messages: [{\n          role: 'user',\n          content: `나레이션 텍스트를 자막 구간으로 분리하고 타이밍을 배정해줘.\n\n규칙:\n- 자연스러운 호흡/문장 단위로 분리 (한 구간 최대 15자)\n- 각 구간의 start(시작 초)와 duration(지속 초)을 배정\n- 한국어 TTS 발화 속도 약 4.5자/초 기준\n- 구간 사이에 0.2~0.5초 호흡 간격 포함\n- 강조 구간은 duration을 약간 길게 (1.2배)\n- 총 길이가 ${targetDuration}초에 맞도록 조절\n- 마지막 구간 종료 시점 = scene_duration\n\n나레이션:\n${narrationText}\n\n반드시 아래 JSON 형식으로만 응답해. 다른 텍스트 금지:\n{\"scene_duration\": 숫자, \"subtitle_timings\": [{\"text\": \"자막텍스트\", \"start\": 0.0, \"duration\": 3.5}]}`\n        }]\n      },\n      json: true\n    });\n\n    const raw = (resp?.content?.[0]?.text || '').trim();\n    const jsonStr = raw.replace(/^```json?\\n?/i, '').replace(/\\n?```$/i, '').trim();\n    const parsed = JSON.parse(jsonStr);\n\n    if (parsed.subtitle_timings && Array.isArray(parsed.subtitle_timings) && parsed.subtitle_timings.length > 0) {\n      result.subtitle_timings = parsed.subtitle_timings.map(t => ({\n        text: String(t.text || ''),\n        start: parseFloat(t.start) || 0,\n        duration: parseFloat(t.duration) || 1\n      }));\n      const last = result.subtitle_timings[result.subtitle_timings.length - 1];\n      result.scene_duration = parseFloat(parsed.scene_duration) || (last.start + last.duration);\n    } else {\n      result.subtitle_timings = fallbackTimings(narrationText, targetDuration);\n    }\n  } catch(e) {\n    result.subtitle_timings = fallbackTimings(narrationText, targetDuration);\n    result.scene_duration = targetDuration;\n  }\n\n  return result;\n}\n\n\n// F-9: AI 효과음 타이밍 생성 (Claude API)\nasync function generateSfxTimings(promptP1, subtitleTimings) {\n  if (!subtitleTimings || subtitleTimings.length === 0) return [];\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) return [];\n\n  try {\n    const timingsStr = subtitleTimings.map(t => `[${t.start.toFixed(1)}s~${(t.start+t.duration).toFixed(1)}s] ${t.text}`).join('\\n');\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 1024,\n        messages: [{\n          role: 'user',\n          content: `영상 나레이션에 어울리는 효과음 타이밍을 결정해줘.\n\n프롬프트: ${promptP1 || ''}\n\n나레이션 타이밍:\n${timingsStr}\n\n규칙:\n- 최대 5개 효과음 (너무 많으면 산만)\n- 장면 전환, 강조, 등장 순간에 배치\n- 나레이션과 겹치지 않는 호흡 구간(0.2~0.5초 갭)에 우선 배치\n- start는 초 단위, duration은 0.2~0.5초\n- description은 한국어로 간단하게\n\n반드시 아래 JSON 배열로만 응답해. 다른 텍스트 금지:\n[{\"description\": \"효과음 설명\", \"start\": 0.0, \"duration\": 0.3}]`\n        }]\n      },\n      json: true\n    });\n\n    const raw = (resp?.content?.[0]?.text || '').trim();\n    const jsonStr = raw.replace(/^\\`\\`\\`json?\\n?/i, '').replace(/\\n?\\`\\`\\`$/i, '').trim();\n    const parsed = JSON.parse(jsonStr);\n\n    if (Array.isArray(parsed)) {\n      return parsed.slice(0, 5).map(s => ({\n        description: String(s.description || ''),\n        start: parseFloat(s.start) || 0,\n        duration: parseFloat(s.duration) || 0.3\n      }));\n    }\n    return [];\n  } catch(e) {\n    return [];\n  }\n}\n\n// ===== SLIDESHOW 모드 =====\nif (productionMode === 'slideshow') {\n  // use_mode별 이미지 처리\n  const processedImages = await processFilesByUseMode.call(this, files);\n  // generated_images 합류\n  let allImages = [...processedImages, ...generatedImages].filter(Boolean);\n  if (allImages.length === 0) throw new Error('slideshow: 사용 가능한 이미지 없음');\n\n  // 나레이션 텍스트\n  let ttsText;\n  if ((job.narration_script || job.narration_text) && (job.narration_script || job.narration_text).trim()) {\n    ttsText = (job.narration_script || job.narration_text).trim();\n  } else {\n    const rawText = (job.prompt_p1 || job.topic || '').replace(/<[^>]*>?/gm, '');\n    if (!rawText) throw new Error('slideshow: 나레이션 텍스트(prompt_p1 또는 topic) 없음');\n    ttsText = await generateNarration.call(this, rawText, job);\n  }\n\n  // TTS 생성\n  const tts = await generateTTS.call(this, ttsText);\n  if (!tts.audioUrl) throw new Error('TTS 생성 실패');\n\n  const audioDuration = tts.duration;\n  const imgDuration = audioDuration / allImages.length;\n  const timingResult = await buildSubtitleTimings.call(this, job.prompt_p1 || '', ttsText, audioDuration);\n  const subtitles = timingResult.subtitle_timings;\n\n  // === Length Gate (slideshow) ===\n  const targetDuration = job.target_duration || job.duration || null;\n  const maxDuration = targetDuration ? targetDuration + 1 : null;\n  const strictMode = job.strict_mode === true;\n  let lengthGateStatus = 'no_gate';\n  let adjustedAudioDuration = audioDuration;\n\n  if (targetDuration) {\n    if (audioDuration <= maxDuration) {\n      lengthGateStatus = 'pass';\n    } else if (strictMode) {\n      lengthGateStatus = 'blocked';\n      throw new Error(`LENGTH_GATE_BLOCKED: ${audioDuration}s > max ${maxDuration}s (strict_mode)`);\n    } else {\n      lengthGateStatus = 'over_soft';\n    }\n  }\n\n  // === Verify Mode: output_hash ===\n  const verifyMode = job.verify_mode === true;\n  let outputHash = null;\n  if (verifyMode) {\n    const hashInput = JSON.stringify({\n      prompt_to_engine: job.prompt_to_engine || '',\n      production_mode: 'slideshow',\n      slide_count: allImages.length,\n      aspect_ratio: job.aspect_ratio || '9:16',\n      target_duration: targetDuration,\n      tts_text: ttsText || '',\n      total_duration: audioDuration\n    });\n    let oh = 0x811c9dc5;\n    for (let i = 0; i < hashInput.length; i++) {\n      oh ^= hashInput.charCodeAt(i);\n      oh = Math.imul(oh, 0x01000193);\n    }\n    outputHash = (oh >>> 0).toString(16).padStart(8, '0');\n  }\n\n  return [{\n    json: {\n      ...job,\n      production_mode: 'slideshow',\n      slide_image_urls: allImages,\n      tts_audio_url: tts.audioUrl,\n      tts_duration: audioDuration,\n      tts_text: ttsText,\n      tts_subtitles: subtitles,\n      img_duration: imgDuration,\n      scene_results: allImages.map((url, i) => ({\n        index: i, image_url: url, start: i * imgDuration, duration: imgDuration, type: 'slide'\n      })),\n      total_scenes: allImages.length,\n      total_duration: audioDuration,\n      bgm_mode: bgmMode,\n      sfx_mode: sfxMode,\n      bgm_url: job.bgm_url || '',\n      sfx_file_url: sfxFileUrl,\n      length_gate_status: lengthGateStatus,\n      target_duration: targetDuration,\n      max_duration: maxDuration,\n      verify_mode: verifyMode,\n      output_hash: outputHash\n    }\n  }];\n}\n\n// ===== AI_VIDEO 모드 =====\n// use_mode별 이미지 처리\nconst processedImages = await processFilesByUseMode.call(this, files);\n// direct 모드 이미지 별도 추적\nconst directImages = Array.isArray(files) ? files.filter(f => f.type === 'image' && (f.use_mode || 'direct') === 'direct' && f.url).map(f => f.url) : [];\n// generated_images 합류\nconst allImages = [...processedImages, ...generatedImages].filter(Boolean);\n\n// clip_duration 자동/고정 판별\nconst clipDurMode = job.clip_duration_mode || 'fixed';\nconst isAutoClip = clipDurMode === 'auto' || String(job.clip_duration).toLowerCase() === 'auto';\nconst fixedClipDur = isAutoClip ? 8 : (parseInt(job.clip_duration) || 8);\n\n// ① 나레이션 텍스트 (Kling 전에 준비 — auto 모드에서 TTS 길이 필요)\nlet ttsText;\nif ((job.narration_script || job.narration_text) && (job.narration_script || job.narration_text).trim()) {\n  ttsText = (job.narration_script || job.narration_text).trim();\n} else {\n  const rawText = (job.prompt_p1 || job.topic || '').replace(/<[^>]*>?/gm, '');\n  ttsText = rawText ? await generateNarration.call(this, rawText, job) : '';\n}\n\n// F-10: image_order=auto → AI 장면-이미지 매칭 (나레이션 텍스트 확보 후)\nif (imageOrder === 'auto' && allImages.length >= 2) {\n  allImages = await matchImageToScene.call(this, allImages, files, job.prompt_p1 || '', ttsText || '');\n}\n\n// ② TTS 생성 + ffprobe (Kling 전에 실행)\nconst targetDur = job.target_duration || job.duration || null;\nlet tts = ttsText ? await generateTTS.call(this, ttsText) : { audioUrl: null, duration: fixedClipDur };\n\n// Length Gate 보정: TTS가 목표보다 짧으면 나레이션 재생성 1회\nconst minAcceptable = job.strict_mode === true ? (targetDur - 1) : (targetDur - 3);\nif (targetDur && tts.audioUrl && tts.duration < minAcceptable && !(job.narration_script || job.narration_text)) {\n  const rawText = (job.prompt_p1 || job.topic || '').replace(/<[^>]*>?/gm, '');\n  if (rawText) {\n    const retryText = await generateNarration.call(this, rawText, { ...job, target_duration: targetDur });\n    if (retryText && retryText.length > ttsText.length) {\n      ttsText = retryText;\n      tts = await generateTTS.call(this, ttsText);\n    }\n  }\n}\n\n// ③ clipDur + 멀티클립 계산 (scenes 대응)\nconst scenes = job.scenes || [];\nconst hasScenes = scenes.length > 0;\nconst targetLen = targetDur || (isAutoClip ? tts.duration : fixedClipDur);\nconst MAX_CLIP_SEC = 15;\nconst clipCount = hasScenes ? scenes.length : (targetLen > MAX_CLIP_SEC ? Math.ceil(targetLen / MAX_CLIP_SEC) : 1);\nconst perClipSec = hasScenes ? 0 : Math.max(3, Math.min(MAX_CLIP_SEC, Math.ceil(targetLen / clipCount)));\nconst clipDur = isAutoClip ? (tts.duration || targetLen) : (clipCount > 1 ? perClipSec : fixedClipDur);\n\n// ④ Kling 영상 생성 (멀티클립 대응)\nconst skipKlingFile = Array.isArray(files) && files.find(f => f.skip_kling === true && f.url);\nlet videoUrls = [];\n\nif (skipKlingFile) {\n  videoUrls = [skipKlingFile.url];\n} else {\n  for (let ci = 0; ci < clipCount; ci++) {\n    const scenePrompt = hasScenes ? (scenes[ci].prompt || promptBase) : promptBase;\n    const sceneDurSec = hasScenes ? Math.max(3, Math.min(MAX_CLIP_SEC, parseInt(scenes[ci].duration_sec) || perClipSec)) : perClipSec;\n    const klingDuration = String(Math.max(3, Math.min(MAX_CLIP_SEC, Math.ceil(sceneDurSec))));\n    const klingInput = {\n      prompt: scenePrompt,\n      aspect_ratio: aspectRatio,\n      mode: 'std',\n      sound: false,\n      duration: klingDuration,\n      multi_shots: false\n    };\n\n    if (allImages.length > 0) {\n      klingInput.image_urls = allImages.slice(0, 2);\n    }\n\n    let taskResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/jobs/createTask',\n      headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n      body: { model: 'kling-3.0/video', input: klingInput },\n      json: true\n    });\n\n    // 이미지 URL 실패 시 처리 (direct 이미지는 유지)\n    if (taskResp?.code !== 200 && klingInput.image_urls) {\n      if (directImages.length > 0) {\n        throw new Error('Kling image_urls 실패 (direct 이미지 포함): code=' + (taskResp?.code || 'unknown') + ', msg=' + JSON.stringify(taskResp?.message || taskResp?.msg || '').substring(0, 200));\n      }\n      delete klingInput.image_urls;\n      taskResp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.kie.ai/api/v1/jobs/createTask',\n        headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n        body: { model: 'kling-3.0/video', input: klingInput },\n        json: true\n      });\n    }\n\n    const klingTaskId = taskResp?.data?.taskId;\n    if (!klingTaskId) throw new Error('Kling taskId 없음 (clip ' + ci + '): ' + JSON.stringify(taskResp).substring(0, 200));\n    const url = await pollTask.call(this, klingTaskId);\n    if (!url) throw new Error('Kling 영상 URL 없음 (clip ' + ci + ')');\n    videoUrls.push(url);\n  }\n}\n\n// ⑤ totalDuration 계산\nconst videoDuration = hasScenes ? scenes.reduce((s, sc) => s + Math.max(3, Math.min(MAX_CLIP_SEC, parseInt(sc.duration_sec) || 5)), 0) : perClipSec * clipCount;\nlet totalDuration = tts.audioUrl ? Math.max(videoDuration, tts.duration) : videoDuration;\nlet subtitles = [];\nlet sceneDuration = 0;\nlet totalDurationSource = 'tts';\nif (ttsText) {\n  const timingResult = await buildSubtitleTimings.call(this, job.prompt_p1 || '', ttsText, totalDuration);\n  subtitles = timingResult.subtitle_timings;\n  sceneDuration = timingResult.scene_duration || 0;\n  // F-8: auto 모드 — TTS 실측 vs scene_duration 긴 쪽 기준\n  if (isAutoClip && sceneDuration > 0) {\n    if (sceneDuration > tts.duration) {\n      totalDuration = sceneDuration;\n      totalDurationSource = 'scene';\n    } else {\n      totalDuration = tts.duration;\n      totalDurationSource = 'tts';\n    }\n  }\n}\n\n// F-9: AI 효과음 타이밍 생성 (ai_auto / combined만)\nlet sfxTimings = [];\nif (subtitles.length > 0 && (sfxMode === 'ai_auto' || sfxMode === 'combined')) {\n  sfxTimings = await generateSfxTimings.call(this, job.prompt_p1 || '', subtitles);\n}\n\n// === Length Gate ===\nconst targetDuration = job.target_duration || job.duration || null;\nconst strictMode = job.strict_mode === true;\nlet lengthGateStatus = 'no_gate';\nlet gateClipCount = 1;\nlet lengthGateLog = '';\n\nif (targetDuration) {\n  // 통과 기준: strict=target±1초, soft=target-3초 이상\n  const maxDuration = strictMode ? targetDuration + 1 : targetDuration + 1;\n  const minDuration = strictMode ? targetDuration - 1 : targetDuration - 3;\n\n  if (totalDuration >= minDuration && totalDuration <= maxDuration) {\n    lengthGateStatus = 'pass';\n  } else if (totalDuration < minDuration) {\n    // 너무 짧음 → clip_count 보정 (영상 클립 반복으로 채움)\n    gateClipCount = Math.ceil(targetDuration / Math.max(totalDuration, 1));\n    const adjustedDuration = totalDuration * gateClipCount;\n    if (adjustedDuration >= minDuration) {\n      lengthGateStatus = 'corrected_short';\n      totalDuration = Math.min(adjustedDuration, targetDuration);\n      lengthGateLog = `짧음 보정: ${gateClipCount}클립, ${adjustedDuration.toFixed(1)}s`;\n    } else if (strictMode) {\n      lengthGateStatus = 'blocked_short';\n      throw new Error(`LENGTH_GATE_BLOCKED: ${totalDuration.toFixed(1)}s < min ${minDuration}s (strict_mode)`);\n    } else {\n      lengthGateStatus = 'under_soft';\n      lengthGateLog = `목표 미달 soft: ${totalDuration.toFixed(1)}s < ${minDuration}s`;\n    }\n  } else {\n    // 너무 김 → clip_count 재계산\n    gateClipCount = Math.ceil(totalDuration / targetDuration);\n    const adjustedDuration = totalDuration / gateClipCount;\n    if (adjustedDuration <= maxDuration && adjustedDuration >= minDuration) {\n      lengthGateStatus = 'corrected_long';\n      totalDuration = adjustedDuration;\n      lengthGateLog = `김 보정: ${gateClipCount}클립, ${adjustedDuration.toFixed(1)}s`;\n    } else if (strictMode) {\n      lengthGateStatus = 'blocked_long';\n      throw new Error(`LENGTH_GATE_BLOCKED: ${totalDuration.toFixed(1)}s > max ${maxDuration}s (strict_mode)`);\n    } else {\n      lengthGateStatus = 'over_soft';\n      lengthGateLog = `목표 초과 soft: ${totalDuration.toFixed(1)}s > ${maxDuration}s`;\n    }\n  }\n}\n\n// === Verify Mode: output_hash 생성 ===\nconst verifyMode = job.verify_mode === true;\nlet outputHash = null;\nif (verifyMode) {\n  const hashInput = JSON.stringify({\n    prompt_to_engine: job.prompt_to_engine || '',\n    production_mode: 'ai_video',\n    clip_duration: clipDur,\n    aspect_ratio: job.aspect_ratio || '9:16',\n    target_duration: targetDuration,\n    tts_text: ttsText || '',\n    total_duration: totalDuration\n  });\n  let oh = 0x811c9dc5;\n  for (let i = 0; i < hashInput.length; i++) {\n    oh ^= hashInput.charCodeAt(i);\n    oh = Math.imul(oh, 0x01000193);\n  }\n  outputHash = (oh >>> 0).toString(16).padStart(8, '0');\n}\n\nreturn [{\n  json: {\n    ...job,\n    production_mode: 'ai_video',\n    kling_video_url: videoUrls[0],\n    kling_video_urls: videoUrls,\n    tts_audio_url: tts.audioUrl,\n    tts_duration: tts.duration,\n    tts_text: ttsText,\n    tts_subtitles: subtitles,\n    scene_results: videoUrls.map((u, i) => ({ index: i, video_url: u, model: 'kling-3.0/video', duration: hasScenes ? parseInt(scenes[i]?.duration_sec) || perClipSec : perClipSec, prompt: hasScenes ? scenes[i]?.prompt : undefined })),\n    total_scenes: clipCount,\n    total_duration: totalDuration,\n    all_images: allImages,\n    direct_image_urls: directImages,\n    bgm_mode: bgmMode,\n    sfx_mode: sfxMode,\n    bgm_url: job.bgm_url || '',\n    sfx_file_url: sfxFileUrl,\n    image_order: imageOrder,\n    length_gate_status: lengthGateStatus,\n    length_gate_log: lengthGateLog,\n    clip_count: clipCount,\n    clip_duration_mode: isAutoClip ? 'auto' : 'fixed',\n    actual_clip_duration: clipDur,\n    per_clip_sec: perClipSec,\n    scene_duration: sceneDuration,\n    total_duration_source: totalDurationSource,\n    sfx_timings: sfxTimings,\n    target_duration: targetDuration,\n    verify_mode: verifyMode,\n    output_hash: outputHash\n  }\n}];\n\n/* === 기존 Seedance 코드 (보존) ===\n// ... Seedance polling + TTS ...\n=== 기존 Seedance 코드 끝 === */"
      },
      "id": "process-clips",
      "name": "멀티씬 순차 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// YouTube 업로드 — 일시 비활성화\nconst job = $input.first().json;\nreturn [{\n  json: {\n    ...job,\n    youtube_video_id: 'skip-' + Date.now(),\n    youtube_url: job.rendered_video_url || ''\n  }\n}];"
      },
      "id": "upload-youtube",
      "name": "YouTube 업로드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ 웹앱 콜백 — 성공 (uploaded)\nconst job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\nif (!productionId || !callbackUrl) {\n  // production_id 또는 콜백 URL 없으면 스킵\n  return [{ json: { ...job, callback_sent: false, reason: 'no production_id or callback_url' } }];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId: productionId,\n      status: 'uploaded',\n      youtubeVideoId: job.youtube_video_id || null,\n      youtubeUrl: job.youtube_url || null,\n      renderedVideoUrl: job.rendered_video_url || null,\n      videoUrl: job.rendered_video_url || null,\n      jobId: job.id\n    },\n    json: true\n  });\n  return [{ json: { ...job, callback_sent: true } }];\n} catch(e) {\n  // 콜백 실패해도 파이프라인은 성공으로 유지\n  return [{ json: { ...job, callback_sent: false, callback_error: e.message } }];\n}"
      },
      "id": "callback-success",
      "name": "웹앱 콜백 (성공)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ 웹앱 콜백 — 실패/재시도\nconst result = $input.first().json;\nconst jobId = result.id || result.job_id;\nconst status = result.status; // 'failed' or 'queued' (retry)\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\n// production_id는 원본 job에서 가져옴\nconst originalJob = $('큐에서 Job 꺼내기').first().json;\nconst productionId = originalJob?.production_id;\n\nif (!productionId || !callbackUrl) {\n  return [{ json: { ...result, callback_sent: false } }];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId: productionId,\n      status: status,\n      error: result.last_error || $('에러 캡처').first().json?.error_message || null,\n      retryCount: result.retry_count || 0,\n      jobId: jobId\n    },\n    json: true\n  });\n  return [{ json: { ...result, callback_sent: true } }];\n} catch(e) {\n  return [{ json: { ...result, callback_sent: false, callback_error: e.message } }];\n}"
      },
      "id": "callback-fail",
      "name": "웹앱 콜백 (실패)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\nif (!productionId || !callbackUrl) return [{ json: job }];\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: { productionId, status: 'processing', jobId: job.id },\n    json: true\n  });\n} catch(e) {}\nreturn [{ json: job }];"
      },
      "id": "cb-processing",
      "name": "콜백 (processing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\nif (!productionId || !callbackUrl) return [{ json: job }];\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: { productionId, status: 'rendering', jobId: job.id },\n    json: true\n  });\n} catch(e) {}\nreturn [{ json: job }];"
      },
      "id": "cb-rendering",
      "name": "콜백 (rendering)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\n// verify_mode: output_hash를 job_logs에 기록\nif (job.verify_mode === true && job.output_hash) {\n  try {\n    const logDetail = JSON.stringify({\n      output_hash: job.output_hash,\n      length_gate_status: job.length_gate_status || 'no_gate',\n      total_duration: job.total_duration || 0,\n      target_duration: job.target_duration || 0,\n      prompt_hash: job.prompt_hash || '',\n      clip_count: job.clip_count || 1\n    });\n    // job_logs INSERT via n8n postgres - use internal API\n    // Note: this runs as a callback, the actual INSERT is handled by the DB node pattern\n    // Store for downstream logging\n    job._verify_log = logDetail;\n  } catch(e) {}\n}\n\nif (!productionId || !callbackUrl) return [{ json: job }];\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId,\n      status: 'generated',\n      jobId: job.id,\n      videoUrl: job.rendered_video_url || null,\n      renderedVideoUrl: job.rendered_video_url || null,\n      output_hash: job.output_hash || null,\n      length_gate_status: job.length_gate_status || null\n    },\n    json: true\n  });\n} catch(e) {}\nreturn [{ json: job }];"
      },
      "id": "cb-generated",
      "name": "콜백 (generated)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "prompt-lock-check",
              "leftValue": "={{ $json.prompt_lock_valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "prompt-lock-if",
      "name": "Prompt Lock 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1150,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prompt Lock 불일치 — 최신 prompt_p1 기준 재생성\nconst job = $input.first().json;\n\n// prompt_hash를 현재 해시로 갱신\nconst p1 = (job.prompt_p1 || '').trim();\nlet currentHash = '';\nif (p1) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < p1.length; i++) {\n    h ^= p1.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  currentHash = (h >>> 0).toString(16).padStart(8, '0');\n  currentHash += '-' + p1.length + '-' + p1.substring(0, 4).split('').map(c => c.charCodeAt(0).toString(16)).join('');\n}\n\n// 최신 prompt_p1 기준으로 prompt_to_engine 재조립\nconst analysisParts = [];\nconst files = job.files || [];\nfiles.forEach((f, i) => {\n  if (f.vision_analysis) analysisParts.push(`[Image ${i+1}: ${f.vision_analysis}]`);\n  if (f.video_analysis) analysisParts.push(`[Video ${i+1}: ${f.video_analysis}]`);\n});\n\nlet basePrompt = p1;\nif (!p1) {\n  const autoParts = [];\n  if (job.topic) autoParts.push(`Create a cinematic video about: ${job.topic}`);\n  if (job.keywords) autoParts.push(`Keywords: ${job.keywords}`);\n  basePrompt = autoParts.join('. ') + '. High quality, smooth motion.';\n}\n\nconst promptWithAnalysis = analysisParts.length > 0\n  ? analysisParts.join('\\n') + '\\n' + basePrompt\n  : basePrompt;\n\nreturn [{\n  json: {\n    ...job,\n    prompt_to_engine: promptWithAnalysis,\n    prompt_hash: currentHash,\n    prompt_hash_current: currentHash,\n    prompt_lock_valid: true,\n    prompt_lock_action: 'regenerated',\n    assembled_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "prompt-lock-regen",
      "name": "Prompt Lock 재생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT prompt_hash FROM jobs WHERE id = '{{ $json.id }}'",
        "options": {}
      },
      "id": "render-prompt-check",
      "name": "렌더 전 Prompt 확인",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 렌더 직전 prompt_hash 재확인\nconst processResult = $('멀티씬 순차 처리').first().json;\nconst dbResult = $input.first().json;\nconst dbHash = dbResult.prompt_hash || '';\nconst currentHash = processResult.prompt_hash || processResult.prompt_hash_current || '';\n\n// 불일치 시 에러 (이전 생성 무효)\nif (dbHash && currentHash && dbHash !== currentHash) {\n  throw new Error('PROMPT_LOCK_CHANGED: 렌더 직전 prompt가 변경됨. 재시도 필요.');\n}\n\nreturn [{ json: { ...processResult } }];"
      },
      "id": "render-lock-check",
      "name": "렌더 Lock 확인",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        304
      ]
    }
  ],
  "connections": {
    "스케줄 트리거 (30초)": {
      "main": [
        [
          {
            "node": "큐에서 Job 꺼내기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "큐에서 Job 꺼내기": {
      "main": [
        [
          {
            "node": "Job 존재 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job 존재 여부": {
      "main": [
        [
          {
            "node": "상태 → processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "대기 (Job 없음)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → processing": {
      "main": [
        [
          {
            "node": "콜백 (processing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AO 프롬프트 조립 (P1 보존)": {
      "main": [
        [
          {
            "node": "Prompt Lock 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "번역 필요 여부": {
      "main": [
        [
          {
            "node": "한글→영문 번역 (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "멀티씬 순차 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "한글→영문 번역 (Claude)": {
      "main": [
        [
          {
            "node": "번역 결과 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더링 대기 (폴링)": {
      "main": [
        [
          {
            "node": "콜백 (rendering)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → generated": {
      "main": [
        [
          {
            "node": "콜백 (generated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → uploading": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "에러 캡처": {
      "main": [
        [
          {
            "node": "재시도 or 실패 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "큐에서 Job 꺼내기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "번역 결과 병합": {
      "main": [
        [
          {
            "node": "멀티씬 순차 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "멀티씬 순차 처리": {
      "main": [
        [
          {
            "node": "렌더 전 Prompt 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "최종 영상 합성 (Creatomate)": {
      "main": [
        [
          {
            "node": "렌더링 대기 (폴링)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "상태 → uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → uploaded": {
      "main": [
        [
          {
            "node": "웹앱 콜백 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "재시도 or 실패 처리": {
      "main": [
        [
          {
            "node": "웹앱 콜백 (실패)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콜백 (processing)": {
      "main": [
        [
          {
            "node": "AO 프롬프트 조립 (P1 보존)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콜백 (rendering)": {
      "main": [
        [
          {
            "node": "상태 → generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콜백 (generated)": {
      "main": [
        [
          {
            "node": "상태 → uploading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Lock 확인": {
      "main": [
        [
          {
            "node": "Prompt Lock 재생성",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "번역 필요 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Lock 재생성": {
      "main": [
        [
          {
            "node": "번역 필요 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 전 Prompt 확인": {
      "main": [
        [
          {
            "node": "렌더 Lock 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 Lock 확인": {
      "main": [
        [
          {
            "node": "최종 영상 합성 (Creatomate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "{{ AO Worker 에러 핸들러 워크플로우 ID }}",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:스케줄 트리거 (30초)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "501f4c89-7666-423a-b17c-3a60fb43d850",
  "activeVersionId": "501f4c89-7666-423a-b17c-3a60fb43d850",
  "versionCounter": 102,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-05T10:52:54.255Z",
      "createdAt": "2026-03-05T10:52:54.255Z",
      "role": "workflow:owner",
      "workflowId": "FHYohZccExR24Uha",
      "projectId": "W6LETsSnBzw4J5Aa",
      "project": {
        "updatedAt": "2026-02-09T04:42:12.235Z",
        "createdAt": "2026-02-07T19:04:11.494Z",
        "id": "W6LETsSnBzw4J5Aa",
        "name": "hatihoro15 hatihoro15 <hatihoro15@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T19:04:11.494Z",
            "createdAt": "2026-02-07T19:04:11.494Z",
            "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
            "projectId": "W6LETsSnBzw4J5Aa",
            "user": {
              "updatedAt": "2026-03-07T13:50:32.859Z",
              "createdAt": "2026-02-07T19:04:09.331Z",
              "id": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
              "email": "hatihoro15@gmail.com",
              "firstName": "hatihoro15",
              "lastName": "hatihoro15",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-07T19:24:51.818Z",
                "personalization_survey_n8n_version": "2.6.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "d5b35fb7f1724e448",
                "userActivatedAt": 1772755418959,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1772185245155
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-07T14:22:01.033Z",
    "createdAt": "2026-03-07T14:22:01.033Z",
    "versionId": "501f4c89-7666-423a-b17c-3a60fb43d850",
    "workflowId": "FHYohZccExR24Uha",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds"
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "스케줄 트리거 (30초)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM jobs\nWHERE status = 'queued'\nORDER BY created_at ASC\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
          "options": {}
        },
        "id": "pop-queue",
        "name": "큐에서 Job 꺼내기",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "check-job-exists",
        "name": "Job 존재 여부",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs SET status = 'processing', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
          "options": {}
        },
        "id": "mark-processing",
        "name": "상태 → processing",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          912,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// AO 프롬프트 조립기 — Last-Edit Priority + Prompt Lock (재생성 연결)\nconst job = $input.first().json;\n\n// mark-processing RETURNING * 에서 최신 DB 값이 이미 전달됨\nconst p1 = (job.prompt_p1 || '').trim();\n\n// files 파싱\nlet files = [];\ntry {\n  files = typeof job.clips === 'string' ? JSON.parse(job.clips) : (job.clips || []);\n} catch(e) { files = []; }\n\n// FNV-1a 해시 함수\nfunction fnvHash(text) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < text.length; i++) {\n    h ^= text.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  const hex = (h >>> 0).toString(16).padStart(8, '0');\n  return hex + '-' + text.length + '-' + text.substring(0, 4).split('').map(c => c.charCodeAt(0).toString(16)).join('');\n}\n\n// Prompt Lock: prompt_hash 비교\nconst storedHash = job.prompt_hash || '';\nconst currentHash = p1 ? fnvHash(p1) : '';\nconst promptLockValid = !storedHash || storedHash === currentHash;\n\n// Prompt Lock 불일치 시: 최신 prompt_p1 기준으로 재생성\n// mark-processing RETURNING * 에서 이미 최신 DB 값이므로 현재 p1이 최신\n// 저장된 해시만 현재 해시로 갱신 (DB UPDATE는 아래 플래그로 후속 처리)\nlet promptHashToUse = storedHash;\nlet promptLockAction = 'none';\nif (!promptLockValid && p1) {\n  // 기존 계획 폐기 → 현재 prompt_p1 기준으로 재조립\n  promptHashToUse = currentHash;\n  promptLockAction = 'regenerated';\n}\n\n// Last-Edit Priority: prompt_p1을 그대로 사용 (슬롯 치환 없음)\nconst finalPrompt = p1;\n\n// 파일 분석 결과 수집\nconst analysisParts = [];\nfiles.forEach((f, i) => {\n  if (f.vision_analysis) analysisParts.push(`[Image ${i+1}: ${f.vision_analysis}]`);\n  if (f.video_analysis) analysisParts.push(`[Video ${i+1}: ${f.video_analysis}]`);\n});\n\n// P1이 없으면 topic 기반 자동 프롬프트 (fallback)\nlet basePrompt = finalPrompt;\nif (!p1) {\n  const autoParts = [];\n  if (job.topic) autoParts.push(`Create a cinematic video about: ${job.topic}`);\n  if (job.keywords) autoParts.push(`Keywords: ${job.keywords}`);\n  if (job.category) autoParts.push(`Category: ${job.category}`);\n  basePrompt = autoParts.join('. ') + '. High quality, smooth motion, professional cinematography.';\n}\n\nconst promptWithAnalysis = analysisParts.length > 0\n  ? analysisParts.join('\\n') + '\\n' + basePrompt\n  : basePrompt;\n\n// generated_images 파싱\nlet generatedImages = [];\ntry {\n  generatedImages = typeof job.generated_images === 'string' ? JSON.parse(job.generated_images) : (job.generated_images || []);\n} catch(e) { generatedImages = []; }\n\n// Length Gate: target_duration 설정\nconst targetDuration = job.duration || null;\nconst maxDuration = targetDuration ? targetDuration + 1 : null;\nconst strictMode = job.strict_mode === true;\nconst verifyMode = job.verify_mode === true;\n\n// Prompt Lock 불일치 시 prompt_hash 갱신 (DB UPDATE)\nif (promptLockAction === 'regenerated') {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://76.13.182.180:8080/v1/toolkit/echo',\n      headers: { 'Content-Type': 'application/json' },\n      body: { message: `prompt_lock_regenerated: job=${job.id}, old=${storedHash}, new=${currentHash}` },\n      json: true,\n      timeout: 5000\n    });\n  } catch(e) { /* 로깅 실패 무시 */ }\n}\n\nreturn [{\n  json: {\n    ...job,\n    files: files,\n    generated_images: generatedImages,\n    clip_duration: (job.clip_duration === 0 || job.clip_duration === '0' || String(job.clip_duration || '').toLowerCase() === 'auto') ? 'auto' : (parseInt(job.clip_duration) || 8),\n    prompt_to_engine: promptWithAnalysis,\n    prompt_p1_preserved: p1 || null,\n    prompt_auto_generated: !p1,\n    prompt_lock_valid: promptLockValid,\n    prompt_lock_action: promptLockAction,\n    prompt_hash_current: currentHash,\n    prompt_hash: promptHashToUse,\n    target_duration: targetDuration,\n    max_duration: maxDuration,\n    strict_mode: strictMode,\n    verify_mode: verifyMode,\n    assembled_at: new Date().toISOString()\n  }\n}];"
        },
        "id": "assemble-prompt",
        "name": "AO 프롬프트 조립 (P1 보존)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "leftValue": "={{ $json.needs_translation }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "check-translation",
        "name": "번역 필요 여부",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1344,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// 한글→영문 번역 (Claude API)\nconst job = $input.first().json;\nconst claudeKey = $env.CLAUDE_API_KEY;\nif (!claudeKey) throw new Error('CLAUDE_API_KEY 환경변수 없음');\n\nconst prompt = job.prompt_to_engine || '';\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': claudeKey,\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1000,\n    messages: [{\n      role: 'user',\n      content: '다음 한국어 텍스트를 영어로 번역해줘. 원문 의미를 100% 보존하고, 번역문만 반환해. 설명 없이.\\n\\n' + prompt\n    }]\n  },\n  json: true\n});\n\nreturn [{ json: resp }];"
        },
        "id": "translate-prompt",
        "name": "한글→영문 번역 (Claude)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "const prev = $('번역 필요 여부').first().json;\nconst translated = $input.first().json;\n\nconst promptEn = translated.content?.[0]?.text || prev.prompt_to_engine;\n\nreturn [{\n  json: {\n    ...prev,\n    prompt_en: promptEn\n  }\n}];"
        },
        "id": "merge-translation",
        "name": "번역 결과 병합",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "// NCA FFmpeg 합성 — slideshow / ai_video 모두 NCA 사용\n\nfunction ensureExtension(url, ext) {\n  if (!url) return url;\n  const qIdx = url.indexOf('?');\n  const path = qIdx >= 0 ? url.substring(0, qIdx) : url;\n  if (/\\.(jpg|jpeg|png|gif|webp|mp4|mp3|wav|m4a)$/i.test(path)) return url;\n  return url + (url.includes('?') ? '&' : '?') + 'ext=.' + ext;\n}\nconst job = $input.first().json;\nconst productionMode = job.production_mode || 'ai_video';\nconst ar = job.aspect_ratio || '9:16';\nconst W = ar === '16:9' ? 1920 : 1080;\nconst H = ar === '16:9' ? 1080 : 1920;\nconst DEFAULT_BGM = 'http://76.13.182.180:9000/audio/bgm_new.mp3';\nconst SFX_URL = 'http://76.13.182.180:9000/audio/sfx_ppook.wav';\nconst enableBgm = job.enable_bgm === true;\nconst enableSfx = job.enable_sfx === true;\nconst bgmUrl = job.bgm_url || DEFAULT_BGM;\n\nfunction escSingle(t) {\n  if (!t) return '';\n  return t.replace(/[\\u{1F600}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu,'').trim()\n    .replace(/\\\\/g,'\\\\\\\\').replace(/'/g,'\\u2019').replace(/\"/g,'\\u201D')\n    .replace(/:/g,'\\\\:').replace(/;/g,'\\;').replace(/,/g,'\\\\,')\n    .replace(/\\[/g,'\\\\[').replace(/\\]/g,'\\\\]').replace(/\\n/g,' ');\n}\nfunction escMulti(t) {\n  if (!t) return '';\n  return t.replace(/[\\u{1F600}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu,'').trim()\n    .replace(/\\\\/g,'\\\\\\\\').replace(/'/g,'\\u2019').replace(/\"/g,'\\u201D')\n    .replace(/:/g,'\\\\:').replace(/;/g,'\\;').replace(/,/g,'\\\\,')\n    .replace(/\\[/g,'\\\\[').replace(/\\]/g,'\\\\]');\n}\nfunction wrap(t, max) {\n  if (!t || t.replace(/\\s+/g,'').length <= max) return t || '';\n  const mid = Math.floor(t.length / 2);\n  let best = -1, minD = t.length;\n  for (let i = 1; i < t.length - 1; i++) {\n    if (t[i] === ' ' && Math.abs(i - mid) < minD) { minD = Math.abs(i - mid); best = i; }\n  }\n  if (best > 0) return t.substring(0, best).trim() + '\\n' + t.substring(best).trim();\n  return t.substring(0, max) + '\\n' + t.substring(max);\n}\nfunction wrapTitle(t, max) {\n  if (!t || t.length <= max) return t || '';\n  const mid = Math.floor(t.length / 2);\n  let best = -1, minD = t.length;\n  for (let i = 0; i < t.length; i++) {\n    if (t[i] === ',' && Math.abs(i+1-mid) < minD) { minD = Math.abs(i+1-mid); best = i+1; }\n  }\n  if (best === -1) {\n    for (let i = 1; i < t.length-1; i++) {\n      if (t[i] === ' ' && Math.abs(i-mid) < minD) { minD = Math.abs(i-mid); best = i; }\n    }\n  }\n  if (best > 0) return t.substring(0, best).trim() + '\\n' + t.substring(best).trim();\n  return t.substring(0, max) + '\\n' + t.substring(max);\n}\n\nconst subtitles = job.tts_subtitles || [];\nconst audioUrl = job.tts_audio_url;\nconst totalDuration = job.total_duration || 10;\nconst topicText = escMulti(wrapTitle(job.topic || '', 14));\n\nlet inputs = [];\nlet idx = 0;\n\nif (productionMode === 'slideshow') {\n  // ===== SLIDESHOW =====\n  const imgUrls = job.slide_image_urls || [];\n  if (imgUrls.length === 0) throw new Error('slideshow: 이미지 없음');\n  const imgDur = job.img_duration || (totalDuration / imgUrls.length);\n\n  for (const url of imgUrls) {\n    inputs.push({ file_url: ensureExtension(url, 'jpg'), options: [\n      { option: '-loop', argument: '1' },\n      { option: '-framerate', argument: '30' },\n      { option: '-t', argument: imgDur.toFixed(2) }\n    ] });\n    idx++;\n  }\n\n  // TTS\n  const audioIdx = idx;\n  if (audioUrl) { inputs.push({ file_url: ensureExtension(audioUrl, 'mp3'), options: [] }); idx++; }\n\n  // BGM (enableBgm일 때만)\n  let bgmIdx = -1;\n  if (enableBgm) {\n    bgmIdx = idx;\n    inputs.push({ file_url: ensureExtension(bgmUrl, 'mp3'), options: [{ option: '-stream_loop', argument: '-1' }] }); idx++;\n  }\n\n  // SFX (enableSfx일 때만, 이미지 전환)\n  const sfxList = [];\n  if (enableSfx) {\n    for (let i = 1; i < imgUrls.length; i++) {\n      inputs.push({ file_url: SFX_URL, options: [] });\n      sfxList.push({ idx: idx, ms: Math.round(i * imgDur * 1000) }); idx++;\n    }\n  }\n\n  let fp = [];\n  // 이미지: 정사각형 crop + 상하 패딩 (온카 방식)\n  for (let i = 0; i < imgUrls.length; i++) {\n    if (ar === '16:9') {\n      fp.push(`[${i}:v]scale=${W}:${Math.round(W*9/16)}:force_original_aspect_ratio=increase,crop=${W}:${Math.round(W*9/16)},pad=${W}:${H}:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[v${i}]`);\n    } else {\n      fp.push(`[${i}:v]scale=1080:1080:force_original_aspect_ratio=increase,crop=1080:1080,pad=${W}:${H}:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[v${i}]`);\n    }\n  }\n  fp.push(`${imgUrls.map((_,i) => `[v${i}]`).join('')}concat=n=${imgUrls.length}:v=1:a=0[vconcat]`);\n\n  // 오디오 믹싱 (조건부)\n  if (audioUrl) fp.push(`[${audioIdx}:a]atrim=duration=${totalDuration.toFixed(2)},asetpts=PTS-STARTPTS[tts_raw]`);\n\n  if (enableBgm && bgmIdx >= 0) {\n    const bgmTotalDur = totalDuration + 2;\n    fp.push(`[${bgmIdx}:a]atrim=duration=${bgmTotalDur.toFixed(2)},asetpts=PTS-STARTPTS,afade=t=out:st=${Math.max(0, totalDuration - 2).toFixed(2)}:d=2[bgm]`);\n  }\n\n  if (enableSfx && sfxList.length > 0) {\n    sfxList.forEach((s, i) => fp.push(`[${s.idx}:a]atrim=duration=0.3,asetpts=PTS-STARTPTS,volume=0.6,adelay=${s.ms}|${s.ms}[sfx${i}]`));\n    fp.push(`${sfxList.map((_,i) => `[sfx${i}]`).join('')}amix=inputs=${sfxList.length}:duration=longest:normalize=0[sfx_mix]`);\n  }\n\n  // 최종 오디오 조합\n  if (audioUrl && enableBgm && enableSfx && sfxList.length > 0) {\n    fp.push(`[tts_raw][bgm][sfx_mix]amix=inputs=3:duration=longest:weights=1 1 0.8:normalize=0[amain]`);\n  } else if (audioUrl && enableBgm) {\n    fp.push(`[tts_raw][bgm]amix=inputs=2:duration=longest:weights=1 1:normalize=0[amain]`);\n  } else if (audioUrl && enableSfx && sfxList.length > 0) {\n    fp.push(`[tts_raw][sfx_mix]amix=inputs=2:duration=longest:weights=1 0.8:normalize=0[amain]`);\n  } else if (audioUrl) {\n    fp.push(`[tts_raw]acopy[amain]`);\n  } else if (enableBgm) {\n    fp.push(`[bgm]acopy[amain]`);\n  } else {\n    fp.push(`anullsrc=r=44100:cl=stereo,atrim=duration=${totalDuration.toFixed(2)}[amain]`);\n  }\n\n  // 상단 제목 + 하단 자막\n  let ov = `[vconcat]drawbox=y=40:w=${W}:h=280:color=#000000@1.0:t=fill`;\n  if (topicText) {\n    ov += `,drawtext=expansion=none:text='${topicText}':fontsize=72:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=12`;\n  }\n  for (const sub of subtitles) {\n    const st = escMulti(wrap(sub.text, 12));\n    if (!st) continue;\n    ov += `,drawtext=expansion=none:text='${st}':fontsize=70:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-280:line_spacing=8:borderw=4:bordercolor=black:enable='between(t\\\\,${sub.start.toFixed(2)}\\\\,${(sub.start + sub.duration).toFixed(2)})'`;\n  }\n  ov += '[vfinal]';\n  fp.push(ov);\n\n  const payload = {\n    inputs,\n    filters: [{ filter: fp.join(';') }],\n    outputs: [{ options: [\n      { option: '-map', argument: '[vfinal]' }, { option: '-map', argument: '[amain]' },\n      { option: '-c:v', argument: 'libx264' }, { option: '-preset', argument: 'fast' }, { option: '-crf', argument: '23' },\n      { option: '-c:a', argument: 'aac' }, { option: '-b:a', argument: '192k' },\n      { option: '-pix_fmt', argument: 'yuv420p' }, { option: '-movflags', argument: '+faststart' },\n      { option: '-t', argument: totalDuration.toFixed(2) }\n    ], file_name: 'ao_slideshow.mp4' }]\n  };\n\n  const ncaResp = await this.helpers.httpRequest({\n    method: 'POST', url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: { 'x-api-key': 'nca-sagong-2026', 'Content-Type': 'application/json' },\n    body: payload, json: true, timeout: 600000\n  });\n\n  let videoUrl = '';\n  if (Array.isArray(ncaResp.response)) videoUrl = ncaResp.response[0]?.file_url || '';\n  else if (typeof ncaResp.response === 'string') videoUrl = ncaResp.response;\n  else videoUrl = ncaResp.output_url || ncaResp.url || ncaResp.video_url || '';\n  if (!videoUrl) throw new Error('NCA 슬라이드쇼 URL 없음: ' + JSON.stringify(ncaResp).substring(0, 500));\n\n  return [{ json: { id: 'nca-slideshow', status: 'succeeded', url: videoUrl } }];\n\n} else {\n  // ===== AI_VIDEO =====\n  const klingVideoUrl = job.kling_video_url;\n  if (!klingVideoUrl) throw new Error('ai_video: kling_video_url 없음');\n  const videoDuration = job.total_duration || parseInt(job.clip_duration) || 8;\n\n  inputs.push({ file_url: ensureExtension(klingVideoUrl, 'mp4'), options: [] }); idx++;\n\n  const audioIdx = idx;\n  if (audioUrl) { inputs.push({ file_url: ensureExtension(audioUrl, 'mp3'), options: [] }); idx++; }\n\n  let bgmIdx = -1;\n  if (enableBgm) {\n    bgmIdx = idx;\n    inputs.push({ file_url: ensureExtension(bgmUrl, 'mp3'), options: [{ option: '-stream_loop', argument: '-1' }] }); idx++;\n  }\n\n  let sfxIdx = -1;\n  if (enableSfx) {\n    sfxIdx = idx;\n    inputs.push({ file_url: SFX_URL, options: [] }); idx++;\n  }\n\n  let fp = [];\n  // 영상: 레터박스 (비율 유지)\n  fp.push(`[0:v]scale=${W}:${H}:force_original_aspect_ratio=decrease,pad=${W}:${H}:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[vscaled]`);\n\n  if (audioUrl) fp.push(`[${audioIdx}:a]atrim=duration=${totalDuration.toFixed(2)},asetpts=PTS-STARTPTS[tts_raw]`);\n\n  if (enableBgm && bgmIdx >= 0) {\n    const bgmTotalDur = totalDuration + 2;\n    fp.push(`[${bgmIdx}:a]atrim=duration=${bgmTotalDur.toFixed(2)},asetpts=PTS-STARTPTS,afade=t=out:st=${Math.max(0, totalDuration - 2).toFixed(2)}:d=2[bgm]`);\n  }\n\n  if (enableSfx && sfxIdx >= 0) {\n    fp.push(`[${sfxIdx}:a]atrim=duration=0.3,asetpts=PTS-STARTPTS,volume=0.6,adelay=500|500[sfx0]`);\n  }\n\n  // 오디오 조합\n  if (audioUrl && enableBgm && enableSfx && sfxIdx >= 0) {\n    fp.push(`[tts_raw][bgm][sfx0]amix=inputs=3:duration=longest:weights=1 1 0.8:normalize=0[amain]`);\n  } else if (audioUrl && enableBgm) {\n    fp.push(`[tts_raw][bgm]amix=inputs=2:duration=longest:weights=1 1:normalize=0[amain]`);\n  } else if (audioUrl && enableSfx && sfxIdx >= 0) {\n    fp.push(`[tts_raw][sfx0]amix=inputs=2:duration=longest:weights=1 0.8:normalize=0[amain]`);\n  } else if (audioUrl) {\n    fp.push(`[tts_raw]acopy[amain]`);\n  } else if (enableBgm) {\n    fp.push(`[bgm]acopy[amain]`);\n  } else {\n    fp.push(`anullsrc=r=44100:cl=stereo,atrim=duration=${totalDuration.toFixed(2)}[amain]`);\n  }\n\n  // 상단 제목 + 하단 자막\n  let ov = `[vscaled]drawbox=y=40:w=${W}:h=280:color=#000000@1.0:t=fill`;\n  if (topicText) {\n    ov += `,drawtext=expansion=none:text='${topicText}':fontsize=72:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=12`;\n  }\n  for (const sub of subtitles) {\n    const st = escMulti(wrap(sub.text, 12));\n    if (!st) continue;\n    ov += `,drawtext=expansion=none:text='${st}':fontsize=70:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-280:line_spacing=8:borderw=4:bordercolor=black:enable='between(t\\\\,${sub.start.toFixed(2)}\\\\,${(sub.start + sub.duration).toFixed(2)})'`;\n  }\n  ov += '[vfinal]';\n  fp.push(ov);\n\n  const payload = {\n    inputs,\n    filters: [{ filter: fp.join(';') }],\n    outputs: [{ options: [\n      { option: '-map', argument: '[vfinal]' }, { option: '-map', argument: '[amain]' },\n      { option: '-c:v', argument: 'libx264' }, { option: '-preset', argument: 'fast' }, { option: '-crf', argument: '23' },\n      { option: '-c:a', argument: 'aac' }, { option: '-b:a', argument: '192k' },\n      { option: '-pix_fmt', argument: 'yuv420p' }, { option: '-movflags', argument: '+faststart' },\n      { option: '-t', argument: totalDuration.toFixed(2) }\n    ], file_name: 'ao_video.mp4' }]\n  };\n\n  const ncaResp = await this.helpers.httpRequest({\n    method: 'POST', url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: { 'x-api-key': 'nca-sagong-2026', 'Content-Type': 'application/json' },\n    body: payload, json: true, timeout: 600000\n  });\n\n  let videoUrl = '';\n  if (Array.isArray(ncaResp.response)) videoUrl = ncaResp.response[0]?.file_url || '';\n  else if (typeof ncaResp.response === 'string') videoUrl = ncaResp.response;\n  else videoUrl = ncaResp.output_url || ncaResp.url || ncaResp.video_url || '';\n  if (!videoUrl) throw new Error('NCA ai_video URL 없음: ' + JSON.stringify(ncaResp).substring(0, 500));\n\n  return [{ json: { id: 'nca-aivideo', status: 'succeeded', url: videoUrl } }];\n}\n"
        },
        "id": "render-video",
        "name": "최종 영상 합성 (Creatomate)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2224,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// NCA 응답: 이미 완료, 폴링 불필요 (slideshow + ai_video 모두)\nconst renderResponse = $input.first().json;\nif (renderResponse.status === 'succeeded' && renderResponse.url) {\n  const prevData = $('멀티씬 순차 처리').first().json;\n  return [{ json: {\n    ...prevData,\n    rendered_video_url: renderResponse.url,\n    render_id: renderResponse.id || 'nca'\n  } }];\n}\n\n// fallback: Creatomate 폴링 (비활성화 상태이지만 보존)\nconst renderId = renderResponse.id;\nconst apiKey = $env.CREATOMATE_API_KEY;\nif (!renderId || !apiKey) throw new Error('render_id 또는 API key 없음');\n\nfor (let i = 0; i < 60; i++) {\n  await new Promise(r => setTimeout(r, 10000));\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.creatomate.com/v1/renders/${renderId}`,\n    headers: { 'Authorization': `Bearer ${apiKey}` },\n    json: true\n  });\n  if (resp.status === 'succeeded') {\n    const prevData = $('멀티씬 순차 처리').first().json;\n    return [{ json: { ...prevData, rendered_video_url: resp.url, render_id: renderId } }];\n  }\n  if (resp.status === 'failed') throw new Error('Creatomate 렌더 실패: ' + (resp.error_message || ''));\n}\nthrow new Error('렌더링 타임아웃 (600초)');"
        },
        "id": "poll-render",
        "name": "렌더링 대기 (폴링)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "7uzM44eLOitv8ubQ",
            "name": "Creatomate API"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs\nSET status = 'generated',\n    rendered_video_url = '{{ $json.rendered_video_url }}',\n    render_id = '{{ $json.render_id }}',\n    prompt_hash = '{{ $json.prompt_hash }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}';\n\nINSERT INTO job_logs (job_id, level, message, detail)\nSELECT '{{ $json.id }}'::uuid, 'info', 'verify_mode: output_hash',\n  json_build_object(\n    'output_hash', '{{ $json.output_hash || \"\" }}',\n    'length_gate_status', '{{ $json.length_gate_status || \"no_gate\" }}',\n    'total_duration', {{ $json.total_duration || 0 }},\n    'target_duration', {{ $json.target_duration || 0 }},\n    'prompt_lock_action', '{{ $json.prompt_lock_action || \"none\" }}',\n    'length_gate_log', '{{ $json.length_gate_log || \"\" }}',\n    'clip_count', {{ $json.clip_count || 1 }}\n  )::jsonb\nWHERE '{{ $json.verify_mode }}' = 'true';\n\nINSERT INTO job_logs (job_id, level, message, detail)\nSELECT '{{ $json.id }}'::uuid, 'info', 'prompt_lock: regenerated',\n  json_build_object(\n    'old_hash', '{{ $json.prompt_hash_current || \"\" }}',\n    'new_hash', '{{ $json.prompt_hash || \"\" }}'\n  )::jsonb\nWHERE '{{ $json.prompt_lock_action }}' = 'regenerated';\n\nSELECT * FROM jobs WHERE id = '{{ $json.id }}';",
          "options": {}
        },
        "id": "mark-generated",
        "name": "상태 → generated",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3328,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs SET status = 'uploading', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
          "options": {}
        },
        "id": "mark-uploading",
        "name": "상태 → uploading",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3552,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs\nSET status = 'uploaded',\n    youtube_video_id = '{{ $json.youtube_video_id }}',\n    youtube_url = '{{ $json.youtube_url }}',\n    completed_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\nRETURNING *;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.id }}',\n  'info',\n  'YouTube 업로드 완료',\n  NOW()\n);",
          "options": {}
        },
        "id": "mark-uploaded",
        "name": "상태 → uploaded",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3984,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ✅ 에러 핸들러 — 재시도 로직\nconst error = $input.first().json;\nconst jobId = $('큐에서 Job 꺼내기').first().json?.id;\n\nif (!jobId) return [];\n\nreturn [{\n  json: {\n    job_id: jobId,\n    error_message: error.message || JSON.stringify(error),\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "handle-error",
        "name": "에러 캡처",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          464
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs\nSET retry_count = retry_count + 1,\n    status = CASE\n      WHEN retry_count + 1 >= 3 THEN 'failed'\n      ELSE 'queued'\n    END,\n    last_error = '{{ $json.error_message }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.job_id }}'\nRETURNING id, status, retry_count;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.job_id }}',\n  'error',\n  '{{ $json.error_message }}',\n  NOW()\n);",
          "options": {}
        },
        "id": "retry-or-fail",
        "name": "재시도 or 실패 처리",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2224,
          464
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {},
        "id": "no-job",
        "name": "대기 (Job 없음)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          912,
          400
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          272,
          528
        ],
        "id": "2b83b859-bae3-46a9-b29b-495a5e214a13",
        "name": "수동 실행"
      },
      {
        "parameters": {
          "jsCode": "// 영상/슬라이드쇼 처리 — use_mode + generated_images + kie.ai TTS\nconst job = $input.first().json;\nlet files = job.files || [];\nif (typeof files === 'string') { try { files = JSON.parse(files); } catch(e) { files = []; } }\nconst hasDirect = Array.isArray(files) && files.some(f => f.use_mode === 'direct' && f.type === 'image');\nconst productionMode = job.production_mode || (hasDirect ? 'ai_video' : 'ai_video');\n\nlet generatedImages = job.generated_images || [];\nif (typeof generatedImages === 'string') { try { generatedImages = JSON.parse(generatedImages); } catch(e) { generatedImages = []; } }\n\nconst apiKey = $env.KIEAI_API_KEY;\nconst aspectRatio = job.aspect_ratio || '9:16';\nconst promptBase = job.prompt_en || job.prompt_to_engine || job.prompt_p1;\n\n// kie.ai 폴링 (공통)\nasync function pollTask(taskId) {\n  for (let i = 0; i < 90; i++) {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.kie.ai/api/v1/jobs/recordInfo?taskId=${taskId}`,\n      headers: { 'Authorization': `Bearer ${apiKey}` },\n      json: true\n    });\n    const state = resp?.data?.state;\n    if (state === 'success') {\n      const result = JSON.parse(resp.data.resultJson || '{}');\n      return result.resultUrls?.[0] || null;\n    }\n    if (state === 'failed' || state === 'fail') {\n      throw new Error(`Task 실패: ${resp.data.failMsg || state}`);\n    }\n    await new Promise(r => setTimeout(r, 10000));\n  }\n  throw new Error('Task 타임아웃 (900초)');\n}\n\n// kie.ai 이미지 생성\nasync function generateImage(prompt) {\n  const resp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: { model: 'nano-banana-pro', input: { prompt: prompt, aspect_ratio: aspectRatio } },\n    json: true\n  });\n  const taskId = resp?.data?.taskId;\n  if (!taskId) throw new Error('이미지 생성 taskId 없음');\n  return await pollTask.call(this, taskId);\n}\n\n// Claude 나레이션 스크립트 생성\nasync function generateNarration(rawText, job) {\n  if (!rawText) return rawText;\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) return rawText;\n  try {\n    // SPEC 4조: topic/keywords/category는 나레이션 생성에 영향 금지\n    // prompt_p1만 소스로 사용\n    const context = rawText;\n\n    // narration_style + narration_tone\n    const style = job.narration_style || '설명형';\n    const tone = job.narration_tone || '차분하게';\n    const styleGuide = `스타일: ${style}, 톤: ${tone}`;\n\n    // target_duration 기반 분량 계산 (한국어 TTS 약 4.5자/초)\n    const targetDur = job.target_duration || job.duration || null;\n    let lengthGuide = '30초~1분 분량 (150~300자)';\n    if (targetDur) {\n      const targetChars = Math.round(targetDur * 4.5);\n      const minChars = Math.round(targetChars * 0.85);\n      const maxChars = Math.round(targetChars * 1.0);\n      lengthGuide = `정확히 약 ${targetDur}초 분량 (${minChars}~${maxChars}자). 이 글자수를 반드시 맞춰줘`;\n    }\n\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 2048,\n        messages: [{\n          role: 'user',\n          content: `다음 내용을 기반으로 영상 나레이션 스크립트를 작성해줘.\\n- ${styleGuide}\\n- 한국어 자연스러운 구어체\\n- 시청자 관심을 끄는 도입부\\n- ${lengthGuide}\\n- 나레이션 텍스트만 출력 (설명/마크다운/제목 금지)\\n\\n${context}`\n        }]\n      },\n      json: true\n    });\n    const narration = resp?.content?.[0]?.text;\n    return narration && narration.trim().length > 10 ? narration.trim() : rawText;\n  } catch (e) {\n    return rawText;\n  }\n}\n\n// kie.ai TTS 생성 (ElevenLabs multilingual v2) — 429 재시도 포함\nasync function generateTTS(text) {\n  if (!text) return { audioUrl: null, duration: 0 };\n  let audioUrl = null;\n  for (let attempt = 0; attempt < 3; attempt++) {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/jobs/createTask',\n      headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n      body: {\n        model: 'elevenlabs/text-to-speech-multilingual-v2',\n        input: { text: text, voice_id: 'EXAVITQu4vr4xnSDxMaL' }\n      },\n      json: true\n    });\n    const taskId = resp?.data?.taskId;\n    if (!taskId) throw new Error('TTS taskId 없음');\n    try {\n      audioUrl = await pollTask.call(this, taskId);\n      break;\n    } catch(e) {\n      if (attempt < 2 && (e.message.includes('internal error') || e.message.includes('429'))) {\n        await new Promise(r => setTimeout(r, 30000 * (attempt + 1)));\n        continue;\n      }\n      throw e;\n    }\n  }\n  // ffprobe로 실제 오디오 길이 측정\n  let actualDuration = 0;\n  if (audioUrl) {\n    try {\n      const probeResp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'http://76.13.182.180:8080/v1/toolkit/ffprobe',\n        headers: { 'x-api-key': 'nca-sagong-2026', 'Content-Type': 'application/json' },\n        body: { file_url: audioUrl },\n        json: true,\n        timeout: 30000\n      });\n      const streams = probeResp?.streams || probeResp?.format || {};\n      actualDuration = parseFloat(probeResp?.format?.duration || streams?.duration || '0');\n    } catch(e) { /* ffprobe 실패 시 추정값 사용 */ }\n  }\n  const estimatedDuration = Math.max(3, text.replace(/\\s+/g, '').length / 4.5);\n  const duration = actualDuration > 0 ? actualDuration : estimatedDuration;\n  return { audioUrl, duration };\n}\n\n// use_mode별 이미지 처리 (direct / analysis_only)\nasync function processFilesByUseMode(fileList) {\n  const imageUrls = [];\n  for (const f of fileList) {\n    if (f.type !== 'image') continue;\n    const mode = f.use_mode || 'direct';\n    if (mode === 'direct') {\n      if (f.url) imageUrls.push(f.url);\n    } else if (mode === 'analysis_only') {\n      const prompt = f.auto_prompt || f.vision_analysis || 'Cinematic image, high quality.';\n      const url = await generateImage.call(this, prompt);\n      if (url) imageUrls.push(url);\n    }\n  }\n  return imageUrls;\n}\n\n// 자막 타이밍 배치 (Claude API) + fallback (글자수 비율)\nasync function buildSubtitleTimings(promptP1, narrationText, targetDuration) {\n  const result = { scene_duration: targetDuration, subtitle_timings: [] };\n  if (!narrationText || !narrationText.trim()) return result;\n\n  // fallback: 글자수 비율 배분\n  function fallbackTimings(text, dur) {\n    const sentences = text.split(/(?<=[.!?\\u3002\\uFF01\\uFF1F])\\s*/).filter(s => s.trim());\n    if (sentences.length === 0) return [];\n    const totalChars = sentences.reduce((sum, s) => sum + s.replace(/\\s+/g, '').length, 0);\n    let offset = 0;\n    return sentences.map(s => {\n      const chars = s.replace(/\\s+/g, '').length;\n      const d = totalChars > 0 ? (chars / totalChars) * dur : dur / sentences.length;\n      const seg = { text: s.trim(), start: parseFloat(offset.toFixed(2)), duration: parseFloat(d.toFixed(2)) };\n      offset += d;\n      return seg;\n    });\n  }\n\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) {\n    result.subtitle_timings = fallbackTimings(narrationText, targetDuration);\n    result.scene_duration = targetDuration;\n    return result;\n  }\n\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 2048,\n        messages: [{\n          role: 'user',\n          content: `나레이션 텍스트를 자막 구간으로 분리하고 타이밍을 배정해줘.\n\n규칙:\n- 자연스러운 호흡/문장 단위로 분리 (한 구간 최대 15자)\n- 각 구간의 start(시작 초)와 duration(지속 초)을 배정\n- 한국어 TTS 발화 속도 약 4.5자/초 기준\n- 구간 사이에 0.2~0.5초 호흡 간격 포함\n- 강조 구간은 duration을 약간 길게 (1.2배)\n- 총 길이가 ${targetDuration}초에 맞도록 조절\n- 마지막 구간 종료 시점 = scene_duration\n\n나레이션:\n${narrationText}\n\n반드시 아래 JSON 형식으로만 응답해. 다른 텍스트 금지:\n{\"scene_duration\": 숫자, \"subtitle_timings\": [{\"text\": \"자막텍스트\", \"start\": 0.0, \"duration\": 3.5}]}`\n        }]\n      },\n      json: true\n    });\n\n    const raw = (resp?.content?.[0]?.text || '').trim();\n    const jsonStr = raw.replace(/^```json?\\n?/i, '').replace(/\\n?```$/i, '').trim();\n    const parsed = JSON.parse(jsonStr);\n\n    if (parsed.subtitle_timings && Array.isArray(parsed.subtitle_timings) && parsed.subtitle_timings.length > 0) {\n      result.subtitle_timings = parsed.subtitle_timings.map(t => ({\n        text: String(t.text || ''),\n        start: parseFloat(t.start) || 0,\n        duration: parseFloat(t.duration) || 1\n      }));\n      const last = result.subtitle_timings[result.subtitle_timings.length - 1];\n      result.scene_duration = parseFloat(parsed.scene_duration) || (last.start + last.duration);\n    } else {\n      result.subtitle_timings = fallbackTimings(narrationText, targetDuration);\n    }\n  } catch(e) {\n    result.subtitle_timings = fallbackTimings(narrationText, targetDuration);\n    result.scene_duration = targetDuration;\n  }\n\n  return result;\n}\n\n\n// F-9: AI 효과음 타이밍 생성 (Claude API)\nasync function generateSfxTimings(promptP1, subtitleTimings) {\n  if (!subtitleTimings || subtitleTimings.length === 0) return [];\n  const claudeKey = $env.CLAUDE_API_KEY;\n  if (!claudeKey) return [];\n\n  try {\n    const timingsStr = subtitleTimings.map(t => `[${t.start.toFixed(1)}s~${(t.start+t.duration).toFixed(1)}s] ${t.text}`).join('\\n');\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': claudeKey,\n        'anthropic-version': '2023-06-01',\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 1024,\n        messages: [{\n          role: 'user',\n          content: `영상 나레이션에 어울리는 효과음 타이밍을 결정해줘.\n\n프롬프트: ${promptP1 || ''}\n\n나레이션 타이밍:\n${timingsStr}\n\n규칙:\n- 최대 5개 효과음 (너무 많으면 산만)\n- 장면 전환, 강조, 등장 순간에 배치\n- 나레이션과 겹치지 않는 호흡 구간(0.2~0.5초 갭)에 우선 배치\n- start는 초 단위, duration은 0.2~0.5초\n- description은 한국어로 간단하게\n\n반드시 아래 JSON 배열로만 응답해. 다른 텍스트 금지:\n[{\"description\": \"효과음 설명\", \"start\": 0.0, \"duration\": 0.3}]`\n        }]\n      },\n      json: true\n    });\n\n    const raw = (resp?.content?.[0]?.text || '').trim();\n    const jsonStr = raw.replace(/^\\`\\`\\`json?\\n?/i, '').replace(/\\n?\\`\\`\\`$/i, '').trim();\n    const parsed = JSON.parse(jsonStr);\n\n    if (Array.isArray(parsed)) {\n      return parsed.slice(0, 5).map(s => ({\n        description: String(s.description || ''),\n        start: parseFloat(s.start) || 0,\n        duration: parseFloat(s.duration) || 0.3\n      }));\n    }\n    return [];\n  } catch(e) {\n    return [];\n  }\n}\n\n// ===== SLIDESHOW 모드 =====\nif (productionMode === 'slideshow') {\n  // use_mode별 이미지 처리\n  const processedImages = await processFilesByUseMode.call(this, files);\n  // generated_images 합류\n  const allImages = [...processedImages, ...generatedImages].filter(Boolean);\n  if (allImages.length === 0) throw new Error('slideshow: 사용 가능한 이미지 없음');\n\n  // 나레이션 텍스트\n  let ttsText;\n  if ((job.narration_script || job.narration_text) && (job.narration_script || job.narration_text).trim()) {\n    ttsText = (job.narration_script || job.narration_text).trim();\n  } else {\n    const rawText = (job.prompt_p1 || job.topic || '').replace(/<[^>]*>?/gm, '');\n    if (!rawText) throw new Error('slideshow: 나레이션 텍스트(prompt_p1 또는 topic) 없음');\n    ttsText = await generateNarration.call(this, rawText, job);\n  }\n\n  // TTS 생성\n  const tts = await generateTTS.call(this, ttsText);\n  if (!tts.audioUrl) throw new Error('TTS 생성 실패');\n\n  const audioDuration = tts.duration;\n  const imgDuration = audioDuration / allImages.length;\n  const timingResult = await buildSubtitleTimings.call(this, job.prompt_p1 || '', ttsText, audioDuration);\n  const subtitles = timingResult.subtitle_timings;\n\n  // === Length Gate (slideshow) ===\n  const targetDuration = job.target_duration || job.duration || null;\n  const maxDuration = targetDuration ? targetDuration + 1 : null;\n  const strictMode = job.strict_mode === true;\n  let lengthGateStatus = 'no_gate';\n  let adjustedAudioDuration = audioDuration;\n\n  if (targetDuration) {\n    if (audioDuration <= maxDuration) {\n      lengthGateStatus = 'pass';\n    } else if (strictMode) {\n      lengthGateStatus = 'blocked';\n      throw new Error(`LENGTH_GATE_BLOCKED: ${audioDuration}s > max ${maxDuration}s (strict_mode)`);\n    } else {\n      lengthGateStatus = 'over_soft';\n    }\n  }\n\n  // === Verify Mode: output_hash ===\n  const verifyMode = job.verify_mode === true;\n  let outputHash = null;\n  if (verifyMode) {\n    const hashInput = JSON.stringify({\n      prompt_to_engine: job.prompt_to_engine || '',\n      production_mode: 'slideshow',\n      slide_count: allImages.length,\n      aspect_ratio: job.aspect_ratio || '9:16',\n      target_duration: targetDuration,\n      tts_text: ttsText || '',\n      total_duration: audioDuration\n    });\n    let oh = 0x811c9dc5;\n    for (let i = 0; i < hashInput.length; i++) {\n      oh ^= hashInput.charCodeAt(i);\n      oh = Math.imul(oh, 0x01000193);\n    }\n    outputHash = (oh >>> 0).toString(16).padStart(8, '0');\n  }\n\n  return [{\n    json: {\n      ...job,\n      production_mode: 'slideshow',\n      slide_image_urls: allImages,\n      tts_audio_url: tts.audioUrl,\n      tts_duration: audioDuration,\n      tts_text: ttsText,\n      tts_subtitles: subtitles,\n      img_duration: imgDuration,\n      scene_results: allImages.map((url, i) => ({\n        index: i, image_url: url, start: i * imgDuration, duration: imgDuration, type: 'slide'\n      })),\n      total_scenes: allImages.length,\n      total_duration: audioDuration,\n      enable_bgm: job.enable_bgm || false,\n      enable_sfx: job.enable_sfx || false,\n      bgm_url: job.bgm_url || '',\n      length_gate_status: lengthGateStatus,\n      target_duration: targetDuration,\n      max_duration: maxDuration,\n      verify_mode: verifyMode,\n      output_hash: outputHash\n    }\n  }];\n}\n\n// ===== AI_VIDEO 모드 =====\n// use_mode별 이미지 처리\nconst processedImages = await processFilesByUseMode.call(this, files);\n// direct 모드 이미지 별도 추적\nconst directImages = Array.isArray(files) ? files.filter(f => f.type === 'image' && (f.use_mode || 'direct') === 'direct' && f.url).map(f => f.url) : [];\n// generated_images 합류\nconst allImages = [...processedImages, ...generatedImages].filter(Boolean);\n\n// clip_duration 자동/고정 판별\nconst isAutoClip = String(job.clip_duration).toLowerCase() === 'auto';\nconst fixedClipDur = isAutoClip ? 8 : (parseInt(job.clip_duration) || 8);\n\n// ① 나레이션 텍스트 (Kling 전에 준비 — auto 모드에서 TTS 길이 필요)\nlet ttsText;\nif ((job.narration_script || job.narration_text) && (job.narration_script || job.narration_text).trim()) {\n  ttsText = (job.narration_script || job.narration_text).trim();\n} else {\n  const rawText = (job.prompt_p1 || job.topic || '').replace(/<[^>]*>?/gm, '');\n  ttsText = rawText ? await generateNarration.call(this, rawText, job) : '';\n}\n\n// ② TTS 생성 + ffprobe (Kling 전에 실행)\nconst targetDur = job.target_duration || job.duration || null;\nlet tts = ttsText ? await generateTTS.call(this, ttsText) : { audioUrl: null, duration: fixedClipDur };\n\n// Length Gate 보정: TTS가 목표보다 짧으면 나레이션 재생성 1회\nconst minAcceptable = job.strict_mode === true ? (targetDur - 1) : (targetDur - 3);\nif (targetDur && tts.audioUrl && tts.duration < minAcceptable && !(job.narration_script || job.narration_text)) {\n  const rawText = (job.prompt_p1 || job.topic || '').replace(/<[^>]*>?/gm, '');\n  if (rawText) {\n    const retryText = await generateNarration.call(this, rawText, { ...job, target_duration: targetDur });\n    if (retryText && retryText.length > ttsText.length) {\n      ttsText = retryText;\n      tts = await generateTTS.call(this, ttsText);\n    }\n  }\n}\n\n// ③ clipDur 결정 (auto: TTS 실측, fixed: 입력값)\nconst clipDur = isAutoClip ? tts.duration : fixedClipDur;\n\n// ④ Kling 영상 생성 (duration = clipDur clamped 3-15)\nconst skipKlingFile = Array.isArray(files) && files.find(f => f.skip_kling === true && f.url);\nlet videoUrl;\n\nif (skipKlingFile) {\n  videoUrl = skipKlingFile.url;\n} else {\n  const duration = String(Math.max(3, Math.min(15, Math.ceil(clipDur))));\n\n  const klingInput = {\n    prompt: promptBase,\n    aspect_ratio: aspectRatio,\n    mode: 'std',\n    sound: false,\n    duration: duration,\n    multi_shots: false\n  };\n\n  if (allImages.length > 0) {\n    klingInput.image_urls = allImages.slice(0, 2);\n  }\n\n  let taskResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: { model: 'kling-3.0/video', input: klingInput },\n    json: true\n  });\n\n  // 이미지 URL 실패 시 처리 (direct 이미지는 유지)\n  if (taskResp?.code !== 200 && klingInput.image_urls) {\n    if (directImages.length > 0) {\n      // direct 모드 이미지 포함 — 삭제하지 않고 에러 (job retry로 재시도)\n      throw new Error('Kling image_urls 실패 (direct 이미지 포함): code=' + (taskResp?.code || 'unknown') + ', msg=' + JSON.stringify(taskResp?.message || taskResp?.msg || '').substring(0, 200));\n    }\n    // direct 이미지 없음 (generated_images만) — 이미지 없이 재시도\n    delete klingInput.image_urls;\n    taskResp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/jobs/createTask',\n      headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n      body: { model: 'kling-3.0/video', input: klingInput },\n      json: true\n    });\n  }\n\n  const klingTaskId = taskResp?.data?.taskId;\n  if (!klingTaskId) throw new Error('Kling taskId 없음: ' + JSON.stringify(taskResp).substring(0, 200));\n  videoUrl = await pollTask.call(this, klingTaskId);\n  if (!videoUrl) throw new Error('Kling 영상 URL 없음');\n}\n\n// ⑤ totalDuration 계산\nconst videoDuration = clipDur;\nlet totalDuration = tts.audioUrl ? (isAutoClip ? tts.duration : Math.max(videoDuration, tts.duration)) : videoDuration;\nlet subtitles = [];\nlet sceneDuration = 0;\nlet totalDurationSource = 'tts';\nif (ttsText) {\n  const timingResult = await buildSubtitleTimings.call(this, job.prompt_p1 || '', ttsText, totalDuration);\n  subtitles = timingResult.subtitle_timings;\n  sceneDuration = timingResult.scene_duration || 0;\n  // F-8: auto 모드 — TTS 실측 vs scene_duration 긴 쪽 기준\n  if (isAutoClip && sceneDuration > 0) {\n    if (sceneDuration > tts.duration) {\n      totalDuration = sceneDuration;\n      totalDurationSource = 'scene';\n    } else {\n      totalDuration = tts.duration;\n      totalDurationSource = 'tts';\n    }\n  }\n}\n\n// === Length Gate ===\nconst targetDuration = job.target_duration || job.duration || null;\nconst strictMode = job.strict_mode === true;\nlet lengthGateStatus = 'no_gate';\nlet clipCount = 1;\nlet lengthGateLog = '';\n\nif (targetDuration) {\n  // 통과 기준: strict=target±1초, soft=target-3초 이상\n  const maxDuration = strictMode ? targetDuration + 1 : targetDuration + 1;\n  const minDuration = strictMode ? targetDuration - 1 : targetDuration - 3;\n\n  if (totalDuration >= minDuration && totalDuration <= maxDuration) {\n    lengthGateStatus = 'pass';\n  } else if (totalDuration < minDuration) {\n    // 너무 짧음 → clip_count 보정 (영상 클립 반복으로 채움)\n    clipCount = Math.ceil(targetDuration / Math.max(totalDuration, 1));\n    const adjustedDuration = totalDuration * clipCount;\n    if (adjustedDuration >= minDuration) {\n      lengthGateStatus = 'corrected_short';\n      totalDuration = Math.min(adjustedDuration, targetDuration);\n      lengthGateLog = `짧음 보정: ${clipCount}클립, ${adjustedDuration.toFixed(1)}s`;\n    } else if (strictMode) {\n      lengthGateStatus = 'blocked_short';\n      throw new Error(`LENGTH_GATE_BLOCKED: ${totalDuration.toFixed(1)}s < min ${minDuration}s (strict_mode)`);\n    } else {\n      lengthGateStatus = 'under_soft';\n      lengthGateLog = `목표 미달 soft: ${totalDuration.toFixed(1)}s < ${minDuration}s`;\n    }\n  } else {\n    // 너무 김 → clip_count 재계산\n    clipCount = Math.ceil(totalDuration / targetDuration);\n    const adjustedDuration = totalDuration / clipCount;\n    if (adjustedDuration <= maxDuration && adjustedDuration >= minDuration) {\n      lengthGateStatus = 'corrected_long';\n      totalDuration = adjustedDuration;\n      lengthGateLog = `김 보정: ${clipCount}클립, ${adjustedDuration.toFixed(1)}s`;\n    } else if (strictMode) {\n      lengthGateStatus = 'blocked_long';\n      throw new Error(`LENGTH_GATE_BLOCKED: ${totalDuration.toFixed(1)}s > max ${maxDuration}s (strict_mode)`);\n    } else {\n      lengthGateStatus = 'over_soft';\n      lengthGateLog = `목표 초과 soft: ${totalDuration.toFixed(1)}s > ${maxDuration}s`;\n    }\n  }\n}\n\n// === Verify Mode: output_hash 생성 ===\nconst verifyMode = job.verify_mode === true;\nlet outputHash = null;\nif (verifyMode) {\n  const hashInput = JSON.stringify({\n    prompt_to_engine: job.prompt_to_engine || '',\n    production_mode: 'ai_video',\n    clip_duration: clipDur,\n    aspect_ratio: job.aspect_ratio || '9:16',\n    target_duration: targetDuration,\n    tts_text: ttsText || '',\n    total_duration: totalDuration\n  });\n  let oh = 0x811c9dc5;\n  for (let i = 0; i < hashInput.length; i++) {\n    oh ^= hashInput.charCodeAt(i);\n    oh = Math.imul(oh, 0x01000193);\n  }\n  outputHash = (oh >>> 0).toString(16).padStart(8, '0');\n}\n\nreturn [{\n  json: {\n    ...job,\n    production_mode: 'ai_video',\n    kling_video_url: videoUrl,\n    tts_audio_url: tts.audioUrl,\n    tts_duration: tts.duration,\n    tts_text: ttsText,\n    tts_subtitles: subtitles,\n    scene_results: [{ index: 0, video_url: videoUrl, model: 'kling-3.0/video' }],\n    total_scenes: 1,\n    total_duration: totalDuration,\n    all_images: allImages,\n    direct_image_urls: directImages,\n    enable_bgm: job.enable_bgm || false,\n    enable_sfx: job.enable_sfx || false,\n    bgm_url: job.bgm_url || '',\n    length_gate_status: lengthGateStatus,\n    length_gate_log: lengthGateLog,\n    clip_count: clipCount,\n    clip_duration_mode: isAutoClip ? 'auto' : 'fixed',\n    actual_clip_duration: clipDur,\n    scene_duration: sceneDuration,\n    total_duration_source: totalDurationSource,\n    target_duration: targetDuration,\n    verify_mode: verifyMode,\n    output_hash: outputHash\n  }\n}];\n\n/* === 기존 Seedance 코드 (보존) ===\n// ... Seedance polling + TTS ...\n=== 기존 Seedance 코드 끝 === */"
        },
        "id": "process-clips",
        "name": "멀티씬 순차 처리",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// YouTube 업로드 — 일시 비활성화\nconst job = $input.first().json;\nreturn [{\n  json: {\n    ...job,\n    youtube_video_id: 'skip-' + Date.now(),\n    youtube_url: job.rendered_video_url || ''\n  }\n}];"
        },
        "id": "upload-youtube",
        "name": "YouTube 업로드",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3536,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// ✅ 웹앱 콜백 — 성공 (uploaded)\nconst job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\nif (!productionId || !callbackUrl) {\n  // production_id 또는 콜백 URL 없으면 스킵\n  return [{ json: { ...job, callback_sent: false, reason: 'no production_id or callback_url' } }];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId: productionId,\n      status: 'uploaded',\n      youtubeVideoId: job.youtube_video_id || null,\n      youtubeUrl: job.youtube_url || null,\n      renderedVideoUrl: job.rendered_video_url || null,\n      videoUrl: job.rendered_video_url || null,\n      jobId: job.id\n    },\n    json: true\n  });\n  return [{ json: { ...job, callback_sent: true } }];\n} catch(e) {\n  // 콜백 실패해도 파이프라인은 성공으로 유지\n  return [{ json: { ...job, callback_sent: false, callback_error: e.message } }];\n}"
        },
        "id": "callback-success",
        "name": "웹앱 콜백 (성공)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4208,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// ✅ 웹앱 콜백 — 실패/재시도\nconst result = $input.first().json;\nconst jobId = result.id || result.job_id;\nconst status = result.status; // 'failed' or 'queued' (retry)\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\n// production_id는 원본 job에서 가져옴\nconst originalJob = $('큐에서 Job 꺼내기').first().json;\nconst productionId = originalJob?.production_id;\n\nif (!productionId || !callbackUrl) {\n  return [{ json: { ...result, callback_sent: false } }];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId: productionId,\n      status: status,\n      error: result.last_error || $('에러 캡처').first().json?.error_message || null,\n      retryCount: result.retry_count || 0,\n      jobId: jobId\n    },\n    json: true\n  });\n  return [{ json: { ...result, callback_sent: true } }];\n} catch(e) {\n  return [{ json: { ...result, callback_sent: false, callback_error: e.message } }];\n}"
        },
        "id": "callback-fail",
        "name": "웹앱 콜백 (실패)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2448,
          464
        ]
      },
      {
        "parameters": {
          "jsCode": "const job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\nif (!productionId || !callbackUrl) return [{ json: job }];\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: { productionId, status: 'processing', jobId: job.id },\n    json: true\n  });\n} catch(e) {}\nreturn [{ json: job }];"
        },
        "id": "cb-processing",
        "name": "콜백 (processing)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\nif (!productionId || !callbackUrl) return [{ json: job }];\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: { productionId, status: 'rendering', jobId: job.id },\n    json: true\n  });\n} catch(e) {}\nreturn [{ json: job }];"
        },
        "id": "cb-rendering",
        "name": "콜백 (rendering)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "const job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\n// verify_mode: output_hash를 job_logs에 기록\nif (job.verify_mode === true && job.output_hash) {\n  try {\n    const logDetail = JSON.stringify({\n      output_hash: job.output_hash,\n      length_gate_status: job.length_gate_status || 'no_gate',\n      total_duration: job.total_duration || 0,\n      target_duration: job.target_duration || 0,\n      prompt_hash: job.prompt_hash || '',\n      clip_count: job.clip_count || 1\n    });\n    // job_logs INSERT via n8n postgres - use internal API\n    // Note: this runs as a callback, the actual INSERT is handled by the DB node pattern\n    // Store for downstream logging\n    job._verify_log = logDetail;\n  } catch(e) {}\n}\n\nif (!productionId || !callbackUrl) return [{ json: job }];\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId,\n      status: 'generated',\n      jobId: job.id,\n      videoUrl: job.rendered_video_url || null,\n      renderedVideoUrl: job.rendered_video_url || null,\n      output_hash: job.output_hash || null,\n      length_gate_status: job.length_gate_status || null\n    },\n    json: true\n  });\n} catch(e) {}\nreturn [{ json: job }];"
        },
        "id": "cb-generated",
        "name": "콜백 (generated)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "prompt-lock-check",
                "leftValue": "={{ $json.prompt_lock_valid }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "prompt-lock-if",
        "name": "Prompt Lock 확인",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1150,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "// Prompt Lock 불일치 — 최신 prompt_p1 기준 재생성\nconst job = $input.first().json;\n\n// prompt_hash를 현재 해시로 갱신\nconst p1 = (job.prompt_p1 || '').trim();\nlet currentHash = '';\nif (p1) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < p1.length; i++) {\n    h ^= p1.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  currentHash = (h >>> 0).toString(16).padStart(8, '0');\n  currentHash += '-' + p1.length + '-' + p1.substring(0, 4).split('').map(c => c.charCodeAt(0).toString(16)).join('');\n}\n\n// 최신 prompt_p1 기준으로 prompt_to_engine 재조립\nconst analysisParts = [];\nconst files = job.files || [];\nfiles.forEach((f, i) => {\n  if (f.vision_analysis) analysisParts.push(`[Image ${i+1}: ${f.vision_analysis}]`);\n  if (f.video_analysis) analysisParts.push(`[Video ${i+1}: ${f.video_analysis}]`);\n});\n\nlet basePrompt = p1;\nif (!p1) {\n  const autoParts = [];\n  if (job.topic) autoParts.push(`Create a cinematic video about: ${job.topic}`);\n  if (job.keywords) autoParts.push(`Keywords: ${job.keywords}`);\n  basePrompt = autoParts.join('. ') + '. High quality, smooth motion.';\n}\n\nconst promptWithAnalysis = analysisParts.length > 0\n  ? analysisParts.join('\\n') + '\\n' + basePrompt\n  : basePrompt;\n\nreturn [{\n  json: {\n    ...job,\n    prompt_to_engine: promptWithAnalysis,\n    prompt_hash: currentHash,\n    prompt_hash_current: currentHash,\n    prompt_lock_valid: true,\n    prompt_lock_action: 'regenerated',\n    assembled_at: new Date().toISOString()\n  }\n}];"
        },
        "id": "prompt-lock-regen",
        "name": "Prompt Lock 재생성",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1350,
          480
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT prompt_hash FROM jobs WHERE id = '{{ $json.id }}'",
          "options": {}
        },
        "id": "render-prompt-check",
        "name": "렌더 전 Prompt 확인",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2200,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 렌더 직전 prompt_hash 재확인\nconst processResult = $('멀티씬 순차 처리').first().json;\nconst dbResult = $input.first().json;\nconst dbHash = dbResult.prompt_hash || '';\nconst currentHash = processResult.prompt_hash || processResult.prompt_hash_current || '';\n\n// 불일치 시 에러 (이전 생성 무효)\nif (dbHash && currentHash && dbHash !== currentHash) {\n  throw new Error('PROMPT_LOCK_CHANGED: 렌더 직전 prompt가 변경됨. 재시도 필요.');\n}\n\nreturn [{ json: { ...processResult } }];"
        },
        "id": "render-lock-check",
        "name": "렌더 Lock 확인",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          304
        ]
      }
    ],
    "connections": {
      "스케줄 트리거 (30초)": {
        "main": [
          [
            {
              "node": "큐에서 Job 꺼내기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "큐에서 Job 꺼내기": {
        "main": [
          [
            {
              "node": "Job 존재 여부",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job 존재 여부": {
        "main": [
          [
            {
              "node": "상태 → processing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "대기 (Job 없음)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → processing": {
        "main": [
          [
            {
              "node": "콜백 (processing)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AO 프롬프트 조립 (P1 보존)": {
        "main": [
          [
            {
              "node": "Prompt Lock 확인",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "번역 필요 여부": {
        "main": [
          [
            {
              "node": "한글→영문 번역 (Claude)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "멀티씬 순차 처리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "한글→영문 번역 (Claude)": {
        "main": [
          [
            {
              "node": "번역 결과 병합",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "렌더링 대기 (폴링)": {
        "main": [
          [
            {
              "node": "콜백 (rendering)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → generated": {
        "main": [
          [
            {
              "node": "콜백 (generated)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → uploading": {
        "main": [
          [
            {
              "node": "YouTube 업로드",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "에러 캡처": {
        "main": [
          [
            {
              "node": "재시도 or 실패 처리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "수동 실행": {
        "main": [
          [
            {
              "node": "큐에서 Job 꺼내기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "번역 결과 병합": {
        "main": [
          [
            {
              "node": "멀티씬 순차 처리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "멀티씬 순차 처리": {
        "main": [
          [
            {
              "node": "렌더 전 Prompt 확인",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "최종 영상 합성 (Creatomate)": {
        "main": [
          [
            {
              "node": "렌더링 대기 (폴링)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube 업로드": {
        "main": [
          [
            {
              "node": "상태 → uploaded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → uploaded": {
        "main": [
          [
            {
              "node": "웹앱 콜백 (성공)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "재시도 or 실패 처리": {
        "main": [
          [
            {
              "node": "웹앱 콜백 (실패)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "콜백 (processing)": {
        "main": [
          [
            {
              "node": "AO 프롬프트 조립 (P1 보존)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "콜백 (rendering)": {
        "main": [
          [
            {
              "node": "상태 → generated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "콜백 (generated)": {
        "main": [
          [
            {
              "node": "상태 → uploading",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt Lock 확인": {
        "main": [
          [
            {
              "node": "Prompt Lock 재생성",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "번역 필요 여부",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt Lock 재생성": {
        "main": [
          [
            {
              "node": "번역 필요 여부",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "렌더 전 Prompt 확인": {
        "main": [
          [
            {
              "node": "렌더 Lock 확인",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "렌더 Lock 확인": {
        "main": [
          [
            {
              "node": "최종 영상 합성 (Creatomate)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "hatihoro15 hatihoro15",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-07T14:22:01.107Z",
        "id": 812,
        "workflowId": "FHYohZccExR24Uha",
        "versionId": "501f4c89-7666-423a-b17c-3a60fb43d850",
        "event": "activated",
        "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2"
      }
    ]
  }
}