n8n/ao_worker.json
{
  "updatedAt": "2026-03-05T17:32:16.561Z",
  "createdAt": "2026-03-05T10:52:54.255Z",
  "id": "FHYohZccExR24Uha",
  "name": "AO Worker",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "스케줄 트리거 (30초)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM jobs\nWHERE status = 'queued'\nORDER BY created_at ASC\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
        "options": {}
      },
      "id": "pop-queue",
      "name": "큐에서 Job 꺼내기",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-job-exists",
      "name": "Job 존재 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status = 'processing', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
        "options": {}
      },
      "id": "mark-processing",
      "name": "상태 → processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ AO 프롬프트 조립기 — P1 원문 100% 보존 + files[] 통합 구조\nconst job = $input.first().json;\n\nconst p1 = job.prompt_p1 || '';\n\n// files 파싱 (DB에는 clips 컬럼에 저장됨)\nlet files = [];\ntry {\n  files = typeof job.clips === 'string' ? JSON.parse(job.clips) : (job.clips || []);\n} catch(e) { files = []; }\n\nconst slotValues = {\n  TOPIC: job.topic || '',\n  KEYWORDS: job.keywords || '',\n  CATEGORY: job.category || '',\n  LANG: job.prompt_lang_detected || 'ko',\n  ASPECT_RATIO: '9:16'\n};\n\nconst finalPrompt = p1\n  .replace(/\\{TOPIC\\}/g, slotValues.TOPIC)\n  .replace(/\\{KEYWORDS\\}/g, slotValues.KEYWORDS)\n  .replace(/\\{CATEGORY\\}/g, slotValues.CATEGORY)\n  .replace(/\\{LANG\\}/g, slotValues.LANG)\n  .replace(/\\{ASPECT_RATIO\\}/g, slotValues.ASPECT_RATIO);\n\n// 모든 파일의 분석 결과를 수집 (유/무 관계없이 전부)\nconst analysisParts = [];\nfiles.forEach((f, i) => {\n  if (f.vision_analysis) analysisParts.push(`[Image ${i+1}: ${f.vision_analysis}]`);\n  if (f.video_analysis) analysisParts.push(`[Video ${i+1}: ${f.video_analysis}]`);\n});\n\n// P1이 없으면 topic + keywords + 분석 결과로 자동 프롬프트 생성\nlet basePrompt = finalPrompt;\nif (!p1) {\n  const autoParts = [];\n  if (job.topic) autoParts.push(`Create a cinematic video about: ${job.topic}`);\n  if (job.keywords) autoParts.push(`Keywords: ${job.keywords}`);\n  if (job.category) autoParts.push(`Category: ${job.category}`);\n  basePrompt = autoParts.join('. ') + '. High quality, smooth motion, professional cinematography.';\n}\n\nconst promptWithAnalysis = analysisParts.length > 0\n  ? analysisParts.join('\\n') + '\\n' + basePrompt\n  : basePrompt;\n\nreturn [{\n  json: {\n    ...job,\n    files: files,\n    clip_duration: job.clip_duration || 8,\n    prompt_to_engine: promptWithAnalysis,\n    prompt_p1_preserved: p1 || null,\n    prompt_auto_generated: !p1,\n    assembled_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "assemble-prompt",
      "name": "AO 프롬프트 조립 (P1 보존)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.needs_translation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-translation",
      "name": "번역 필요 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"다음 한국어 텍스트를 영어로 번역해줘. 원문 의미를 100% 보존하고, 번역문만 반환해. 설명 없이.\\n\\n{{ $json.prompt_to_engine }}\"\n  }]\n}",
        "options": {}
      },
      "id": "translate-prompt",
      "name": "한글→영문 번역 (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mr2FTmB2pmyvlbWK",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $('번역 필요 여부').first().json;\nconst translated = $input.first().json;\n\nconst promptEn = translated.content?.[0]?.text || prev.prompt_to_engine;\n\nreturn [{\n  json: {\n    ...prev,\n    prompt_en: promptEn\n  }\n}];"
      },
      "id": "merge-translation",
      "name": "번역 결과 병합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ Creatomate 최종 영상 합성 — ai_video / slideshow 분기\nconst job = $input.first().json;\nconst productionMode = job.production_mode || 'ai_video';\nconst scenes = job.scene_results || [];\nconst apiKey = $env.CREATOMATE_API_KEY;\n\nif (scenes.length === 0) throw new Error('scene_results가 비어있음');\n\nlet elements = [];\n\nif (productionMode === 'slideshow') {\n  // ===== SLIDESHOW: 이미지 슬라이드 + TTS + 자막 =====\n  const slideDur = parseInt(job.slide_duration) || 3;\n  const totalDur = scenes.length * slideDur;\n\n  // 이미지 슬라이드\n  scenes.forEach((s, i) => {\n    elements.push({\n      type: 'image',\n      source: s.image_url,\n      time: i * slideDur,\n      duration: slideDur,\n      fit: 'cover',\n      animations: [\n        { type: 'scale', fade: false, scope: 'element', start_scale: '100%', end_scale: '120%' }\n      ]\n    });\n  });\n\n  // TTS 나레이션 (전체 길이)\n  if (job.tts_audio_url) {\n    elements.push({\n      type: 'audio',\n      source: job.tts_audio_url,\n      time: 0,\n      duration: totalDur\n    });\n  }\n\n  // 자막 (TTS 텍스트)\n  if (job.tts_text) {\n    elements.push({\n      type: 'text',\n      text: job.tts_text,\n      time: 0,\n      duration: Math.min(totalDur, 10),\n      y: '80%',\n      width: '90%',\n      x_alignment: '50%',\n      y_alignment: '50%',\n      font_family: 'Noto Sans KR',\n      font_weight: 700,\n      font_size: '7 vmin',\n      fill_color: '#ffffff',\n      stroke_color: '#000000',\n      stroke_width: '1.5 vmin',\n      background_color: 'rgba(0,0,0,0.5)',\n      background_x_padding: '3 vmin',\n      background_y_padding: '2 vmin',\n      background_border_radius: '1 vmin'\n    });\n  }\n} else {\n  // ===== AI_VIDEO: 기존 씬별 클립 이어붙이기 (변경 없음) =====\n  const dur = parseInt(job.clip_duration) <= 4 ? 4 : 8;\n  scenes.forEach((s, i) => {\n    elements.push({\n      type: 'video',\n      source: s.video_url,\n      time: i * dur,\n      duration: dur,\n      fit: 'cover'\n    });\n    if (s.audio_url) {\n      elements.push({\n        type: 'audio',\n        source: s.audio_url,\n        time: i * dur,\n        duration: dur\n      });\n    }\n  });\n}\n\nconst body = {\n  source: {\n    output_format: 'mp4',\n    width: 1080,\n    height: 1920,\n    elements: elements\n  }\n};\n\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.creatomate.com/v1/renders',\n  headers: {\n    'Authorization': `Bearer ${apiKey}`,\n    'Content-Type': 'application/json'\n  },\n  body: body,\n  json: true\n});\n\nconst render = Array.isArray(resp) ? resp[0] : resp;\nreturn [{ json: render }];"
      },
      "id": "render-video",
      "name": "최종 영상 합성 (Creatomate)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Creatomate 렌더 폴링\nconst renderResponse = $input.first().json;\nconst renderId = renderResponse.id || (Array.isArray(renderResponse) ? renderResponse[0]?.id : null);\nif (!renderId) throw new Error('renderId 없음');\n\nconst apiKey = $env.CREATOMATE_API_KEY || '';\nlet status = 'planned';\nlet url = null;\nlet attempts = 0;\nconst maxAttempts = 60;\n\nwhile (!['succeeded', 'failed'].includes(status) && attempts < maxAttempts) {\n  await new Promise(r => setTimeout(r, 5000));\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.creatomate.com/v1/renders/${renderId}`,\n    headers: { 'Authorization': `Bearer ${apiKey}` },\n    json: true\n  });\n  status = resp.status;\n  url = resp.url;\n  attempts++;\n}\n\nif (status !== 'succeeded' || !url) {\n  throw new Error(`영상 렌더링 실패: ${status}`);\n}\n\n// ✅ TTS 폴링 출력에서 job 원본 데이터 병합\nconst prevData = $('멀티씬 순차 처리').first().json;\nreturn [{\n  json: {\n    ...prevData,\n    rendered_video_url: url,\n    render_id: renderId\n  }\n}];"
      },
      "id": "poll-render",
      "name": "렌더링 대기 (폴링)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7uzM44eLOitv8ubQ",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs\nSET status = 'generated',\n    rendered_video_url = '{{ $json.rendered_video_url }}',\n    render_id = '{{ $json.render_id }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\nRETURNING *;",
        "options": {}
      },
      "id": "mark-generated",
      "name": "상태 → generated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3328,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status = 'uploading', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
        "options": {}
      },
      "id": "mark-uploading",
      "name": "상태 → uploading",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3552,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs\nSET status = 'uploaded',\n    youtube_video_id = '{{ $json.youtube_video_id }}',\n    youtube_url = '{{ $json.youtube_url }}',\n    completed_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\nRETURNING *;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.id }}',\n  'info',\n  'YouTube 업로드 완료',\n  NOW()\n);",
        "options": {}
      },
      "id": "mark-uploaded",
      "name": "상태 → uploaded",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3984,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ 에러 핸들러 — 재시도 로직\nconst error = $input.first().json;\nconst jobId = $('큐에서 Job 꺼내기').first().json?.id;\n\nif (!jobId) return [];\n\nreturn [{\n  json: {\n    job_id: jobId,\n    error_message: error.message || JSON.stringify(error),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "handle-error",
      "name": "에러 캡처",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs\nSET retry_count = retry_count + 1,\n    status = CASE\n      WHEN retry_count + 1 >= 3 THEN 'failed'\n      ELSE 'queued'\n    END,\n    last_error = '{{ $json.error_message }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.job_id }}'\nRETURNING id, status, retry_count;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.job_id }}',\n  'error',\n  '{{ $json.error_message }}',\n  NOW()\n);",
        "options": {}
      },
      "id": "retry-or-fail",
      "name": "재시도 or 실패 처리",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2224,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "4W3WKJLsJKa9hVAA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-job",
      "name": "대기 (Job 없음)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        528
      ],
      "id": "2b83b859-bae3-46a9-b29b-495a5e214a13",
      "name": "수동 실행"
    },
    {
      "parameters": {
        "jsCode": "// ✅ 영상/슬라이드쇼 처리 — production_mode 분기\nconst job = $input.first().json;\nconst productionMode = job.production_mode || 'ai_video';\nlet files = job.files || [];\nif (typeof files === 'string') { try { files = JSON.parse(files); } catch(e) { files = []; } }\n\nconst directFiles = files.filter(f => f.use_directly !== false);\nconst apiKey = $env.KIEAI_API_KEY;\nconst promptBase = job.prompt_en || job.prompt_to_engine || job.prompt_p1;\n\n// kie.ai 폴링 (공통)\nasync function pollTask(taskId) {\n  for (let i = 0; i < 90; i++) {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.kie.ai/api/v1/jobs/recordInfo?taskId=${taskId}`,\n      headers: { 'Authorization': `Bearer ${apiKey}` },\n      json: true\n    });\n    const state = resp?.data?.state;\n    if (state === 'success') {\n      const result = JSON.parse(resp.data.resultJson || '{}');\n      return result.resultUrls?.[0] || null;\n    }\n    if (state === 'failed' || state === 'fail') {\n      throw new Error(`Task 실패: ${resp.data.failMsg || state}`);\n    }\n    await new Promise(r => setTimeout(r, 10000));\n  }\n  throw new Error('Task 타임아웃 (900초)');\n}\n\n// TTS 생성 (공통)\nasync function generateTTS(text) {\n  if (!text) return null;\n  const ttsResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: {\n      model: 'elevenlabs/text-to-speech-multilingual-v2',\n      input: { text: text, voice_id: 'EXAVITQu4vr4xnSDxMaL' }\n    },\n    json: true\n  });\n  const ttsTaskId = ttsResp?.data?.taskId;\n  if (ttsTaskId) return await pollTask.call(this, ttsTaskId);\n  return null;\n}\n\n// 이미지 URL 수집\nconst imageUrls = directFiles\n  .filter(f => f.type === 'image' && f.url)\n  .map(f => f.url);\n\n// ===== SLIDESHOW 모드 =====\nif (productionMode === 'slideshow') {\n  if (imageUrls.length === 0) throw new Error('slideshow 모드: 이미지가 없습니다');\n  const slideDur = parseInt(job.slide_duration) || 3;\n  const ttsText = job.prompt_p1 || job.topic || '';\n  const audioUrl = await generateTTS.call(this, ttsText);\n\n  return [{\n    json: {\n      ...job,\n      production_mode: 'slideshow',\n      slide_image_urls: imageUrls,\n      slide_duration: slideDur,\n      tts_audio_url: audioUrl,\n      tts_text: ttsText,\n      scene_results: imageUrls.map((url, i) => ({\n        index: i,\n        image_url: url,\n        audio_url: i === 0 ? audioUrl : null,\n        type: 'slide'\n      })),\n      total_scenes: imageUrls.length,\n      total_duration: imageUrls.length * slideDur\n    }\n  }];\n}\n\n// ===== AI_VIDEO 모드 (기존 Kling 3.0 — 변경 없음) =====\nif (directFiles.length === 0) {\n  if (!job.prompt_p1 && !job.prompt_to_engine) throw new Error('파일과 프롬프트 모두 없음');\n}\n\nconst rawDur = parseInt(job.clip_duration) || 8;\nconst duration = String(Math.max(3, Math.min(15, rawDur)));\n\nconst klingInput = {\n  prompt: promptBase,\n  aspect_ratio: '9:16',\n  mode: 'std',\n  sound: false,\n  duration: duration\n};\n\nif (imageUrls.length > 0) {\n  klingInput.image_urls = imageUrls.slice(0, 2);\n}\n\nlet taskResp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.kie.ai/api/v1/jobs/createTask',\n  headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n  body: { model: 'kling-3.0/video', input: klingInput },\n  json: true\n});\n\nif (taskResp?.code !== 200 && klingInput.image_urls) {\n  delete klingInput.image_urls;\n  taskResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: { model: 'kling-3.0/video', input: klingInput },\n    json: true\n  });\n}\n\nconst klingTaskId = taskResp?.data?.taskId;\nif (!klingTaskId) throw new Error('Kling taskId 없음: ' + JSON.stringify(taskResp).substring(0, 200));\n\nconst videoUrl = await pollTask.call(this, klingTaskId);\nif (!videoUrl) throw new Error('Kling 영상 URL 없음');\n\nconst audioUrl = await generateTTS.call(this, job.topic);\n\nconst sceneResults = [{\n  index: 0,\n  video_url: videoUrl,\n  file_urls: imageUrls,\n  audio_url: audioUrl,\n  model: 'kling-3.0/video'\n}];\n\nreturn [{\n  json: {\n    ...job,\n    production_mode: 'ai_video',\n    scene_results: sceneResults,\n    total_scenes: 1,\n    total_duration: parseInt(duration)\n  }\n}];\n\n/* === 기존 Seedance 코드 (보존) ===\n// ... Seedance polling + TTS ...\n=== 기존 Seedance 코드 끝 === */"
      },
      "id": "process-clips",
      "name": "멀티씬 순차 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ YouTube 업로드 — OAuth token refresh + chunked upload\nconst job = $input.first().json;\nconst videoUrl = job.rendered_video_url;\nif (!videoUrl) throw new Error('rendered_video_url 없음');\n\n// 1) OAuth 토큰 갱신\nconst tokenResp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://oauth2.googleapis.com/token',\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=refresh_token&client_id=${$env.YT_CLIENT_ID}&client_secret=${$env.YT_CLIENT_SECRET}&refresh_token=${$env.YT_REFRESH_TOKEN}`,\n  json: true\n});\nconst accessToken = tokenResp.access_token;\nif (!accessToken) throw new Error('YouTube token refresh 실패');\n\n// 2) 영상 크기 확인\nconst headResp = await this.helpers.httpRequest({\n  method: 'HEAD',\n  url: videoUrl,\n  returnFullResponse: true\n});\nconst contentLength = headResp.headers?.['content-length'] || '0';\n\nconst title = job.metadata?.title || job.topic || 'AO 자동 생성 영상';\nconst description = job.metadata?.description || [job.topic, job.keywords].filter(Boolean).join(' - ');\nconst tags = job.metadata?.tags || (job.keywords ? job.keywords.split(',').map(t => t.trim()) : []);\n\n// 3) Resumable upload 초기화\nconst initResp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status',\n  headers: {\n    'Authorization': `Bearer ${accessToken}`,\n    'Content-Type': 'application/json; charset=UTF-8',\n    'X-Upload-Content-Length': contentLength,\n    'X-Upload-Content-Type': 'video/mp4'\n  },\n  body: { snippet: { title, description, tags, categoryId: '22' }, status: { privacyStatus: 'unlisted' } },\n  json: true,\n  returnFullResponse: true\n});\n\nconst uploadUrl = initResp.headers?.location;\nif (!uploadUrl) throw new Error('resumable URL 없음');\n\n// 4) 영상 다운로드 (Buffer)\nconst videoResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: videoUrl,\n  encoding: null,\n  returnFullResponse: true\n});\nconst videoBuffer = videoResp.body;\n\n// 5) PUT 업로드 — Node.js https 모듈 사용 (EPIPE 우회)\nconst https = require('https');\nconst url = require('url');\n\nconst uploadResult = await new Promise((resolve, reject) => {\n  const parsed = new URL(uploadUrl);\n  const options = {\n    hostname: parsed.hostname,\n    path: parsed.pathname + parsed.search,\n    method: 'PUT',\n    headers: {\n      'Content-Type': 'video/mp4',\n      'Content-Length': videoBuffer.length\n    }\n  };\n\n  const req = https.request(options, (res) => {\n    let data = '';\n    res.on('data', chunk => data += chunk);\n    res.on('end', () => {\n      try { resolve(JSON.parse(data)); }\n      catch(e) { resolve({ raw: data }); }\n    });\n  });\n\n  req.on('error', reject);\n  req.write(videoBuffer);\n  req.end();\n});\n\nconst youtubeId = uploadResult?.id;\nconst youtubeUrl = youtubeId ? `https://youtube.com/watch?v=${youtubeId}` : null;\n\nif (!youtubeId) throw new Error('YouTube 업로드 실패: ' + JSON.stringify(uploadResult).substring(0, 200));\n\nreturn [{\n  json: {\n    ...job,\n    youtube_video_id: youtubeId,\n    youtube_url: youtubeUrl\n  }\n}];"
      },
      "id": "upload-youtube",
      "name": "YouTube 업로드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ 웹앱 콜백 — 성공 (uploaded)\nconst job = $input.first().json;\nconst productionId = job.production_id;\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\nif (!productionId || !callbackUrl) {\n  // production_id 또는 콜백 URL 없으면 스킵\n  return [{ json: { ...job, callback_sent: false, reason: 'no production_id or callback_url' } }];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId: productionId,\n      status: 'uploaded',\n      youtubeVideoId: job.youtube_video_id || null,\n      youtubeUrl: job.youtube_url || null,\n      renderedVideoUrl: job.rendered_video_url || null,\n      jobId: job.id\n    },\n    json: true\n  });\n  return [{ json: { ...job, callback_sent: true } }];\n} catch(e) {\n  // 콜백 실패해도 파이프라인은 성공으로 유지\n  return [{ json: { ...job, callback_sent: false, callback_error: e.message } }];\n}"
      },
      "id": "callback-success",
      "name": "웹앱 콜백 (성공)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ 웹앱 콜백 — 실패/재시도\nconst result = $input.first().json;\nconst jobId = result.id || result.job_id;\nconst status = result.status; // 'failed' or 'queued' (retry)\nconst callbackUrl = $env.WEBAPP_CALLBACK_URL;\n\n// production_id는 원본 job에서 가져옴\nconst originalJob = $('큐에서 Job 꺼내기').first().json;\nconst productionId = originalJob?.production_id;\n\nif (!productionId || !callbackUrl) {\n  return [{ json: { ...result, callback_sent: false } }];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${callbackUrl}/api/productions/callback`,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      productionId: productionId,\n      status: status,\n      error: result.last_error || $('에러 캡처').first().json?.error_message || null,\n      retryCount: result.retry_count || 0,\n      jobId: jobId\n    },\n    json: true\n  });\n  return [{ json: { ...result, callback_sent: true } }];\n} catch(e) {\n  return [{ json: { ...result, callback_sent: false, callback_error: e.message } }];\n}"
      },
      "id": "callback-fail",
      "name": "웹앱 콜백 (실패)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        464
      ]
    }
  ],
  "connections": {
    "스케줄 트리거 (30초)": {
      "main": [
        [
          {
            "node": "큐에서 Job 꺼내기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "큐에서 Job 꺼내기": {
      "main": [
        [
          {
            "node": "Job 존재 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job 존재 여부": {
      "main": [
        [
          {
            "node": "상태 → processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "대기 (Job 없음)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → processing": {
      "main": [
        [
          {
            "node": "AO 프롬프트 조립 (P1 보존)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AO 프롬프트 조립 (P1 보존)": {
      "main": [
        [
          {
            "node": "번역 필요 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "번역 필요 여부": {
      "main": [
        [
          {
            "node": "한글→영문 번역 (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "멀티씬 순차 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "한글→영문 번역 (Claude)": {
      "main": [
        [
          {
            "node": "번역 결과 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더링 대기 (폴링)": {
      "main": [
        [
          {
            "node": "상태 → generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → generated": {
      "main": [
        [
          {
            "node": "상태 → uploading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → uploading": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "에러 캡처": {
      "main": [
        [
          {
            "node": "재시도 or 실패 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수동 실행": {
      "main": [
        [
          {
            "node": "큐에서 Job 꺼내기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "번역 결과 병합": {
      "main": [
        [
          {
            "node": "멀티씬 순차 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "멀티씬 순차 처리": {
      "main": [
        [
          {
            "node": "최종 영상 합성 (Creatomate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "최종 영상 합성 (Creatomate)": {
      "main": [
        [
          {
            "node": "렌더링 대기 (폴링)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "상태 → uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 → uploaded": {
      "main": [
        [
          {
            "node": "웹앱 콜백 (성공)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "재시도 or 실패 처리": {
      "main": [
        [
          {
            "node": "웹앱 콜백 (실패)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "{{ AO Worker 에러 핸들러 워크플로우 ID }}",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:스케줄 트리거 (30초)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {
    "수동 실행": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "79561ef8-a68e-444e-9cb6-40a5cdc7d5dd",
  "activeVersionId": "79561ef8-a68e-444e-9cb6-40a5cdc7d5dd",
  "versionCounter": 62,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-05T10:52:54.255Z",
      "createdAt": "2026-03-05T10:52:54.255Z",
      "role": "workflow:owner",
      "workflowId": "FHYohZccExR24Uha",
      "projectId": "W6LETsSnBzw4J5Aa",
      "project": {
        "updatedAt": "2026-02-09T04:42:12.235Z",
        "createdAt": "2026-02-07T19:04:11.494Z",
        "id": "W6LETsSnBzw4J5Aa",
        "name": "hatihoro15 hatihoro15 <hatihoro15@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T19:04:11.494Z",
            "createdAt": "2026-02-07T19:04:11.494Z",
            "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
            "projectId": "W6LETsSnBzw4J5Aa",
            "user": {
              "updatedAt": "2026-03-05T12:31:17.668Z",
              "createdAt": "2026-02-07T19:04:09.331Z",
              "id": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
              "email": "hatihoro15@gmail.com",
              "firstName": "hatihoro15",
              "lastName": "hatihoro15",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-07T19:24:51.818Z",
                "personalization_survey_n8n_version": "2.6.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FHYohZccExR24Uha",
                "userActivatedAt": 1772709240022,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1772185245155
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-05T17:32:16.562Z",
    "createdAt": "2026-03-05T17:32:16.562Z",
    "versionId": "79561ef8-a68e-444e-9cb6-40a5cdc7d5dd",
    "workflowId": "FHYohZccExR24Uha",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds"
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "스케줄 트리거 (30초)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM jobs\nWHERE status = 'queued'\nORDER BY created_at ASC\nLIMIT 1\nFOR UPDATE SKIP LOCKED;",
          "options": {}
        },
        "id": "pop-queue",
        "name": "큐에서 Job 꺼내기",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "check-job-exists",
        "name": "Job 존재 여부",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs SET status = 'processing', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
          "options": {}
        },
        "id": "mark-processing",
        "name": "상태 → processing",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          912,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ✅ AO 프롬프트 조립기 — P1 원문 100% 보존 + files[] 통합 구조\nconst job = $input.first().json;\n\nconst p1 = job.prompt_p1 || '';\n\n// files 파싱 (DB에는 clips 컬럼에 저장됨)\nlet files = [];\ntry {\n  files = typeof job.clips === 'string' ? JSON.parse(job.clips) : (job.clips || []);\n} catch(e) { files = []; }\n\nconst slotValues = {\n  TOPIC: job.topic || '',\n  KEYWORDS: job.keywords || '',\n  CATEGORY: job.category || '',\n  LANG: job.prompt_lang_detected || 'ko',\n  ASPECT_RATIO: '9:16'\n};\n\nconst finalPrompt = p1\n  .replace(/\\{TOPIC\\}/g, slotValues.TOPIC)\n  .replace(/\\{KEYWORDS\\}/g, slotValues.KEYWORDS)\n  .replace(/\\{CATEGORY\\}/g, slotValues.CATEGORY)\n  .replace(/\\{LANG\\}/g, slotValues.LANG)\n  .replace(/\\{ASPECT_RATIO\\}/g, slotValues.ASPECT_RATIO);\n\n// 모든 파일의 분석 결과를 수집 (유/무 관계없이 전부)\nconst analysisParts = [];\nfiles.forEach((f, i) => {\n  if (f.vision_analysis) analysisParts.push(`[Image ${i+1}: ${f.vision_analysis}]`);\n  if (f.video_analysis) analysisParts.push(`[Video ${i+1}: ${f.video_analysis}]`);\n});\n\n// P1이 없으면 topic + keywords + 분석 결과로 자동 프롬프트 생성\nlet basePrompt = finalPrompt;\nif (!p1) {\n  const autoParts = [];\n  if (job.topic) autoParts.push(`Create a cinematic video about: ${job.topic}`);\n  if (job.keywords) autoParts.push(`Keywords: ${job.keywords}`);\n  if (job.category) autoParts.push(`Category: ${job.category}`);\n  basePrompt = autoParts.join('. ') + '. High quality, smooth motion, professional cinematography.';\n}\n\nconst promptWithAnalysis = analysisParts.length > 0\n  ? analysisParts.join('\\n') + '\\n' + basePrompt\n  : basePrompt;\n\nreturn [{\n  json: {\n    ...job,\n    files: files,\n    clip_duration: job.clip_duration || 8,\n    prompt_to_engine: promptWithAnalysis,\n    prompt_p1_preserved: p1 || null,\n    prompt_auto_generated: !p1,\n    assembled_at: new Date().toISOString()\n  }\n}];"
        },
        "id": "assemble-prompt",
        "name": "AO 프롬프트 조립 (P1 보존)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {},
            "conditions": [
              {
                "leftValue": "={{ $json.needs_translation }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "check-translation",
        "name": "번역 필요 여부",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1344,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $credentials.httpHeaderAuth.value }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"다음 한국어 텍스트를 영어로 번역해줘. 원문 의미를 100% 보존하고, 번역문만 반환해. 설명 없이.\\n\\n{{ $json.prompt_to_engine }}\"\n  }]\n}",
          "options": {}
        },
        "id": "translate-prompt",
        "name": "한글→영문 번역 (Claude)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1568,
          144
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "mr2FTmB2pmyvlbWK",
            "name": "Claude API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const prev = $('번역 필요 여부').first().json;\nconst translated = $input.first().json;\n\nconst promptEn = translated.content?.[0]?.text || prev.prompt_to_engine;\n\nreturn [{\n  json: {\n    ...prev,\n    prompt_en: promptEn\n  }\n}];"
        },
        "id": "merge-translation",
        "name": "번역 결과 병합",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          144
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"elevenlabs/text-to-speech-multilingual-v2\",\n  \"input\": {\n    \"text\": \"{{ $json.narration_script || $json.topic }}\",\n    \"voice_id\": \"EXAVITQu4vr4xnSDxMaL\"\n  }\n}",
          "options": {}
        },
        "id": "generate-tts",
        "name": "TTS 생성 (ElevenLabs)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2672,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "OipYAEtrzhD1lJmL",
            "name": "KieAI TTS"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.creatomate.com/v1/renders",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"source\": {\n    \"output_format\": \"mp4\",\n    \"width\": 1080,\n    \"height\": 1920,\n    \"duration\": null,\n    \"elements\": [\n      ...(() => {\n        const clips = $json.clip_videos || [];\n        const dur = $json.clip_duration || 8;\n        return clips.map((c, i) => ({\n          \"type\": \"video\",\n          \"source\": c.video_url,\n          \"time\": i * dur,\n          \"duration\": dur,\n          \"fit\": \"cover\"\n        }));\n      })(),\n      ...(() => {\n        const audioUrl = $json.tts_audio_url;\n        return audioUrl ? [{ \"type\": \"audio\", \"source\": audioUrl, \"time\": 0, \"duration\": null }] : [];\n      })()\n    ]\n  }\n}",
          "options": {}
        },
        "id": "render-video",
        "name": "영상 렌더링 (Creatomate)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2880,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "7uzM44eLOitv8ubQ",
            "name": "Creatomate API"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Creatomate 렌더 폴링\nconst renderResponse = $input.first().json;\nconst renderId = renderResponse.id || (Array.isArray(renderResponse) ? renderResponse[0]?.id : null);\nif (!renderId) throw new Error('renderId 없음');\n\nconst apiKey = $env.CREATOMATE_API_KEY || '';\nlet status = 'planned';\nlet url = null;\nlet attempts = 0;\nconst maxAttempts = 60;\n\nwhile (!['succeeded', 'failed'].includes(status) && attempts < maxAttempts) {\n  await new Promise(r => setTimeout(r, 5000));\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.creatomate.com/v1/renders/${renderId}`,\n    headers: { 'Authorization': `Bearer ${apiKey}` },\n    json: true\n  });\n  status = resp.status;\n  url = resp.url;\n  attempts++;\n}\n\nif (status !== 'succeeded' || !url) {\n  throw new Error(`영상 렌더링 실패: ${status}`);\n}\n\n// ✅ TTS 폴링 출력에서 job 원본 데이터 병합\nconst prevData = $('TTS 생성 대기 (폴링)').first().json;\nreturn [{\n  json: {\n    ...prevData,\n    rendered_video_url: url,\n    render_id: renderId\n  }\n}];"
        },
        "id": "poll-render",
        "name": "렌더링 대기 (폴링)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3104,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "7uzM44eLOitv8ubQ",
            "name": "Creatomate API"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs\nSET status = 'generated',\n    rendered_video_url = '{{ $json.rendered_video_url }}',\n    render_id = '{{ $json.render_id }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\nRETURNING *;",
          "options": {}
        },
        "id": "mark-generated",
        "name": "상태 → generated",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3328,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs SET status = 'uploading', updated_at = NOW() WHERE id = '{{ $json.id }}' RETURNING *;",
          "options": {}
        },
        "id": "mark-uploading",
        "name": "상태 → uploading",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3552,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
          "authentication": "genericCredentialType",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"snippet\": {\n    \"title\": \"{{ $json.metadata?.title || $json.topic }}\",\n    \"description\": \"{{ $json.metadata?.description || '' }}\",\n    \"tags\": {{ JSON.stringify($json.metadata?.tags || $json.keywords.split(',')) }},\n    \"categoryId\": \"22\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"{{ $json.metadata?.privacy || 'public' }}\"\n  }\n}",
          "options": {},
          "genericAuthType": "googleOAuth2Api"
        },
        "id": "upload-youtube",
        "name": "YouTube 업로드",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3760,
          208
        ],
        "credentials": {
          "googleOAuth2Api": {
            "id": "FHvjDOGBtI0zvyFA",
            "name": "YouTube OAuth2"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs\nSET status = 'uploaded',\n    youtube_video_id = '{{ $json.id }}',\n    youtube_url = CONCAT('https://youtu.be/', '{{ $json.id }}'),\n    completed_at = NOW(),\n    updated_at = NOW()\nWHERE id = '{{ $node[\"상태 → uploading\"].json.id }}'\nRETURNING *;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $node[\"상태 → uploading\"].json.id }}',\n  'info',\n  'YouTube 업로드 완료',\n  NOW()\n);",
          "options": {}
        },
        "id": "mark-uploaded",
        "name": "상태 → uploaded",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3984,
          208
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ✅ 에러 핸들러 — 재시도 로직\nconst error = $input.first().json;\nconst jobId = $('큐에서 Job 꺼내기').first().json?.id;\n\nif (!jobId) return [];\n\nreturn [{\n  json: {\n    job_id: jobId,\n    error_message: error.message || JSON.stringify(error),\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "handle-error",
        "name": "에러 캡처",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          464
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE jobs\nSET retry_count = retry_count + 1,\n    status = CASE\n      WHEN retry_count + 1 >= 3 THEN 'failed'\n      ELSE 'queued'\n    END,\n    last_error = '{{ $json.error_message }}',\n    updated_at = NOW()\nWHERE id = '{{ $json.job_id }}'\nRETURNING id, status, retry_count;\n\nINSERT INTO job_logs (job_id, level, message, created_at)\nVALUES (\n  '{{ $json.job_id }}',\n  'error',\n  '{{ $json.error_message }}',\n  NOW()\n);",
          "options": {}
        },
        "id": "retry-or-fail",
        "name": "재시도 or 실패 처리",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2224,
          464
        ],
        "credentials": {
          "postgres": {
            "id": "4W3WKJLsJKa9hVAA",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {},
        "id": "no-job",
        "name": "대기 (Job 없음)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          912,
          400
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          272,
          528
        ],
        "id": "2b83b859-bae3-46a9-b29b-495a5e214a13",
        "name": "수동 실행"
      },
      {
        "parameters": {
          "jsCode": "// ✅ kie.ai TTS 폴링 — 오디오 URL 획득\nconst ttsResponse = $input.first().json;\nconst taskId = ttsResponse?.data?.taskId;\nif (!taskId) throw new Error('TTS taskId 없음 - TTS 응답: ' + JSON.stringify(ttsResponse).substring(0, 200));\n\nconst apiKey = $env.KIEAI_API_KEY || '';\nconst maxRetries = 30;\nconst interval = 5000;\n\nlet audioUrl = null;\nfor (let i = 0; i < maxRetries; i++) {\n  const resp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.kie.ai/api/v1/jobs/recordInfo?taskId=${taskId}`,\n    headers: { 'Authorization': `Bearer ${apiKey}` },\n    json: true\n  });\n\n  const state = resp?.data?.state;\n  if (state === 'success') {\n    const resultJson = JSON.parse(resp.data.resultJson || '{}');\n    audioUrl = resultJson.resultUrls?.[0] || null;\n    break;\n  }\n  if (state === 'failed' || resp?.data?.failMsg) {\n    throw new Error(`TTS 생성 실패: ${resp.data.failMsg || state}`);\n  }\n  await new Promise(r => setTimeout(r, interval));\n}\n\nif (!audioUrl) throw new Error('TTS 생성 타임아웃 (150초)');\n\n// ✅ 이전 노드 데이터 병합\nconst prevData = $('나레이션 생성 (Claude)').first().json;\nreturn [{\n  json: {\n    ...prevData,\n    tts_audio_url: audioUrl,\n    tts_task_id: taskId\n  }\n}];"
        },
        "id": "tts-poll",
        "name": "TTS 생성 대기 (폴링)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2776,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// ✅ 멀티클립 순차 처리 — clips[] 루프\nconst job = $input.first().json;\nlet clips = [];\ntry {\n  clips = typeof job.clips === 'string' ? JSON.parse(job.clips) : (job.clips || []);\n} catch(e) { clips = []; }\n\nif (clips.length === 0) throw new Error('clips 배열이 비어있음');\n\nconst duration = String(job.clip_duration || 8);\nconst apiKey = $env.KIEAI_API_KEY;\nconst promptBase = job.prompt_en || job.prompt_to_engine || job.prompt_p1;\nconst clipVideos = [];\n\n// kie.ai 폴링 헬퍼\nasync function pollTask(taskId, helpers) {\n  for (let i = 0; i < 60; i++) {\n    const resp = await helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.kie.ai/api/v1/jobs/recordInfo?taskId=${taskId}`,\n      headers: { 'Authorization': `Bearer ${apiKey}` },\n      json: true\n    });\n    const state = resp?.data?.state;\n    if (state === 'success') {\n      const result = JSON.parse(resp.data.resultJson || '{}');\n      return result.resultUrls?.[0] || null;\n    }\n    if (state === 'failed' || state === 'fail') {\n      throw new Error(`Task 실패: ${resp.data.failMsg || state}`);\n    }\n    await new Promise(r => setTimeout(r, 10000));\n  }\n  throw new Error('Task 타임아웃 (600초)');\n}\n\nfor (let i = 0; i < clips.length; i++) {\n  const clip = clips[i];\n\n  // 1) 영상 프롬프트 조립: vision_analysis + scene_prompt + P1\n  const parts = [];\n  if (clip.vision_analysis) parts.push(`[Image: ${clip.vision_analysis}]`);\n  if (clip.scene_prompt) parts.push(`[Scene: ${clip.scene_prompt}]`);\n  parts.push(promptBase);\n  const videoPrompt = parts.join('\\n');\n\n  // 2) Seedance createTask\n  const taskResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.kie.ai/api/v1/jobs/createTask',\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      model: 'bytedance/seedance-1.5-pro',\n      input: {\n        prompt: videoPrompt,\n        input_urls: clip.image_url ? [clip.image_url] : [],\n        aspect_ratio: '9:16',\n        resolution: '720p',\n        duration: duration,\n        fixed_lens: false,\n        generate_audio: false\n      }\n    },\n    json: true\n  });\n\n  const taskId = taskResp?.data?.taskId;\n  if (!taskId) throw new Error(`Clip ${i+1} Seedance taskId 없음`);\n\n  // 3) 폴링\n  const videoUrl = await pollTask(taskId, this.helpers);\n  if (!videoUrl) throw new Error(`Clip ${i+1} 영상 URL 없음`);\n\n  clipVideos.push({ index: i, video_url: videoUrl, image_url: clip.image_url || '' });\n}\n\nreturn [{\n  json: {\n    ...job,\n    clip_videos: clipVideos,\n    total_clips: clipVideos.length,\n    total_duration: clipVideos.length * parseInt(duration)\n  }\n}];"
        },
        "id": "process-clips",
        "name": "클립 순차 처리 (Seedance)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "// ✅ Claude API로 나레이션 대본 생성\nconst job = $input.first().json;\nconst totalDuration = job.total_duration || 40;\nconst clipCount = job.total_clips || 5;\n\nconst apiKey = $env.CLAUDE_API_KEY || '';\n\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': apiKey,\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1500,\n    messages: [{\n      role: 'user',\n      content: `다음 영상의 나레이션 대본을 작성해줘.\\n\\n주제: ${job.topic || ''}\\n키워드: ${job.keywords || ''}\\n메인 지시: ${job.prompt_p1}\\n총 영상 길이: ${totalDuration}초 (${clipCount}개 장면)\\n\\n규칙:\\n- 총 ${totalDuration}초 분량에 맞는 나레이션\\n- 자연스러운 한국어\\n- 나레이션 텍스트만 출력 (설명/주석 없이)`\n    }]\n  },\n  json: true\n});\n\nconst narrationScript = resp?.content?.[0]?.text || job.topic || '';\n\nreturn [{\n  json: {\n    ...job,\n    narration_script: narrationScript\n  }\n}];"
        },
        "id": "generate-narration",
        "name": "나레이션 생성 (Claude)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2224,
          208
        ]
      }
    ],
    "connections": {
      "스케줄 트리거 (30초)": {
        "main": [
          [
            {
              "node": "큐에서 Job 꺼내기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "큐에서 Job 꺼내기": {
        "main": [
          [
            {
              "node": "Job 존재 여부",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job 존재 여부": {
        "main": [
          [
            {
              "node": "상태 → processing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "대기 (Job 없음)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → processing": {
        "main": [
          [
            {
              "node": "AO 프롬프트 조립 (P1 보존)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AO 프롬프트 조립 (P1 보존)": {
        "main": [
          [
            {
              "node": "번역 필요 여부",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "번역 필요 여부": {
        "main": [
          [
            {
              "node": "한글→영문 번역 (Claude)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "클립 순차 처리 (Seedance)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "한글→영문 번역 (Claude)": {
        "main": [
          [
            {
              "node": "번역 결과 병합",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TTS 생성 (ElevenLabs)": {
        "main": [
          [
            {
              "node": "TTS 생성 대기 (폴링)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "영상 렌더링 (Creatomate)": {
        "main": [
          [
            {
              "node": "렌더링 대기 (폴링)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "렌더링 대기 (폴링)": {
        "main": [
          [
            {
              "node": "상태 → generated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → generated": {
        "main": [
          [
            {
              "node": "상태 → uploading",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "상태 → uploading": {
        "main": [
          [
            {
              "node": "YouTube 업로드",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube 업로드": {
        "main": [
          [
            {
              "node": "상태 → uploaded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "에러 캡처": {
        "main": [
          [
            {
              "node": "재시도 or 실패 처리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "수동 실행": {
        "main": [
          [
            {
              "node": "큐에서 Job 꺼내기",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TTS 생성 대기 (폴링)": {
        "main": [
          [
            {
              "node": "영상 렌더링 (Creatomate)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "번역 결과 병합": {
        "main": [
          [
            {
              "node": "클립 순차 처리 (Seedance)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "클립 순차 처리 (Seedance)": {
        "main": [
          [
            {
              "node": "나레이션 생성 (Claude)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "나레이션 생성 (Claude)": {
        "main": [
          [
            {
              "node": "TTS 생성 (ElevenLabs)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "hatihoro15 hatihoro15",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-05T17:32:16.610Z",
        "id": 731,
        "workflowId": "FHYohZccExR24Uha",
        "versionId": "79561ef8-a68e-444e-9cb6-40a5cdc7d5dd",
        "event": "activated",
        "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2"
      }
    ]
  }
}