n8n-workflows/ao_producer.json
{
    "updatedAt": "2026-03-05T11:12:43.939Z",
    "createdAt": "2026-03-05T10:52:36.709Z",
    "id": "XV5shW265ht59MTD",
    "name": "AO Producer",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ao-produce",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                304
            ],
            "webhookId": "dff8568d-f569-4980-9f70-70cff125ff40"
        },
        {
            "parameters": {
                "jsCode": "// \ud544\uc218\uac12 \uac80\uc0ac (\uc804\uccb4 \ud30c\uc774\ud504\ub77c\uc778 \uac1c\ud3b8: use_mode + generated_images)\ntry {\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['topic', 'keywords', 'category'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length > 0) throw new Error(`\ud544\uc218\uac12 \ub204\ub77d: ${missing.join(', ')}`);\n\n// files \uac80\uc99d (\ucd5c\ub300 10\uac1c)\nconst files = body.files || [];\nif (files.length > 20) throw new Error(`files \ucd5c\ub300 20\uac1c (\ud604\uc7ac: ${files.length})`);\n\n// generated_images \uac80\uc99d\nconst generatedImages = body.generated_images || [];\n\n// production_mode: ai_video (\uae30\ubcf8) / slideshow\nconst productionMode = body.production_mode || 'ai_video';\nif (!['ai_video', 'slideshow'].includes(productionMode)) {\n  throw new Error(`production_mode \uc624\ub958: ${productionMode} (ai_video/slideshow \uc911 \ud558\ub098)`);\n}\n\n// slideshow \ubaa8\ub4dc: \uc774\ubbf8\uc9c0(files \ub610\ub294 generated_images) \ucd5c\uc18c 1\uac1c \ud544\uc694\nif (productionMode === 'slideshow' && files.length === 0 && generatedImages.length === 0) {\n  throw new Error('slideshow \ubaa8\ub4dc\ub294 \ubbf8\ub514\uc5b4\uac00 \ucd5c\uc18c 1\uac1c \ud544\uc694\ud569\ub2c8\ub2e4.');\n}\n\n// ai_video \ubaa8\ub4dc: \ud504\ub86c\ud504\ud2b8 or \uc774\ubbf8\uc9c0 \uc911 \ucd5c\uc18c 1\uac1c\nif (productionMode === 'ai_video' && files.length === 0 && generatedImages.length === 0 && !body.prompt_p1) {\n  throw new Error('\ud30c\uc77c, \uc0dd\uc131 \uc774\ubbf8\uc9c0, \ud504\ub86c\ud504\ud2b8 \uc911 \ucd5c\uc18c 1\uac1c\ub294 \ud544\uc694\ud569\ub2c8\ub2e4.');\n}\n\n// has_images \ud50c\ub798\uadf8\nconst hasImages = files.length > 0 || generatedImages.length > 0;\n\n// clip_duration: ai_video=3~15\ucd08(Kling), slideshow=\ubb34\uad00\nconst rawDur = parseInt(body.clip_duration) || 8;\nconst clipDuration = productionMode === 'ai_video' ? Math.max(3, Math.min(15, rawDur)) : rawDur;\n\n// slide_duration: \uc2ac\ub77c\uc774\ub4dc\ub2f9 \ucd08 (\uae30\ubcf8 3\ucd08)\nconst slideDuration = parseInt(body.slide_duration) || 3;\n\n// aspect_ratio: 9:16 (\uae30\ubcf8) / 16:9\nconst aspectRatio = body.aspect_ratio || '9:16';\nif (!['9:16', '16:9'].includes(aspectRatio)) {\n  throw new Error(`aspect_ratio \uc624\ub958: ${aspectRatio} (9:16/16:9 \uc911 \ud558\ub098)`);\n}\n\nconst useMedia = body.use_media || 'forced';\nconst uploadTarget = body.upload_target || 'youtube';\n\n// files \uc815\uaddc\ud654 (use_mode: direct/generate/analysis_only)\nconst finalFiles = files.map(f => ({\n  type: f.type || 'image',\n  url: f.url || '',\n  vision_analysis: f.vision_analysis || '',\n  video_analysis: f.video_analysis || '',\n  use_mode: f.use_mode || 'direct',\n  auto_prompt: f.auto_prompt || '',\n  skip_kling: (f.type === 'video')\n}));\n\n// BGM / \ud6a8\uacfc\uc74c\nconst bgmUrl = body.bgm_url || '';\nconst enableBgm = !!body.enable_bgm;\nconst enableSfx = !!body.enable_sfx;\n\n// \uc5b8\uc5b4 \uac10\uc9c0\nconst isKorean = /[\\uAC00-\\uD7A3]/.test((body.prompt_p1 || '') + body.topic);\nconst translateMode = body.translate_mode || 'auto';\nconst needsTranslation = translateMode === 'on' || (translateMode === 'auto' && isKorean);\n\n// SQL \uc2f1\uae00\ucffc\ud2b8 \uc774\uc2a4\ucf00\uc774\ud504 (INSERT \ud15c\ud50c\ub9bf\uc6a9)\nconst esc = (s) => typeof s === 'string' ? s.replace(/'/g, \"''\") : s;\n\nreturn [{\n  json: {\n    error: false,\n    ...body,\n    prompt_p1: esc(body.prompt_p1 || ''),\n    topic: esc(body.topic || ''),\n    keywords: esc(body.keywords || ''),\n    category: esc(body.category || ''),\n    narration_script: esc(body.narration_script || ''),\n    narration_text: esc(body.narration_text || ''),\n    production_id: body.productionId || body.production_id || null,\n    production_mode: productionMode,\n    has_images: hasImages,\n    clips: esc(JSON.stringify(finalFiles)),\n    generated_images: esc(JSON.stringify(generatedImages)),\n    aspect_ratio: aspectRatio,\n    clip_duration: clipDuration,\n    slide_duration: slideDuration,\n    use_media: useMedia,\n    upload_target: uploadTarget,\n    bgm_url: bgmUrl,\n    enable_bgm: enableBgm,\n    enable_sfx: enableSfx,\n    prompt_lang_detected: isKorean ? 'ko' : 'en',\n    needs_translation: needsTranslation,\n    validated_at: new Date().toISOString()\n  }\n}];\n} catch (e) {\n  return [{ json: { error: true, message: e.message } }];\n}"
            },
            "id": "validate-input",
            "name": "\uc785\ub825\uac12 \uac80\uc99d",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                464,
                304
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO jobs (\n  prompt_p1, topic, keywords, category,\n  use_media, upload_target, template_id,\n  clips, clip_duration, slide_duration,\n  aspect_ratio, production_mode, generated_images,\n  metadata, prompt_lang_detected, needs_translation,\n  production_id, narration_script,\n  status, retry_count, created_at, updated_at\n) VALUES (\n  '{{ $json.prompt_p1 }}',\n  '{{ $json.topic }}',\n  '{{ $json.keywords }}',\n  '{{ $json.category }}',\n  '{{ $json.use_media }}',\n  '{{ $json.upload_target }}',\n  {{ $json.template_id ? `'${$json.template_id}'` : 'NULL' }},\n  '{{ JSON.stringify($json.clips) }}'::jsonb,\n  {{ $json.clip_duration }},\n  {{ $json.slide_duration }},\n  '{{ $json.aspect_ratio }}',\n  '{{ $json.production_mode }}',\n  '{{ $json.generated_images || '[]' }}'::jsonb,\n  {{ $json.metadata ? `'${JSON.stringify($json.metadata)}'::jsonb` : 'NULL' }},\n  '{{ $json.prompt_lang_detected }}',\n  {{ $json.needs_translation }},\n  {{ $json.production_id ? `'${$json.production_id}'` : 'NULL' }},\n  {{ ($json.narration_script || $json.narration_text) ? `'${$json.narration_script || $json.narration_text}'` : 'NULL' }},\n  'queued', 0, NOW(), NOW()\n) RETURNING id, status, created_at, production_id;",
                "options": {}
            },
            "id": "create-job",
            "name": "Job \uc0dd\uc131 (Supabase)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                688,
                304
            ],
            "credentials": {
                "postgres": {
                    "id": "4W3WKJLsJKa9hVAA",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const job = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    job_id: job.id,\n    production_id: job.production_id || null,\n    status: job.status,\n    message: 'Job\uc774 \ud050\uc5d0 \ub4f1\ub85d\ub418\uc5c8\uc2b5\ub2c8\ub2e4.',\n    created_at: job.created_at\n  }\n}];"
            },
            "id": "format-response",
            "name": "\uc751\ub2f5 \ud3ec\ub9f7",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                912,
                304
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-success",
            "name": "\uc751\ub2f5 \ubc18\ud658 (200)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                304
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "respond-error",
            "name": "\uc751\ub2f5 \ubc18\ud658 (400)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                480
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "id": "val-err-check",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-validation",
            "name": "\uac80\uc99d \uacb0\uacfc \ubd84\uae30",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                576,
                304
            ]
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                496
            ],
            "id": "5160caee-1747-4855-9bed-ee01c7e6ab84",
            "name": "\uc218\ub3d9 \uc2e4\ud589"
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "\uc785\ub825\uac12 \uac80\uc99d",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc785\ub825\uac12 \uac80\uc99d": {
            "main": [
                [
                    {
                        "node": "\uac80\uc99d \uacb0\uacfc \ubd84\uae30",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uac80\uc99d \uacb0\uacfc \ubd84\uae30": {
            "main": [
                [
                    {
                        "node": "\uc751\ub2f5 \ubc18\ud658 (400)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Job \uc0dd\uc131 (Supabase)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Job \uc0dd\uc131 (Supabase)": {
            "main": [
                [
                    {
                        "node": "\uc751\ub2f5 \ud3ec\ub9f7",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc751\ub2f5 \ud3ec\ub9f7": {
            "main": [
                [
                    {
                        "node": "\uc751\ub2f5 \ubc18\ud658 (200)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc218\ub3d9 \uc2e4\ud589": {
            "main": [
                [
                    {
                        "node": "\uc785\ub825\uac12 \uac80\uc99d",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "60c383aa-525a-43c7-9bef-dcd18efbe1d3",
    "activeVersionId": "60c383aa-525a-43c7-9bef-dcd18efbe1d3",
    "versionCounter": 13,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-05T10:52:36.709Z",
            "createdAt": "2026-03-05T10:52:36.709Z",
            "role": "workflow:owner",
            "workflowId": "XV5shW265ht59MTD",
            "projectId": "W6LETsSnBzw4J5Aa",
            "project": {
                "updatedAt": "2026-02-09T04:42:12.235Z",
                "createdAt": "2026-02-07T19:04:11.494Z",
                "id": "W6LETsSnBzw4J5Aa",
                "name": "hatihoro15 hatihoro15 <hatihoro15@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-07T19:04:11.494Z",
                        "createdAt": "2026-02-07T19:04:11.494Z",
                        "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
                        "projectId": "W6LETsSnBzw4J5Aa",
                        "user": {
                            "updatedAt": "2026-03-06T06:33:00.256Z",
                            "createdAt": "2026-02-07T19:04:09.331Z",
                            "id": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
                            "email": "hatihoro15@gmail.com",
                            "firstName": "hatihoro15",
                            "lastName": "hatihoro15",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-07T19:24:51.818Z",
                                "personalization_survey_n8n_version": "2.6.4"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "d5b35fb7f1724e448",
                                "userActivatedAt": 1772755418959,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 2,
                                    "lastShownAt": 1772185245155
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-03-05",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-06T06:31:23.529Z",
        "createdAt": "2026-03-06T06:31:23.529Z",
        "versionId": "60c383aa-525a-43c7-9bef-dcd18efbe1d3",
        "workflowId": "XV5shW265ht59MTD",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "ao-produce",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "webhook-trigger",
                "name": "Webhook Trigger",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    240,
                    304
                ],
                "webhookId": "dff8568d-f569-4980-9f70-70cff125ff40"
            },
            {
                "parameters": {
                    "jsCode": "// \ud544\uc218\uac12 \uac80\uc0ac (\uc804\uccb4 \ud30c\uc774\ud504\ub77c\uc778 \uac1c\ud3b8: use_mode + generated_images)\ntry {\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['topic', 'keywords', 'category'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length > 0) throw new Error(`\ud544\uc218\uac12 \ub204\ub77d: ${missing.join(', ')}`);\n\n// files \uac80\uc99d (\ucd5c\ub300 10\uac1c)\nconst files = body.files || [];\nif (files.length > 20) throw new Error(`files \ucd5c\ub300 20\uac1c (\ud604\uc7ac: ${files.length})`);\n\n// generated_images \uac80\uc99d\nconst generatedImages = body.generated_images || [];\n\n// production_mode: ai_video (\uae30\ubcf8) / slideshow\nconst productionMode = body.production_mode || 'ai_video';\nif (!['ai_video', 'slideshow'].includes(productionMode)) {\n  throw new Error(`production_mode \uc624\ub958: ${productionMode} (ai_video/slideshow \uc911 \ud558\ub098)`);\n}\n\n// slideshow \ubaa8\ub4dc: \uc774\ubbf8\uc9c0(files \ub610\ub294 generated_images) \ucd5c\uc18c 1\uac1c \ud544\uc694\nif (productionMode === 'slideshow' && files.length === 0 && generatedImages.length === 0) {\n  throw new Error('slideshow \ubaa8\ub4dc\ub294 \ubbf8\ub514\uc5b4\uac00 \ucd5c\uc18c 1\uac1c \ud544\uc694\ud569\ub2c8\ub2e4.');\n}\n\n// ai_video \ubaa8\ub4dc: \ud504\ub86c\ud504\ud2b8 or \uc774\ubbf8\uc9c0 \uc911 \ucd5c\uc18c 1\uac1c\nif (productionMode === 'ai_video' && files.length === 0 && generatedImages.length === 0 && !body.prompt_p1) {\n  throw new Error('\ud30c\uc77c, \uc0dd\uc131 \uc774\ubbf8\uc9c0, \ud504\ub86c\ud504\ud2b8 \uc911 \ucd5c\uc18c 1\uac1c\ub294 \ud544\uc694\ud569\ub2c8\ub2e4.');\n}\n\n// has_images \ud50c\ub798\uadf8\nconst hasImages = files.length > 0 || generatedImages.length > 0;\n\n// clip_duration: ai_video=3~15\ucd08(Kling), slideshow=\ubb34\uad00\nconst rawDur = parseInt(body.clip_duration) || 8;\nconst clipDuration = productionMode === 'ai_video' ? Math.max(3, Math.min(15, rawDur)) : rawDur;\n\n// slide_duration: \uc2ac\ub77c\uc774\ub4dc\ub2f9 \ucd08 (\uae30\ubcf8 3\ucd08)\nconst slideDuration = parseInt(body.slide_duration) || 3;\n\n// aspect_ratio: 9:16 (\uae30\ubcf8) / 16:9\nconst aspectRatio = body.aspect_ratio || '9:16';\nif (!['9:16', '16:9'].includes(aspectRatio)) {\n  throw new Error(`aspect_ratio \uc624\ub958: ${aspectRatio} (9:16/16:9 \uc911 \ud558\ub098)`);\n}\n\nconst useMedia = body.use_media || 'forced';\nconst uploadTarget = body.upload_target || 'youtube';\n\n// files \uc815\uaddc\ud654 (use_mode: direct/generate/analysis_only)\nconst finalFiles = files.map(f => ({\n  type: f.type || 'image',\n  url: f.url || '',\n  vision_analysis: f.vision_analysis || '',\n  video_analysis: f.video_analysis || '',\n  use_mode: f.use_mode || 'direct',\n  auto_prompt: f.auto_prompt || '',\n  skip_kling: (f.type === 'video')\n}));\n\n// BGM / \ud6a8\uacfc\uc74c\nconst bgmUrl = body.bgm_url || '';\nconst enableBgm = !!body.enable_bgm;\nconst enableSfx = !!body.enable_sfx;\n\n// \uc5b8\uc5b4 \uac10\uc9c0\nconst isKorean = /[\\uAC00-\\uD7A3]/.test((body.prompt_p1 || '') + body.topic);\nconst translateMode = body.translate_mode || 'auto';\nconst needsTranslation = translateMode === 'on' || (translateMode === 'auto' && isKorean);\n\n// SQL \uc2f1\uae00\ucffc\ud2b8 \uc774\uc2a4\ucf00\uc774\ud504 (INSERT \ud15c\ud50c\ub9bf\uc6a9)\nconst esc = (s) => typeof s === 'string' ? s.replace(/'/g, \"''\") : s;\n\nreturn [{\n  json: {\n    error: false,\n    ...body,\n    prompt_p1: esc(body.prompt_p1 || ''),\n    topic: esc(body.topic || ''),\n    keywords: esc(body.keywords || ''),\n    category: esc(body.category || ''),\n    narration_script: esc(body.narration_script || ''),\n    narration_text: esc(body.narration_text || ''),\n    production_id: body.productionId || body.production_id || null,\n    production_mode: productionMode,\n    has_images: hasImages,\n    clips: esc(JSON.stringify(finalFiles)),\n    generated_images: esc(JSON.stringify(generatedImages)),\n    aspect_ratio: aspectRatio,\n    clip_duration: clipDuration,\n    slide_duration: slideDuration,\n    use_media: useMedia,\n    upload_target: uploadTarget,\n    bgm_url: bgmUrl,\n    enable_bgm: enableBgm,\n    enable_sfx: enableSfx,\n    prompt_lang_detected: isKorean ? 'ko' : 'en',\n    needs_translation: needsTranslation,\n    validated_at: new Date().toISOString()\n  }\n}];\n} catch (e) {\n  return [{ json: { error: true, message: e.message } }];\n}"
                },
                "id": "validate-input",
                "name": "\uc785\ub825\uac12 \uac80\uc99d",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    464,
                    304
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "INSERT INTO jobs (\n  prompt_p1, topic, keywords, category,\n  use_media, upload_target, template_id,\n  clips, clip_duration, slide_duration,\n  aspect_ratio, production_mode, generated_images,\n  metadata, prompt_lang_detected, needs_translation,\n  production_id, narration_script,\n  status, retry_count, created_at, updated_at\n) VALUES (\n  '{{ $json.prompt_p1 }}',\n  '{{ $json.topic }}',\n  '{{ $json.keywords }}',\n  '{{ $json.category }}',\n  '{{ $json.use_media }}',\n  '{{ $json.upload_target }}',\n  {{ $json.template_id ? `'${$json.template_id}'` : 'NULL' }},\n  '{{ JSON.stringify($json.clips) }}'::jsonb,\n  {{ $json.clip_duration }},\n  {{ $json.slide_duration }},\n  '{{ $json.aspect_ratio }}',\n  '{{ $json.production_mode }}',\n  '{{ $json.generated_images || '[]' }}'::jsonb,\n  {{ $json.metadata ? `'${JSON.stringify($json.metadata)}'::jsonb` : 'NULL' }},\n  '{{ $json.prompt_lang_detected }}',\n  {{ $json.needs_translation }},\n  {{ $json.production_id ? `'${$json.production_id}'` : 'NULL' }},\n  {{ ($json.narration_script || $json.narration_text) ? `'${$json.narration_script || $json.narration_text}'` : 'NULL' }},\n  'queued', 0, NOW(), NOW()\n) RETURNING id, status, created_at, production_id;",
                    "options": {}
                },
                "id": "create-job",
                "name": "Job \uc0dd\uc131 (Supabase)",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    688,
                    304
                ],
                "credentials": {
                    "postgres": {
                        "id": "4W3WKJLsJKa9hVAA",
                        "name": "Postgres account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const job = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    job_id: job.id,\n    production_id: job.production_id || null,\n    status: job.status,\n    message: 'Job\uc774 \ud050\uc5d0 \ub4f1\ub85d\ub418\uc5c8\uc2b5\ub2c8\ub2e4.',\n    created_at: job.created_at\n  }\n}];"
                },
                "id": "format-response",
                "name": "\uc751\ub2f5 \ud3ec\ub9f7",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    912,
                    304
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ $json }}",
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "respond-success",
                "name": "\uc751\ub2f5 \ubc18\ud658 (200)",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    1120,
                    304
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
                    "options": {
                        "responseCode": 400
                    }
                },
                "id": "respond-error",
                "name": "\uc751\ub2f5 \ubc18\ud658 (400)",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    1120,
                    480
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": ""
                        },
                        "conditions": [
                            {
                                "id": "val-err-check",
                                "leftValue": "={{ $json.error }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals",
                                    "singleValue": true
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-validation",
                "name": "\uac80\uc99d \uacb0\uacfc \ubd84\uae30",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    576,
                    304
                ]
            },
            {
                "parameters": {},
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    240,
                    496
                ],
                "id": "5160caee-1747-4855-9bed-ee01c7e6ab84",
                "name": "\uc218\ub3d9 \uc2e4\ud589"
            }
        ],
        "connections": {
            "Webhook Trigger": {
                "main": [
                    [
                        {
                            "node": "\uc785\ub825\uac12 \uac80\uc99d",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "\uc785\ub825\uac12 \uac80\uc99d": {
                "main": [
                    [
                        {
                            "node": "\uac80\uc99d \uacb0\uacfc \ubd84\uae30",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "\uac80\uc99d \uacb0\uacfc \ubd84\uae30": {
                "main": [
                    [
                        {
                            "node": "\uc751\ub2f5 \ubc18\ud658 (400)",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Job \uc0dd\uc131 (Supabase)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Job \uc0dd\uc131 (Supabase)": {
                "main": [
                    [
                        {
                            "node": "\uc751\ub2f5 \ud3ec\ub9f7",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "\uc751\ub2f5 \ud3ec\ub9f7": {
                "main": [
                    [
                        {
                            "node": "\uc751\ub2f5 \ubc18\ud658 (200)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "\uc218\ub3d9 \uc2e4\ud589": {
                "main": [
                    [
                        {
                            "node": "\uc785\ub825\uac12 \uac80\uc99d",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "import",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": []
    }
}
