claude-tools/oncastudy_shortform_v1.json
{
  "updatedAt": "2026-02-24T05:05:55.362Z",
  "createdAt": "2026-02-22T21:17:37.563Z",
  "id": "itUlZJ2rZfGqkxty",
  "name": "설명형 숏츠 - 온카스터디",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "2dfad90a-639d-4d9b-a3b8-08217ee81dd7",
      "name": "수동 실행"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        912,
        304
      ],
      "id": "5df5ffe5-b4b3-41c7-9149-0cd8c3e069c7",
      "name": "AI 콘텐츠 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\n/**\n * Gemini JSON 출력 정리\n * 1. 코드블록 제거\n * 2. JSON 객체 추출 (첫 { ~ 마지막 })\n * 3. 문자열 내 제어문자(줄바꿈, 탭 등) → 공백 변환\n * 4. 트레일링 콤마 제거\n */\nfunction cleanGeminiJson(raw) {\n  // 코드블록 제거\n  let s = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  // JSON 객체 추출 (첫 { ~ 마지막 })\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    s = s.substring(first, last + 1);\n  }\n\n  // 문자열 내 제어문자 처리 (stateful char-by-char parser)\n  // JSON 규격: 문자열 안의 \\n, \\t, \\r 등은 반드시 이스케이프 필요\n  // Gemini가 이스케이프 없이 출력하는 경우 → 공백으로 치환\n  let result = '';\n  let inStr = false;\n  let esc = false;\n  for (let i = 0; i < s.length; i++) {\n    const c = s[i];\n    if (esc) { result += c; esc = false; continue; }\n    if (c === '\\\\' && inStr) { result += c; esc = true; continue; }\n    if (c === '\"') { inStr = !inStr; result += c; continue; }\n    if (inStr) {\n      // 줄바꿈, 캐리지리턴 → 공백\n      if (c === '\\n' || c === '\\r') { result += ' '; continue; }\n      // 탭 → 공백\n      if (c === '\\t') { result += ' '; continue; }\n      // 기타 제어문자 (0x00~0x1F) 제거\n      if (c.charCodeAt(0) < 0x20) { continue; }\n    }\n    result += c;\n  }\n\n  // 트레일링 콤마 제거: ,} 또는 ,]\n  result = result.replace(/,(\\s*[}\\]])/g, '$1');\n\n  return result;\n}\n\nlet cleanText = cleanGeminiJson(text);\nlet data;\n\ntry {\n  data = JSON.parse(cleanText);\n} catch (e1) {\n  // 2차 시도: 유니코드 따옴표 → 일반 따옴표, BOM 제거\n  try {\n    let fixed = cleanText\n      .replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"')\n      .replace(/[\\u2018\\u2019\\u201A\\u201B\\u2032\\u2035]/g, \"'\")\n      .replace(/^\\uFEFF/, '');\n    data = JSON.parse(fixed);\n  } catch (e2) {\n    // 에러 위치 주변 텍스트 포함하여 디버그\n    const posMatch = e1.message.match(/position (\\d+)/);\n    const pos = posMatch ? parseInt(posMatch[1]) : 0;\n    const start = Math.max(0, pos - 80);\n    const end = Math.min(cleanText.length, pos + 80);\n    const around = cleanText.substring(start, end);\n    const pointer = ' '.repeat(Math.min(pos - start, 80)) + '^^^';\n    throw new Error(\n      `JSON 파싱 실패: ${e1.message}\\n` +\n      `--- 에러 위치(${pos}) 주변 ---\\n` +\n      `${around}\\n${pointer}\\n` +\n      `--- 전체 길이: ${cleanText.length}자 ---\\n` +\n      `처음 300자: ${cleanText.substring(0, 300)}`\n    );\n  }\n}\n\nif (!data.scenes || data.scenes.length < 5) {\n  throw new Error('scenes must have at least 5 items, got: ' + (data.scenes?.length || 0));\n}\n\n// visual_type, meme_mood 검증 및 기본값 처리\nconst VALID_MOODS = ['thinking', 'excited', 'shocked', 'sad', 'angry', 'cool', 'celebrating'];\n\ndata.scenes = data.scenes.map((scene, idx) => {\n  // visual_type이 없으면 위치 기반 기본값 (매 3번째 = meme)\n  if (!scene.visual_type || !['image', 'meme'].includes(scene.visual_type)) {\n    scene.visual_type = ((idx + 1) % 3 === 0) ? 'meme' : 'image';\n  }\n\n  // meme인데 meme_mood가 없으면 기본값\n  if (scene.visual_type === 'meme') {\n    if (!scene.meme_mood || !VALID_MOODS.includes(scene.meme_mood)) {\n      scene.meme_mood = VALID_MOODS[idx % VALID_MOODS.length];\n    }\n    scene.image_prompt = scene.image_prompt || '';\n    scene.keyword = scene.keyword || '';\n  } else {\n    scene.meme_mood = '';\n    if (!scene.keyword) {\n      scene.keyword = scene.image_prompt?.split(',')[0] || 'abstract background';\n    }\n  }\n\n  return scene;\n});\n\nconst memeCount = data.scenes.filter(s => s.visual_type === 'meme').length;\nconst imageCount = data.scenes.filter(s => s.visual_type === 'image').length;\n\nreturn [{\n  json: {\n    hook_title: data.hook_title,\n    scenes: data.scenes,\n    Subject: data.Subject,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    fullDialogue: data.scenes.map(s => s.dialogue).join(' '),\n    segmentCount: data.scenes.length,\n    memeCount,\n    imageCount,\n    Status: '생성 중',\n    generatedAt: new Date().toISOString(),\n    row_number: $('주제 파싱').first().json.row_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ],
      "id": "6adeed9a-4c8e-4d81-8578-76b2f46d0527",
      "name": "콘텐츠 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
          "mode": "list",
          "cachedResultName": "온카스터디",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설명형 숏츠"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        304
      ],
      "id": "d6ea6410-28ee-4aa6-864f-c7c6d32de2a2",
      "name": "시트 기록",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('콘텐츠 파싱').first().json;\nconst scenes = data.scenes || [];\n\nreturn scenes.map((scene, i) => ({\n  json: {\n    index: i,\n    dialogue: scene.dialogue,\n    image_prompt: scene.image_prompt,\n    keyword: scene.keyword || scene.image_prompt?.split(',')[0] || 'abstract background',\n    visual_type: scene.visual_type || 'image',\n    meme_mood: scene.meme_mood || '',\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        304
      ],
      "id": "3fa1b098-8745-40bd-84c4-63439968242b",
      "name": "세그먼트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5100/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.dialogue) }},\n  \"voice\": \"ko-KR-HyunsuNeural\",\n  \"rate\": \"+15%\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        112
      ],
      "id": "fe8b82fb-797c-4f1f-bf39-801185c734a4",
      "name": "TTS 요청"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const audioUrl = item.json.audio_url;\n  const durationSec = item.json.duration_sec;\n\n  if (!audioUrl) {\n    throw new Error('TTS 응답에 audio_url이 없습니다: ' + JSON.stringify(item.json));\n  }\n\n  return {\n    json: {\n      audio_url: audioUrl,\n      duration_sec: durationSec,\n      ...item.json\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        112
      ],
      "id": "ed11d1b0-d11f-4e98-8f6e-6692cdcc3351",
      "name": "TTS 결과 처리"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3312,
        304
      ],
      "id": "e4169643-cf73-4bb2-8194-ebb35c9e595c",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3600,
        304
      ],
      "id": "e9719f9a-8472-4fe5-b527-b1e9cda104a9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// NCA 꿀팁 숏츠: 이미지 + 밈 영상 혼합 합성 페이로드\nconst hookTitle = $('콘텐츠 파싱').first().json.hook_title;\nconst segmentCount = $('콘텐츠 파싱').first().json.segmentCount;\n\nconst hookClean = hookTitle.replace(/<y>/g, '').replace(/<\\/y>/g, '');\n\nfunction escapeDrawtext(text) {\n  return text\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/'/g, '\\u2019')\n    .replace(/%/g, '%%')\n    .replace(/\"/g, '\\u201D')\n    .replace(/:/g, '\\\\:');\n}\n\n// 자막 줄바꿈: 14자마다 줄바꿈\nfunction wrapSubtitle(text, maxLen) {\n  if (text.length <= maxLen) return text;\n  let lines = [];\n  let current = '';\n  for (const ch of text) {\n    current += ch;\n    if (current.length >= maxLen) {\n      lines.push(current);\n      current = '';\n    }\n  }\n  if (current) lines.push(current);\n  return lines.join('\\n');\n}\n\nlet segments = [];\nlet currentStart = 0;\n\nfor (let i = 0; i < segmentCount; i++) {\n  const ttsResult = $('TTS 결과 처리').all()[i]?.json;\n  const audioUrl = ttsResult?.audio_url || '';\n  const duration = ttsResult?.duration_sec || 3;\n\n  const imageResult = $('이미지 URL 추출').all()[i]?.json;\n  const imageUrl = imageResult?.images?.[0]?.url || '';\n  const isVideo = imageResult?.is_video || false;\n  const visualType = imageResult?.visual_type || 'image';\n\n  const dialogueText = $('세그먼트 분리').all()[i]?.json?.dialogue || '';\n\n  if (!imageUrl) {\n    throw new Error(`세그먼트 ${i+1} 미디어 URL 없음`);\n  }\n\n  segments.push({\n    index: i + 1,\n    imageUrl, audioUrl, duration,\n    start: currentStart,\n    dialogueText,\n    isVideo,\n    visualType,\n  });\n  currentStart += duration;\n}\n\nconst totalDuration = currentStart;\n\nlet inputs = [];\nlet inputIndex = 0;\n\nconst mediaInputs = [];\nfor (const seg of segments) {\n  if (seg.isVideo) {\n    // 밈 영상: -stream_loop -1 로 무한 루프 (짧은 밈도 duration만큼 재생)\n    inputs.push({\n      file_url: seg.imageUrl,\n      options: [\n        { option: \"-stream_loop\", argument: \"-1\" }\n      ]\n    });\n  } else {\n    inputs.push({\n      file_url: seg.imageUrl,\n      options: [\n        { option: \"-loop\", argument: \"1\" },\n        { option: \"-framerate\", argument: \"30\" },\n        { option: \"-t\", argument: String(seg.duration) }\n      ]\n    });\n  }\n  mediaInputs.push({ idx: inputIndex, isVideo: seg.isVideo, duration: seg.duration });\n  inputIndex++;\n}\n\n// 오디오 입력\nconst audioInputs = [];\nconst audioSegmentMap = [];\nfor (let i = 0; i < segments.length; i++) {\n  if (segments[i].audioUrl) {\n    inputs.push({ file_url: segments[i].audioUrl, options: [] });\n    audioInputs.push(inputIndex);\n    audioSegmentMap.push(i);\n    inputIndex++;\n  }\n}\n\nlet filterParts = [];\n\nfor (let i = 0; i < segments.length; i++) {\n  const m = mediaInputs[i];\n  if (m.isVideo) {\n    filterParts.push(\n      `[${m.idx}:v]trim=duration=${m.duration},setpts=PTS-STARTPTS,` +\n      `scale=1080:1920:force_original_aspect_ratio=decrease,` +\n      `pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,` +\n      `setsar=1,fps=30[v${i}]`\n    );\n  } else {\n    filterParts.push(\n      `[${m.idx}:v]scale=1080:1920:force_original_aspect_ratio=decrease,` +\n      `pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,` +\n      `setsar=1,fps=30[v${i}]`\n    );\n  }\n}\n\n// 비디오 concat\nconst vLabels = segments.map((_, i) => `[v${i}]`).join('');\nfilterParts.push(`${vLabels}concat=n=${segments.length}:v=1:a=0[vconcat]`);\n\n// 오디오 필터\nif (audioInputs.length > 0) {\n  for (let i = 0; i < audioInputs.length; i++) {\n    const aIdx = audioInputs[i];\n    const segIdx = audioSegmentMap[i];\n    filterParts.push(\n      `[${aIdx}:a]atrim=duration=${segments[segIdx].duration},asetpts=PTS-STARTPTS[a${i}]`\n    );\n  }\n  const aLabels = audioInputs.map((_, i) => `[a${i}]`).join('');\n  filterParts.push(`${aLabels}concat=n=${audioInputs.length}:v=0:a=1[aconcat]`);\n}\n\n// 상단 제목: 검은 배경 (불투명), 큰 글씨\nconst escapedTitle = escapeDrawtext(hookClean);\n\nlet overlayFilter = `[vconcat]drawbox=y=40:w=1080:h=280:color=#000000@1.0:t=fill,` +\n  `drawtext=text='${escapedTitle}':fontsize=72:fontcolor=white:` +\n  `fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:` +\n  `x=(w-tw)/2:y=120:line_spacing=12`;\n\n// 하단 자막: 줄바꿈 적용, 빠른 전환에 동기화\nfor (const seg of segments) {\n  const wrapped = wrapSubtitle(seg.dialogueText, 20);\n  const subText = escapeDrawtext(wrapped);\n  const startT = seg.start.toFixed(2);\n  const endT = (seg.start + seg.duration).toFixed(2);\n  overlayFilter += `,drawtext=text='${subText}':fontsize=42:fontcolor=#CCFF00:` +\n    `fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:` +\n    `x=(w-tw)/2:y=h-250:borderw=3:bordercolor=black:` +\n    `enable='between(t,${startT},${endT})'`;\n}\noverlayFilter += '[vfinal]';\nfilterParts.push(overlayFilter);\n\nconst filter_complex = filterParts.join(';');\n\nconst nca_payload = {\n  inputs: inputs,\n  filters: [{ filter: filter_complex }],\n  outputs: [{\n    options: [\n      { option: \"-map\", argument: \"[vfinal]\" },\n      { option: \"-map\", argument: \"[aconcat]\" },\n      { option: \"-c:v\", argument: \"libx264\" },\n      { option: \"-preset\", argument: \"fast\" },\n      { option: \"-crf\", argument: \"23\" },\n      { option: \"-c:a\", argument: \"aac\" },\n      { option: \"-b:a\", argument: \"192k\" },\n      { option: \"-pix_fmt\", argument: \"yuv420p\" },\n      { option: \"-movflags\", argument: \"+faststart\" },\n      { option: \"-t\", argument: String(totalDuration) }\n    ],\n    file_name: \"kkultip_shorts_final.mp4\"\n  }]\n};\n\nreturn [{\n  json: {\n    nca_payload,\n    totalDuration,\n    segmentCount: segments.length,\n    hookTitle,\n    subject: $('콘텐츠 파싱').first().json.Subject,\n    caption: $('콘텐츠 파싱').first().json.Caption,\n    comment: $('콘텐츠 파싱').first().json.Comment,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        304
      ],
      "id": "404f0c26-7e0a-4ea9-9a92-b409b2881a08",
      "name": "NCA 데이터 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://76.13.182.180:8080/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nca-sagong-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.nca_payload) }}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4208,
        304
      ],
      "id": "aceed59c-8a84-4d5c-9462-c4029b65e4ae",
      "name": "NCA 영상 제작"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4512,
        304
      ],
      "id": "4ef29e6b-9834-46b4-9920-8c0591e82ae2",
      "name": "NCA 제작 대기",
      "webhookId": "21f711b5-6ca5-4e2a-9456-b8e3389800e9"
    },
    {
      "parameters": {
        "jsCode": "// NCA 결과 처리\nconst result = $input.first().json;\nconst prevData = $('NCA 데이터 준비').first().json;\n\nlet videoUrl = '';\nif (Array.isArray(result.response)) {\n  videoUrl = result.response[0]?.file_url || '';\n} else if (typeof result.response === 'string') {\n  videoUrl = result.response;\n} else {\n  videoUrl = result.output_url || result.url || result.video_url || result.file_url || '';\n}\n\nif (\\!videoUrl) {\n  throw new Error('NCA 영상 제작 결과 URL 없음: ' + JSON.stringify(result).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    '영상 URL': videoUrl,\n    final_video_url: videoUrl,\n    url: videoUrl,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n    topic: $('주제 파싱').first().json.topic,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        304
      ],
      "id": "b450da49-f5c0-47b1-b8aa-89ad7451c1e8",
      "name": "NCA 결과 처리"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
          "mode": "list",
          "cachedResultName": "온카스터디",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설명형 숏츠"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "topic"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Narration",
              "displayName": "Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "영상 URL",
              "displayName": "영상 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hook_title",
              "displayName": "hook_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scenes",
              "displayName": "scenes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullDialogue",
              "displayName": "fullDialogue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segmentCount",
              "displayName": "segmentCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generatedAt",
              "displayName": "generatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_video_url",
              "displayName": "final_video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "memeCount",
              "displayName": "memeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imageCount",
              "displayName": "imageCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5104,
        304
      ],
      "id": "319950f6-698f-4a59-84d3-04217db6b3b2",
      "name": "상태 업데이트",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topic = $input.first().json.topic || $input.first().json['주제'] || '';\n\nif (!topic) {\n  throw new Error('topic이 비어있습니다. 시트에 topic 컬럼을 확인하세요.');\n}\n\nconst prompt = `너는 '온카스터디' 커뮤니티의 YouTube Shorts 콘텐츠 기획자야.\n아래 주제로 20초 분량의 빠른 속도감 있는 숏츠 스크립트를 작성해줘.\n\n## 반드시 지킬 주제\n${topic}\n\n위 주제를 중심으로 콘텐츠를 작성하되, 후반부에 '온카스터디'를 자연스럽게 1회 언급해.\n모든 scene의 dialogue는 반드시 \"${topic}\" 주제와 직접 관련된 내용이어야 해.\n\n## 온카스터디 소개\n온카스터디는 먹튀검증 및 안전 정보 제공 커뮤니티입니다.\n검증 정보 공유, 먹튀 사이트 구별법 안내, 자유게시판, 제휴사이트 후기, 스포츠 분석,\n포인트 시스템(복권, 돌림판, 기프티콘 교환) 등의 기능이 있습니다.\n\n## 영상 스타일 (20초 속도감 숏츠)\n- 총 20초! 짧고 빠르게!\n- 9:16 세로 영상\n- 빠른 이미지/밈 전환 (각 장면 1.5~3초)\n- 상단: 고정된 훅 제목 (검은 배경, 큰 글씨)\n- 중간: 정보 이미지 + 밈 영상 빠르게 번갈아\n- 하단: 짧은 자막\n- 오디오: 빠른 TTS 나레이션\n\n## 나레이션 스타일 (핵심!)\n빠르고 임팩트 있는 설명체:\n- 짧지만 설명이 있는 문장 (팩트 나열이 아닌 자연스러운 한 문장)\n- \"~거든\", \"~한 편이야\", \"근데~\", \"그래서~\" 같은 구어체 사용\n- 핵심 포인트 2~3개만 빠르게 전달\n- 각 장면 dialogue: 10~25자 (한 문장으로 핵심만!)\n\n예시 (이런 느낌으로):\n- \"요즘 이런 사이트 엄청 늘고 있거든\"\n- \"근데 여기서 중요한 게 있어\"\n- \"출금이 빠른 사이트가 안전한 편이야\"\n- \"온카스터디에서 검증 정보 확인해봐\"\n\n## 장면 구성 규칙\n- 총 7~9개 장면 (20초에 맞게!)\n- 각 장면 1.5~3초 (빠른 전환!)\n- visual_type: \"image\" 또는 \"meme\"\n- image: 주제와 직접 관련된 구체적 이미지\n- meme: 밈/리액션 영상 (감정 표현)\n- 장면의 30~40%를 meme으로 배치 (속도감!)\n- meme_mood: thinking, excited, shocked, sad, angry, cool, celebrating 중 택1\n- meme dialogue: 짧은 리액션 (\"실화?!\", \"대박!\", \"ㄹㅇ?\", \"꿀팁이다!\")\n\n## 나레이션 흐름 (20초 구조)\n1. 훅 (1~2장면, 3초): 강렬한 시작 (\"이거 모르면 진짜 손해야\")\n2. 핵심 (4~5장면, 12초): 포인트 2~3개 빠르게 전달 + 밈 리액션\n3. 마무리 (1~2장면, 5초): 정리 + CTA (\"온카스터디 검색!\")\n\n## 이미지 키워드 규칙\n- keyword는 \"${topic}\" 주제와 직접 관련된 구체적인 영어 단어\n- 너무 추상적인 키워드 금지 (예: \"background\", \"abstract\" 금지)\n- 주제의 핵심 사물/행동을 직접 묘사하는 키워드 사용\n\n## 출력 (순수 JSON, 코드블록 없이)\n{\n  \"hook_title\": \"훅 제목 (12자 이내, <y>강조</y>)\",\n  \"scenes\": [\n    {\n      \"dialogue\": \"빠른 설명 문장 (10~25자)\",\n      \"image_prompt\": \"영어 이미지 프롬프트 (meme이면 빈 문자열)\",\n      \"keyword\": \"구체적 영어 키워드 (meme이면 빈 문자열)\",\n      \"visual_type\": \"image 또는 meme\",\n      \"meme_mood\": \"meme인 경우만 감정\"\n    }\n  ],\n  \"Subject\": \"영상 제목 #온카스터디 #먹튀검증 + 해시태그\",\n  \"Caption\": \"영상 설명 #온카스터디 + 해시태그\",\n  \"Comment\": \"구글에 온카스터디 검색!\"\n}\n\n주의:\n- scenes 7~9개 (20초!)\n- dialogue는 10~25자 설명 문장 (속도감!)\n- visual_type, keyword 필수\n- 주제와 무관한 내용 금지`;\n\nreturn [{\n  json: {\n    prompt,\n    topic,\n    row_number: $input.first().json.row_number,\n    ...$input.first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        304
      ],
      "id": "d35c1c7b-3cc8-448b-a309-dbfe73dec39c",
      "name": "프롬프트 생성"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ encodeURIComponent($json.keyword || $json.image_prompt?.split(',')[0] || 'abstract background') }}&per_page=3&orientation=portrait",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        608
      ],
      "id": "76aadc3c-5ec1-487b-a68c-6725f0fd4ba6",
      "name": "이미지 검색",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vPRgFSX7u4ecIy4",
          "name": "Pexels"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 밈 카탈로그: MinIO에 호스팅된 밈/리액션 영상 URL (35개)\nconst MEME_CATALOG = {\n  thinking: [\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_01.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_02.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_03.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_04.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_05.mp4',\n  ],\n  excited: [\n    'http://76.13.182.180:9000/memes/excited/meme_excited_01.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_02.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_03.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_04.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_05.mp4',\n  ],\n  shocked: [\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_01.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_02.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_03.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_04.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_05.mp4',\n  ],\n  sad: [\n    'http://76.13.182.180:9000/memes/sad/meme_sad_01.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_02.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_03.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_04.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_05.mp4',\n  ],\n  angry: [\n    'http://76.13.182.180:9000/memes/angry/meme_angry_01.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_02.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_03.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_04.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_05.mp4',\n  ],\n  cool: [\n    'http://76.13.182.180:9000/memes/cool/meme_cool_01.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_02.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_03.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_04.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_05.mp4',\n  ],\n  celebrating: [\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_01.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_02.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_03.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_04.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_05.mp4',\n  ],\n};\n\nconst items = $input.all();\nconst segAll = $('세그먼트 분리').all();\n\nreturn items.map((item, i) => {\n  const data = item.json;\n  const segData = segAll[i]?.json || {};\n  const visualType = segData.visual_type || data.visual_type || 'image';\n  const memeMood = segData.meme_mood || data.meme_mood || 'thinking';\n\n  if (visualType === 'meme') {\n    const catalog = MEME_CATALOG[memeMood] || MEME_CATALOG.thinking;\n    const randomIdx = Math.floor(Math.random() * catalog.length);\n    const memeUrl = catalog[randomIdx];\n    return {\n      json: {\n        ...data,\n        visual_type: 'meme',\n        meme_mood: memeMood,\n        images: [{ url: memeUrl }],\n        is_video: true,\n      }\n    };\n  } else {\n    const photos = data.photos || [];\n    let imageUrl = '';\n    if (photos.length > 0) {\n      const randPhoto = photos[Math.floor(Math.random() * photos.length)];\n      imageUrl = randPhoto.src?.portrait || randPhoto.src?.large || randPhoto.src?.medium || '';\n    }\n    if (!imageUrl) {\n      imageUrl = 'https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1080';\n    }\n    return {\n      json: {\n        ...data,\n        visual_type: 'image',\n        meme_mood: '',\n        images: [{ url: imageUrl }],\n        is_video: false,\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        576
      ],
      "id": "417f9a14-190f-48d9-a466-fde992082665",
      "name": "이미지 URL 추출"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "너는 '온카스터디' 커뮤니티의 YouTube Shorts 주제 기획자야.\n\n온카스터디는 먹튀검증 및 안전 정보 제공 커뮤니티로, 다음 기능을 가지고 있어:\n- 핵심: 안전한 카지노 사이트 검증, 먹튀 사이트 구별법\n- 커뮤니티: 자유게시판, 제휴사이트 후기, 스포츠 분석 게시판, 방송존(동물원, 가디언, 인생역전, 하이라이트)\n- 포인트 시스템: 복권, 돌림판, 오목, 무료슬롯, 기프티콘 교환\n\n아래 카테고리 중 랜덤으로 하나를 골라서 YouTube Shorts에 적합한 주제 1개를 생성해줘:\n1. 먹튀검증/안전 정보 (예: 먹튀사이트 특징, 안전놀이터 고르는 법)\n2. 온라인 카지노 팁 (예: 충전 보너스 함정, 출금 빠른 사이트 특징)\n3. 스포츠 분석 (예: 축구 배팅 초보 가이드, 언더오버 분석법)\n4. 커뮤니티 활용 (예: 포인트 모으는 꿀팁, 제휴사이트 후기 활용법)\n5. 사기 예방 (예: 가입코드 사기 수법, 텔레그램 사기 주의보)\n\n출력 형식 (순수 JSON만, 코드블록 없이):\n{\"topic\": \"주제 텍스트 (15~30자)\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        304
      ],
      "id": "f691c2b0-ba9e-41de-b342-ddf6ea0d4a09",
      "name": "AI 주제 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nif (!data.topic) {\n  throw new Error('AI 주제 생성 결과에 topic이 없습니다: ' + cleanText);\n}\n\nreturn [{\n  json: {\n    topic: data.topic,\n    row_number: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ],
      "id": "a15bf7bf-1820-45d4-ae9c-f38db2d345f7",
      "name": "주제 파싱"
    }
  ],
  "connections": {
    "수동 실행": {
      "main": [
        [
          {
            "node": "AI 주제 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 콘텐츠 생성": {
      "main": [
        [
          {
            "node": "콘텐츠 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콘텐츠 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "세그먼트 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "세그먼트 분리": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "이미지 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 결과 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과 처리": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "NCA 데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 데이터 준비": {
      "main": [
        [
          {
            "node": "NCA 영상 제작",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 영상 제작": {
      "main": [
        [
          {
            "node": "NCA 제작 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 제작 대기": {
      "main": [
        [
          {
            "node": "NCA 결과 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 결과 처리": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "프롬프트 생성": {
      "main": [
        [
          {
            "node": "AI 콘텐츠 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 검색": {
      "main": [
        [
          {
            "node": "이미지 URL 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 URL 추출": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI 주제 생성": {
      "main": [
        [
          {
            "node": "주제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 파싱": {
      "main": [
        [
          {
            "node": "프롬프트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "이미지 대기": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "1503a4cbf1ddae90e752c47521883649",
            "recordId": "1503a4cbf1ddae90e752c47521883649"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "452b9e625b464d4e1a371df6dfa10aa2",
            "recordId": "452b9e625b464d4e1a371df6dfa10aa2"
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "ea861c33eade4a52e741b777bbd88a61",
            "recordId": "ea861c33eade4a52e741b777bbd88a61"
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "9cc0416d54572d032176f06cf9929a03",
            "recordId": "9cc0416d54572d032176f06cf9929a03"
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "5023f4470322778fbf4a6aa6bebf96bd",
            "recordId": "5023f4470322778fbf4a6aa6bebf96bd"
          }
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "b6484bc8f94d4acf2e32daed6963d0c8",
            "recordId": "b6484bc8f94d4acf2e32daed6963d0c8"
          }
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "0f14cae94fab43406208eedd8e03558c",
            "recordId": "0f14cae94fab43406208eedd8e03558c"
          }
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "2a32e00ddfdb47e32a52fc44d49cc71e",
            "recordId": "2a32e00ddfdb47e32a52fc44d49cc71e"
          }
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "7471c6ef377c56cdaa36657c5652d8a1",
            "recordId": "7471c6ef377c56cdaa36657c5652d8a1"
          }
        },
        "pairedItem": {
          "item": 8
        }
      }
    ],
    "이미지 결과": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "1503a4cbf1ddae90e752c47521883649",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A beginner gambler looking confused at a betting slip, worried expression, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809983381-101djt4cy3m.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 45,
            "completeTime": 1771809985084,
            "createTime": 1771809939685
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "452b9e625b464d4e1a371df6dfa10aa2",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A person throwing money into a black hole, representing wasted bets, chaotic energy, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809998446-s5wceyz7r5n.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 60,
            "completeTime": 1771810000289,
            "createTime": 1771809939675
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "ea861c33eade4a52e741b777bbd88a61",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A pile of coins quickly diminishing, with a worried person watching, sense of urgency, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771810001896-bxraegd6lue.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 63,
            "completeTime": 1771810003554,
            "createTime": 1771809939673
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "9cc0416d54572d032176f06cf9929a03",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A person holding a broken piggy bank with money falling out, frustrated expression, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809980639-oooohx1qk3b.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 42,
            "completeTime": 1771809982188,
            "createTime": 1771809939772
          }
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "5023f4470322778fbf4a6aa6bebf96bd",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A magnifying glass hovering over a tiny, complex contract, symbolizing detailed examination, serious tone, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809980465-u5j1w15ikmg.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 42,
            "completeTime": 1771809982377,
            "createTime": 1771809939746
          }
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "b6484bc8f94d4acf2e32daed6963d0c8",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A shadowy, untrustworthy website interface with question marks, dark and suspicious atmosphere, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809983298-qai8c0s6jmc.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 45,
            "completeTime": 1771809985151,
            "createTime": 1771809939742
          }
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "0f14cae94fab43406208eedd8e03558c",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A single bright light bulb illuminating a path forward, representing a solution, hopeful mood, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771810100061-024nrj0gra7t.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 161,
            "completeTime": 1771810101740,
            "createTime": 1771809939748
          }
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "2a32e00ddfdb47e32a52fc44d49cc71e",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A shield icon with a checkmark, symbolizing safety and reliability, confident and secure feeling, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809986634-ra0ci255dw9.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 48,
            "completeTime": 1771809988461,
            "createTime": 1771809939757
          }
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "7471c6ef377c56cdaa36657c5652d8a1",
            "model": "nano-banana-pro",
            "state": "success",
            "param": "{\"input\":\"{\\\"image_input\\\":[],\\\"aspect_ratio\\\":\\\"9:16\\\",\\\"output_format\\\":\\\"png\\\",\\\"prompt\\\":\\\"A person confidently pointing towards the viewer, encouraging call to action, friendly and inviting, photorealistic, cinematic lighting, 4k quality, portrait orientation 9:16\\\",\\\"resolution\\\":\\\"2K\\\"}\",\"model\":\"nano-banana-pro\"}",
            "resultJson": "{\"resultUrls\":[\"https://tempfile.aiquickdraw.com/images/1771809986441-4o3zee71118.png\"]}",
            "failCode": null,
            "failMsg": null,
            "costTime": 48,
            "completeTime": 1771809988472,
            "createTime": 1771809939708
          }
        },
        "pairedItem": {
          "item": 8
        }
      }
    ]
  },
  "versionId": "fb3abaeb-038b-4a0f-9cff-359a2616a71c",
  "activeVersionId": null,
  "versionCounter": 99,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T21:17:37.563Z",
      "createdAt": "2026-02-22T21:17:37.563Z",
      "role": "workflow:owner",
      "workflowId": "dEtWqwWQPJfwCWiIM0QYd",
      "projectId": "W6LETsSnBzw4J5Aa",
      "project": {
        "updatedAt": "2026-02-09T04:42:12.235Z",
        "createdAt": "2026-02-07T19:04:11.494Z",
        "id": "W6LETsSnBzw4J5Aa",
        "name": "hatihoro15 hatihoro15 <hatihoro15@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
        "projectRelations": [
          {
            "updatedAt": "2026-02-07T19:04:11.494Z",
            "createdAt": "2026-02-07T19:04:11.494Z",
            "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
            "projectId": "W6LETsSnBzw4J5Aa",
            "user": {
              "updatedAt": "2026-02-23T23:21:00.874Z",
              "createdAt": "2026-02-07T19:04:09.331Z",
              "id": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
              "email": "hatihoro15@gmail.com",
              "firstName": "hatihoro15",
              "lastName": "hatihoro15",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-07T19:24:51.818Z",
                "personalization_survey_n8n_version": "2.6.4"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dEtWqwWQPJfwCWiIM0QYd",
                "userActivatedAt": 1771888859109,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1771060625309
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}