claude-tools/onca_shortform_v16.json
{
  "name": "[온카 스터디] 설명형 숏츠 - 속도감 25초 v15",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        304
      ],
      "id": "2dfad90a-639d-4d9b-a3b8-08217ee81dd7",
      "name": "수동 실행"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        880,
        304
      ],
      "id": "5df5ffe5-b4b3-41c7-9149-0cd8c3e069c7",
      "name": "AI 콘텐츠 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\nfunction cleanGeminiJson(raw) {\n  let s = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first !== -1 && last > first) {\n    s = s.substring(first, last + 1);\n  }\n  let result = '';\n  let inStr = false;\n  let esc = false;\n  for (let i = 0; i < s.length; i++) {\n    const c = s[i];\n    if (esc) { result += c; esc = false; continue; }\n    if (c === '\\\\' && inStr) { result += c; esc = true; continue; }\n    if (c === '\"') { inStr = !inStr; result += c; continue; }\n    if (inStr) {\n      if (c === '\\n' || c === '\\r') { result += ' '; continue; }\n      if (c === '\\t') { result += ' '; continue; }\n      if (c.charCodeAt(0) < 0x20) { continue; }\n    }\n    result += c;\n  }\n  result = result.replace(/,(\\s*[}\\]])/g, '$1');\n  return result;\n}\n\nlet cleanText = cleanGeminiJson(text);\nlet data;\n\ntry {\n  data = JSON.parse(cleanText);\n} catch (e1) {\n  try {\n    let fixed = cleanText\n      .replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"')\n      .replace(/[\\u2018\\u2019\\u201A\\u201B\\u2032\\u2035]/g, \"'\")\n      .replace(/^\\uFEFF/, '');\n    data = JSON.parse(fixed);\n  } catch (e2) {\n    const posMatch = e1.message.match(/position (\\d+)/);\n    const pos = posMatch ? parseInt(posMatch[1]) : 0;\n    const start = Math.max(0, pos - 80);\n    const end = Math.min(cleanText.length, pos + 80);\n    const around = cleanText.substring(start, end);\n    throw new Error(\n      `JSON 파싱 실패: ${e1.message}\\n` +\n      `--- 에러 위치(${pos}) 주변 ---\\n${around}\\n` +\n      `처음 300자: ${cleanText.substring(0, 300)}`\n    );\n  }\n}\n\n// images + subtitles 검증\nif (!data.images || data.images.length < 4) {\n  throw new Error('images must have at least 4 items, got: ' + (data.images?.length || 0));\n}\nif (!data.subtitles || data.subtitles.length < 6) {\n  throw new Error('subtitles must have at least 6 items, got: ' + (data.subtitles?.length || 0));\n}\n\nconst VALID_MOODS = ['thinking', 'excited', 'shocked', 'sad', 'angry', 'cool', 'celebrating', 'snacking', 'speechless', 'smoking', 'disappointed', 'thumbsup', 'crying', 'desperate', 'bored', 'suspicious', 'money', 'laughing', 'confident', 'scared'];\n\ndata.images = data.images.map((img, idx) => {\n  if (!img.visual_type || !['image', 'meme'].includes(img.visual_type)) {\n    img.visual_type = 'image';\n  }\n  if (img.visual_type === 'meme') {\n    if (!img.meme_mood || !VALID_MOODS.includes(img.meme_mood)) {\n      img.meme_mood = VALID_MOODS[idx % VALID_MOODS.length];\n    }\n  } else {\n    img.meme_mood = '';\n    if (!img.keyword) {\n      img.keyword = 'abstract background';\n    }\n  }\n  return img;\n});\n\n// === v15: 카테고리별 금지단어 검증 ===\nconst category = $('주제 파싱').first().json.category || 1;\nconst FORBIDDEN_WORDS = {\n  1: ['포인트', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '방송', '스트리머', '스포츠', '분석', '픽'],\n  2: ['먹튀', '패널티', '검증', '롤링', '출금', '충전', '잭팟', '대박', '당첨', '방송', '스트리머', '스포츠', '분석'],\n  3: ['먹튀', '패널티', '검증', '롤링', '출금', '포인트', '돌림판', '복권', '기프티콘', '앱테크', '방송', '스트리머', '스포츠', '분석'],\n  4: ['먹튀', '패널티', '검증', '포인트', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '스포츠', '분석', '픽'],\n  5: ['먹튀', '패널티', '검증', '포인트', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '방송', '스트리머']\n};\n\nconst forbidden = FORBIDDEN_WORDS[category] || [];\nconst allSubText = data.subtitles.join(' ').replace(/<[^>]*>?/gm, '');\nconst foundForbidden = forbidden.filter(w => allSubText.includes(w));\nif (foundForbidden.length > 0) {\n  throw new Error(`카테고리 ${category} 금지단어 위반! [${foundForbidden.join(', ')}] 발견. 재생성 필요.`);\n}\n\n// === v15: 마지막 자막 문장 완결 검증 (종결어미 기반) ===\nconst lastSub = data.subtitles[data.subtitles.length - 1].replace(/<[^>]*>?/gm, '').replace(/[!?~.]/g, '').trim();\nconst KOREAN_ENDINGS = ['해', '봐', '야', '마', '요', '자', '지', '너', '됨', '임', '음', '거', '든', '죠', '세요', '가'];\nconst lastChar = lastSub.slice(-1);\nconst lastTwo = lastSub.slice(-2);\nconst hasEnding = KOREAN_ENDINGS.some(e => lastSub.endsWith(e));\nconst isTooShort = lastSub.length < 4;\nif (!hasEnding || isTooShort) {\n  // 종결어미 없거나 너무 짧으면 → 에러 던져서 재생성 유도\n  console.log('마지막 자막 미완성 감지: ' + lastSub);\n  // 자동 보정하지 않고 경고만 (AI가 자유롭게 생성하도록)\n}\n\n// AI 생성 CTA 우선, 없거나 짧으면 고정 CTA fallback\nconst aiCta = data.outro_cta || '';\nconst fixedCta = $('주제 파싱').first().json.outroCta || '';\nconst finalCta = (aiCta.length >= 5 && aiCta.length <= 30) ? aiCta : fixedCta;\n\nconst fullDialogue = data.subtitles.join(' ');\nconst memeCount = data.images.filter(i => i.visual_type === 'meme').length;\nconst imageCount = data.images.filter(i => i.visual_type === 'image').length;\n\nreturn [{\n  json: {\n    hook_title: data.hook_title,\n    images: data.images,\n    subtitles: data.subtitles,\n    Subject: data.Subject,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    fullDialogue,\n    Narration: fullDialogue,\n    imageCount: data.images.length,\n    subtitleCount: data.subtitles.length,\n    memeCount,\n    Status: '생성 중',\n    generatedAt: new Date().toISOString(),\n    topic: $('주제 파싱').first().json.topic,\n    category: $('주제 파싱').first().json.category,\n    outroFile: $('주제 파싱').first().json.outroFile,\n    outroCta: finalCta,\n    subtopic: $('주제 파싱').first().json.subtopic,\n    row_number: $('주제 파싱').first().json.row_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        304
      ],
      "id": "6adeed9a-4c8e-4d81-8578-76b2f46d0527",
      "name": "콘텐츠 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
          "mode": "list",
          "cachedResultName": "온카스터디",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설명형 숏츠"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        304
      ],
      "id": "d6ea6410-28ee-4aa6-864f-c7c6d32de2a2",
      "name": "시트 기록",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('콘텐츠 파싱').first().json;\nconst images = data.images || [];\n\n// images 배열만 세그먼트로 분리 (이미지 검색용)\nreturn images.map((img, i) => ({\n  json: {\n    index: i,\n    keyword: img.keyword || 'abstract background',\n    visual_type: img.visual_type || 'image',\n    meme_mood: img.meme_mood || '',\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        480
      ],
      "id": "3fa1b098-8745-40bd-84c4-63439968242b",
      "name": "세그먼트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5100/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.fullDialogue.replace(/<[^>]*>?/gm, '')) }},\n  \"voice_id\": \"tc_6059dad0b83880769a50502f\",\n  \"emotion\": \"happy\",\n  \"tempo\": 1.4\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        160
      ],
      "id": "fe8b82fb-797c-4f1f-bf39-801185c734a4",
      "name": "TTS 요청"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const audioUrl = item.json.audio_url;\n  const durationSec = item.json.duration_sec;\n  const timestamps = item.json.timestamps || [];\n\n  if (!audioUrl) {\n    throw new Error('TTS 응답에 audio_url이 없습니다: ' + JSON.stringify(item.json));\n  }\n\n  return {\n    json: {\n      audio_url: audioUrl,\n      duration_sec: durationSec,\n      timestamps,\n      ...item.json\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        160
      ],
      "id": "ed11d1b0-d11f-4e98-8f6e-6692cdcc3351",
      "name": "TTS 결과 처리"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2992,
        336
      ],
      "id": "e4169643-cf73-4bb2-8194-ebb35c9e595c",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        336
      ],
      "id": "e9719f9a-8472-4fe5-b527-b1e9cda104a9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// NCA v8: images + subtitles 분리 구조\nconst hookTitle = $('콘텐츠 파싱').first().json.hook_title;\nconst hookClean = hookTitle.replace(/<[^>]*>?/gm, '');\nconst subtitles = $('콘텐츠 파싱').first().json.subtitles || [];\nconst imageCount = $('콘텐츠 파싱').first().json.imageCount;\n\nconst ttsResult = $('TTS 결과 처리').first().json;\nconst mainAudioUrl = ttsResult.audio_url;\nconst audioDuration = ttsResult.duration_sec;\nlet totalDuration = audioDuration;  // v15: 패딩 제거 (검정화면 방지)\n\nconst BGM_URL = 'http://76.13.182.180:9000/audio/bgm_new.mp3';\n\n// === 아웃트로 영상 (카테고리 결정 노드에서 사전 선택) ===\nconst OUTRO_BASE = 'http://76.13.182.180:9000/outro/';\nconst category = $('콘텐츠 파싱').first().json.category || 1;\nconst outroFile = $('주제 파싱').first().json.outroFile || '';\nconst outroCta = $('주제 파싱').first().json.outroCta || '';\nconst outroUrl = outroFile ? OUTRO_BASE + outroFile : '';\nconst SFX_MAP = {\n  whoosh: 'http://76.13.182.180:9000/audio/sfx_whoosh1.mp3',\n  pop: 'http://76.13.182.180:9000/audio/sfx_pop_user.mp3',\n  ding: 'http://76.13.182.180:9000/audio/sfx_ding1.mp3',\n  ding2: 'http://76.13.182.180:9000/audio/sfx_ding2.mp3',\n  ppook: 'http://76.13.182.180:9000/audio/sfx_ppook.wav',\n  wow: 'http://76.13.182.180:9000/audio/sfx_wow.wav'\n};\n\nfunction escapeDrawtext(text) {\n  if (!text) return '';\n  // 이모지 제거 (NanumGothicBold에 이모지 글리프 없음)\n  text = text.replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FA6F}\\u{1FA70}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu, '').trim();\n  return text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, '\\u2019').replace(/\"/g, '\\u201D').replace(/:/g, '\\\\:').replace(/;/g, '\\\\;').replace(/,/g, '\\\\,').replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]').replace(/\\n/g, ' ');\n}\nfunction escapeDrawtextMultiline(text) {\n  if (!text) return '';\n  text = text.replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FA6F}\\u{1FA70}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu, '').trim();\n  return text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, '\\u2019').replace(/\"/g, '\\u201D').replace(/:/g, '\\\\:').replace(/;/g, '\\\\;').replace(/,/g, '\\\\,').replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]');\n}\nfunction wrapSubtitle(text, maxLen) {\n  if (!text) return '';\n  const noSpace = text.replace(/\\s+/g, '').length;\n  if (noSpace <= maxLen) return text;\n  const mid = Math.floor(text.length / 2);\n  let bestBreak = -1;\n  let minDist = text.length;\n  for (let i = 1; i < text.length - 1; i++) {\n    if (text[i] === ' ' && Math.abs(i - mid) < minDist) {\n      minDist = Math.abs(i - mid);\n      bestBreak = i;\n    }\n  }\n  if (bestBreak > 0) {\n    return text.substring(0, bestBreak).trim() + '\\n' + text.substring(bestBreak).trim();\n  }\n  return text.substring(0, maxLen) + '\\n' + text.substring(maxLen);\n}\nfunction wrapTitleTwoLines(text) {\n  if (!text || text.length <= 10) return text;\n  const mid = Math.floor(text.length / 2);\n  let bestBreak = -1;\n  let minDist = text.length;\n  // 쉼표 우선 탐색\n  for (let i = 0; i < text.length; i++) {\n    if (text[i] === ',' && Math.abs(i + 1 - mid) < minDist) {\n      minDist = Math.abs(i + 1 - mid);\n      bestBreak = i + 1;\n    }\n  }\n  // 쉼표 없으면 중간 지점 근처 공백\n  if (bestBreak === -1) {\n    minDist = text.length;\n    for (let i = 1; i < text.length - 1; i++) {\n      if (text[i] === ' ' && Math.abs(i - mid) < minDist) {\n        minDist = Math.abs(i - mid);\n        bestBreak = i;\n      }\n    }\n  }\n  if (bestBreak > 0) {\n    return text.substring(0, bestBreak).trim() + '\\n' + text.substring(bestBreak).trim();\n  }\n  return text;\n}\n\nif (!subtitles || subtitles.length === 0) {\n  throw new Error('subtitles 배열이 비어있습니다. 콘텐츠 파싱 결과를 확인하세요.');\n}\n\n// === 이미지: audioDuration / imageCount 균등 배분 ===\nconst imgResults = $('이미지 URL 추출').all();\nconst imgDuration = audioDuration / imageCount;\nlet imgSegments = [];\nfor (let i = 0; i < imageCount; i++) {\n  const imgData = imgResults[i]?.json || {};\n  const imageUrl = imgData.images?.[0]?.url || '';\n  const isVideo = imgData.is_video || false;\n  const visualType = imgData.visual_type || 'image';\n  if (!imageUrl) throw new Error(`이미지 ${i+1} URL 없음`);\n  imgSegments.push({\n    index: i,\n    imageUrl,\n    isVideo,\n    visualType,\n    start: i * imgDuration,\n    duration: imgDuration\n  });\n}\n\n// === 긴 세그먼트 이미지 전환 분할 ===\nlet expandedSegments = [];\nfor (const seg of imgSegments) {\n  const imgData = imgResults[seg.index]?.json || {};\n  const allImages = (imgData.images || []).map(img => img.url).filter(Boolean);\n  \n  if (seg.duration >= 3.0 && allImages.length >= 2 && seg.visualType === 'image') {\n    // 이미지 개수에 맞게 분할 (최대 3분할)\n    const splitCount = Math.min(allImages.length, 3);\n    const splitDur = seg.duration / splitCount;\n    for (let j = 0; j < splitCount; j++) {\n      expandedSegments.push({\n        ...seg,\n        imageUrl: allImages[j],\n        isVideo: allImages[j].endsWith('.mp4'),\n        start: seg.start + (j * splitDur),\n        duration: splitDur\n      });\n    }\n  } else {\n    expandedSegments.push(seg);\n  }\n}\nimgSegments = expandedSegments;\n\n// === 자막: 하이브리드 타이밍 (TTS sentence timestamps + 글자수 비율 세부 배분) ===\nconst ttsTimestamps = ttsResult.timestamps || [];\nconst fullDialogue = $('콘텐츠 파싱').first().json.fullDialogue || subtitles.join(' ');\n\n// 자막 메타 준비\nlet subMeta = subtitles.map((raw, i) => {\n  const clean = raw.replace(/<[^>]*>?/gm, '');\n  const chars = clean.replace(/\\s+/g, '').length;\n  return { index: i, raw, clean, chars, hasEm: raw.includes('<em>') };\n});\n\n// === TTS timestamps 활용 하이브리드 매핑 ===\nlet subSegments = [];\n\nif (ttsTimestamps.length > 0) {\n  // 1단계: fullDialogue에서 각 자막의 character offset 계산\n  const cleanDialogue = fullDialogue.replace(/<[^>]*>?/gm, '');\n  let subOffsets = [];\n  let searchFrom = 0;\n  for (const sub of subMeta) {\n    const cleanText = sub.clean.replace(/\\s+/g, '');\n    // cleanDialogue에서 공백 무시하고 위치 찾기\n    let matchPos = -1;\n    let charCount = 0;\n    for (let j = searchFrom; j < cleanDialogue.length; j++) {\n      if (cleanDialogue[j] === ' ') continue;\n      if (cleanDialogue[j] === cleanText[0]) {\n        // 연속 매칭 시도\n        let matched = true;\n        let k = 0, jj = j;\n        while (k < cleanText.length && jj < cleanDialogue.length) {\n          if (cleanDialogue[jj] === ' ') { jj++; continue; }\n          if (cleanDialogue[jj] !== cleanText[k]) { matched = false; break; }\n          k++; jj++;\n        }\n        if (matched && k === cleanText.length) {\n          matchPos = j;\n          searchFrom = jj;\n          break;\n        }\n      }\n    }\n    subOffsets.push({ ...sub, charOffset: matchPos >= 0 ? matchPos : searchFrom });\n  }\n\n  // 2단계: TTS sentence별 character offset 계산\n  let sentenceOffsets = [];\n  let sSearchFrom = 0;\n  for (const ts of ttsTimestamps) {\n    const tsClean = ts.text.replace(/\\s+/g, '');\n    let sPos = -1;\n    for (let j = sSearchFrom; j < cleanDialogue.length; j++) {\n      if (cleanDialogue[j] === ' ') continue;\n      let matched = true;\n      let k = 0, jj = j;\n      while (k < tsClean.length && jj < cleanDialogue.length) {\n        if (cleanDialogue[jj] === ' ') { jj++; continue; }\n        if (cleanDialogue[jj] !== tsClean[k]) { matched = false; break; }\n        k++; jj++;\n      }\n      if (matched && k === tsClean.length) {\n        sPos = j;\n        sSearchFrom = jj;\n        break;\n      }\n    }\n    sentenceOffsets.push({\n      text: ts.text,\n      offset: ts.offset,\n      duration: ts.duration,\n      charStart: sPos >= 0 ? sPos : sSearchFrom,\n      charEnd: sSearchFrom\n    });\n  }\n\n  // 3단계: 각 자막을 TTS sentence에 매핑\n  for (const sub of subOffsets) {\n    let bestSentence = sentenceOffsets[sentenceOffsets.length - 1];\n    for (const sent of sentenceOffsets) {\n      if (sub.charOffset >= sent.charStart && sub.charOffset < sent.charEnd) {\n        bestSentence = sent;\n        break;\n      }\n    }\n    sub.sentence = bestSentence;\n  }\n\n  // 4단계: sentence별 그룹핑 → 글자수 비율로 세부 배분\n  let sentenceGroups = {};\n  for (const sub of subOffsets) {\n    const key = sub.sentence.charStart;\n    if (!sentenceGroups[key]) {\n      sentenceGroups[key] = { sentence: sub.sentence, subs: [] };\n    }\n    sentenceGroups[key].subs.push(sub);\n  }\n\n  for (const key of Object.keys(sentenceGroups)) {\n    const group = sentenceGroups[key];\n    const sentOffset = group.sentence.offset;\n    const sentDur = group.sentence.duration;\n    const groupChars = group.subs.reduce((s, sub) => s + sub.chars, 0);\n    \n    let groupStart = sentOffset;\n    for (const sub of group.subs) {\n      const ratio = groupChars > 0 ? sub.chars / groupChars : 1 / group.subs.length;\n      const dur = ratio * sentDur;\n      subSegments.push({\n        index: sub.index,\n        raw: sub.raw,\n        clean: sub.clean,\n        start: groupStart,\n        duration: dur,\n        hasEm: sub.hasEm\n      });\n      groupStart += dur;\n    }\n  }\n\n  // index 순으로 정렬\n  subSegments.sort((a, b) => a.index - b.index);\n\n} else {\n  // fallback: timestamps 없으면 기존 글자수 비율 방식\n  const totalChars = subMeta.reduce((sum, s) => sum + s.chars, 0);\n  let subStart = 0;\n  for (let i = 0; i < subtitles.length; i++) {\n    const ratio = totalChars > 0 ? subMeta[i].chars / totalChars : 1 / subtitles.length;\n    const dur = ratio * audioDuration;\n    subSegments.push({\n      index: i,\n      raw: subMeta[i].raw,\n      clean: subMeta[i].clean,\n      start: subStart,\n      duration: dur,\n      hasEm: subMeta[i].hasEm\n    });\n    subStart += dur;\n  }\n}\n\n// === FFmpeg inputs ===\nlet inputs = [];\nlet inputIndex = 0;\nconst mediaInputs = [];\n\n// 1) 이미지/영상 (4~6개)\nfor (const img of imgSegments) {\n  if (img.isVideo) {\n    inputs.push({ file_url: img.imageUrl, options: [{ option: \"-stream_loop\", argument: \"-1\" }] });\n  } else {\n    inputs.push({ file_url: img.imageUrl, options: [{ option: \"-loop\", argument: \"1\" }, { option: \"-framerate\", argument: \"30\" }, { option: \"-t\", argument: img.duration.toFixed(2) }] });\n  }\n  mediaInputs.push({ idx: inputIndex, isVideo: img.isVideo, duration: img.duration });\n  inputIndex++;\n}\n\n// 2) 통합 TTS\nconst audioIdx = inputIndex;\ninputs.push({ file_url: mainAudioUrl, options: [] });\ninputIndex++;\n\n// 3) BGM\nconst bgmIdx = inputIndex;\ninputs.push({ file_url: BGM_URL, options: [{ option: \"-stream_loop\", argument: \"-1\" }] });\ninputIndex++;\n\n// 4) 아웃트로 영상 (비디오만 사용, 오디오 무시)\nlet outroIdx = -1;\nlet outroDuration = $('주제 파싱').first().json.outroDuration || 4;\nif (outroUrl) {\n  outroIdx = inputIndex;\n  inputs.push({ file_url: outroUrl, options: [] });\n  inputIndex++;\n}\n\n// 5) SFX: 이미지 전환 + 강조 em\nconst sfxInputs = [];\nfor (let i = 0; i < imgSegments.length - 1; i++) {\n  const next = imgSegments[i + 1];\n  let sfxType = 'ppook';\n  inputs.push({ file_url: SFX_MAP[sfxType], options: [] });\n  sfxInputs.push({ idx: inputIndex, type: sfxType, timeMs: Math.round(next.start * 1000) });\n  inputIndex++;\n}\nfor (const sub of subSegments) {\n  if (sub.hasEm) {\n    const emSfx = /\\d/.test(sub.raw) ? 'ding2' : 'pop';\n    inputs.push({ file_url: SFX_MAP[emSfx], options: [] });\n    sfxInputs.push({ idx: inputIndex, type: emSfx, timeMs: Math.round((sub.start + 0.3) * 1000) });\n    inputIndex++;\n  }\n}\n\n// === FILTER COMPLEX ===\nlet filterParts = [];\n\n// 비디오 스케일 + concat\nfor (let i = 0; i < imgSegments.length; i++) {\n  const m = mediaInputs[i];\n  if (m.isVideo) {\n    filterParts.push(`[${m.idx}:v]trim=duration=${m.duration.toFixed(2)},setpts=PTS-STARTPTS,scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[v${i}]`);\n  } else {\n    filterParts.push(`[${m.idx}:v]scale=1080:1080:force_original_aspect_ratio=increase,crop=1080:1080,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[v${i}]`);\n  }\n}\nconst vLabels = imgSegments.map((_, i) => `[v${i}]`).join('');\nfilterParts.push(`${vLabels}concat=n=${imgSegments.length}:v=1:a=0[vconcat]`);\n\n// 오디오\nfilterParts.push(`[${audioIdx}:a]atrim=duration=${audioDuration},asetpts=PTS-STARTPTS[tts_raw]`);\nconst bgmTotalDur = outroUrl ? totalDuration + outroDuration : totalDuration;\nfilterParts.push(`[${bgmIdx}:a]atrim=duration=${bgmTotalDur},asetpts=PTS-STARTPTS,afade=t=out:st=${Math.max(0, bgmTotalDur - 2)}:d=2[bgm]`);\n\n// SFX mix\nconst sfxCount = sfxInputs.length;\nif (sfxCount > 0) {\n  for (let i = 0; i < sfxCount; i++) {\n    const si = sfxInputs[i];\n    filterParts.push(`[${si.idx}:a]atrim=duration=0.3,asetpts=PTS-STARTPTS,volume=0.6,adelay=${si.timeMs}|${si.timeMs}[sfx${i}]`);\n  }\n  const sfxMixLabels = sfxInputs.map((_, i) => `[sfx${i}]`).join('');\n  filterParts.push(`${sfxMixLabels}amix=inputs=${sfxCount}:duration=longest:normalize=0[sfx_mix]`);\n  filterParts.push(`[tts_raw][bgm][sfx_mix]amix=inputs=3:duration=longest:weights=1 1 0.8:normalize=0[amain]`);\n} else {\n  filterParts.push(`[tts_raw][bgm]amix=inputs=2:duration=longest:weights=1 1:normalize=0[amain]`);\n}\n\n// === 아웃트로 비디오 concat ===\nif (outroIdx >= 0) {\n  filterParts.push(`[${outroIdx}:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,setsar=1,format=yuv420p,fps=30[voutro]`);\n  filterParts.push(`[vconcat]format=yuv420p[vmain_fmt]`);\n  filterParts.push(`[vmain_fmt][voutro]concat=n=2:v=1:a=0[vwithoutro]`);\n} else {\n  filterParts.push(`[vconcat]null[vwithoutro]`);\n}\n\n// === 오디오: 메인만 사용, 아웃트로 구간은 무음 패딩 ===\nif (outroIdx >= 0) {\n  const fullDuration = totalDuration + outroDuration;\n  filterParts.push(`[amain]apad=whole_dur=${fullDuration.toFixed(2)}[afinal]`);\n} else {\n  filterParts.push(`[amain]anull[afinal]`);\n}\n\n// 자막 오버레이 (상단 제목 + 하단 자막 + 훅)\nlet overlayFilter = `[vwithoutro]drawbox=y=40:w=1080:h=280:color=#000000@1.0:t=fill:enable='between(t,0,${audioDuration})',drawtext=expansion=none:text='${escapeDrawtextMultiline(wrapTitleTwoLines(hookClean))}':fontsize=72:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=12:enable='between(t,0,${audioDuration})'`;\n\n// 자막 (글자수 비율 기반 타이밍, 이미지 전환과 독립)\nfor (const sub of subSegments) {\n  const subText = escapeDrawtextMultiline(wrapSubtitle(sub.clean, 12));\n  const startT = sub.start.toFixed(2);\n  const endT = (sub.start + sub.duration).toFixed(2);\n  overlayFilter += `,drawtext=expansion=none:text='${subText}':fontsize=70:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-280:borderw=4:bordercolor=black:enable='between(t,${startT},${endT})'`;\n}\n\n// 훅 자막\nconst hookEscaped = escapeDrawtextMultiline(wrapTitleTwoLines(hookClean));\nconst hookEndT = 2.5;\noverlayFilter += `,drawbox=y=(h-400)/2:w=1080:h=400:color=#000000@0.7:t=fill:enable='between(t,0,${hookEndT})'`;\noverlayFilter += `,drawtext=expansion=none:text='${hookEscaped}':fontsize=75:fontcolor=#CCFF00:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=(h-th)/2:borderw=4:bordercolor=black:enable='between(t,0,${hookEndT})'`;\n// 아웃트로 CTA 자막 (아웃트로 구간에만 표시)\nif (outroIdx >= 0) {\n  totalDuration += outroDuration;  // CTA 계산 전에 아웃트로 길이 반영\n  const ctaText = escapeDrawtextMultiline(wrapSubtitle(outroCta, 14));\n  const outroStartT = (totalDuration - outroDuration).toFixed(2);\n  const outroEndT = totalDuration.toFixed(2);\n  overlayFilter += `,drawbox=y=h-350:w=1080:h=120:color=#000000@0.7:t=fill:enable='between(t,${outroStartT},${outroEndT})'`;\n  overlayFilter += `,drawtext=expansion=none:text='${ctaText}':fontsize=60:fontcolor=#CCFF00:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-320:borderw=3:bordercolor=black:enable='between(t,${outroStartT},${outroEndT})'`;\n}\n\noverlayFilter += '[vfinal]';\nfilterParts.push(overlayFilter);\n\nconst nca_payload = {\n  inputs,\n  filters: [{ filter: filterParts.join(';') }],\n  outputs: [{\n    options: [\n      { option: \"-map\", argument: \"[vfinal]\" }, { option: \"-map\", argument: \"[afinal]\" },\n      { option: \"-c:v\", argument: \"libx264\" }, { option: \"-preset\", argument: \"fast\" }, { option: \"-crf\", argument: \"23\" },\n      { option: \"-c:a\", argument: \"aac\" }, { option: \"-b:a\", argument: \"192k\" },\n      { option: \"-pix_fmt\", argument: \"yuv420p\" }, { option: \"-movflags\", argument: \"+faststart\" }, { option: \"-t\", argument: totalDuration.toFixed(2) }\n    ],\n    file_name: \"kkultip_shorts_final.mp4\"\n  }]\n};\n\nreturn [{\n  json: {\n    nca_payload,\n    totalDuration,\n    imageCount: imgSegments.length,\n    subtitleCount: subSegments.length,\n    hookTitle,\n    subject: $('콘텐츠 파싱').first().json.Subject,\n    caption: $('콘텐츠 파싱').first().json.Caption,\n    comment: $('콘텐츠 파싱').first().json.Comment,\n    category,\n    outroFile,\n    debugCategory: {\n      from_contentParsing: $('콘텐츠 파싱').first().json.category,\n      from_topicParsing: $('주제 파싱').first().json.category,\n      usedCategory: category,\n      selectedOutro: outroFile || 'none',\n      selectedCta: outroCta || 'none'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        336
      ],
      "id": "404f0c26-7e0a-4ea9-9a92-b409b2881a08",
      "name": "NCA 데이터 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://76.13.182.180:8080/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nca-sagong-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.nca_payload) }}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3888,
        336
      ],
      "id": "aceed59c-8a84-4d5c-9462-c4029b65e4ae",
      "name": "NCA 영상 제작"
    },
    {
      "parameters": {
        "jsCode": "// NCA 결과 처리\nconst result = $input.first().json;\nconst prevData = $('NCA 데이터 준비').first().json;\n\nlet videoUrl = '';\nif (Array.isArray(result.response)) {\n  videoUrl = result.response[0]?.file_url || '';\n} else if (typeof result.response === 'string') {\n  videoUrl = result.response;\n} else {\n  videoUrl = result.output_url || result.url || result.video_url || result.file_url || '';\n}\n\nif (!videoUrl) {\n  throw new Error('NCA 영상 제작 결과 URL 없음: ' + JSON.stringify(result).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    '영상 URL': videoUrl,\n    Status: '완료',\n    topic: $('주제 파싱').first().json.topic,\n    category: prevData.category,\n    outro_file: prevData.outroFile || '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        336
      ],
      "id": "b450da49-f5c0-47b1-b8aa-89ad7451c1e8",
      "name": "NCA 결과 처리"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
          "mode": "list",
          "cachedResultName": "온카스터디",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설명형 숏츠"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "topic"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "영상 URL",
              "displayName": "영상 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generatedAt",
              "displayName": "generatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outro_file",
              "displayName": "outro_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4496,
        336
      ],
      "id": "319950f6-698f-4a59-84d3-04217db6b3b2",
      "name": "상태 업데이트",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topic = $input.first().json.topic || $input.first().json['주제'] || '';\nif (!topic) {\n  throw new Error('topic이 비어있습니다. 시트에 topic 컬럼을 확인하세요.');\n}\nconst category = $input.first().json.category || 1;\nconst subtopic = $input.first().json.subtopic || '';\n\n// ============================================================\n// v2: subtopic별 세분화 가이드 (13개 아웃트로에 1:1 매칭)\n// ============================================================\n\nconst SUBTOPIC_GUIDE = {\n  // ========== 카테고리 1: 먹튀검증/안전 ==========\n  '검증된 제휴사이트 이용 방법': `## 이 영상의 핵심: 안전한 제휴사이트 이용법\n- 핵심 메시지: \"왜 검증된 제휴사이트를 써야 하는가\"\n- 다룰 내용: 제휴사이트가 뭔지, 일반 사이트와 차이점, 보증금 시스템, 안전 이용 팁\n- 스토리 흐름: 위험한 사이트 피해 사례(충격) → 제휴사이트의 검증 과정 설명 → 보증금/안전장치 설명 → 온카스터디에서 확인하라는 CTA\n- 톤: \"이런 데서 왜 해? 안전한 데 있는데\" 느낌으로 정보 전달\n- 필수 언급: 제휴사이트, 보증금, 검증 과정\n- 절대 금지: 포인트/돌림판/복권/기프티콘/앱테크/잭팟/방송/스트리머/스포츠/분석/픽 관련 내용`,\n\n  '먹튀 제보와 검증 과정': `## 이 영상의 핵심: 먹튀 제보 & 검증 시스템\n- 핵심 메시지: \"먹튀 당하면 어떻게 해야 하나? 제보하면 검증팀이 움직인다\"\n- 다룰 내용: 실제 먹튀 사례(구체적 금액/상황), 제보 방법, 검증팀 조사 과정, 패널티 결과\n- 스토리 흐름: 누군가 먹튀 당한 실화(충격) → 온카스터디에 제보함 → 검증팀 출동 → 먹튀 확정/패널티 → 이래서 검증이 중요하다 → CTA\n- 톤: \"진짜 이런 일이 있었다\" 르포/고발 느낌\n- 필수 언급: 먹튀, 제보, 검증, 패널티\n- 절대 금지: 포인트/돌림판/복권/기프티콘/앱테크/잭팟/방송/스트리머/스포츠/분석/픽 관련 내용`,\n\n  // ========== 카테고리 2: 무료 혜택/앱테크 ==========\n  '포인트존 게임으로 포인트 모으는 방법': `## 이 영상의 핵심: 포인트존 게임(오목 등)으로 포인트 적립\n- 핵심 메시지: \"게임만 해도 포인트가 쌓인다\"\n- 다룰 내용: 포인트존에 있는 게임 종류(오목 등), 게임당 얼마 적립되는지, 하루 한도, 활용 팁\n- 스토리 흐름: 공짜로 포인트 모으는 방법 있다(후킹) → 포인트존 게임 소개 → 구체적 적립 금액 예시 → 이렇게 모으면 기프티콘도 가능 → CTA\n- 톤: \"이거 모르면 손해!\" 꿀팁 공유 느낌\n- 필수 언급: 포인트존, 게임, 적립, 포인트\n- 절대 금지: 카지노/먹튀/도박/롤링/출금/충전/잭팟/대박/당첨/방송/스트리머/스포츠/분석 관련 내용`,\n\n  '복권으로 포인트 적립하는 방법': `## 이 영상의 핵심: 포인트존 복권으로 포인트 모으기\n- 핵심 메시지: \"매일 복권 긁으면 포인트가 쌓인다\"\n- 다룰 내용: 복권 시스템 설명, 당첨 확률/금액, 매일 참여 방법, 꾸준히 모은 사례\n- 스토리 흐름: 매일 복권 긁는 꿀팁(후킹) → 복권 시스템 설명 → 실제 당첨 사례/금액 → 매일 하면 이만큼 모인다 → CTA\n- 톤: \"나 이거로 만원어치 모았는데?\" 자랑 느낌\n- 필수 언급: 복권, 포인트, 적립, 매일\n- 절대 금지: 카지노/먹튀/도박/롤링/출금/충전/잭팟/대박/당첨/방송/스트리머/스포츠/분석 관련 내용`,\n\n  '돌림판으로 포인트 모으는 방법': `## 이 영상의 핵심: 포인트존 돌림판으로 포인트 적립\n- 핵심 메시지: \"돌림판 한 번 돌리면 포인트가 쏙\"\n- 다룰 내용: 돌림판 참여 방법, 보상 종류/금액, 하루 참여 횟수, 꾸준히 모은 팁\n- 스토리 흐름: 돌림판으로 공짜 포인트(후킹) → 어떻게 참여하는지 → 보상 금액 예시 → 매일 꾸준히 하면 이만큼 → CTA\n- 톤: \"매일 30초면 끝\" 간단함 강조\n- 필수 언급: 돌림판, 포인트, 적립\n- 절대 금지: 카지노/먹튀/도박/롤링/출금/충전/잭팟/대박/당첨/방송/스트리머/스포츠/분석 관련 내용`,\n\n  '포인트를 기프티콘으로 교환하는 방법': `## 이 영상의 핵심: 모은 포인트를 기프티콘으로 교환\n- 핵심 메시지: \"포인트 모아서 실제 기프티콘으로 바꿀 수 있다\"\n- 다룰 내용: 교환 가능한 기프티콘 종류, 필요 포인트, 교환 방법, 실제 교환 후기\n- 스토리 흐름: 커피 공짜로 마시는 법(후킹) → 포인트 교환 시스템 설명 → 교환 가능한 것들 소개 → 실제 교환 사례 → CTA\n- 톤: \"진짜 커피 쿠폰 나옴 ㅋㅋ\" 실후기 느낌\n- 필수 언급: 기프티콘, 교환, 포인트\n- 절대 금지: 카지노/먹튀/도박/롤링/출금/충전/잭팟/대박/당첨/방송/스트리머/스포츠/분석 관련 내용`,\n\n  // ========== 카테고리 3: 잭팟/대박 후기 ==========\n  '잭팟 당첨 사례와 제보 방법': `## 이 영상의 핵심: 잭팟 터진 실화 + 제보하면 포인트 보상\n- 핵심 메시지: \"진짜 잭팟 터진 사람 있고, 제보하면 포인트 5천 준다\"\n- 다룰 내용: 실제 잭팟 당첨 사례(금액/게임/상황), 잭팟 제보 방법, 포인트 5천 보상\n- 스토리 흐름: 누가 얼마 터졌다(충격 후킹) → 어떤 게임에서 어떻게 → 인증 캡처 공유 → 제보하면 포인트 보상 → CTA\n- 톤: \"아니 진짜 이게 터짐?!\" 흥분/부러움 느낌\n- 필수 언급: 잭팟, 당첨, 제보, 포인트 보상\n- 절대 금지: 먹튀/패널티/검증/롤링/출금/포인트존/돌림판/복권/기프티콘/앱테크/방송/스트리머/스포츠/분석 관련 내용`,\n\n  '커뮤니티 베스트 글과 유저 참여': `## 이 영상의 핵심: 커뮤니티 활동으로 베스트 글 선정 & 보상\n- 핵심 메시지: \"글 쓰면 베스트 선정되고 포인트도 받는다\"\n- 다룰 내용: 자유게시판 활동, 베스트 글 선정 기준, 선정 시 보상, 재미있는 글 예시\n- 스토리 흐름: 글 하나 썼는데 베스트 됨(후킹) → 어떤 글이 베스트 되는지 → 보상 내용 → 참여 방법 → CTA\n- 톤: \"나도 한번 써볼까?\" 참여 유도 느낌\n- 필수 언급: 베스트 글, 커뮤니티, 포인트 보상\n- 절대 금지: 먹튀/패널티/검증/롤링/출금/포인트존/돌림판/복권/기프티콘/앱테크/방송/스트리머/스포츠/분석 관련 내용`,\n\n  // ========== 카테고리 4: 방송 하이라이트 ==========\n  '스트리머 방송 명장면 하이라이트': `## 이 영상의 핵심: 방송존 스트리머 명장면/레전드 모먼트\n- 핵심 메시지: \"이 장면 실화냐? 방송존에서 이런 게 나온다\"\n- 다룰 내용: 스트리머 레전드 장면 묘사, 어떤 방송이었는지, 시청자 반응, 방송존 소개\n- 스토리 흐름: 레전드 장면 묘사(후킹) → 어떤 스트리머/방송인지 → 시청자 반응 → 이런 거 놓치지 마라 → CTA\n- 톤: \"아 이거 실시간으로 봤어야 했는데...\" 아쉬움/흥분 느낌\n- 필수 언급: 방송존, 스트리머, 하이라이트\n- 절대 금지: 먹튀/패널티/검증/포인트/돌림판/복권/기프티콘/앱테크/잭팟/스포츠/분석/픽 관련 내용`,\n\n  '실시간 방송존에서 스트리머와 소통': `## 이 영상의 핵심: 실시간 방송존에서 스트리머와 직접 소통\n- 핵심 메시지: \"실시간으로 스트리머랑 같이 볼 수 있다\"\n- 다룰 내용: 방송존 종류(동물원/가디언/인생역전), 실시간 채팅, 같이 보는 재미, 방송 이벤트\n- 스토리 흐름: 혼자 보면 재미없지?(공감) → 방송존에서 같이 보는 재미 → 채팅으로 소통 → 방송 이벤트도 있다 → CTA\n- 톤: \"같이 보니까 10배 더 재밌음\" 소속감/재미 느낌\n- 필수 언급: 방송존, 실시간, 소통, 스트리머\n- 절대 금지: 먹튀/패널티/검증/포인트/돌림판/복권/기프티콘/앱테크/잭팟/스포츠/분석/픽 관련 내용`,\n\n  // ========== 카테고리 5: 스포츠/뉴스 ==========\n  '최신 스포츠 뉴스': `## 이 영상의 핵심: 최신 스포츠 뉴스/이슈\n- 핵심 메시지: \"스포츠 팬이라면 이 소식 알아야 한다\"\n- 다룰 내용: 최신 축구/농구/야구 이적, 경기 결과, 선수 부상, 리그 순위 변동 등 스포츠 뉴스\n- 스토리 흐름: 깜짝 뉴스(후킹) → 무슨 일인지 설명 → 영향/전망 → 온카스터디 스포츠 뉴스에서 더 보라 → CTA\n- 톤: \"야 이거 봤어? 대박인데\" 스포츠 팬 수다 느낌\n- 필수 키워드: 스포츠, 뉴스, 경기, 선수, 리그\n- ★★★ 절대 금지: 먹튀/패널티/검증/사이트 안전 관련 내용 일절 금지! ★★★\n- 절대 금지 단어: 먹튀, 패널티, 검증, 포인트, 돌림판, 복권, 기프티콘, 앱테크, 잭팟, 방송, 스트리머\n- 이 영상은 순수 스포츠 뉴스! 카지노/도박/사이트 이야기 절대 하지 마!`,\n\n  '최신 카지노/게임사 뉴스': `## 이 영상의 핵심: 카지노/게임사 업계 뉴스\n- 핵심 메시지: \"카지노 업계에서 이런 일이 있었다\"\n- 다룰 내용: 새 게임 출시, 게임사 업데이트, 카지노 업계 트렌드, 규제 변화, 이벤트 소식\n- 스토리 흐름: 업계 이슈(후킹) → 무슨 변화인지 설명 → 유저에게 미치는 영향 → 온카스터디 카지노 뉴스에서 더 보라 → CTA\n- 톤: \"이거 알면 게임할 때 도움됨\" 정보 전달 느낌\n- 필수 키워드: 카지노, 게임사, 뉴스, 업데이트, 신규\n- ★★★ 절대 금지: 먹튀/검증/사이트 안전 이야기 하지 마! 이건 뉴스 영상이야! ★★★\n- 절대 금지 단어: 먹튀, 패널티, 검증, 포인트, 돌림판, 복권, 기프티콘, 앱테크, 잭팟, 방송, 스트리머\n- 순수 업계 뉴스만! 먹튀/안전 검증 내용 절대 금지!`,\n\n  '스포츠 경기 분석과 픽': `## 이 영상의 핵심: 스포츠 경기 분석 & 픽 정보\n- 핵심 메시지: \"감으로 하지 말고 분석 보고 하자\"\n- 다룰 내용: 특정 경기 분석(팀 전력, 최근 성적, 맞대결 기록), 배당 분석, 픽 추천 근거\n- 스토리 흐름: 이 경기 어디 걸어?(후킹) → 양 팀 전력 비교 → 핵심 데이터/통계 → 분석 결론 → 온카스터디 스포츠 분석에서 더 보라 → CTA\n- 톤: \"데이터가 말해주잖아\" 분석가 느낌\n- 필수 키워드: 분석, 픽, 배당, 경기, 전적, 데이터\n- ★★★ 절대 금지: 먹튀/검증/사이트 안전 이야기 절대 금지! ★★★\n- 절대 금지 단어: 먹튀, 패널티, 검증, 포인트, 돌림판, 복권, 기프티콘, 앱테크, 잭팟, 방송, 스트리머\n- 순수 스포츠 분석만! 사이트 검증 이야기 하지 마!`\n};\n\n// fallback: subtopic 매칭 안 되면 기존 카테고리 가이드\nconst CATEGORY_GUIDE_FALLBACK = {\n  1: `## 이 영상의 주제: 먹튀검증/안전\n- 다룰 내용: 먹튀 피해사례, 검증 과정, 패널티 결과, 안전사이트 구별법\n- 스토리 흐름: 피해사례 → 검증 과정 → 해결/패널티 → CTA\n- 금지: 포인트/돌림판/복권/기프티콘/앱테크/잭팟/방송/스트리머/스포츠/분석/픽`,\n  2: `## 이 영상의 주제: 무료 혜택/앱테크\n- 다룰 내용: 포인트존 활용법, 무료 혜택\n- 스토리 흐름: 꿀팁 소개 → 방법 → 결과 → CTA\n- 금지: 카지노/먹튀/도박/롤링/출금/충전/잭팟/방송/스트리머/스포츠/분석`,\n  3: `## 이 영상의 주제: 잭팟/대박 후기\n- 다룰 내용: 잭팟 당첨 사례, 커뮤니티 활동\n- 스토리 흐름: 대박 사례 → 구체적 내용 → 참여 방법 → CTA\n- 금지: 먹튀/앱테크/방송/스포츠`,\n  4: `## 이 영상의 주제: 방송 하이라이트\n- 다룰 내용: 스트리머 방송 명장면, 방송존 소개\n- 스토리 흐름: 레전드 장면 → 방송 소개 → 소통 → CTA\n- 금지: 먹튀/앱테크/스포츠`,\n  5: `## 이 영상의 주제: 스포츠/뉴스\n- 다룰 내용: 스포츠 뉴스, 카지노 뉴스, 경기 분석\n- 스토리 흐름: 최신 소식 → 분석 → CTA\n- ★ 먹튀/검증/안전 이야기 절대 금지! 순수 뉴스/분석만! ★\n- 금지: 먹튀/패널티/검증/앱테크/포인트/잭팟/방송`\n};\n\n// subtopic 매칭: 정확히 일치 → 부분 포함 → 카테고리 fallback\nlet guide = '';\nif (subtopic && SUBTOPIC_GUIDE[subtopic]) {\n  guide = SUBTOPIC_GUIDE[subtopic];\n} else if (subtopic) {\n  // 부분 매칭 시도\n  const matchKey = Object.keys(SUBTOPIC_GUIDE).find(key => \n    subtopic.includes(key) || key.includes(subtopic)\n  );\n  guide = matchKey ? SUBTOPIC_GUIDE[matchKey] : (CATEGORY_GUIDE_FALLBACK[category] || CATEGORY_GUIDE_FALLBACK[1]);\n} else {\n  guide = CATEGORY_GUIDE_FALLBACK[category] || CATEGORY_GUIDE_FALLBACK[1];\n}\n\nconst FORBIDDEN_MAP = {\n  1: '포인트, 돌림판, 복권, 기프티콘, 앱테크, 잭팟, 방송, 스트리머, 스포츠, 분석, 픽',\n  2: '먹튀, 패널티, 검증, 롤링, 출금, 충전, 잭팟, 대박, 당첨, 방송, 스트리머, 스포츠, 분석',\n  3: '먹튀, 패널티, 검증, 롤링, 출금, 포인트, 돌림판, 복권, 기프티콘, 앱테크, 방송, 스트리머, 스포츠, 분석',\n  4: '먹튀, 패널티, 검증, 포인트, 돌림판, 복권, 기프티콘, 앱테크, 잭팟, 스포츠, 분석, 픽',\n  5: '먹튀, 패널티, 검증, 포인트, 돌림판, 복권, 기프티콘, 앱테크, 잭팟, 방송, 스트리머'\n};\n\nconst forbiddenWords = FORBIDDEN_MAP[category] || FORBIDDEN_MAP[1];\n\nconst prompt = `너는 유튜브 쇼츠(Shorts) 대본 기획 및 작성 전문가야. 카지노/슬롯 커뮤니티 '온카스터디' 홍보 영상을 만들어.\n아래 확정된 주제를 바탕으로 35~40초 분량의 쇼츠 스크립트를 작성해줘.\n\n## 반드시 지킬 주제\n${topic}\n\n${guide}\n\n★★★ 위 가이드의 \"핵심 메시지\"와 \"다룰 내용\"만 집중해! 다른 카테고리/기능 내용 절대 섞지 마! ★★★\n\n## ★★★ 절대 금지 규칙 (위반 시 전체 실패!) ★★★\n다음 단어들이 subtitles에 하나라도 포함되면 0점이야! 절대 쓰지 마!\n금지 단어: ${forbiddenWords}\n한 번 더 강조: [${forbiddenWords}] ← 이 단어들 절대 금지!\n\n## 핵심 구조: images(화면)와 subtitles(자막)를 분리해!\n- images: 화면에 보여줄 이미지/밈 목록 (4~6개, 천천히 전환)\n- subtitles: 나레이션 자막 목록 (12~16개, 한 호흡 단위)\n- 이미지는 천천히 바뀌고, 자막만 빠르게 끊어서 나오는 구조야!\n\n## ★★★ 스토리 연결 규칙 (매우 중요!!!) ★★★\nsubtitles 전체가 하나의 이야기로 자연스럽게 이어져야 해!\n처음부터 끝까지 한 사람이 말하는 것처럼 흘러가야 함!\n\n절대 금지 패턴:\n- 키워드 나열식: \"축구 배당 대박 / 농구 픽 적중 / 야구 뉴스 체크\" ← 이런 거 절대 안 됨!\n- 기능 나열식: \"돌림판으로 적립 / 복권으로 적립 / 오목으로 적립\" ← 이것도 금지!\n- 홍보 문구 나열: \"출석체크 1000점 / 돌림판 추가 적립 / 복권 대박 찬스\" ← 금지!\n\n올바른 패턴:\n- 도입(충격/공감) → 상황 설명 → 해결 과정 → 결과 → CTA\n- 모든 자막이 앞뒤 문맥과 연결되어야 해!\n- \"근데\", \"그래서\", \"결과?\", \"알고보니\" 같은 연결어로 자연스럽게 이어가!\n\n## 자막(subtitles) 쪼개기 규칙 (매우 중요!!!)\n한 호흡 단위로 자연스럽게 끊어서 자막을 만들어!\n- 각 subtitle: 띄어쓰기 포함 5자 ~ 15자 (한 호흡 단위)\n- 단어 1~2개만 단독으로 쓰지 마! (\"혹시\", \"최근에\", \"근데\" 같은 거 금지!)\n- subtitles 총 개수: 12~16개, 17개 이상이면 실패!\n- 띄어쓰기 문법 완벽하게 지켜!\n- 나레이션은 앞 자막과 자연스럽게 이어져야 해! 마침표(.) 찍지 마!\n\n[자막 쪼개기 예시]\n나쁜 예: \"혹시\" / \"알고 있었어?\" / \"최근에\" / \"진짜 대박\" ← 너무 잘게 쪼갠 거!\n좋은 예:\n\"혹시 이거 알고 있었어?\"\n\"최근에 진짜 대박 나왔거든\"\n\"솔직히 처음엔 몰랐지\"\n\"충전하고 바로 돌렸는데\"\n\n## ★ 마지막 자막 규칙 ★\n- 마지막 1~2개 subtitle은 시청자의 행동을 유도하는 완결된 한국어 문장이어야 해!\n- 반드시 종결어미(~해, ~해봐, ~야, ~마, ~하세요, ~가자, ~너 등)로 끝나야 해!\n- 마지막에 반드시 \"온카스터디\"를 언급할 것! (예: \"온카스터디 검색해봐\", \"온카스터디에서 확인해\")\n- 매번 다른 표현을 자유롭게 창작해! 똑같은 패턴 반복 금지!\n- 절대 문장이 중간에 끊기면 안 돼! \"무료 혜택 지금 바로\" 이런 식으로 미완성 금지!\n\n## 이미지(images) 규칙\n- 4~6개만! (자막보다 훨씬 적게)\n- keyword는 해당 자막 내용과 직접 관련된 영어 명사로!\n  예: '치킨 시켜먹자' → 'fried chicken', '돈 날렸어' → 'empty wallet'\n  자막과 무관한 추상적 키워드 금지!\n- Pexels에서 검색될 직관적인 영어 명사 1~2개\n- visual_type: \"image\" 또는 \"meme\" (meme은 3~4개 적극 사용! 움직이는 짤이 많을수록 영상이 재밌어져!)\n- meme일 때 meme_mood: thinking, excited, shocked, sad, angry, cool, celebrating, snacking, speechless, smoking, disappointed, thumbsup, crying, desperate, bored, suspicious, money, laughing, confident, scared 중 택1\n\n## 강조 태그 (효과음 연동)\n- subtitles에서 핵심 단어에 <em>태그</em> 사용!\n- 예: \"<em>먹튀</em> 당함\", \"롤링 <em>3배</em>면\"\n\n## 구체적 수치 필수!\n숫자, 금액, 시간 등 구체적 수치를 반드시 포함해!\n\n## 아웃트로 CTA 문구 규칙\n- outro_cta: 영상 마지막에 뜨는 행동유도 자막 (15~22자)\n- 콘텐츠 내용에 맞게 매번 다르게 생성!\n- 한국 2030 남성 구어체로, 딱딱하지 않게\n- \"~하세요\" 존댓말 OK, \"~해봐\" 반말도 OK\n- 온카스터디 또는 해당 메뉴를 자연스럽게 언급\n\n예시:\n- 먹튀검증 관련: \"먹튀 당하기 전에 온카스터디 가봐\"\n- 포인트존 관련: \"공짜 포인트 안 모으면 손해인데?\"\n- 잭팟 관련: \"잭팟 터지면 제보하고 포인트까지 겟\"\n- 방송 관련: \"온카스터디 방송존에서 실시간으로 봐\"\n- 스포츠 관련: \"분석 더 보고싶으면 온카스터디 가봐\"\n\nCTA에 구체적 숫자 넣지 마!\n다양한 표현 예시:\n- '포인트 모아서 치킨 시키자'\n- '가족이랑 외식할 포인트 받아가'\n- '커피값은 온카스터디가 쏜다'\n- '포인트로 기프티콘 바로 교환해'\n- '모은 포인트 현금처럼 써봐'\n매번 다른 표현으로! 같은 문구 반복 금지!\n\n금지:\n- \"클릭\", \"구독\", \"좋아요\" 같은 유튜브 CTA 금지\n- 너무 길게 쓰지 마 (22자 초과 금지)\n\n## 출력 형식 (순수 JSON만, 코드블록 없이)\n- JSON 값 안에 쌍따옴표(\")나 줄바꿈 문자를 절대 넣지 마!\n{\n  \"hook_title\": \"첫 화면 노란색 어그로 자막 (15자 내외)\",\n  \"images\": [\n    { \"keyword\": \"영어 명사\", \"visual_type\": \"image\" },\n    { \"keyword\": \"영어 명사\", \"visual_type\": \"meme\", \"meme_mood\": \"shocked\" }\n  ],\n  \"subtitles\": [\n    \"3~10자 짧은 자막\",\n    \"<em>강조</em> 포함 자막\",\n    \"이렇게 쪼개서\"\n  ],\n  \"outro_cta\": \"콘텐츠에 맞는 임팩트 있는 CTA 한 줄 (20자 이내)\",\n  \"Subject\": \"제목 #온카스터디 + 카테고리 관련 해시태그\",\n  \"Caption\": \"설명 #온카스터디 + 해시태그\",\n  \"Comment\": \"구글에 온카스터디 검색!\"\n}\n\n## 금액 언급 금지!\n구체적 포인트 금액(5천, 3천, 1만 등) 절대 언급 금지!\n'포인트 증정', '캐쉬백 지급', '보상 지급' 같이 금액 없이 표현해.\n\n## 마지막 확인! 금지단어 [${forbiddenWords}] 하나라도 들어가면 0점!`;\nreturn [{\n  json: {\n    prompt,\n    topic,\n    category,\n    subtopic,\n    outroFile: $input.first().json.outroFile || '',\n    outroCta: $input.first().json.outroCta || '',\n    row_number: $input.first().json.row_number,\n    ...$input.first().json\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        304
      ],
      "id": "d35c1c7b-3cc8-448b-a309-dbfe73dec39c",
      "name": "프롬프트 생성"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ encodeURIComponent($json.keyword || $json.image_prompt?.split(',')[0] || 'abstract background') }}&per_page=3&orientation=portrait",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        480
      ],
      "id": "76aadc3c-5ec1-487b-a68c-6725f0fd4ba6",
      "name": "이미지 검색",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vPRgFSX7u4ecIy4",
          "name": "Pexels"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 밈 카탈로그: MinIO에 호스팅된 밈/리액션 영상 URL (97개)\nconst MEME_CATALOG = {\n  thinking: [\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_01.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_02.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_03.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_04.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_05.mp4',\n    'http://76.13.182.180:9000/memes/thinking/big_brain_time.png',\n    'http://76.13.182.180:9000/memes/thinking/18d7459865c4bbdeb.mp4',\n    'http://76.13.182.180:9000/memes/thinking/charlie_conspiracy.jpg',\n    'http://76.13.182.180:9000/memes/thinking/hackerman.jpg',\n    'http://76.13.182.180:9000/memes/thinking/sherlock_magnifying.jpg',\n    'http://76.13.182.180:9000/memes/thinking/anime_studying.png',\n    'http://76.13.182.180:9000/memes/thinking/detective_pikachu_twist.png',\n    'http://76.13.182.180:9000/memes/thinking/roll_safe_think.jpg',\n    'http://76.13.182.180:9000/memes/thinking/simpsons_lenny_praying.jpg'\n  ],\n  excited: [\n    'http://76.13.182.180:9000/memes/excited/meme_excited_01.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_02.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_03.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_04.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_05.mp4',\n    'http://76.13.182.180:9000/memes/excited/%EC%A7%90%EC%BA%90%EB%A6%AC%20%ED%82%A4%EB%B3%B4%EB%93%9C.mp4'\n  ],\n  shocked: [\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_01.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_02.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_03.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_04.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_05.mp4',\n    'http://76.13.182.180:9000/memes/shocked/anime_shocked.jpg',\n    'http://76.13.182.180:9000/memes/shocked/surprised_pikachu.jpg',\n    'http://76.13.182.180:9000/memes/shocked/spongebob_shocked.png',\n    'http://76.13.182.180:9000/memes/shocked/cat_shocked.jpg',\n    'http://76.13.182.180:9000/memes/shocked/pepe_shocked.png',\n    'http://76.13.182.180:9000/memes/shocked/the_office_no.jpg',\n    'http://76.13.182.180:9000/memes/shocked/oprah_surprised.jpg'\n  ],\n  sad: [\n    'http://76.13.182.180:9000/memes/sad/meme_sad_01.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_02.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_03.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_04.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_05.mp4',\n    'http://76.13.182.180:9000/memes/sad/%ED%98%80%20%EB%82%B4%EB%AF%BC%20%EB%A9%8D%ED%95%9C%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/sad/squidward_window.jpg'\n  ],\n  angry: [\n    'http://76.13.182.180:9000/memes/angry/meme_angry_01.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_02.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_03.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_04.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_05.mp4',\n    'http://76.13.182.180:9000/memes/angry/%EB%B9%A8%EA%B0%84%20%EB%B6%84%EB%85%B8%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/angry/table_flip.jpg',\n    'http://76.13.182.180:9000/memes/angry/thanos_snap.png'\n  ],\n  cool: [\n    'http://76.13.182.180:9000/memes/cool/meme_cool_01.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_02.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_03.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_04.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_05.mp4',\n    'http://76.13.182.180:9000/memes/cool/mic_drop.jpg',\n    'http://76.13.182.180:9000/memes/cool/onepiece_admirals.jpg',\n    'http://76.13.182.180:9000/memes/cool/cool_guys_explosion.png',\n    'http://76.13.182.180:9000/memes/cool/tony_stark_sunglasses.jpg',\n    'http://76.13.182.180:9000/memes/cool/pepe_tuxedo_wine.jpg',\n    'http://76.13.182.180:9000/memes/cool/chad_yes.jpg',\n    'http://76.13.182.180:9000/memes/cool/kanye_shrug.jpg'\n  ],\n  celebrating: [\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_01.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_02.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_03.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_04.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_05.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/%ED%8C%8C%ED%8B%B0%EB%AA%A8%EC%9E%90%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/celebrating/leonardo_toast.jpg',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_3rgXBxX4myuf.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_HNg0tC5rmbOo.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_bznNJlqAi4pB.mp4'\n  ],\n  money: [\n    'http://76.13.182.180:9000/memes/money/wolf_wallstreet_money.jpg',\n    'http://76.13.182.180:9000/memes/money/mr_krabs_money.jpg',\n    'http://76.13.182.180:9000/memes/money/make_it_rain.jpg',\n    'http://76.13.182.180:9000/memes/money/stonks_meme.jpg',\n    'http://76.13.182.180:9000/memes/money/shut_up_take_money.jpg',\n    'http://76.13.182.180:9000/memes/money/empty_wallet.jpg',\n    'http://76.13.182.180:9000/memes/money/money_printer.jpg',\n    'http://76.13.182.180:9000/memes/money/scrooge_swimming.jpg',\n    'http://76.13.182.180:9000/memes/money/meme_money_KsvRum8n1GqQ.mp4',\n    'http://76.13.182.180:9000/memes/money/meme_money_P3KC4xvcDmE2.mp4',\n    'http://76.13.182.180:9000/memes/money/meme_money_x87yLDmua3Yi.mp4'\n  ],\n  snacking: [\n    'http://76.13.182.180:9000/memes/snacking/%EA%B3%BC%EC%9E%90%20%EB%A8%B9%EB%8A%94%20%ED%8E%98%ED%8E%98.png',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_1CW5C8WaA7ro.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_iDJuQR0UmiqO.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_pUeXcg80cO8I.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_tFK8urY6XHj2.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_tHvxNSQ9c1Hb.mp4'\n  ],\n  speechless: [\n    'http://76.13.182.180:9000/memes/speechless/%22...%22%20%EB%A9%8D%ED%95%9C%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/speechless/nick_young_confused.jpg',\n    'http://76.13.182.180:9000/memes/speechless/joey_confused.jpg',\n    'http://76.13.182.180:9000/memes/speechless/john_travolta_confused.jpg',\n    'http://76.13.182.180:9000/memes/speechless/confused_math.jpg',\n    'http://76.13.182.180:9000/memes/speechless/blinking_guy.jpg',\n    'http://76.13.182.180:9000/memes/speechless/meme_speechless_2P3C5DZ8cEuS.mp4',\n    'http://76.13.182.180:9000/memes/speechless/meme_speechless_Ld7IFYuds4MA.mp4',\n    'http://76.13.182.180:9000/memes/speechless/meme_speechless_lxxOGaDRk4f7.mp4'\n  ],\n  smoking: [\n    'http://76.13.182.180:9000/memes/smoking/%EB%8B%B4%EB%B0%B0%20%ED%94%BC%EB%8A%94%20%ED%8E%98%ED%8E%98.png',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_1FMaabePDEfg.mp4',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_R7weSSUjdPdo.mp4',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_n60s5QpOQyma.mp4',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_tYG0kOjcYi5S.mp4'\n  ],\n  disappointed: [\n    'http://76.13.182.180:9000/memes/disappointed/%EC%8A%A4%ED%8D%BC%EC%8A%A4%20%EC%9C%A0%EB%8B%88%ED%8F%BC%20%EC%9A%B0%EC%9A%B8%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/disappointed/facepalm_picard.jpg',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_Bcpspr9LTSvs.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_KIqHhQ1TLTEb.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_l3vRhaxVcQ1i.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_wAlP8WYl7mmq.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_xdLH51eNWZAH.mp4'\n  ],\n  thumbsup: [\n    'http://76.13.182.180:9000/memes/thumbsup/%EC%97%84%EC%A7%80%EC%B2%99%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/thumbsup/obama_not_bad.jpg',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_BYoRqTmcgzHc.mp4',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_CvZuv5m5cKl8.mp4',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_DvWJHSOxTff8.mp4',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_SShJcu4ySty1.mp4'\n  ],\n  crying: [\n    'http://76.13.182.180:9000/memes/crying/%EC%9A%B0%EB%8A%94%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/crying/pedro_pascal_crying.jpg',\n    'http://76.13.182.180:9000/memes/crying/jordan_crying.jpg',\n    'http://76.13.182.180:9000/memes/crying/pepe_crying.jpg',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_Vg2TAoPzDstz.mp4',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_iJJ6E58EttmF.mp4',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_mBMDcBe9uidY.mp4',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_rDOKuhJpUdmd.mp4'\n  ],\n  desperate: [\n    'http://76.13.182.180:9000/memes/desperate/%EC%BD%98%EC%84%BC%ED%8A%B8%20%ED%8F%AC%ED%81%AC%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/desperate/this_is_fine_dog.jpg',\n    'http://76.13.182.180:9000/memes/desperate/spongebob_fire.jpg',\n    'http://76.13.182.180:9000/memes/desperate/ron_swanson_computer.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_AaSV3A9ykUbc.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_RWxegWb5fvCa.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_Xb6kZ8u14BM7.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_j1snCodJsR7A.mp4'\n  ],\n  bored: [\n    'http://76.13.182.180:9000/memes/bored/%ED%97%A4%EB%93%9C%ED%8F%B0%20%EB%AC%B4%ED%91%9C%EC%A0%95%20%ED%8E%98%ED%8E%98.png',\n    'http://76.13.182.180:9000/memes/bored/jim_halpert_look.jpg',\n    'http://76.13.182.180:9000/memes/bored/cat_newspaper.jpg',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_HfFccPJv7a9k.mp4',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_Qz3fzoG7zhRu.mp4',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_ZXKZWB13D6gF.mp4',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_tXL4FHPSnVJ0.mp4'\n  ],\n  suspicious: [\n    'http://76.13.182.180:9000/memes/suspicious/%ED%9B%84%EB%93%9C%20%EC%93%B4%20%EC%82%90%EC%A7%84%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/kevin_hart_face.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/side_eye_chloe.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/palpatine_good.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/dark_robot_ai.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/burns_excellent.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/joker_card.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/grinch_smile.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/meme_suspicious_1KoN1DMBnCMW.mp4',\n    'http://76.13.182.180:9000/memes/suspicious/meme_suspicious_iJNqeyo1oIwb.mp4',\n    'http://76.13.182.180:9000/memes/suspicious/meme_suspicious_jqHeMJ2gSh46.mp4'\n  ],\n  laughing: [\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_PjaQrF9J53Uv.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_WiCahQsVaUjk.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_ZqlvCTNHpqri.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_bfA9FfnIU5P0.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_fUYhyT9Ijftx.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_gj0QdZ9FgqGh.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_l0ExayQDzrI2.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_wR7LHlfuRUjH.mp4'\n  ],\n  confident: [\n    'http://76.13.182.180:9000/memes/confident/meme_confident_20PrISFlrRyy.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_FfMktMppgq8x.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_MK37vYca6tOi.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_QoD3tDuU7v6l.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_Xw6yFn7frR3Y.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_g2hu7aDoaTlE.mp4'\n  ],\n  scared: [\n    'http://76.13.182.180:9000/memes/scared/meme_scared_ASevaPpkQIcG.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_F0hY3l1zwX8L.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_J02IfE7NGbJr.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_XUQcfmsVQXwp.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_d1lQ4H8AJRbm.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_fwEVUFkDc66x.mp4'\n  ]\n};\n\nconst items = $input.all();\nconst segAll = $('세그먼트 분리').all();\n\nconst usedMemes = new Set();\n\nreturn items.map((item, i) => {\n  const data = item.json;\n  const segData = segAll[i]?.json || {};\n  const visualType = segData.visual_type || 'image';\n  const memeMood = segData.meme_mood || 'thinking';\n\n  if (visualType === 'meme') {\n    const catalog = MEME_CATALOG[memeMood] || MEME_CATALOG.thinking;\n    const available = catalog.filter(url => !usedMemes.has(url));\n    const pool = available.length > 0 ? available : catalog;\n    const randomIdx = Math.floor(Math.random() * pool.length);\n    const selectedUrl = pool[randomIdx];\n    usedMemes.add(selectedUrl);\n    return {\n      json: {\n        ...data,\n        visual_type: 'meme',\n        meme_mood: memeMood,\n        images: [{ url: selectedUrl }],\n        is_video: selectedUrl.endsWith('.mp4'),\n      }\n    };\n  } else {\n    const photos = data.photos || [];\n    const shuffled = [...photos].sort(() => Math.random() - 0.5).slice(0, 3);\n    const imageUrls = shuffled.map(p => p.src?.portrait || p.src?.large || p.src?.medium || '').filter(Boolean);\n    if (imageUrls.length === 0) {\n      imageUrls.push('https://images.pexels.com/photos/3021120/pexels-photo-3021120.jpeg?auto=compress&cs=tinysrgb&w=1080');\n    }\n    return {\n      json: {\n        ...data,\n        visual_type: 'image',\n        meme_mood: '',\n        images: imageUrls.map(url => ({ url })),\n        is_video: false,\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        480
      ],
      "id": "417f9a14-190f-48d9-a466-fde992082665",
      "name": "이미지 URL 추출"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "너는 '온카스터디' 커뮤니티의 YouTube Shorts 주제 기획자야.\n\n아래 5가지 핵심 주제 카테고리 중 **{{ $json.category }}번 카테고리**에 해당하는 YouTube Shorts 영상 주제(topic) 1개를 생성해줘.\n반드시 {{ $json.category }}번 카테고리의 내용에 맞는 주제를 만들어!\n\n## 5가지 카테고리 (랜덤으로 하나 선택)\n1. \"내 돈 지키는 꿀팁\" (안전/먹튀검증 썰) - 활용: 먹튀제보, 패널티 명단, 스터디판\n2. \"돈 안 쓰고 돈 버는 법\" (무료 혜택/앱테크) - 활용: 포인트존, 돌림판, 기프티콘 교환, 무료슬롯 체험\n3. \"대박 터진 썰 푼다\" (리얼 후기/잭팟 인증) - 활용: 잭팟 제보, 후기게시판\n4. \"레전드 방송 하이라이트\" (엔터테인먼트) - 활용: 방송존, 하이라이트\n5. \"오늘의 픽 & 정보 요약\" (스포츠/카지노 뉴스) - 활용: 스포츠 분석, 카지노 뉴스\n\n## 후킹 원칙 (매우 중요!)\ntopic 자체가 \"클릭하고 싶은 제목\"이어야 해.\n밋밋한 정보형 제목 절대 금지!\n\n핵심 원칙:\n- 읽는 순간 \"어? 뭔데?\" 하고 궁금해지는 제목\n- 감정을 자극할 것 (놀람, 공포, 부러움, 호기심)\n- 구체적 숫자나 상황이 들어갈 것\n- 매번 다른 표현과 구조를 사용할 것 (똑같은 패턴 반복 절대 금지!)\n- 주제(topic) 텍스트 내에 자연스럽게 '온카스터디'를 한 번 언급해줘.\n\n참고할 수 있는 감정 트리거 (이것만 쓰지 말고 자유롭게 변형해):\n숫자충격, 손실공포, 비밀폭로, 반전놀람, 대리만족, 분노유발, 비교자극, 긴급속보, 공감유도, 도전심리 등\n\n❌ 이런 제목은 절대 금지:\n- \"먹튀사이트 구별법\" (교과서식)\n- \"안전놀이터 고르는 법\" (평범)\n- \"스포츠 배팅 초보 가이드\" (재미없음)\n\n출력 형식 (순수 JSON만, 코드블록 없이):\n- JSON 값 안에 쌍따옴표(\")나 줄바꿈 문자를 절대 넣지 마!\n{\"topic\": \"후킹 원칙이 적용된 자극적인 쇼츠 주제 20~40자\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        160,
        304
      ],
      "id": "f691c2b0-ba9e-41de-b342-ddf6ea0d4a09",
      "name": "AI 주제 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nif (!data.topic) {\n  throw new Error('AI 주제 생성 결과에 topic이 없습니다: ' + cleanText);\n}\n\nconst catNode = $('카테고리 결정').first().json;\nreturn [{\n  json: {\n    topic: data.topic,\n    category: catNode.category,\n    outroFile: catNode.outroFile,\n    outroCta: catNode.outroCta,\n    outroDuration: catNode.outroDuration,\n    subtopic: catNode.subtopic,\n    row_number: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ],
      "id": "a15bf7bf-1820-45d4-ae9c-f38db2d345f7",
      "name": "주제 파싱"
    },
    {
      "parameters": {
        "jsCode": "// 카테고리 순차 순환 - Google Sheets 행 수 기반 카운터\nconst sheetRows = $('카운터 읽기').all();\nconst counter = sheetRows.length;  // 시트에 기록된 행 수 = 지금까지 실행된 횟수\n\nconst OUTRO_VIDEOS = {\n  1: [\n    { file: 'partner_site.mp4', duration: 3.5, cta: '검증된 제휴사이트에서 이용하세요', subtopic: '검증된 제휴사이트 이용 방법' },\n    { file: 'scam_report.mp4', duration: 3.0, cta: '먹튀 확인하고 거르세요', subtopic: '먹튀 제보와 검증 과정' }\n  ],\n  2: [\n    { file: 'pointzone_game.mp4', duration: 4.53, cta: '포인트로 다양한 게임 즐기세요', subtopic: '포인트존 게임으로 포인트 모으는 방법' },\n    { file: 'pointzone_lottery.mp4', duration: 5.36, cta: '복권으로 포인트 모아보세요', subtopic: '복권으로 포인트 적립하는 방법' },\n    { file: 'pointzone_spin.mp4', duration: 4.07, cta: '돌림판으로 포인트 모아보세요', subtopic: '돌림판으로 포인트 모으는 방법' },\n    { file: 'gifticon.mp4', duration: 2.5, cta: '포인트로 기프티콘 교환하세요', subtopic: '포인트를 기프티콘으로 교환하는 방법' }\n  ],\n  3: [\n    { file: 'jackpot_report.mp4', duration: 3.77, cta: '잭팟 제보하면 포인트 5천 지급!', subtopic: '잭팟 당첨 사례와 제보 방법' },\n    { file: 'best_post.mp4', duration: 3.87, cta: '베스트 글 올리고 포인트 받자!', subtopic: '커뮤니티 베스트 글과 유저 참여' }\n  ],\n  4: [\n    { file: 'highlight.mp4', duration: 2.77, cta: '놓친 방송 하이라이트 챙겨보세요', subtopic: '스트리머 방송 명장면 하이라이트' },\n    { file: 'live_broadcast.mp4', duration: 4.7, cta: '온카스터디 방송존에서 실시간 소통하세요', subtopic: '실시간 방송존에서 스트리머와 소통' }\n  ],\n  5: [\n    { file: 'sports_news.mp4', duration: 3.43, cta: '최신 스포츠 뉴스 확인하세요', subtopic: '최신 스포츠 뉴스' },\n    { file: 'casino_news.mp4', duration: 3.2, cta: '최신 카지노 뉴스 확인하세요', subtopic: '최신 카지노/게임사 뉴스' },\n    { file: 'sports_analysis.mp4', duration: 3.5, cta: '스포츠 분석으로 적중률 올리세요', subtopic: '스포츠 경기 분석과 픽' }\n  ]\n};\n\nconst sequence = [];\nfor (let cat = 1; cat <= 5; cat++) {\n  const list = OUTRO_VIDEOS[cat];\n  for (let idx = 0; idx < list.length; idx++) {\n    sequence.push({ category: cat, index: idx });\n  }\n}\n\nconst current = sequence[counter % sequence.length];\nconst category = current.category;\nconst picked = OUTRO_VIDEOS[category][current.index];\n\nreturn [{ json: {\n  category,\n  outroFile: picked.file,\n  outroCta: picked.cta,\n  subtopic: picked.subtopic,\n  outroDuration: picked.duration,\n  sequenceInfo: `${counter + 1}/13 (카테고리${category}: ${picked.subtopic})`\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "id": "01961828-a580-40a5-8844-fe28567c9178",
      "name": "카테고리 결정"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "설명형 숏츠",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        304
      ],
      "id": "0ee3e1b3-168f-402b-ad16-0e28b67a90be",
      "name": "카운터 읽기",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "수동 실행": {
      "main": [
        [
          {
            "node": "카운터 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 콘텐츠 생성": {
      "main": [
        [
          {
            "node": "콘텐츠 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콘텐츠 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "세그먼트 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "세그먼트 분리": {
      "main": [
        [
          {
            "node": "이미지 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 결과 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과 처리": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "NCA 데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 데이터 준비": {
      "main": [
        [
          {
            "node": "NCA 영상 제작",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 영상 제작": {
      "main": [
        [
          {
            "node": "NCA 결과 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 결과 처리": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "프롬프트 생성": {
      "main": [
        [
          {
            "node": "AI 콘텐츠 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 검색": {
      "main": [
        [
          {
            "node": "이미지 URL 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 URL 추출": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI 주제 생성": {
      "main": [
        [
          {
            "node": "주제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 파싱": {
      "main": [
        [
          {
            "node": "프롬프트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카테고리 결정": {
      "main": [
        [
          {
            "node": "AI 주제 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카운터 읽기": {
      "main": [
        [
          {
            "node": "카테고리 결정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "categoryCounter": 1
    }
  },
  "pinData": {},
  "id": "x6xTzHJ9WbUc94ec"
}