claude-tools/onca_shortform_v16.json
{
  "name": "[온카 스터디] 설명형 숏츠 - 속도감 25초 v15",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        304
      ],
      "id": "2dfad90a-639d-4d9b-a3b8-08217ee81dd7",
      "name": "수동 실행"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        880,
        304
      ],
      "id": "5df5ffe5-b4b3-41c7-9149-0cd8c3e069c7",
      "name": "AI 콘텐츠 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\n// 1) Gemini 응답 텍스트 추출\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\n// 2) JSON 클린업 + 파싱\nfunction cleanGeminiJson(rawStr) {\n  let s = String(rawStr).replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first !== -1 && last > first) s = s.substring(first, last + 1);\n\n  // 문자열 내부 제어문자 제거\n  let result = '';\n  let inStr = false;\n  let esc = false;\n  for (let i = 0; i < s.length; i++) {\n    const c = s[i];\n    if (esc) { result += c; esc = false; continue; }\n    if (c === '\\\\\\\\' && inStr) { result += c; esc = true; continue; }\n    if (c === '\"') { inStr = !inStr; result += c; continue; }\n    if (inStr) {\n      if (c === '\\n' || c === '\\r' || c === '\\t') { result += ' '; continue; }\n      if (c.charCodeAt(0) < 0x20) continue;\n    }\n    result += c;\n  }\n  // trailing comma\n  result = result.replace(/,(\\s*[}\\]])/g, '$1');\n  return result;\n}\n\nlet cleanText = cleanGeminiJson(text);\nlet data;\ntry {\n  data = JSON.parse(cleanText);\n} catch (e1) {\n  try {\n    const fixed = cleanText\n      .replace(/[\\u201C\\u201D\\u201E\\u201F\\u2033\\u2036]/g, '\"')\n      .replace(/[\\u2018\\u2019\\u201A\\u201B\\u2032\\u2035]/g, \"'\")\n      .replace(/^\\uFEFF/, '');\n    data = JSON.parse(fixed);\n  } catch (e2) {\n    const posMatch = e1.message.match(/position (\\d+)/);\n    const pos = posMatch ? parseInt(posMatch[1]) : 0;\n    const start = Math.max(0, pos - 80);\n    const end = Math.min(cleanText.length, pos + 80);\n    const around = cleanText.substring(start, end);\n    throw new Error(\n      `JSON 파싱 실패: ${e1.message}\\n` +\n      `--- 에러 위치(${pos}) 주변 ---\\n${around}\\n` +\n      `처음 300자: ${cleanText.substring(0, 300)}`\n    );\n  }\n}\n\n// 3) 기본 스키마 검증\nif (!data.images || !Array.isArray(data.images)) throw new Error('images 배열이 없습니다.');\nif (!data.subtitles || !Array.isArray(data.subtitles)) throw new Error('subtitles 배열이 없습니다.');\n\nif (data.images.length < 4) throw new Error('images는 최소 4개 필요: ' + data.images.length);\nif (data.images.length > 6) throw new Error('images는 최대 6개로 제한: ' + data.images.length);\n\nif (data.subtitles.length < 12) throw new Error('subtitles는 최소 12개 필요: ' + data.subtitles.length);\nif (data.subtitles.length > 16) throw new Error('subtitles는 최대 16개로 제한: ' + data.subtitles.length);\n\n// 4) 텍스트 정리\nconst stripTags = (s) => String(s || '').replace(/<[^>]*>?/gm, '');\nconst subtitlesClean = data.subtitles.map(stripTags);\nconst allSubText = subtitlesClean.join(' ').trim();\nconst hookText = stripTags(data.hook_title || '').trim();\n\n// 5) meme_mood 기본값을 \"랜덤\"이 아니라 자막 감정으로 추론해서 채우기\nconst VALID_MOODS = ['thinking', 'excited', 'shocked', 'sad', 'angry', 'cool', 'celebrating', 'snacking', 'speechless', 'smoking', 'disappointed', 'thumbsup', 'crying', 'desperate', 'bored', 'suspicious', 'money', 'laughing', 'confident', 'scared'];\n\nfunction inferOverallMood(textAll) {\n  const t = (textAll || '').replace(/\\s+/g, '');\n  const hasSad = /(억울|눈물|슬프|안타깝|망했|멘붕|후회|손해|피해)/.test(t);\n  const hasAngry = /(빡치|열받|분노|사기|먹튀|털렸|개빡)/.test(t);\n  const hasShock = /(충격|소름|반전|실화|미쳤|헉)/.test(t);\n  const hasHappy = /(대박|성공|당첨|잭팟|개이득|꿀팁|공짜|좋았)/.test(t);\n\n  if (hasAngry) return 'angry';\n  if (hasSad) return 'sad';\n  if (hasShock) return 'shocked';\n  if (hasHappy) return 'excited';\n  return 'thinking';\n}\n\nconst inferredMood = inferOverallMood(allSubText);\n\ndata.images = data.images.map((img) => {\n  const out = { ...img };\n  if (!out.visual_type || !['image', 'meme'].includes(out.visual_type)) out.visual_type = 'image';\n\n  if (out.visual_type === 'meme') {\n    if (!out.meme_mood || !VALID_MOODS.includes(out.meme_mood)) {\n      out.meme_mood = inferredMood;\n    }\n    if (!out.keyword) out.keyword = 'reaction meme';\n  } else {\n    out.meme_mood = '';\n    if (!out.keyword) out.keyword = 'abstract background';\n  }\n  return out;\n});\n\n// meme 최소 2개 강제\nconst memeCount = data.images.filter(i => i.visual_type === 'meme').length;\nif (memeCount < 2) throw new Error(`meme 최소 2개 필요. 현재 ${memeCount}개`);\n\n// 6) 카테고리별 금지단어 검증 (subtitles)\nconst category = Number($('주제 파싱').first().json.category || 1);\n\n// v16 보완: 카테고리 3에서 '포인트' 자체는 허용(보상/참여 유도), 대신 '포인트존' 등 기능 키워드는 금지\nconst FORBIDDEN_WORDS = {\n  1: ['포인트', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '방송', '스트리머', '스포츠', '분석', '픽'],\n  2: ['먹튀', '패널티', '검증', '롤링', '출금', '충전', '잭팟', '대박', '당첨', '방송', '스트리머', '스포츠', '분석'],\n  3: ['먹튀', '패널티', '검증', '롤링', '출금', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '방송', '스트리머', '스포츠', '분석'],\n  4: ['먹튀', '패널티', '검증', '포인트', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '스포츠', '분석', '픽'],\n  5: ['먹튀', '패널티', '검증', '포인트', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '방송', '스트리머']\n};\n\nconst forbidden = FORBIDDEN_WORDS[category] || [];\nconst foundForbidden = forbidden.filter(w => allSubText.includes(w));\nif (foundForbidden.length > 0) {\n  throw new Error(`카테고리 ${category} 금지단어 위반! [${foundForbidden.join(', ')}] 발견. 재생성 필요.`);\n}\n\n// 7) 마지막 자막 기본 완결 체크(에러는 아님)\nconst lastSub = (subtitlesClean[subtitlesClean.length - 1] || '').replace(/[!?~.]/g, '').trim();\nconst KOREAN_ENDINGS = ['해', '봐', '야', '마', '요', '자', '지', '너', '됨', '임', '음', '거', '든', '죠', '세요', '가', '유', '께', '구만', '당께'];\nconst hasEnding = KOREAN_ENDINGS.some(e => lastSub.endsWith(e));\nif (!hasEnding || lastSub.length < 4) {\n  console.log('마지막 자막 미완성 감지: ' + lastSub);\n}\n\n// CTA fallback\nconst aiCta = String(data.outro_cta || '');\nconst fixedCta = String($('주제 파싱').first().json.outroCta || '');\nconst finalCta = (aiCta.length >= 5 && aiCta.length <= 30) ? aiCta : fixedCta;\n\n// 8) 스토리 품질 검증\nconst currentSubtopic = String($('주제 파싱').first().json.subtopic || '');\n\n// 8-1) subtopic-내용 불일치(전혀 다른 주제 끼워넣기) + 비-먹튀 카테고리 부정 훅 금지\nconst NEGATIVE_BLOCKLIST = ['잃는', '잃었', '잃을', '날린', '날렸', '증발', '털렸', '사기', '먹튀', '피해'];\nif (category !== 1) {\n  const ht = hookText.replace(/\\s+/g,'');\n  const hit = NEGATIVE_BLOCKLIST.find(w => ht.includes(w.replace(/\\s+/g,'')));\n  if (hit) {\n    throw new Error(`비-먹튀 카테고리 제목 부정 키워드 금지 위반: \"${hit}\" / hook_title=\"${hookText}\"`);\n  }\n}\n\n// TOPIC_CONFLICT 확장(중간 점프/키워드 혼입 방지)\nconst TOPIC_CONFLICT = {\n  '방송존': ['먹튀', '날렸', '잃었', '잃는', '증발', '사기', '먹튀검증', '포인트존', '돌림판', '복권', '기프티콘'],\n  '먹튀': ['방송존', '스트리머', '라이브', '채팅창', '포인트존', '돌림판', '복권', '기프티콘'],\n  '포인트존': ['먹튀', '날렸', '잃었', '잃는', '증발', '사기', '방송존', '스트리머', '라이브'],\n  '기프티콘': ['먹튀', '날렸', '잃었', '잃는', '증발', '사기', '방송존', '스트리머', '라이브'],\n  '최신 스포츠 뉴스': ['먹튀', '검증', '패널티', '포인트존', '기프티콘', '돌림판', '복권', '방송존'],\n  '스포츠 경기 분석과 픽': ['먹튀', '검증', '패널티', '포인트존', '기프티콘', '돌림판', '복권', '방송존']\n};\n\nfor (const [topicKey, conflicts] of Object.entries(TOPIC_CONFLICT)) {\n  if (currentSubtopic.includes(topicKey)) {\n    for (const word of conflicts) {\n      if (allSubText.includes(word)) {\n        throw new Error(`스토리 불일치: \"${currentSubtopic}\" 주제인데 \"${word}\" 언급함. 재생성 필요.`);\n      }\n    }\n  }\n}\n\n// 8-2) 스포츠 나열 검증(축구/농구/야구 동시 나열 방지)\nif (category === 5) {\n  const sportsTokens = ['축구', '농구', '야구'];\n  const hitSports = sportsTokens.filter(s => allSubText.includes(s));\n  if (hitSports.length >= 2) {\n    throw new Error(`스포츠 나열 금지 위반: ${hitSports.join(', ')} 동시에 언급됨. 한 종목/한 이슈만.`);\n  }\n  if (allSubText.includes('/')) {\n    throw new Error('나열 금지 위반: subtitles에 \"/\" 포함. 재생성 필요.');\n  }\n}\n\n// 8-3) hook_title 패턴 반복 방지\nconst titleNoSpace = hookText.replace(/\\s+/g,'');\nconst TITLE_BAD = [\n  /^이거(실화|가능|알아)/,\n  /충격(적인)?사실/,\n  /소름돋/,\n  /몰랐/,\n  /진짜레전드/\n];\nif (TITLE_BAD.some(r => r.test(titleNoSpace))) {\n  throw new Error(`제목 패턴 반복/금지 위반: hook_title=\"${hookText}\"`);\n}\n\n// 8-4) hook_title 앵커 단어 포함(제목-내용 정렬)\nfunction requireOneOfInText(oneOf, text, label) {\n  if (!oneOf || oneOf.length === 0) return;\n  const ok = oneOf.some(w => text.includes(w));\n  if (!ok) throw new Error(`${label}에 필수 앵커 단어가 없습니다: [${oneOf.join(', ')}] / text=\"${text}\"`);\n}\nconst ANCHORS = [];\nif (currentSubtopic.includes('포인트존')) ANCHORS.push('포인트존');\nif (currentSubtopic.includes('기프티콘')) ANCHORS.push('기프티콘');\nif (currentSubtopic.includes('방송존')) ANCHORS.push('방송존');\nif (currentSubtopic.includes('먹튀')) ANCHORS.push('먹튀');\nif (currentSubtopic.includes('제휴사이트')) ANCHORS.push('제휴사이트');\nif (currentSubtopic.includes('잭팟')) ANCHORS.push('잭팟');\nif (currentSubtopic.includes('스포츠')) ANCHORS.push('스포츠');\n\nrequireOneOfInText(ANCHORS, hookText, 'hook_title');\n\n// 8-5) 제목-본문 매칭 강화(앞 1~2개만 맞고 뒤에 이탈하는 케이스 차단)\nconst bodyAfterHook = subtitlesClean.slice(2).join(' ');\nif (ANCHORS.length > 0 && !ANCHORS.some(a => bodyAfterHook.includes(a))) {\n  throw new Error(`제목-본문 이탈: 제목 앵커가 본문(3번째 이후)에 반복되지 않음. anchors=[${ANCHORS.join(', ')}]`);\n}\n\n// 8-6) 대명사 남발\nconst pronouns = ['이거', '이걸', '그때', '이 장면', '이게', '그거', '저거'];\nconst pronounCount = pronouns.reduce((cnt, p) => cnt + (allSubText.split(p).length - 1), 0);\nif (pronounCount >= 4) {\n  throw new Error(`대명사 남발: ${pronounCount}개 사용. 구체적 내용으로 재생성 필요.`);\n}\n\n// 8-7) 사투리 최소치 체크(너무 표준어면 재생성)\nconst DIALECT_MARKERS = ['유', '구만', '당께', '허는디', '그라믄', '아녀', '해부러'];\nlet dialectHits = 0;\nfor (const s of subtitlesClean) {\n  const noSpace = s.replace(/\\s+/g,'');\n  if (DIALECT_MARKERS.some(m => noSpace.includes(m))) dialectHits++;\n}\nif (dialectHits < 4) {\n  throw new Error(`사투리 톤 부족: ${dialectHits}개만 감지됨. 사투리 종결/표현을 늘려 재생성 필요.`);\n}\n\n// 8-8) 밈 mood-내용 부조화(랜덤 celebrating 방지)\nconst negativeStory = /(먹튀|사기|피해|억울|눈물|망했|멘붕|분노)/.test(allSubText.replace(/\\s+/g,''));\nif (negativeStory) {\n  const badMood = data.images.some(i => i.visual_type === 'meme' && ['celebrating', 'excited', 'money', 'laughing'].includes(i.meme_mood));\n  if (badMood) throw new Error('밈 mood 부조화: 피해/분노 톤인데 celebrating/excited/money/laughing 사용됨.');\n}\n\n// 9) 결과 반환\nconst fullDialogue = data.subtitles.join(' ');\nconst imageCount = data.images.filter(i => i.visual_type === 'image').length;\n\nreturn [{\n  json: {\n    hook_title: data.hook_title,\n    images: data.images,\n    subtitles: data.subtitles,\n    Subject: data.Subject,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    fullDialogue,\n    Narration: fullDialogue,\n    imageCount: data.images.length,\n    subtitleCount: data.subtitles.length,\n    memeCount,\n    Status: '생성 중',\n    generatedAt: new Date().toISOString(),\n    topic: $('주제 파싱').first().json.topic,\n    category: $('주제 파싱').first().json.category,\n    outroFile: $('주제 파싱').first().json.outroFile,\n    outroCta: finalCta,\n    subtopic: $('주제 파싱').first().json.subtopic,\n    row_number: $('주제 파싱').first().json.row_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        304
      ],
      "id": "6adeed9a-4c8e-4d81-8578-76b2f46d0527",
      "name": "콘텐츠 파싱"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
          "mode": "list",
          "cachedResultName": "온카스터디",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설명형 숏츠"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        304
      ],
      "id": "d6ea6410-28ee-4aa6-864f-c7c6d32de2a2",
      "name": "시트 기록",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('콘텐츠 파싱').first().json;\nconst images = data.images || [];\n\n// images 배열만 세그먼트로 분리 (이미지 검색용)\nreturn images.map((img, i) => ({\n  json: {\n    index: i,\n    keyword: img.keyword || 'abstract background',\n    visual_type: img.visual_type || 'image',\n    meme_mood: img.meme_mood || '',\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        480
      ],
      "id": "3fa1b098-8745-40bd-84c4-63439968242b",
      "name": "세그먼트 분리"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5100/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.fullDialogue.replace(/<[^>]*>?/gm, '')) }},\n  \"voice_id\": \"tc_6059dad0b83880769a50502f\",\n  \"emotion\": \"happy\",\n  \"tempo\": 1.4\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        160
      ],
      "id": "fe8b82fb-797c-4f1f-bf39-801185c734a4",
      "name": "TTS 요청"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const audioUrl = item.json.audio_url;\n  const durationSec = item.json.duration_sec;\n  const timestamps = item.json.timestamps || [];\n\n  if (!audioUrl) {\n    throw new Error('TTS 응답에 audio_url이 없습니다: ' + JSON.stringify(item.json));\n  }\n\n  return {\n    json: {\n      audio_url: audioUrl,\n      duration_sec: durationSec,\n      timestamps,\n      ...item.json\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        160
      ],
      "id": "ed11d1b0-d11f-4e98-8f6e-6692cdcc3351",
      "name": "TTS 결과 처리"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2992,
        336
      ],
      "id": "e4169643-cf73-4bb2-8194-ebb35c9e595c",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        336
      ],
      "id": "e9719f9a-8472-4fe5-b527-b1e9cda104a9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// NCA v8: images + subtitles 분리 구조\nconst hookTitle = $('콘텐츠 파싱').first().json.hook_title;\nconst hookClean = hookTitle.replace(/<[^>]*>?/gm, '');\nconst subtitles = $('콘텐츠 파싱').first().json.subtitles || [];\nconst imageCount = $('콘텐츠 파싱').first().json.imageCount;\n\nconst ttsResult = $('TTS 결과 처리').first().json;\nconst mainAudioUrl = ttsResult.audio_url;\nconst audioDuration = ttsResult.duration_sec;\nlet totalDuration = audioDuration;  // v15: 패딩 제거 (검정화면 방지)\n\nconst BGM_URL = 'http://76.13.182.180:9000/audio/bgm_new.mp3';\n\n// === 아웃트로 영상 (카테고리 결정 노드에서 사전 선택) ===\nconst OUTRO_BASE = 'http://76.13.182.180:9000/outro/';\nconst category = $('콘텐츠 파싱').first().json.category || 1;\nconst outroFile = $('주제 파싱').first().json.outroFile || '';\nconst outroCta = $('주제 파싱').first().json.outroCta || '';\nconst outroUrl = outroFile ? OUTRO_BASE + outroFile : '';\nconst SFX_MAP = {\n  whoosh: 'http://76.13.182.180:9000/audio/sfx_whoosh1.mp3',\n  pop: 'http://76.13.182.180:9000/audio/sfx_pop_user.mp3',\n  ding: 'http://76.13.182.180:9000/audio/sfx_ding1.mp3',\n  ding2: 'http://76.13.182.180:9000/audio/sfx_ding2.mp3',\n  ppook: 'http://76.13.182.180:9000/audio/sfx_ppook.wav',\n  wow: 'http://76.13.182.180:9000/audio/sfx_wow.wav'\n};\n\nfunction escapeDrawtext(text) {\n  if (!text) return '';\n  // 이모지 제거 (NanumGothicBold에 이모지 글리프 없음)\n  text = text.replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FA6F}\\u{1FA70}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu, '').trim();\n  return text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, '\\u2019').replace(/\"/g, '\\u201D').replace(/:/g, '\\\\:').replace(/;/g, '\\\\;').replace(/,/g, '\\\\,').replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]').replace(/\\n/g, ' ');\n}\nfunction escapeDrawtextMultiline(text) {\n  if (!text) return '';\n  text = text.replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FA6F}\\u{1FA70}-\\u{1FAFF}\\u{200D}\\u{20E3}\\u{FE0F}]/gu, '').trim();\n  return text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, '\\u2019').replace(/\"/g, '\\u201D').replace(/:/g, '\\\\:').replace(/;/g, '\\\\;').replace(/,/g, '\\\\,').replace(/\\[/g, '\\\\[').replace(/\\]/g, '\\\\]');\n}\nfunction wrapSubtitle(text, maxLen) {\n  if (!text) return '';\n  const noSpace = text.replace(/\\s+/g, '').length;\n  if (noSpace <= maxLen) return text;\n  const mid = Math.floor(text.length / 2);\n  let bestBreak = -1;\n  let minDist = text.length;\n  for (let i = 1; i < text.length - 1; i++) {\n    if (text[i] === ' ' && Math.abs(i - mid) < minDist) {\n      minDist = Math.abs(i - mid);\n      bestBreak = i;\n    }\n  }\n  if (bestBreak > 0) {\n    return text.substring(0, bestBreak).trim() + '\\n' + text.substring(bestBreak).trim();\n  }\n  return text.substring(0, maxLen) + '\\n' + text.substring(maxLen);\n}\nfunction wrapTitleTwoLines(text) {\n  if (!text || text.length <= 10) return text;\n  const mid = Math.floor(text.length / 2);\n  let bestBreak = -1;\n  let minDist = text.length;\n  // 쉼표 우선 탐색\n  for (let i = 0; i < text.length; i++) {\n    if (text[i] === ',' && Math.abs(i + 1 - mid) < minDist) {\n      minDist = Math.abs(i + 1 - mid);\n      bestBreak = i + 1;\n    }\n  }\n  // 쉼표 없으면 중간 지점 근처 공백\n  if (bestBreak === -1) {\n    minDist = text.length;\n    for (let i = 1; i < text.length - 1; i++) {\n      if (text[i] === ' ' && Math.abs(i - mid) < minDist) {\n        minDist = Math.abs(i - mid);\n        bestBreak = i;\n      }\n    }\n  }\n  if (bestBreak > 0) {\n    return text.substring(0, bestBreak).trim() + '\\n' + text.substring(bestBreak).trim();\n  }\n  return text;\n}\n\nif (!subtitles || subtitles.length === 0) {\n  throw new Error('subtitles 배열이 비어있습니다. 콘텐츠 파싱 결과를 확인하세요.');\n}\n\n// === 이미지: audioDuration / imageCount 균등 배분 ===\nconst imgResults = $('이미지 URL 추출').all();\nconst imgDuration = audioDuration / imageCount;\nlet imgSegments = [];\nfor (let i = 0; i < imageCount; i++) {\n  const imgData = imgResults[i]?.json || {};\n  const imageUrl = imgData.images?.[0]?.url || '';\n  const isVideo = imgData.is_video || false;\n  const visualType = imgData.visual_type || 'image';\n  if (!imageUrl) throw new Error(`이미지 ${i+1} URL 없음`);\n  imgSegments.push({\n    index: i,\n    imageUrl,\n    isVideo,\n    visualType,\n    start: i * imgDuration,\n    duration: imgDuration\n  });\n}\n\n// === 긴 세그먼트 이미지 전환 분할 ===\nlet expandedSegments = [];\nfor (const seg of imgSegments) {\n  const imgData = imgResults[seg.index]?.json || {};\n  const allImages = (imgData.images || []).map(img => img.url).filter(Boolean);\n  \n  if (seg.duration >= 3.0 && allImages.length >= 2 && seg.visualType === 'image') {\n    // 이미지 개수에 맞게 분할 (최대 3분할)\n    const splitCount = Math.min(allImages.length, 3);\n    const splitDur = seg.duration / splitCount;\n    for (let j = 0; j < splitCount; j++) {\n      expandedSegments.push({\n        ...seg,\n        imageUrl: allImages[j],\n        isVideo: allImages[j].endsWith('.mp4'),\n        start: seg.start + (j * splitDur),\n        duration: splitDur\n      });\n    }\n  } else {\n    expandedSegments.push(seg);\n  }\n}\nimgSegments = expandedSegments;\n\n// === 자막: 하이브리드 타이밍 (TTS sentence timestamps + 글자수 비율 세부 배분) ===\nconst ttsTimestamps = ttsResult.timestamps || [];\nconst fullDialogue = $('콘텐츠 파싱').first().json.fullDialogue || subtitles.join(' ');\n\n// 자막 메타 준비\nlet subMeta = subtitles.map((raw, i) => {\n  const clean = raw.replace(/<[^>]*>?/gm, '');\n  const chars = clean.replace(/\\s+/g, '').length;\n  return { index: i, raw, clean, chars, hasEm: raw.includes('<em>') };\n});\n\n// === TTS timestamps 활용 하이브리드 매핑 ===\nlet subSegments = [];\n\nif (ttsTimestamps.length > 0) {\n  // 1단계: fullDialogue에서 각 자막의 character offset 계산\n  const cleanDialogue = fullDialogue.replace(/<[^>]*>?/gm, '');\n  let subOffsets = [];\n  let searchFrom = 0;\n  for (const sub of subMeta) {\n    const cleanText = sub.clean.replace(/\\s+/g, '');\n    // cleanDialogue에서 공백 무시하고 위치 찾기\n    let matchPos = -1;\n    let charCount = 0;\n    for (let j = searchFrom; j < cleanDialogue.length; j++) {\n      if (cleanDialogue[j] === ' ') continue;\n      if (cleanDialogue[j] === cleanText[0]) {\n        // 연속 매칭 시도\n        let matched = true;\n        let k = 0, jj = j;\n        while (k < cleanText.length && jj < cleanDialogue.length) {\n          if (cleanDialogue[jj] === ' ') { jj++; continue; }\n          if (cleanDialogue[jj] !== cleanText[k]) { matched = false; break; }\n          k++; jj++;\n        }\n        if (matched && k === cleanText.length) {\n          matchPos = j;\n          searchFrom = jj;\n          break;\n        }\n      }\n    }\n    subOffsets.push({ ...sub, charOffset: matchPos >= 0 ? matchPos : searchFrom });\n  }\n\n  // 2단계: TTS sentence별 character offset 계산\n  let sentenceOffsets = [];\n  let sSearchFrom = 0;\n  for (const ts of ttsTimestamps) {\n    const tsClean = ts.text.replace(/\\s+/g, '');\n    let sPos = -1;\n    for (let j = sSearchFrom; j < cleanDialogue.length; j++) {\n      if (cleanDialogue[j] === ' ') continue;\n      let matched = true;\n      let k = 0, jj = j;\n      while (k < tsClean.length && jj < cleanDialogue.length) {\n        if (cleanDialogue[jj] === ' ') { jj++; continue; }\n        if (cleanDialogue[jj] !== tsClean[k]) { matched = false; break; }\n        k++; jj++;\n      }\n      if (matched && k === tsClean.length) {\n        sPos = j;\n        sSearchFrom = jj;\n        break;\n      }\n    }\n    sentenceOffsets.push({\n      text: ts.text,\n      offset: ts.offset,\n      duration: ts.duration,\n      charStart: sPos >= 0 ? sPos : sSearchFrom,\n      charEnd: sSearchFrom\n    });\n  }\n\n  // 3단계: 각 자막을 TTS sentence에 매핑\n  for (const sub of subOffsets) {\n    let bestSentence = sentenceOffsets[sentenceOffsets.length - 1];\n    for (const sent of sentenceOffsets) {\n      if (sub.charOffset >= sent.charStart && sub.charOffset < sent.charEnd) {\n        bestSentence = sent;\n        break;\n      }\n    }\n    sub.sentence = bestSentence;\n  }\n\n  // 4단계: sentence별 그룹핑 → 글자수 비율로 세부 배분\n  let sentenceGroups = {};\n  for (const sub of subOffsets) {\n    const key = sub.sentence.charStart;\n    if (!sentenceGroups[key]) {\n      sentenceGroups[key] = { sentence: sub.sentence, subs: [] };\n    }\n    sentenceGroups[key].subs.push(sub);\n  }\n\n  for (const key of Object.keys(sentenceGroups)) {\n    const group = sentenceGroups[key];\n    const sentOffset = group.sentence.offset;\n    const sentDur = group.sentence.duration;\n    const groupChars = group.subs.reduce((s, sub) => s + sub.chars, 0);\n    \n    let groupStart = sentOffset;\n    for (const sub of group.subs) {\n      const ratio = groupChars > 0 ? sub.chars / groupChars : 1 / group.subs.length;\n      const dur = ratio * sentDur;\n      subSegments.push({\n        index: sub.index,\n        raw: sub.raw,\n        clean: sub.clean,\n        start: groupStart,\n        duration: dur,\n        hasEm: sub.hasEm\n      });\n      groupStart += dur;\n    }\n  }\n\n  // index 순으로 정렬\n  subSegments.sort((a, b) => a.index - b.index);\n\n} else {\n  // fallback: timestamps 없으면 기존 글자수 비율 방식\n  const totalChars = subMeta.reduce((sum, s) => sum + s.chars, 0);\n  let subStart = 0;\n  for (let i = 0; i < subtitles.length; i++) {\n    const ratio = totalChars > 0 ? subMeta[i].chars / totalChars : 1 / subtitles.length;\n    const dur = ratio * audioDuration;\n    subSegments.push({\n      index: i,\n      raw: subMeta[i].raw,\n      clean: subMeta[i].clean,\n      start: subStart,\n      duration: dur,\n      hasEm: subMeta[i].hasEm\n    });\n    subStart += dur;\n  }\n}\n\n// === FFmpeg inputs ===\nlet inputs = [];\nlet inputIndex = 0;\nconst mediaInputs = [];\n\n// 1) 이미지/영상 (4~6개)\nfor (const img of imgSegments) {\n  if (img.isVideo) {\n    inputs.push({ file_url: img.imageUrl, options: [{ option: \"-stream_loop\", argument: \"-1\" }] });\n  } else {\n    inputs.push({ file_url: img.imageUrl, options: [{ option: \"-loop\", argument: \"1\" }, { option: \"-framerate\", argument: \"30\" }, { option: \"-t\", argument: img.duration.toFixed(2) }] });\n  }\n  mediaInputs.push({ idx: inputIndex, isVideo: img.isVideo, duration: img.duration });\n  inputIndex++;\n}\n\n// 2) 통합 TTS\nconst audioIdx = inputIndex;\ninputs.push({ file_url: mainAudioUrl, options: [] });\ninputIndex++;\n\n// 3) BGM\nconst bgmIdx = inputIndex;\ninputs.push({ file_url: BGM_URL, options: [{ option: \"-stream_loop\", argument: \"-1\" }] });\ninputIndex++;\n\n// 4) 아웃트로 영상 (비디오만 사용, 오디오 무시)\nlet outroIdx = -1;\nlet outroDuration = $('주제 파싱').first().json.outroDuration || 4;\nif (outroUrl) {\n  outroIdx = inputIndex;\n  inputs.push({ file_url: outroUrl, options: [] });\n  inputIndex++;\n}\n\n// 5) SFX: 이미지 전환 + 강조 em\nconst sfxInputs = [];\nfor (let i = 0; i < imgSegments.length - 1; i++) {\n  const next = imgSegments[i + 1];\n  let sfxType = 'ppook';\n  inputs.push({ file_url: SFX_MAP[sfxType], options: [] });\n  sfxInputs.push({ idx: inputIndex, type: sfxType, timeMs: Math.round(next.start * 1000) });\n  inputIndex++;\n}\nfor (const sub of subSegments) {\n  if (sub.hasEm) {\n    const emSfx = /\\d/.test(sub.raw) ? 'ding2' : 'pop';\n    inputs.push({ file_url: SFX_MAP[emSfx], options: [] });\n    sfxInputs.push({ idx: inputIndex, type: emSfx, timeMs: Math.round((sub.start + 0.3) * 1000) });\n    inputIndex++;\n  }\n}\n\n// === FILTER COMPLEX ===\nlet filterParts = [];\n\n// 비디오 스케일 + concat\nfor (let i = 0; i < imgSegments.length; i++) {\n  const m = mediaInputs[i];\n  if (m.isVideo) {\n    filterParts.push(`[${m.idx}:v]trim=duration=${m.duration.toFixed(2)},setpts=PTS-STARTPTS,scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[v${i}]`);\n  } else {\n    filterParts.push(`[${m.idx}:v]scale=1080:1080:force_original_aspect_ratio=increase,crop=1080:1080,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,setsar=1,fps=30[v${i}]`);\n  }\n}\nconst vLabels = imgSegments.map((_, i) => `[v${i}]`).join('');\nfilterParts.push(`${vLabels}concat=n=${imgSegments.length}:v=1:a=0[vconcat]`);\n\n// 오디오\nfilterParts.push(`[${audioIdx}:a]atrim=duration=${audioDuration},asetpts=PTS-STARTPTS[tts_raw]`);\nconst bgmTotalDur = outroUrl ? totalDuration + outroDuration : totalDuration;\nfilterParts.push(`[${bgmIdx}:a]atrim=duration=${bgmTotalDur},asetpts=PTS-STARTPTS,afade=t=out:st=${Math.max(0, bgmTotalDur - 2)}:d=2[bgm]`);\n\n// SFX mix\nconst sfxCount = sfxInputs.length;\nif (sfxCount > 0) {\n  for (let i = 0; i < sfxCount; i++) {\n    const si = sfxInputs[i];\n    filterParts.push(`[${si.idx}:a]atrim=duration=0.3,asetpts=PTS-STARTPTS,volume=0.6,adelay=${si.timeMs}|${si.timeMs}[sfx${i}]`);\n  }\n  const sfxMixLabels = sfxInputs.map((_, i) => `[sfx${i}]`).join('');\n  filterParts.push(`${sfxMixLabels}amix=inputs=${sfxCount}:duration=longest:normalize=0[sfx_mix]`);\n  filterParts.push(`[tts_raw][bgm][sfx_mix]amix=inputs=3:duration=longest:weights=1 1 0.8:normalize=0[amain]`);\n} else {\n  filterParts.push(`[tts_raw][bgm]amix=inputs=2:duration=longest:weights=1 1:normalize=0[amain]`);\n}\n\n// === 아웃트로 비디오 concat ===\nif (outroIdx >= 0) {\n  filterParts.push(`[${outroIdx}:v]scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black,setsar=1,format=yuv420p,fps=30[voutro]`);\n  filterParts.push(`[vconcat]format=yuv420p[vmain_fmt]`);\n  filterParts.push(`[vmain_fmt][voutro]concat=n=2:v=1:a=0[vwithoutro]`);\n} else {\n  filterParts.push(`[vconcat]null[vwithoutro]`);\n}\n\n// === 오디오: 메인만 사용, 아웃트로 구간은 무음 패딩 ===\nif (outroIdx >= 0) {\n  const fullDuration = totalDuration + outroDuration;\n  filterParts.push(`[amain]apad=whole_dur=${fullDuration.toFixed(2)}[afinal]`);\n} else {\n  filterParts.push(`[amain]anull[afinal]`);\n}\n\n// 자막 오버레이 (상단 제목 + 하단 자막 + 훅)\nlet overlayFilter = `[vwithoutro]drawbox=y=40:w=1080:h=280:color=#000000@1.0:t=fill:enable='between(t,0,${audioDuration})',drawtext=expansion=none:text='${escapeDrawtextMultiline(wrapTitleTwoLines(hookClean))}':fontsize=72:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=120:line_spacing=12:enable='between(t,0,${audioDuration})'`;\n\n// 자막 (글자수 비율 기반 타이밍, 이미지 전환과 독립)\nfor (const sub of subSegments) {\n  const subText = escapeDrawtextMultiline(wrapSubtitle(sub.clean, 12));\n  const startT = sub.start.toFixed(2);\n  const endT = (sub.start + sub.duration).toFixed(2);\n  overlayFilter += `,drawtext=expansion=none:text='${subText}':fontsize=70:fontcolor=white:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-280:borderw=4:bordercolor=black:enable='between(t,${startT},${endT})'`;\n}\n\n// 훅 자막\nconst hookEscaped = escapeDrawtextMultiline(wrapTitleTwoLines(hookClean));\nconst hookEndT = 2.5;\noverlayFilter += `,drawbox=y=(h-400)/2:w=1080:h=400:color=#000000@0.7:t=fill:enable='between(t,0,${hookEndT})'`;\noverlayFilter += `,drawtext=expansion=none:text='${hookEscaped}':fontsize=75:fontcolor=#CCFF00:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=(h-th)/2:borderw=4:bordercolor=black:enable='between(t,0,${hookEndT})'`;\n// 아웃트로 CTA 자막 (아웃트로 구간에만 표시)\nif (outroIdx >= 0) {\n  totalDuration += outroDuration;  // CTA 계산 전에 아웃트로 길이 반영\n  const ctaText = escapeDrawtextMultiline(wrapSubtitle(outroCta, 14));\n  const outroStartT = (totalDuration - outroDuration).toFixed(2);\n  const outroEndT = totalDuration.toFixed(2);\n  overlayFilter += `,drawbox=y=h-350:w=1080:h=120:color=#000000@0.7:t=fill:enable='between(t,${outroStartT},${outroEndT})'`;\n  overlayFilter += `,drawtext=expansion=none:text='${ctaText}':fontsize=60:fontcolor=#CCFF00:fontfile=/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf:x=(w-tw)/2:y=h-320:borderw=3:bordercolor=black:enable='between(t,${outroStartT},${outroEndT})'`;\n}\n\noverlayFilter += '[vfinal]';\nfilterParts.push(overlayFilter);\n\nconst nca_payload = {\n  inputs,\n  filters: [{ filter: filterParts.join(';') }],\n  outputs: [{\n    options: [\n      { option: \"-map\", argument: \"[vfinal]\" }, { option: \"-map\", argument: \"[afinal]\" },\n      { option: \"-c:v\", argument: \"libx264\" }, { option: \"-preset\", argument: \"fast\" }, { option: \"-crf\", argument: \"23\" },\n      { option: \"-c:a\", argument: \"aac\" }, { option: \"-b:a\", argument: \"192k\" },\n      { option: \"-pix_fmt\", argument: \"yuv420p\" }, { option: \"-movflags\", argument: \"+faststart\" }, { option: \"-t\", argument: totalDuration.toFixed(2) }\n    ],\n    file_name: \"kkultip_shorts_final.mp4\"\n  }]\n};\n\nreturn [{\n  json: {\n    nca_payload,\n    totalDuration,\n    imageCount: imgSegments.length,\n    subtitleCount: subSegments.length,\n    hookTitle,\n    subject: $('콘텐츠 파싱').first().json.Subject,\n    caption: $('콘텐츠 파싱').first().json.Caption,\n    comment: $('콘텐츠 파싱').first().json.Comment,\n    category,\n    outroFile,\n    debugCategory: {\n      from_contentParsing: $('콘텐츠 파싱').first().json.category,\n      from_topicParsing: $('주제 파싱').first().json.category,\n      usedCategory: category,\n      selectedOutro: outroFile || 'none',\n      selectedCta: outroCta || 'none'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        336
      ],
      "id": "404f0c26-7e0a-4ea9-9a92-b409b2881a08",
      "name": "NCA 데이터 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://76.13.182.180:8080/v1/ffmpeg/compose",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "nca-sagong-2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.nca_payload) }}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3888,
        336
      ],
      "id": "aceed59c-8a84-4d5c-9462-c4029b65e4ae",
      "name": "NCA 영상 제작",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// NCA 결과 처리\nconst result = $input.first().json;\nconst prevData = $('NCA 데이터 준비').first().json;\n\nlet videoUrl = '';\nif (Array.isArray(result.response)) {\n  videoUrl = result.response[0]?.file_url || '';\n} else if (typeof result.response === 'string') {\n  videoUrl = result.response;\n} else {\n  videoUrl = result.output_url || result.url || result.video_url || result.file_url || '';\n}\n\nif (!videoUrl) {\n  throw new Error('NCA 영상 제작 결과 URL 없음: ' + JSON.stringify(result).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    '영상 URL': videoUrl,\n    Status: '완료',\n    topic: $('주제 파싱').first().json.topic,\n    category: prevData.category,\n    outro_file: prevData.outroFile || '',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        336
      ],
      "id": "b450da49-f5c0-47b1-b8aa-89ad7451c1e8",
      "name": "NCA 결과 처리"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
          "mode": "list",
          "cachedResultName": "온카스터디",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "설명형 숏츠"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "topic"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "영상 URL",
              "displayName": "영상 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generatedAt",
              "displayName": "generatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outro_file",
              "displayName": "outro_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4496,
        336
      ],
      "id": "319950f6-698f-4a59-84d3-04217db6b3b2",
      "name": "상태 업데이트",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst topic = input.topic || input['주제'] || '';\nif (!topic) {\n  throw new Error('topic이 비어있습니다. 시트에 topic 컬럼을 확인하세요.');\n}\nconst category = Number(input.category || 1);\nconst subtopic = input.subtopic || '';\n\n/**\n * 목적:\n * - \"예시 문장\"을 거의 제거하고, 논리 제약(How) 중심으로 프롬프트를 구성\n * - subtopic(세부주제)을 실제 앵커로 고정해 제목/본문 이탈을 방지\n * - '다룰 내용' 나열을 막기 위해 \"한 문장 Reference\"만 제공\n */\nconst SUBTOPIC_REF = {\n  // 1) 먹튀/안전\n  '검증된 제휴사이트 이용 방법': {\n    ref: '일반 사이트에서 위험을 겪은 뒤, 검증된 제휴사이트의 보증금/검증 과정 덕분에 안전하게 이용한 한 사건을 이야기로 풀어라.',\n    must: ['제휴사이트', '보증금', '검증']\n  },\n  '먹튀 제보와 검증 과정': {\n    ref: '먹튀 피해가 발생한 한 사건을 시작으로, 제보 → 검증 → 패널티까지 이어지는 과정을 한 흐름으로 풀어라.',\n    must: ['먹튀', '제보', '검증', '패널티']\n  },\n\n  // 2) 무료 혜택/앱테크\n  '포인트존 게임으로 포인트 모으는 방법': {\n    ref: '포인트존에서 간단한 미니게임으로 포인트를 모으고 활용하는 과정을 한 번의 경험담으로 풀어라.',\n    must: ['포인트존', '포인트']\n  },\n  '복권으로 포인트 적립하는 방법': {\n    ref: '복권 기능으로 포인트를 적립한 하루를 한 번의 경험으로 풀어라.',\n    must: ['복권', '포인트']\n  },\n  '돌림판으로 포인트 모으는 방법': {\n    ref: '돌림판으로 포인트를 받은 한 번의 상황을 중심으로 풀어라.',\n    must: ['돌림판', '포인트']\n  },\n  '포인트를 기프티콘으로 교환하는 방법': {\n    ref: '모은 포인트를 기프티콘으로 교환한 한 번의 경험을 중심으로 풀어라.',\n    must: ['기프티콘', '포인트']\n  },\n\n  // 3) 잭팟/후기\n  '잭팟 당첨 사례와 제보 방법': {\n    ref: '잭팟이 터진 “한 순간”을 중심으로, 인증/제보 흐름을 한 줄로 정리해 마무리하라.',\n    must: ['잭팟', '당첨', '제보']\n  },\n  '커뮤니티 베스트 글과 유저 참여': {\n    ref: '커뮤니티에 글을 올렸고 베스트로 올라간 “한 번의 사건”을 중심으로 참여를 유도하라.',\n    must: ['커뮤니티', '베스트']\n  },\n\n  // 4) 방송\n  '스트리머 방송 명장면 하이라이트': {\n    ref: '방송존에서 나온 한 장면(반전/대박/웃김 중 1개)을 중심으로 하이라이트처럼 풀어라.',\n    must: ['방송존', '스트리머']\n  },\n  '실시간 방송존에서 스트리머와 소통': {\n    ref: '실시간 방송존에서 채팅으로 함께 본 한 경험(재미/공감/응원 중 1개)을 중심으로 풀어라.',\n    must: ['방송존', '실시간', '소통']\n  },\n\n  // 5) 뉴스/분석\n  '최신 스포츠 뉴스': {\n    ref: '오늘 화제된 스포츠 이슈 “1개”를 선택해, 왜 화제인지 → 파장/전망까지 한 흐름으로 풀어라. (종목/이슈 나열 금지)',\n    must: ['스포츠', '뉴스']\n  },\n  '최신 카지노/게임사 뉴스': {\n    ref: '카지노/게임사 업계 이슈 “1개”를 선택해, 무엇이 바뀌었는지 → 유저 영향까지 한 흐름으로 풀어라.',\n    must: ['업계', '이슈']\n  },\n  '스포츠 경기 분석과 픽': {\n    ref: '특정 경기 1개를 골라 핵심 근거 2개로만 분석하고 결론(픽)을 한 줄로 마무리하라. (팀/종목 나열 금지)',\n    must: ['분석', '픽']\n  }\n};\n\nconst CATEGORY_REF_FALLBACK = {\n  1: { ref: '먹튀/안전과 관련된 “한 사건”을 중심으로 경고와 해결을 제시하라.', must: ['검증'] },\n  2: { ref: '무료 혜택을 얻은 “한 경험”을 중심으로 방법을 짧게 알려라.', must: ['포인트'] },\n  3: { ref: '대박/후기 “한 순간”을 중심으로 공감과 참여를 유도하라.', must: ['후기'] },\n  4: { ref: '방송/라이브에서 나온 “한 장면”을 중심으로 재미를 전달하라.', must: ['방송존'] },\n  5: { ref: '뉴스/분석은 “한 이슈/한 경기”만 다뤄라. (나열 금지)', must: ['뉴스'] }\n};\n\nfunction getContext(subtopic, category) {\n  if (subtopic && SUBTOPIC_REF[subtopic]) return SUBTOPIC_REF[subtopic];\n  // 부분 매칭\n  if (subtopic) {\n    const key = Object.keys(SUBTOPIC_REF).find(k => subtopic.includes(k) || k.includes(subtopic));\n    if (key) return SUBTOPIC_REF[key];\n  }\n  return CATEGORY_REF_FALLBACK[category] || CATEGORY_REF_FALLBACK[1];\n}\n\nconst { ref: referenceContext, must: mustMentions } = getContext(subtopic, category);\n\n// 카테고리별 금지어 (subtitles에 1개라도 나오면 실패)\nconst FORBIDDEN_MAP = {\n  1: ['포인트', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '방송', '스트리머', '스포츠', '분석', '픽'],\n  2: ['먹튀', '패널티', '검증', '롤링', '출금', '충전', '잭팟', '대박', '당첨', '방송', '스트리머', '스포츠', '분석'],\n  // v16 보완: 잭팟/후기 카테고리는 '포인트' 자체는 허용(보상/참여 유도에 필요)하되,\n  // 포인트존/앱테크 기능 키워드와 안전/방송/스포츠 키워드는 금지\n  3: ['먹튀', '패널티', '검증', '롤링', '출금', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '방송', '스트리머', '스포츠', '분석'],\n  4: ['먹튀', '패널티', '검증', '포인트', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '스포츠', '분석', '픽'],\n  5: ['먹튀', '패널티', '검증', '포인트', '포인트존', '돌림판', '복권', '기프티콘', '앱테크', '잭팟', '방송', '스트리머']\n};\nconst forbiddenWords = (FORBIDDEN_MAP[category] || FORBIDDEN_MAP[1]).join(', ');\n\n// 제목(훅)에서 금지할 패턴: 패턴 반복 방지 + 카테고리 이탈 방지\nconst TITLE_BANNED_PATTERNS = [\n  '이거 실화', '이거 가능', '이거 알아', '충격적인 사실', '충격 실화', '소름 돋', '몰랐', '진짜 레전드'\n].join(', ');\nconst NEGATIVE_TITLE_WORDS_NON_SCAM = ['잃는', '잃었', '날린', '날렸', '증발', '먹튀', '사기', '피해', '털렸'].join(', ');\n\n// 사투리(충청/전라 느낌) 종결 예시(단어 자체는 참고 가능하나, 문장을 복붙하지 말 것)\nconst DIALECT_ENDINGS = ['~했슈', '~아녀유', '~했당께', '~구만유', '~허는디', '~그라믄유', '~해부러', '~가보장께'].join(', ');\n\nconst prompt = dedentString(`\n당신은 '온카스터디' 커뮤니티의 구수한 사투리 입담꾼입니다.\n아래 규칙에 따라 **순수 JSON**으로만 결과를 출력하세요. (코드블록 금지)\n\n[입력]\n- 메인 주제(topic): ${topic}\n- 세부 주제(subtopic): ${subtopic || '(없음)'}\n- Reference(참고 1문장): ${referenceContext}\n\n[절대 규칙]\n1) **One-Episode Rule**: 영상 시작~끝까지 “단 하나의 사건/상황”만 다뤄라. 중간에 다른 기능/카테고리로 점프 금지.\n2) **인과 3단계**: (문제/상황 발생) → (구체 묘사/심정) → (온카스터디 기능/해결/정보) 순서로만 전개.\n3) **나열 금지**: '/', '등', '또는', '그리고 …도' 같은 나열/열거를 쓰지 마라. 스포츠면 종목 1개, 뉴스면 이슈 1개만.\n4) **필수 언급**: 다음 단어는 subtitles 안에 각각 최소 1회 포함: ${mustMentions.join(', ')}.\n5) **금지 단어**: subtitles에 아래 단어가 1개라도 나오면 실패: ${forbiddenWords}.\n6) **hook_title=본문 일치**: hook_title은 subtitles 1~2번째 내용(후킹 상황)을 요약한 문구여야 하며, 영상 전체 내용과 완전히 같은 주제여야 한다.\n7) **제목 패턴 반복 금지**: hook_title에 다음 패턴/단어 사용 금지: ${TITLE_BANNED_PATTERNS}.\n8) **부정 훅 금지(비-먹튀)**: 카테고리 1(먹튀/안전)이 아니면 hook_title에 다음 부정 키워드 사용 금지: ${NEGATIVE_TITLE_WORDS_NON_SCAM}.\n\n[말투(필수)]\n- 표준 뉴스 앵커 톤 금지.\n- 사투리 종결을 자주 사용(최소 6개 자막에 적용): ${DIALECT_ENDINGS}.\n\n[자막(subtitles) 규칙]\n- 12~15개 문장.\n- 한 문장 15자 이내(짧게 끊기).\n- 대명사(이거/그거/저거/그때/이게) 남발 금지.\n- 마지막 자막은 반드시 청유형으로 끝내고 '온카스터디'를 포함.\n\n[images 규칙]\n- 4~6개 항목.\n- meme 최소 2개 포함.\n- keyword는 영어 명사 2~4단어(검색용).\n- meme_mood는 자막 전체 분위기와 일치(슬픔/분노/충격/기쁨/정보 중 하나에 맞춰 선택).\n\n[출력 JSON 스키마]\n{\n  \"hook_title\": \"\",\n  \"images\": [\n    { \"keyword\": \"\", \"visual_type\": \"meme\", \"meme_mood\": \"\" },\n    { \"keyword\": \"\", \"visual_type\": \"image\" }\n  ],\n  \"subtitles\": [\"\", \"\"],\n  \"outro_cta\": \"\",\n  \"Subject\": \"\",\n  \"Caption\": \"\",\n  \"Comment\": \"\"\n}\n`);\n\nfunction dedentString(str) {\n  const lines = str.replace(/\\r/g, '').split('\\n');\n  // remove leading/trailing empty\n  while (lines.length && lines[0].trim() === '') lines.shift();\n  while (lines.length && lines[lines.length-1].trim() === '') lines.pop();\n  // minimal indent\n  const indents = lines.filter(l => l.trim() !== '').map(l => l.match(/^(\\s*)/)[1].length);\n  const minIndent = indents.length ? Math.min(...indents) : 0;\n  return lines.map(l => l.slice(minIndent)).join('\\n');\n}\n\nreturn [{\n  json: {\n    ...input,\n    prompt,\n    topic,\n    category,\n    subtopic,\n    outroFile: input.outroFile || '',\n    outroCta: input.outroCta || '',\n    row_number: input.row_number\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        304
      ],
      "id": "d35c1c7b-3cc8-448b-a309-dbfe73dec39c",
      "name": "프롬프트 생성"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ encodeURIComponent($json.keyword || $json.image_prompt?.split(',')[0] || 'abstract background') }}&per_page=3&orientation=portrait",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2176,
        480
      ],
      "id": "76aadc3c-5ec1-487b-a68c-6725f0fd4ba6",
      "name": "이미지 검색",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1vPRgFSX7u4ecIy4",
          "name": "Pexels"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 밈 카탈로그: MinIO에 호스팅된 밈/리액션 영상 URL (97개)\nconst MEME_CATALOG = {\n  thinking: [\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_01.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_02.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_03.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_04.mp4',\n    'http://76.13.182.180:9000/memes/thinking/meme_thinking_05.mp4',\n    'http://76.13.182.180:9000/memes/thinking/big_brain_time.png',\n    'http://76.13.182.180:9000/memes/thinking/18d7459865c4bbdeb.mp4',\n    'http://76.13.182.180:9000/memes/thinking/charlie_conspiracy.jpg',\n    'http://76.13.182.180:9000/memes/thinking/hackerman.jpg',\n    'http://76.13.182.180:9000/memes/thinking/sherlock_magnifying.jpg',\n    'http://76.13.182.180:9000/memes/thinking/anime_studying.png',\n    'http://76.13.182.180:9000/memes/thinking/detective_pikachu_twist.png',\n    'http://76.13.182.180:9000/memes/thinking/roll_safe_think.jpg',\n    'http://76.13.182.180:9000/memes/thinking/simpsons_lenny_praying.jpg'\n  ],\n  excited: [\n    'http://76.13.182.180:9000/memes/excited/meme_excited_01.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_02.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_03.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_04.mp4',\n    'http://76.13.182.180:9000/memes/excited/meme_excited_05.mp4',\n    'http://76.13.182.180:9000/memes/excited/%EC%A7%90%EC%BA%90%EB%A6%AC%20%ED%82%A4%EB%B3%B4%EB%93%9C.mp4'\n  ],\n  shocked: [\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_01.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_02.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_03.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_04.mp4',\n    'http://76.13.182.180:9000/memes/shocked/meme_shocked_05.mp4',\n    'http://76.13.182.180:9000/memes/shocked/anime_shocked.jpg',\n    'http://76.13.182.180:9000/memes/shocked/surprised_pikachu.jpg',\n    'http://76.13.182.180:9000/memes/shocked/spongebob_shocked.png',\n    'http://76.13.182.180:9000/memes/shocked/cat_shocked.jpg',\n    'http://76.13.182.180:9000/memes/shocked/pepe_shocked.png',\n    'http://76.13.182.180:9000/memes/shocked/the_office_no.jpg',\n    'http://76.13.182.180:9000/memes/shocked/oprah_surprised.jpg'\n  ],\n  sad: [\n    'http://76.13.182.180:9000/memes/sad/meme_sad_01.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_02.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_03.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_04.mp4',\n    'http://76.13.182.180:9000/memes/sad/meme_sad_05.mp4',\n    'http://76.13.182.180:9000/memes/sad/%ED%98%80%20%EB%82%B4%EB%AF%BC%20%EB%A9%8D%ED%95%9C%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/sad/squidward_window.jpg'\n  ],\n  angry: [\n    'http://76.13.182.180:9000/memes/angry/meme_angry_01.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_02.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_03.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_04.mp4',\n    'http://76.13.182.180:9000/memes/angry/meme_angry_05.mp4',\n    'http://76.13.182.180:9000/memes/angry/%EB%B9%A8%EA%B0%84%20%EB%B6%84%EB%85%B8%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/angry/table_flip.jpg',\n    'http://76.13.182.180:9000/memes/angry/thanos_snap.png'\n  ],\n  cool: [\n    'http://76.13.182.180:9000/memes/cool/meme_cool_01.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_02.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_03.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_04.mp4',\n    'http://76.13.182.180:9000/memes/cool/meme_cool_05.mp4',\n    'http://76.13.182.180:9000/memes/cool/mic_drop.jpg',\n    'http://76.13.182.180:9000/memes/cool/onepiece_admirals.jpg',\n    'http://76.13.182.180:9000/memes/cool/cool_guys_explosion.png',\n    'http://76.13.182.180:9000/memes/cool/tony_stark_sunglasses.jpg',\n    'http://76.13.182.180:9000/memes/cool/pepe_tuxedo_wine.jpg',\n    'http://76.13.182.180:9000/memes/cool/chad_yes.jpg',\n    'http://76.13.182.180:9000/memes/cool/kanye_shrug.jpg'\n  ],\n  celebrating: [\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_01.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_02.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_03.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_04.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_05.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/%ED%8C%8C%ED%8B%B0%EB%AA%A8%EC%9E%90%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/celebrating/leonardo_toast.jpg',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_3rgXBxX4myuf.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_HNg0tC5rmbOo.mp4',\n    'http://76.13.182.180:9000/memes/celebrating/meme_celebrating_bznNJlqAi4pB.mp4'\n  ],\n  money: [\n    'http://76.13.182.180:9000/memes/money/wolf_wallstreet_money.jpg',\n    'http://76.13.182.180:9000/memes/money/mr_krabs_money.jpg',\n    'http://76.13.182.180:9000/memes/money/make_it_rain.jpg',\n    'http://76.13.182.180:9000/memes/money/stonks_meme.jpg',\n    'http://76.13.182.180:9000/memes/money/shut_up_take_money.jpg',\n    'http://76.13.182.180:9000/memes/money/empty_wallet.jpg',\n    'http://76.13.182.180:9000/memes/money/money_printer.jpg',\n    'http://76.13.182.180:9000/memes/money/scrooge_swimming.jpg',\n    'http://76.13.182.180:9000/memes/money/meme_money_KsvRum8n1GqQ.mp4',\n    'http://76.13.182.180:9000/memes/money/meme_money_P3KC4xvcDmE2.mp4',\n    'http://76.13.182.180:9000/memes/money/meme_money_x87yLDmua3Yi.mp4'\n  ],\n  snacking: [\n    'http://76.13.182.180:9000/memes/snacking/%EA%B3%BC%EC%9E%90%20%EB%A8%B9%EB%8A%94%20%ED%8E%98%ED%8E%98.png',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_1CW5C8WaA7ro.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_iDJuQR0UmiqO.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_pUeXcg80cO8I.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_tFK8urY6XHj2.mp4',\n    'http://76.13.182.180:9000/memes/snacking/meme_snacking_tHvxNSQ9c1Hb.mp4'\n  ],\n  speechless: [\n    'http://76.13.182.180:9000/memes/speechless/%22...%22%20%EB%A9%8D%ED%95%9C%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/speechless/nick_young_confused.jpg',\n    'http://76.13.182.180:9000/memes/speechless/joey_confused.jpg',\n    'http://76.13.182.180:9000/memes/speechless/john_travolta_confused.jpg',\n    'http://76.13.182.180:9000/memes/speechless/confused_math.jpg',\n    'http://76.13.182.180:9000/memes/speechless/blinking_guy.jpg',\n    'http://76.13.182.180:9000/memes/speechless/meme_speechless_2P3C5DZ8cEuS.mp4',\n    'http://76.13.182.180:9000/memes/speechless/meme_speechless_Ld7IFYuds4MA.mp4',\n    'http://76.13.182.180:9000/memes/speechless/meme_speechless_lxxOGaDRk4f7.mp4'\n  ],\n  smoking: [\n    'http://76.13.182.180:9000/memes/smoking/%EB%8B%B4%EB%B0%B0%20%ED%94%BC%EB%8A%94%20%ED%8E%98%ED%8E%98.png',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_1FMaabePDEfg.mp4',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_R7weSSUjdPdo.mp4',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_n60s5QpOQyma.mp4',\n    'http://76.13.182.180:9000/memes/smoking/meme_smoking_tYG0kOjcYi5S.mp4'\n  ],\n  disappointed: [\n    'http://76.13.182.180:9000/memes/disappointed/%EC%8A%A4%ED%8D%BC%EC%8A%A4%20%EC%9C%A0%EB%8B%88%ED%8F%BC%20%EC%9A%B0%EC%9A%B8%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/disappointed/facepalm_picard.jpg',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_Bcpspr9LTSvs.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_KIqHhQ1TLTEb.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_l3vRhaxVcQ1i.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_wAlP8WYl7mmq.mp4',\n    'http://76.13.182.180:9000/memes/disappointed/meme_disappointed_xdLH51eNWZAH.mp4'\n  ],\n  thumbsup: [\n    'http://76.13.182.180:9000/memes/thumbsup/%EC%97%84%EC%A7%80%EC%B2%99%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/thumbsup/obama_not_bad.jpg',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_BYoRqTmcgzHc.mp4',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_CvZuv5m5cKl8.mp4',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_DvWJHSOxTff8.mp4',\n    'http://76.13.182.180:9000/memes/thumbsup/meme_thumbsup_SShJcu4ySty1.mp4'\n  ],\n  crying: [\n    'http://76.13.182.180:9000/memes/crying/%EC%9A%B0%EB%8A%94%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/crying/pedro_pascal_crying.jpg',\n    'http://76.13.182.180:9000/memes/crying/jordan_crying.jpg',\n    'http://76.13.182.180:9000/memes/crying/pepe_crying.jpg',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_Vg2TAoPzDstz.mp4',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_iJJ6E58EttmF.mp4',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_mBMDcBe9uidY.mp4',\n    'http://76.13.182.180:9000/memes/crying/meme_crying_rDOKuhJpUdmd.mp4'\n  ],\n  desperate: [\n    'http://76.13.182.180:9000/memes/desperate/%EC%BD%98%EC%84%BC%ED%8A%B8%20%ED%8F%AC%ED%81%AC%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/desperate/this_is_fine_dog.jpg',\n    'http://76.13.182.180:9000/memes/desperate/spongebob_fire.jpg',\n    'http://76.13.182.180:9000/memes/desperate/ron_swanson_computer.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_AaSV3A9ykUbc.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_RWxegWb5fvCa.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_Xb6kZ8u14BM7.mp4',\n    'http://76.13.182.180:9000/memes/desperate/meme_desperate_j1snCodJsR7A.mp4'\n  ],\n  bored: [\n    'http://76.13.182.180:9000/memes/bored/%ED%97%A4%EB%93%9C%ED%8F%B0%20%EB%AC%B4%ED%91%9C%EC%A0%95%20%ED%8E%98%ED%8E%98.png',\n    'http://76.13.182.180:9000/memes/bored/jim_halpert_look.jpg',\n    'http://76.13.182.180:9000/memes/bored/cat_newspaper.jpg',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_HfFccPJv7a9k.mp4',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_Qz3fzoG7zhRu.mp4',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_ZXKZWB13D6gF.mp4',\n    'http://76.13.182.180:9000/memes/bored/meme_bored_tXL4FHPSnVJ0.mp4'\n  ],\n  suspicious: [\n    'http://76.13.182.180:9000/memes/suspicious/%ED%9B%84%EB%93%9C%20%EC%93%B4%20%EC%82%90%EC%A7%84%20%ED%8E%98%ED%8E%98.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/kevin_hart_face.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/side_eye_chloe.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/palpatine_good.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/dark_robot_ai.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/burns_excellent.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/joker_card.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/grinch_smile.jpg',\n    'http://76.13.182.180:9000/memes/suspicious/meme_suspicious_1KoN1DMBnCMW.mp4',\n    'http://76.13.182.180:9000/memes/suspicious/meme_suspicious_iJNqeyo1oIwb.mp4',\n    'http://76.13.182.180:9000/memes/suspicious/meme_suspicious_jqHeMJ2gSh46.mp4'\n  ],\n  laughing: [\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_PjaQrF9J53Uv.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_WiCahQsVaUjk.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_ZqlvCTNHpqri.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_bfA9FfnIU5P0.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_fUYhyT9Ijftx.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_gj0QdZ9FgqGh.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_l0ExayQDzrI2.mp4',\n    'http://76.13.182.180:9000/memes/laughing/meme_laughing_wR7LHlfuRUjH.mp4'\n  ],\n  confident: [\n    'http://76.13.182.180:9000/memes/confident/meme_confident_20PrISFlrRyy.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_FfMktMppgq8x.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_MK37vYca6tOi.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_QoD3tDuU7v6l.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_Xw6yFn7frR3Y.mp4',\n    'http://76.13.182.180:9000/memes/confident/meme_confident_g2hu7aDoaTlE.mp4'\n  ],\n  scared: [\n    'http://76.13.182.180:9000/memes/scared/meme_scared_ASevaPpkQIcG.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_F0hY3l1zwX8L.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_J02IfE7NGbJr.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_XUQcfmsVQXwp.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_d1lQ4H8AJRbm.mp4',\n    'http://76.13.182.180:9000/memes/scared/meme_scared_fwEVUFkDc66x.mp4'\n  ]\n};\n\nconst items = $input.all();\nconst segAll = $('세그먼트 분리').all();\n\nconst usedMemes = new Set();\n\nreturn items.map((item, i) => {\n  const data = item.json;\n  const segData = segAll[i]?.json || {};\n  const visualType = segData.visual_type || 'image';\n  const memeMood = segData.meme_mood || 'thinking';\n\n  if (visualType === 'meme') {\n    const catalog = MEME_CATALOG[memeMood] || MEME_CATALOG.thinking;\n    const available = catalog.filter(url => !usedMemes.has(url));\n    const pool = available.length > 0 ? available : catalog;\n    const randomIdx = Math.floor(Math.random() * pool.length);\n    const selectedUrl = pool[randomIdx];\n    usedMemes.add(selectedUrl);\n    return {\n      json: {\n        ...data,\n        visual_type: 'meme',\n        meme_mood: memeMood,\n        images: [{ url: selectedUrl }],\n        is_video: selectedUrl.endsWith('.mp4'),\n      }\n    };\n  } else {\n    const photos = data.photos || [];\n    const shuffled = [...photos].sort(() => Math.random() - 0.5).slice(0, 3);\n    const imageUrls = shuffled.map(p => p.src?.portrait || p.src?.large || p.src?.medium || '').filter(Boolean);\n    if (imageUrls.length === 0) {\n      imageUrls.push('https://images.pexels.com/photos/3021120/pexels-photo-3021120.jpeg?auto=compress&cs=tinysrgb&w=1080');\n    }\n    return {\n      json: {\n        ...data,\n        visual_type: 'image',\n        meme_mood: '',\n        images: imageUrls.map(url => ({ url })),\n        is_video: false,\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        480
      ],
      "id": "417f9a14-190f-48d9-a466-fde992082665",
      "name": "이미지 URL 추출"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "너는 '온카스터디' 커뮤니티의 YouTube Shorts 주제 기획자야.\n\n아래 5가지 카테고리 중 **{{ $json.category }}번 카테고리**에 해당하는 주제(topic) 1개를 생성해줘.\n반드시 {{ $json.category }}번 카테고리와 일치해야 하고, 다른 카테고리 키워드는 섞지 마.\n\n카테고리 요약\n1) 안전/먹튀검증 썰 (경고/분노/충격 가능)\n2) 무료 혜택/앱테크 (공짜/이득/꿀팁만, 손실/피해 톤 금지)\n3) 잭팟/후기 (대박/부러움/인증, 손실/피해 톤 금지)\n4) 방송 하이라이트 (재미/반전/현장감, 손실/피해 톤 금지)\n5) 스포츠/카지노 뉴스·분석 (이슈 1개만, 나열 금지)\n\n제목(Topic) 규칙\n- 20~40자, 클릭을 부르는 후킹 문장 1개\n- \"이거 실화냐/이거 가능해/이거 알아\" 같은 패턴 금지\n- \"/\" \"등\" \"그리고\" 같은 나열 표현 금지\n- topic 문장 안에 '온카스터디'를 자연스럽게 1회 포함\n\n카테고리별 추가 금지\n- 2~5번 카테고리: \"잃\", \"날리\", \"증발\", \"먹튀\", \"사기\", \"피해\" 같은 손실/범죄 톤 금지\n- 5번 카테고리: 축구/농구/야구를 동시에 언급하는 식의 종목 나열 금지(종목 1개, 이슈 1개만)\n\n출력 형식 (순수 JSON만, 코드블록 없이):\n- JSON 값 안에 쌍따옴표(\")나 줄바꿈 문자를 절대 넣지 마!\n{\"topic\": \"\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        160,
        304
      ],
      "id": "f691c2b0-ba9e-41de-b342-ddf6ea0d4a09",
      "name": "AI 주제 생성",
      "credentials": {
        "googlePalmApi": {
          "id": "IKP349r08J9Hoz5E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nif (!data.topic) {\n  throw new Error('AI 주제 생성 결과에 topic이 없습니다: ' + cleanText);\n}\n\nconst catNode = $('카테고리 결정').first().json;\nreturn [{\n  json: {\n    topic: data.topic,\n    category: catNode.category,\n    outroFile: catNode.outroFile,\n    outroCta: catNode.outroCta,\n    outroDuration: catNode.outroDuration,\n    subtopic: catNode.subtopic,\n    row_number: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ],
      "id": "a15bf7bf-1820-45d4-ae9c-f38db2d345f7",
      "name": "주제 파싱"
    },
    {
      "parameters": {
        "jsCode": "// 카테고리 순차 순환 - Google Sheets 행 수 기반 카운터\nconst sheetRows = $('카운터 읽기').all();\nconst counter = sheetRows.length;  // 시트에 기록된 행 수 = 지금까지 실행된 횟수\n\nconst OUTRO_VIDEOS = {\n  1: [\n    { file: 'partner_site.mp4', duration: 3.5, cta: '검증된 제휴사이트에서 이용하세요', subtopic: '검증된 제휴사이트 이용 방법' },\n    { file: 'scam_report.mp4', duration: 3.0, cta: '먹튀 확인하고 거르세요', subtopic: '먹튀 제보와 검증 과정' }\n  ],\n  2: [\n    { file: 'pointzone_game.mp4', duration: 4.53, cta: '포인트로 다양한 게임 즐기세요', subtopic: '포인트존 게임으로 포인트 모으는 방법' },\n    { file: 'pointzone_lottery.mp4', duration: 5.36, cta: '복권으로 포인트 모아보세요', subtopic: '복권으로 포인트 적립하는 방법' },\n    { file: 'pointzone_spin.mp4', duration: 4.07, cta: '돌림판으로 포인트 모아보세요', subtopic: '돌림판으로 포인트 모으는 방법' },\n    { file: 'gifticon.mp4', duration: 2.5, cta: '포인트로 기프티콘 교환하세요', subtopic: '포인트를 기프티콘으로 교환하는 방법' }\n  ],\n  3: [\n    { file: 'jackpot_report.mp4', duration: 3.77, cta: '잭팟 제보하면 포인트 지급!', subtopic: '잭팟 당첨 사례와 제보 방법' },\n    { file: 'best_post.mp4', duration: 3.87, cta: '베스트 글 올리고 포인트 받자!', subtopic: '커뮤니티 베스트 글과 유저 참여' }\n  ],\n  4: [\n    { file: 'highlight.mp4', duration: 2.77, cta: '놓친 방송 하이라이트 챙겨보세요', subtopic: '스트리머 방송 명장면 하이라이트' },\n    { file: 'live_broadcast.mp4', duration: 4.7, cta: '온카스터디 방송존에서 실시간 소통하세요', subtopic: '실시간 방송존에서 스트리머와 소통' }\n  ],\n  5: [\n    { file: 'sports_news.mp4', duration: 3.43, cta: '최신 스포츠 뉴스 확인하세요', subtopic: '최신 스포츠 뉴스' },\n    { file: 'casino_news.mp4', duration: 3.2, cta: '최신 카지노 뉴스 확인하세요', subtopic: '최신 카지노/게임사 뉴스' },\n    { file: 'sports_analysis.mp4', duration: 3.5, cta: '스포츠 분석으로 적중률 올리세요', subtopic: '스포츠 경기 분석과 픽' }\n  ]\n};\n\nconst sequence = [];\nfor (let cat = 1; cat <= 5; cat++) {\n  const list = OUTRO_VIDEOS[cat];\n  for (let idx = 0; idx < list.length; idx++) {\n    sequence.push({ category: cat, index: idx });\n  }\n}\n\nconst current = sequence[counter % sequence.length];\nconst category = current.category;\nconst picked = OUTRO_VIDEOS[category][current.index];\n\nreturn [{ json: {\n  category,\n  outroFile: picked.file,\n  outroCta: picked.cta,\n  subtopic: picked.subtopic,\n  outroDuration: picked.duration,\n  sequenceInfo: `${counter + 1}/13 (카테고리${category}: ${picked.subtopic})`\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "id": "01961828-a580-40a5-8844-fe28567c9178",
      "name": "카테고리 결정"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "설명형 숏츠",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        304
      ],
      "id": "0ee3e1b3-168f-402b-ad16-0e28b67a90be",
      "name": "카운터 읽기",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWBUyXUqCU9p5VAg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onca-shortform-v16",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -368,
        100
      ],
      "id": "f8a1d2c3-b4e5-4f67-89ab-cdef01234567",
      "name": "Webhook",
      "webhookId": "b7c8d9e0-f1a2-4b3c-8d5e-6f7a8b9c0d1e"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 콜백 데이터 준비\n * Webhook 실행이면 productionId 추출, 수동 실행이면 skipCallback=true\n */\nlet productionId = '';\nlet skipCallback = true;\n\ntry {\n  const webhookData = $('Webhook').first().json;\n  productionId = (webhookData.body && webhookData.body.productionId) || '';\n  skipCallback = !productionId;\n} catch (e) {\n  // 수동 실행이면 Webhook 노드 데이터 없음\n  skipCallback = true;\n}\n\nconst ncaResult = $('NCA 결과 처리').first().json;\nconst videoUrl = ncaResult['영상 URL'] || '';\nconst hookTitle = $('NCA 데이터 준비').first().json.hookTitle || '';\n\nreturn [{\n  json: {\n    productionId,\n    skipCallback,\n    videoUrl,\n    title: hookTitle,\n    status: 'completed'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4816,
        336
      ],
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "콜백 데이터 준비"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cb-check-001",
              "leftValue": "={{ $json.skipCallback }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5120,
        336
      ],
      "id": "d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "콜백 필요?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-n8n.xn--9g4bn4fm2bl2mb9f.com/api/productions/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ productionId: $json.productionId, status: $json.status, title: $json.title, videoUrl: $json.videoUrl }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5408,
        236
      ],
      "id": "e3f4a5b6-c7d8-4e9f-0a1b-2c3d4e5f6a7b",
      "name": "성공 콜백"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 실패 콜백 준비\n * NCA 영상 제작 에러 출력에서 productionId + 에러 메시지 추출\n * 수동 실행이면 콜백 없이 빈 배열 반환\n */\nlet productionId = '';\nlet skipCallback = true;\n\ntry {\n  const webhookData = $('Webhook').first().json;\n  productionId = (webhookData.body && webhookData.body.productionId) || '';\n  skipCallback = !productionId;\n} catch (e) {\n  skipCallback = true;\n}\n\nif (skipCallback) {\n  return [];\n}\n\nconst input = $input.first().json;\nconst errorMessage = (input.error && input.error.message) || input.message || 'NCA 영상 제작 실패';\n\nreturn [{\n  json: {\n    productionId,\n    status: 'failed',\n    errorMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        640
      ],
      "id": "f4a5b6c7-d8e9-4f0a-1b2c-3d4e5f6a7b8c",
      "name": "실패 콜백 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-n8n.xn--9g4bn4fm2bl2mb9f.com/api/productions/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ productionId: $json.productionId, status: $json.status, errorMessage: $json.errorMessage }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4496,
        640
      ],
      "id": "a5b6c7d8-e9f0-4a1b-2c3d-4e5f6a7b8c9d",
      "name": "실패 콜백"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 스크립트 콜백 준비 (script_ready)\n * 수동 실행이면 빈 배열 반환\n */\nlet productionId = '';\ntry {\n  const webhookData = $('Webhook').first().json;\n  productionId = (webhookData.body && webhookData.body.productionId) || '';\n} catch (e) {\n  return [];\n}\nif (!productionId) return [];\nreturn [{ json: { productionId, status: 'script_ready' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880011",
      "name": "스크립트 콜백 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-n8n.xn--9g4bn4fm2bl2mb9f.com/api/productions/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ productionId: $json.productionId, status: $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880012",
      "name": "스크립트 콜백",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * TTS 콜백 준비 (tts_ready)\n * 수동 실행이면 빈 배열 반환\n */\nlet productionId = '';\ntry {\n  const webhookData = $('Webhook').first().json;\n  productionId = (webhookData.body && webhookData.body.productionId) || '';\n} catch (e) {\n  return [];\n}\nif (!productionId) return [];\nreturn [{ json: { productionId, status: 'tts_ready' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880021",
      "name": "TTS 콜백 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-n8n.xn--9g4bn4fm2bl2mb9f.com/api/productions/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ productionId: $json.productionId, status: $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880022",
      "name": "TTS 콜백",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 이미지 콜백 준비 (images_ready)\n * 수동 실행이면 빈 배열 반환\n */\nlet productionId = '';\ntry {\n  const webhookData = $('Webhook').first().json;\n  productionId = (webhookData.body && webhookData.body.productionId) || '';\n} catch (e) {\n  return [];\n}\nif (!productionId) return [];\nreturn [{ json: { productionId, status: 'images_ready' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880031",
      "name": "이미지 콜백 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-n8n.xn--9g4bn4fm2bl2mb9f.com/api/productions/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ productionId: $json.productionId, status: $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880032",
      "name": "이미지 콜백",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 렌더링 콜백 준비 (rendering)\n * 수동 실행이면 빈 배열 반환\n */\nlet productionId = '';\ntry {\n  const webhookData = $('Webhook').first().json;\n  productionId = (webhookData.body && webhookData.body.productionId) || '';\n} catch (e) {\n  return [];\n}\nif (!productionId) return [];\nreturn [{ json: { productionId, status: 'rendering' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880041",
      "name": "렌더링 콜백 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-n8n.xn--9g4bn4fm2bl2mb9f.com/api/productions/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ productionId: $json.productionId, status: $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        800
      ],
      "id": "aa11bb22-cc33-4dd4-ee55-ff6677880042",
      "name": "렌더링 콜백",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "수동 실행": {
      "main": [
        [
          {
            "node": "카운터 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 콘텐츠 생성": {
      "main": [
        [
          {
            "node": "콘텐츠 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콘텐츠 파싱": {
      "main": [
        [
          {
            "node": "시트 기록",
            "type": "main",
            "index": 0
          },
          {
            "node": "스크립트 콜백 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "시트 기록": {
      "main": [
        [
          {
            "node": "TTS 요청",
            "type": "main",
            "index": 0
          },
          {
            "node": "세그먼트 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "세그먼트 분리": {
      "main": [
        [
          {
            "node": "이미지 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 요청": {
      "main": [
        [
          {
            "node": "TTS 결과 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 결과 처리": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "TTS 콜백 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "NCA 데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 데이터 준비": {
      "main": [
        [
          {
            "node": "NCA 영상 제작",
            "type": "main",
            "index": 0
          },
          {
            "node": "렌더링 콜백 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 영상 제작": {
      "main": [
        [
          {
            "node": "NCA 결과 처리",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "실패 콜백 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCA 결과 처리": {
      "main": [
        [
          {
            "node": "상태 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "프롬프트 생성": {
      "main": [
        [
          {
            "node": "AI 콘텐츠 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 검색": {
      "main": [
        [
          {
            "node": "이미지 URL 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 URL 추출": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "이미지 콜백 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 주제 생성": {
      "main": [
        [
          {
            "node": "주제 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "주제 파싱": {
      "main": [
        [
          {
            "node": "프롬프트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카테고리 결정": {
      "main": [
        [
          {
            "node": "AI 주제 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "카운터 읽기": {
      "main": [
        [
          {
            "node": "카테고리 결정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "카운터 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상태 업데이트": {
      "main": [
        [
          {
            "node": "콜백 데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콜백 데이터 준비": {
      "main": [
        [
          {
            "node": "콜백 필요?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "콜백 필요?": {
      "main": [
        [
          {
            "node": "성공 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "실패 콜백 준비": {
      "main": [
        [
          {
            "node": "실패 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "스크립트 콜백 준비": {
      "main": [
        [
          {
            "node": "스크립트 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS 콜백 준비": {
      "main": [
        [
          {
            "node": "TTS 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 콜백 준비": {
      "main": [
        [
          {
            "node": "이미지 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더링 콜백 준비": {
      "main": [
        [
          {
            "node": "렌더링 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "categoryCounter": 1
    }
  },
  "pinData": {},
  "id": "x6xTzHJ9WbUc94ec"
}