workflows/onkastudy-story-v7-test.json
{
    "updatedAt": "2026-02-26T04:16:18.740Z",
    "createdAt": "2026-02-25T10:33:01.160Z",
    "id": "zVxyn0i9v5Fc8IAr",
    "name": "\uc628\uce74\uc2a4\ud130\ub514 \uc2a4\ud1a0\ub9ac\uc9e4 v7 - \uc720\uc601\ud14c\uc2a4\ud2b8",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "name": "When clicking \u2018Execute workflow\u2019",
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                -2752,
                3584
            ],
            "typeVersion": 1,
            "id": "6af3fa1d-0949-420b-8b50-adf2cbe8cf19"
        },
        {
            "parameters": {
                "jsCode": "// \ub098\ub808\uc774\uc158 \uc790\ub3d9 \uac80\uc218 (v8.4 + \ubb34\ud55c\ub8e8\ud504 \uc218\uc815)\nconst data = $input.first().json;\n\n// \u2605 retryCount\ub97c staticData\ub85c \ucd94\uc801 (Gemini \uc7ac\uc0dd\uc131 \uc2dc data\uc5d0\uc11c \uc0ac\ub77c\uc9c0\ub294 \ubb38\uc81c \ud574\uacb0)\nconst staticData = $getWorkflowStaticData('node');\nconst currentExecId = $execution.id;\n\n// \uc0c8 \uc2e4\ud589\uc774\uba74 \uce74\uc6b4\ud130 \ub9ac\uc14b\nif (staticData.lastExecId !== currentExecId) {\n  staticData.retryCount = 0;\n  staticData.lastExecId = currentExecId;\n}\n\nconst retryCount = staticData.retryCount || 0;\nconst MAX_RETRY = 3;\nconst errors = [];\n\n// \u2500\u2500 \ud30c\uc2f1\ub41c \ucf58\ud150\uce20 \uac00\uc838\uc624\uae30 \u2500\u2500\nconst scenes = data.scenes || [];\nconst hookTitle = data.hook_title || '';\n\n// \u2550\u2550\u2550 1. \uad6c\uc870 \uac80\uc99d \u2550\u2550\u2550\nif (scenes.length !== 3) {\n  errors.push('\uc7a5\uba74 \uc218: ' + scenes.length + ' (3\uac1c \ud544\uc694)');\n}\n\nfor (let i = 0; i < scenes.length; i++) {\n  const turns = scenes[i]?.dialogue_turns || [];\n  if (turns.length !== 2) {\n    errors.push('\uc7a5\uba74' + (i+1) + ' \ud134 \uc218: ' + turns.length + ' (2\uac1c \ud544\uc694)');\n  }\n}\n\n// \u2550\u2550\u2550 2. \ud654\uc790 \uc21c\uc11c \uac80\uc99d (B\u2192A / B\u2192A / A\u2192B) \u2550\u2550\u2550\nconst expectedOrder = [['B','A'], ['B','A'], ['A','B']];\nfor (let i = 0; i < Math.min(scenes.length, 3); i++) {\n  const turns = scenes[i]?.dialogue_turns || [];\n  for (let j = 0; j < Math.min(turns.length, 2); j++) {\n    const expected = expectedOrder[i][j];\n    const actual = turns[j]?.speaker;\n    if (actual !== expected) {\n      errors.push('\uc7a5\uba74' + (i+1) + ' ' + (j+1) + '\ud134 \ud654\uc790: ' + actual + ' (\uc608\uc0c1: ' + expected + ')');\n    }\n  }\n}\n\n// \u2550\u2550\u2550 3. \uc7a5\uba741 \uae08\uc9c0\uc5b4 \uccb4\ud06c \u2550\u2550\u2550\nconst forbidden = ['\uce74\uc9c0\ub178','\uc2ac\ub86f','\ubc30\ud305','\uc0ac\uc774\ud2b8','\ud658\uc218\uc728','RTP','\uba39\ud280','\ud658\uc804','\ub3c4\ubc15','\uac8c\uc784','\ud3ec\uc778\ud2b8','\uc7ad\ud31f','\ucda9\uc804','\uc785\uae08','\ucd9c\uae08','\ubcf4\ub108\uc2a4','\uc628\ub77c\uc778','\ub2f9\ucca8','\ubc30\ub2f9','\ud1a0\ud1a0'];\nif (scenes[0]) {\n  const scene1Text = (scenes[0].dialogue_turns || []).map(t => t.line).join(' ');\n  for (const word of forbidden) {\n    if (scene1Text.includes(word)) {\n      errors.push('\uc7a5\uba741 \uae08\uc9c0\uc5b4: ' + word);\n    }\n  }\n}\n\n// \u2550\u2550\u2550 4. 4\ud134(\uc7a5\uba742 A\ud134)\uc5d0 \uc9c1\uc811 \ub2e8\uc5b4 \u2550\u2550\u2550\nif (scenes[1]) {\n  const turn4 = (scenes[1].dialogue_turns || [])[1]?.line || '';\n  const hasDirect = turn4.includes('\uce74\uc9c0\ub178') || turn4.includes('\uc0ac\uc774\ud2b8') ||\n                    turn4.includes('\uc2a4\ud3ec\uce20 \ubc30\ud305') || turn4.includes('\ubd84\uc11d') || turn4.includes('\ubc30\ub2f9\ub960');\n  if (!hasDirect) {\n    errors.push('4\ud134\uc5d0 \uc9c1\uc811 \ub2e8\uc5b4 \uc5c6\uc74c');\n  }\n}\n\n// \u2550\u2550\u2550 5. \uc628\uce74\uc2a4\ud130\ub514 5\ud134\uc5d0\uc11c\ub9cc 1\ud68c \u2550\u2550\u2550\nlet onkaCount = 0;\nlet onkaWrongTurn = false;\nfor (let i = 0; i < scenes.length; i++) {\n  const turns = scenes[i]?.dialogue_turns || [];\n  for (let j = 0; j < turns.length; j++) {\n    const line = turns[j]?.line || '';\n    if (line.includes('\uc628\uce74\uc2a4\ud130\ub514')) {\n      onkaCount++;\n      if (!(i === 2 && j === 0)) {\n        onkaWrongTurn = true;\n      }\n    }\n  }\n}\nif (onkaCount === 0) errors.push('\uc628\uce74\uc2a4\ud130\ub514 \uc5b8\uae09 \uc5c6\uc74c');\nif (onkaCount > 1) errors.push('\uc628\uce74\uc2a4\ud130\ub514 ' + onkaCount + '\ud68c \uc5b8\uae09');\nif (onkaWrongTurn) errors.push('\uc628\uce74\uc2a4\ud130\ub514\uac00 5\ud134 \uc678 \uc704\uce58\uc5d0\uc11c \uc5b8\uae09\ub428');\n\n// \u2550\u2550\u2550 6. \ub2e8\ub3c5 \uc790\ubaa8 \uccb4\ud06c \u2550\u2550\u2550\nconst jamoRegex = /[\u3131-\u314e\u314f-\u3163]/;\nfor (let i = 0; i < scenes.length; i++) {\n  const turns = scenes[i]?.dialogue_turns || [];\n  for (let j = 0; j < turns.length; j++) {\n    const line = turns[j]?.line || '';\n    if (jamoRegex.test(line)) {\n      const found = line.match(/[\u3131-\u314e\u314f-\u3163]+/g);\n      errors.push('\uc7a5\uba74' + (i+1) + ' ' + (j+1) + '\ud134 \uc790\ubaa8: ' + (found || []).join(', '));\n    }\n  }\n}\n\n// \u2550\u2550\u2550 7. \uc544\ub77c\ube44\uc544 \uc22b\uc790 \uccb4\ud06c \u2550\u2550\u2550\nconst numRegex = /[0-9]/;\nfor (let i = 0; i < scenes.length; i++) {\n  const turns = scenes[i]?.dialogue_turns || [];\n  for (let j = 0; j < turns.length; j++) {\n    const line = turns[j]?.line || '';\n    if (numRegex.test(line)) {\n      errors.push('\uc7a5\uba74' + (i+1) + ' ' + (j+1) + '\ud134 \uc22b\uc790: ' + line.match(/[0-9]+/g).join(', '));\n    }\n  }\n}\n\n// \u2550\u2550\u2550 8. \ub300\uc0ac \uae38\uc774 \uccb4\ud06c (v8.4 \uae30\uc900, \uc5ec\uc720\ubd84 \ud3ec\ud568) \u2550\u2550\u2550\nfor (let i = 0; i < scenes.length; i++) {\n  const turns = scenes[i]?.dialogue_turns || [];\n  for (let j = 0; j < turns.length; j++) {\n    const line = turns[j]?.line || '';\n    const len = line.length;\n    const maxLen = (i === 1 && j === 1) ? 85 : (i === 2 && j === 0) ? 45 : 55;\n    if (len < 10) errors.push('\uc7a5\uba74' + (i+1) + ' ' + (j+1) + '\ud134 \uc9e7\uc74c: ' + len + '\uc790');\n    if (len > maxLen) errors.push('\uc7a5\uba74' + (i+1) + ' ' + (j+1) + '\ud134 \uae40: ' + len + '\uc790(max ' + maxLen + ')');\n  }\n}\n\n// \u2550\u2550\u2550 9. dialogue \ud544\ub4dc \ud654\uc790\ud0dc\uadf8 \uccb4\ud06c \u2550\u2550\u2550\nfor (let i = 0; i < scenes.length; i++) {\n  const dialogue = scenes[i]?.dialogue || '';\n  if (!dialogue.includes(':')) {\n    errors.push('\uc7a5\uba74' + (i+1) + ' dialogue \ud654\uc790\ud0dc\uadf8 \uc5c6\uc74c');\n  }\n}\n\n// \u2550\u2550\u2550 \uacb0\uacfc \ud310\uc815 \u2550\u2550\u2550\nconst passed = errors.length === 0;\nconst forcePass = !passed && retryCount >= MAX_RETRY;\n\nif (!passed && !forcePass) {\n  staticData.retryCount = retryCount + 1;\n}\n\nif (passed) {\n  console.log('\uac80\uc218 \ud569\uaca9!');\n} else if (forcePass) {\n  console.log('\uac15\uc81c \ud1b5\uacfc(' + MAX_RETRY + '\ud68c \ucd08\uacfc). \uc624\ub958: ' + errors.join(' | '));\n  staticData.retryCount = 0;\n} else {\n  console.log('\ubd88\ud569\uaca9 (\uc2dc\ub3c4 ' + (retryCount + 1) + '/' + MAX_RETRY + '). \uc624\ub958: ' + errors.join(' | '));\n}\n\nreturn [{\n  json: {\n    ...data,\n    reviewPassed: passed || forcePass,\n    reviewErrors: errors,\n    retryCount: retryCount + (passed ? 0 : 1),\n    forcePass: forcePass,\n    categoryName: data.categoryName || '',\n    currentTopic: data.currentTopic || '',\n  }\n}];"
            },
            "id": "c72ecc65-8622-4baa-ada6-e11d134703dd",
            "name": "\ub098\ub808\uc774\uc158 \uac80\uc218",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1552,
                3584
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "id": "c2189c4d-2598-437e-9d96-362c351fe30a",
                            "leftValue": "={{ $json.reviewPassed }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "1fe58af9-8675-40ed-a89e-f07f4f6b00da",
            "name": "\uac80\uc218 \ubd84\uae30",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1328,
                3584
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 3,15 * * *"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -3024,
                3856
            ],
            "id": "4f5a4681-6d96-4e8d-82d5-59e0c76b4b28",
            "name": "\uc2a4\ucf00\uc904 \ud2b8\ub9ac\uac701",
            "disabled": true
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash-lite",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash-lite"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=\ub108\ub294 YouTube Shorts \uc2a4\ud1a0\ub9ac\ud615 \ucf58\ud150\uce20 \uc804\ubb38 \uc791\uac00\uc57c.\n**\uc628\uce74\uc2a4\ud130\ub514 \ucee4\ubba4\ub2c8\ud2f0**\uc758 \uc720\uc775\ud55c \uc815\ubcf4\ub97c \uc7ac\ubbf8\uc788\ub294 \ub300\ud654 \ud615\uc2dd\uc73c\ub85c \ub9cc\ub4e4\uc5b4\uc918.\n\uc601\uc0c1 \uc2a4\ud0c0\uc77c: \uc544\ub098\ub450 \uc1fc\uce20\ucc98\ub7fc \uae54\ub054\ud558\uace0 \uc124\ub4dd\ub825 \uc788\ub294 \uc124\uba85\ud615 \ucf58\ud150\uce20.\n\n## \u2605 \uaddc\uce59 \ucda9\ub3cc \uc2dc \uc6b0\uc120\uc21c\uc704\n1\uc21c\uc704: JSON \ucd9c\ub825 \ud615\uc2dd \uc900\uc218 (\uad6c\uc870/\ud544\ub4dc \ub204\ub77d \uae08\uc9c0)\n2\uc21c\uc704: 6\ud134 \uc21c\uc11c \ubc0f \ud654\uc790 \uc5ed\ud560 \uc900\uc218 (B\u2192A / B\u2192A / A\u2192B)\n3\uc21c\uc704: \uc7a5\uba741 \uae08\uc9c0\uc5b4 / \uc7a5\uba742 4\ud134 \uc9c1\uc811\ub2e8\uc5b4 / 5\ud134 \uc628\uce74\uc2a4\ud130\ub514 \ub2e8\uc77c \uc5b8\uae09\n4\uc21c\uc704: \ub300\uc0ac \uae38\uc774 \ubc0f \ud1a4\n5\uc21c\uc704: \ubcc0\uc8fc \uc694\uc18c \ubc0f \uc2a4\ud0c0\uc77c \ub514\ud14c\uc77c\n\n## \ud575\uc2ec \uc6d0\uce59\n- \uc804\uccb4 \ub300\ubcf8\uc758 70%\ub294 \uc720\uc775\ud55c \uc815\ubcf4 + \uc7ac\ubbf8\uc788\ub294 \ud751\ud615 \uce5c\uad6c 2\uba85\uc758 \ud2f0\ud0a4\ud0c0\uce74 \ucf00\ubbf8\n- \ub9c8\uc9c0\ub9c9 30%\uc5d0\uc11c \uc628\uce74\uc2a4\ud130\ub514 \uc790\uc5f0\uc2a4\ub7fd\uac8c \uc5b8\uae09 (\uad11\uace0 \ub290\ub08c \uc808\ub300 \uc548 \ub098\uac8c)\n- \uccab 3\ucd08 \uc548\uc5d0 \uc2dc\uccad\uc790\uac00 \uc2a4\ud06c\ub864 \uba48\ucd94\ub294 \ud6c4\ud0b9\n- Jay\uc758 \uacbd\ud5d8 \uae30\ubc18 \ub9e4\uc6b4\ub9db \ud329\ud2b8 + Mike\uc758 \ub9ac\uc561\uc158/\uc9c8\ubb38\uc774 \ub9cc\ub098\ub294 \uad6c\uc870\n- \"\uc628\uce74\uc2a4\ud130\ub514\"\ub294 \uc624\uc9c1 \uc7a5\uba74 3\uc758 5\ud134\uc5d0\uc11c\ub9cc \ub2e8 1\ud68c \uc5b8\uae09\n\n## \uc7a5\uba74 1 \uaddc\uce59\n**\uae08\uc9c0\uc5b4 (\uc7a5\uba74 1 \ub300\uc0ac\uc5d0 \ub2e8 \ud558\ub098\ub3c4 \ud3ec\ud568 \uae08\uc9c0):**\n\uce74\uc9c0\ub178, \uc2ac\ub86f, \ubc30\ud305, \uc0ac\uc774\ud2b8, \ud658\uc218\uc728, RTP, \uba39\ud280, \ud658\uc804, \ub3c4\ubc15, \uac8c\uc784, \ud3ec\uc778\ud2b8, \uc7ad\ud31f, \ucda9\uc804, \uc785\uae08, \ucd9c\uae08, \ubcf4\ub108\uc2a4, \uc628\ub77c\uc778, \ub2f9\ucca8\n\n**\uc18c\uc7ac (\uc544\ub798 5\uac00\uc9c0 \uc911 \ud0dd 1, \ub9e4\ubc88 \uc0c8\ub85c\uc6b4 \uad6c\uccb4\uc801 \uc5d0\ud53c\uc18c\ub4dc \ucc3d\uc791):**\n1. \ub2f9\uadfc\ub9c8\ucf13/\uc911\uace0\uac70\ub798 \uc0ac\uae30 (\uc0ac\uc9c4\uacfc \ub2e4\ub978 \ubb3c\uac74, \uc120\uc785\uae08 \uc7a0\uc218, \ud558\uc790 \uc228\uae40 \ub4f1)\n2. \uc778\uc2a4\ud0c0 \uacfc\ub300\uad11\uace0 \ud53c\ud574 (\uc778\ud50c\ub8e8\uc5b8\uc11c \ucd94\ucc9c \uc0ac\uae30, \ud6c4\uae30 \uc870\uc791 \uc81c\ud488 \ub4f1)\n3. \ud655\ub960\ud615 \ubf51\uae30/\uac15\ud654 \ud604\uc9c8 \ud3ed\ub9dd (\uc7a5\ube44 \uac15\ud654 \uc2e4\ud328, \ubf51\uae30 \uc0ac\uae30, \ud655\ub960 \uc870\uc791 \ub4f1 \u2014 \ub300\uc0ac\uc5d0\uc11c '\uac8c\uc784' \ub2e8\uc5b4 \uc0ac\uc6a9 \uae08\uc9c0, \uc0c1\ud669\ub9cc \ubb18\uc0ac)\n4. \ubc30\ub2ec\uc571 \ubcc4\uc810 \ub09a\uc2dc (\ub192\uc740 \ubcc4\uc810 + \uc2e4\uc81c \ucd5c\uc545, \ub9ac\ubdf0 \uc870\uc791 \ub4f1)\n5. \ub370\uc774\ud305 \uc571/\uc18c\uac1c\ud305 \ud504\uc0ac\uae30 (\uc0ac\uc9c4\uacfc \uc2e4\ubb3c \ub2e4\ub984, \ud504\ub85c\ud544 \uac70\uc9d3\ub9d0 \ub4f1)\n\n\u2605 \ubc18\ub4dc\uc2dc **\uad6c\uccb4\uc801 \ub514\ud14c\uc77c**(\uae08\uc561, \ubb3c\uac74\uba85, \uc0c1\ud669 \uc911 \ucd5c\uc18c 2\uac00\uc9c0 \uc774\uc0c1)\uc744 \ub123\uc5b4 \uc2e4\uc81c \uacaa\uc740 \uac83\ucc98\ub7fc \uc0dd\uc0dd\ud558\uac8c.\n\n## \ud654\uc790 \uc5ed\ud560 (\uc808\ub300 \uaddc\uce59)\n\n| \uad6c\ubd84 | A (Jay) | B (Mike) |\n|------|---------|----------|\n| \uc815\uccb4 | \ud6c8\uc218 \ub450\ub294 \uc0ac\ub78c, \uc815\ub2f5\uc744 \uc544\ub294 \uc0ac\ub78c | \ud638\uad6c \ub2f9\ud55c \uc0ac\ub78c, \uc9c8\ubb38\ud558\ub294 \uc0ac\ub78c |\n| \ud560 \uc218 \uc788\ub294 \uac83 | \ud329\ud3ed, \uc815\ubcf4 \uc81c\uacf5, \ubc18\uc804 \uce74\ub4dc, \uc628\uce74\uc2a4\ud130\ub514 \uc5b8\uae09 | \ud638\uad6c\uc370, \uc9d5\uc9d5, \uc5b5\uc6b8\ud568, \uc9c8\ubb38, \ub9ac\uc561\uc158 |\n| \uc808\ub300 \uae08\uc9c0 | \ub3c8 \uc783\uace0 \uc5b5\uc6b8\ud574\ud558\ub294 \ub300\uc0ac, \ubaa8\ub974\ub294 \ucc99 | \uce74\uc9c0\ub178 \uc9c0\uc2dd \uac00\ub974\uce58\uae30, \uc815\ub2f5 \ub9d0\ud558\uae30, \ud63c\uc790 \ub208\uce58\ucc44\uae30 |\n\n## \u2605\u2605\u2605 6\ud134 \uad6c\uc870 (\uc21c\uc11c \uace0\uc815, \ubaa8\ub4e0 \uc7a5\uba74 2\ud134\uc529) \u2605\u2605\u2605\n\n**\uc7a5\uba74 1 \u2014 \uc77c\uc0c1 \ud638\uad6c\uc370 (2\ud134, B\u2192A)**\n\n| \ud134 | \ud654\uc790 | \uc5ed\ud560 |\n|----|------|------|\n| 1\ud134 | **B** | \uc77c\uc0c1\uc5d0\uc11c \ud638\uad6c \ub2f9\ud55c \uad6c\uccb4\uc801 \uc370. \uae08\uc561/\ubb3c\uac74/\uc0c1\ud669 \ub514\ud14c\uc77c \ud3ec\ud568 |\n| 2\ud134 | **A** | B\uac00 \uc65c \ub2f9\ud588\ub294\uc9c0 \ubcf8\uc9c8\uc744 \ud55c \ub9c8\ub514\ub85c \uaff0\ub6ab\ub294 \ud329\ud3ed |\n\n**\uc7a5\uba74 2 \u2014 \ubc18\uc804 + \uce74\uc9c0\ub178 \uc5f0\uacb0 (2\ud134, B\u2192A)**\n\n| \ud134 | \ud654\uc790 | \uc5ed\ud560 |\n|----|------|------|\n| 3\ud134 | **B** | \uc5b5\uc6b8\ud558\uac8c \ubcc0\uba85/\ubc18\ubc15\ud558\uba70 \uc790\uae30 \ub17c\ub9ac\ub97c \ud3bc\uce68 |\n| 4\ud134 | **A** | \u2605 **2\ubb38\uc7a5 \ube0c\ub9bf\uc9c0 \ud329\ud3ed**: \uccab \ubb38\uc7a5\uc5d0\uc11c \uc7a5\uba741 \ud638\uad6c\uc9d3\uc744 \uac00\ubccd\uac8c \ube44\uc6c3\uc73c\uba70 \ud55c \ubc88 \ub354 \uc9da\uc5b4\uc8fc\uace0, \ub450 \ubc88\uc9f8 \ubb38\uc7a5\uc5d0\uc11c \uc790\uc5f0\uc2a4\ub7fd\uac8c \uce74\uc9c0\ub178/\uc0ac\uc774\ud2b8 \uc774\uc57c\uae30\ub85c \uc5f0\uacb0. **\"\uce74\uc9c0\ub178\", \"\uc0ac\uc774\ud2b8\" \ub4f1 \uc9c1\uc811 \ub2e8\uc5b4 \ud544\uc218.** \uae09\ubc1c\uc9c4 \uae08\uc9c0 \u2014 \uc55e \ub300\ud654\uc640 \uc774\uc5b4\uc9c0\ub294 \uc790\uc5f0\uc2a4\ub7ec\uc6b4 \ud750\ub984 \ud544\uc218 |\n\n**\uc7a5\uba74 3 \u2014 Jay\uc758 Flex \ub9c8\ubb34\ub9ac (2\ud134, A\u2192B)**\n\n| \ud134 | \ud654\uc790 | \uc5ed\ud560 |\n|----|------|------|\n| 5\ud134 | **A** | \uc628\uce74\uc2a4\ud130\ub514\uc758 **\uad6c\uccb4\uc801 \uba54\ub274 \uc774\ub984** \uc5b8\uae09 + \ubcf8\uc778\uc740 \uc774\ubbf8 \ud65c\uc6a9 \uc911\uc774\ub77c\ub294 \uc790\ub791. **\ubc18\ub4dc\uc2dc \ud55c \ubb38\uc7a5\uc73c\ub85c \uc555\ucd95.** \uc790\ub791 \ubc29\uc2dd\uc744 \ub9e4\ubc88 \ub2e4\ub974\uac8c \ucc3d\uc791 |\n| 6\ud134 | **B** | \ub9c8\ubb34\ub9ac \ub9ac\uc561\uc158. \ub9e4\ubc88 \ub2e4\ub978 \uac10\uc815(\uac10\ud0c4/\uc790\uae30\ubc18\uc131/\ub2e4\uc9d0/\ud55c\uc228/\uc720\uba38 \ub4f1)\uc73c\ub85c \ubcc0\uc8fc |\n\n## \ub300\uc0ac \uaddc\uce59\n\n**\uae38\uc774:**\n- \uae30\ubcf8: \ud55c \ud134\ub2f9 20~45\uc790\n- **\uc608\uc678: 4\ud134(A\uc758 \ube0c\ub9bf\uc9c0 \uc5f0\uacb0)\ub9cc 40~70\uc790 \ud5c8\uc6a9 (2\ubb38\uc7a5 \uad6c\uc870)**\n- **5\ud134(Flex): \ubc18\ub4dc\uc2dc \ud55c \ubb38\uc7a5, 35\uc790 \uc774\ud558**\n- \uc7a5\uba741\u00b73 \uc804\uccb4: 90\uc790 \uc774\ub0b4 / **\uc7a5\uba742 \uc804\uccb4: 120\uc790 \uc774\ub0b4**\n\n**\ub9d0\ud22c:**\n- 100% \ud55c\uad6d\uc5b4 \uad6c\uc5b4\uccb4. \uc601\uc5b4 \uc54c\ud30c\ubcb3 \ud45c\uae30 \uc808\ub300 \uae08\uc9c0 (Bro, Damn \ub4f1)\n- \ud55c\uae00 \uc678\ub798\uc5b4\ub294 \ud5c8\uc6a9 (\"\ucf5c\", \"\ub808\uc804\ub4dc\", \"\ub9ac\uc5bc\" \ub4f1)\n- EBS \ubc29\uc1a1 \uac19\uc740 \uc810\uc796\uc740 \ub9d0\ud22c \uae08\uc9c0. \ud55c\uad6d 2030 \ub0a8\uc131\ub4e4\uc774 \ub864 \ub4c0\uc624 \ud560 \ub54c \uc4f0\ub294 \ud604\uc2e4\uc801\uc778 \uad6c\uc5b4\uccb4\n\n**A (Jay - \ub9e4\uc6b4\ub9db \uace0\uc778\ubb3c \ud615) \ub9d0\ud22c \uc2a4\ud0c0\uc77c:**\n- \ub2f5\ub2f5\ud55c \ub3d9\uc0dd\uc744 \ud329\ud2b8\ub85c \ud6c4\ub824\uce58\ub294 \uace0\uc778\ubb3c. \ud55c\uc2ec\ud558\uba74\uc11c\ub3c4 \uac71\uc815\ub418\ub294 \ud615 \ud1a4\n- \ud329\ud2b8\ub97c \ub54c\ub9b4 \ub54c \ube44\uc720/\uacbd\ud5d8\ub2f4/\uc778\ud130\ub137 \ubc08 \ud65c\uc6a9\n- \ud1a4 \uc2a4\ud399\ud2b8\ub7fc: \ub180\ub9ac\uae30 / \ud55c\uc2ec / \ud329\ud3ed / \uc790\ub791 \u2014 \ub9e4\ubc88 \ub2e4\ub978 \ud45c\ud604\uc73c\ub85c \ucc3d\uc791\n\n**B (Mike - \uc5b5\uc6b8\ud55c \ub274\ube44) \ub9d0\ud22c \uc2a4\ud0c0\uc77c:**\n- \ubc18\ub9d0 \ubca0\uc774\uc2a4\uc5d0 \uc5b5\uc6b8\ud568/\ubd84\ub178\uac00 \uc11e\uc778 MZ\uc138\ub300 \ub9d0\ud22c\n- \uc5b5\uc6b8 \u2192 \ud329\ud2b8 \ub9de\uace0 \uc778\uc815\ud558\ub294 \uac10\uc815 \uc544\ud06c\n- \u2605 \uc7a5\uba742\uc5d0\uc11c Jay\uac00 \ud329\ud2b8 \uc9da\uae30 \uc804\uae4c\uc9c0 \uce74\uc9c0\ub178 \uc774\uc57c\uae30\uc778 \uac78 \uc808\ub300 \ub208\uce58\ucc44\uba74 \uc548 \ub428\n\n## \uae08\uc9c0 \ub300\uc0ac \ube14\ub799\ub9ac\uc2a4\ud2b8\n\n**\uae08\uc9c0 \ud328\ud134:**\n- \"\ub2f9\uadfc\uc5d0\uc11c \ubcbd\ub3cc \ubc30\uc1a1\" \uc870\ud569\n- \"\uc120\uc785\uae08\ud55c \ub2c8\uac00 \ud638\uad6c\" \uad6c\uc870\n- \"\uce74\uc9c0\ub178 \uc0ac\uc774\ud2b8\ub3c4 \ud6c4\uae30 \uc548 \ubcf4\uace0 \uaf42\uc796\uc544\" \uad6c\uc870\n- \"\uc628\uce74\uc2a4\ud130\ub514 [\uba54\ub274]\uc5d0\uc11c \ub2e4 \uac78\ub800\uc9c0/\ubd24\uc9c0/\ucc59\uacbc\uc9c0\" \uad6c\uc870\n- \"\ubf08 \ub9de\uc558\ub124 + \ub2f9\uc7a5 \uac00\ubcf8\ub2e4\" \ub9c8\ubb34\ub9ac \uc870\ud569\n- \"\ud0b9\ubc1b\ub124 + \uc5b4\ub5bb\uac8c \uac78\ub7ec?\" \uc870\ud569\n- \"\ub098\ub9cc \ud1b5\uc218 \ub9de\uc740 \uac70\uc784?\"\n- \"\uc0ac\uc9c4\uc740 \uba40\uca61\ud588\ub2e4\ub2c8\uae4c\" \ubcc0\uba85\n- \"\uc77c\uc0c1\uc5d0\uc11c\ub3c4 X \ud558\uba74\uc11c \uc65c Y\ub294 \uc548 \ud558\ub0d0\" \uad6c\uc870\n\n## \u2605\u2605\u2605 \uce74\ud14c\uace0\ub9ac\ubcc4 \ud1a4 \uac00\uc774\ub4dc (\ub9e4\ubc88 \ub2e4\ub978 \uc811\uadfc\ubc95 \uc120\ud0dd!) \u2605\u2605\u2605\n\n**\uce74\ud14c\uace0\ub9ac \ub9e4\ud551 (categoryName \ud0a4\uc6cc\ub4dc \ud3ec\ud568 \uae30\uc900):**\n- \"\uba39\ud280\uac80\uc99d\" \ub610\ub294 \"\uc548\uc804\" \ud3ec\ud568 \u2192 \uce74\ud14c\uace0\ub9ac 1\n- \"\uce74\uc9c0\ub178\" \ub610\ub294 \"\uac8c\uc784 \ud301\" \ud3ec\ud568 \u2192 \uce74\ud14c\uace0\ub9ac 2\n- \"\ucee4\ubba4\ub2c8\ud2f0\" \ub610\ub294 \"\ud3ec\uc778\ud2b8\" \ub610\ub294 \"\ud6c4\uae30\" \ud3ec\ud568 \u2192 \uce74\ud14c\uace0\ub9ac 3\n- \"\uc2a4\ud3ec\uce20\" \ub610\ub294 \"\ubd84\uc11d\" \ub610\ub294 \"\ubc30\ub2f9\" \ud3ec\ud568 \u2192 \uce74\ud14c\uace0\ub9ac 4\n\n**\u2605 \ud575\uc2ec: \uc544\ub798 \uc811\uadfc\ubc95 \ubb38\uc7a5\uc740 \"\ubc29\ud5a5\"\uc77c \ubfd0\uc774\ub2e4. \uc808\ub300 \uadf8\ub300\ub85c \uc4f0\uc9c0 \ub9d0\uace0 \ub9e4\ubc88 \uc644\uc804\ud788 \uc0c8\ub85c\uc6b4 \ud45c\ud604\uc73c\ub85c \ucc3d\uc791\ud560 \uac83.**\n\n### \uce74\ud14c\uace0\ub9ac 1: \uba39\ud280\uac80\uc99d/\uc548\uc804 \uc815\ubcf4\n**\uc7a5\uba742 \ube0c\ub9bf\uc9c0 \uc811\uadfc\ubc95 (\ub9e4\ubc88 \ub2e4\ub978 \uac83 \uc120\ud0dd):**\n- \ube44\uad50\ud615: \uc7a5\uba741 \ud638\uad6c\uc9d3\uacfc \uce74\uc9c0\ub178 \ud638\uad6c\uc9d3\uc758 \uacf5\ud1b5 \uc2ec\ub9ac\ub97c \uc9da\uae30\n- \uc5d0\uc2a4\uceec\ub808\uc774\uc158\ud615: \uc791\uc740 \ud638\uad6c\uc9d3\uc5d0\uc11c \ub354 \ud070 \ud638\uad6c\uc9d3(\uce74\uc9c0\ub178)\uc73c\ub85c \uc2a4\ucf00\uc77c\uc5c5\n- \uacbd\ud5d8\ub2f4\ud615: \ubcf8\uc778\uc774\ub098 \uc8fc\ubcc0 \uc0ac\ub78c\uc774 \uac80\uc99d \uc548 \ud574\uc11c \ub2f9\ud55c \uc774\uc57c\uae30\n- \ubc18\ubb38\ud615: \uc791\uc740 \ub3c8\uc5d0 \uc608\ubbfc\ud558\uba74\uc11c \ud070 \ub3c8\uc740 \uc65c \uc27d\uac8c \ub123\ub290\ub0d0\n**\uc7a5\uba743 Flex \uc811\uadfc\ubc95 (\ub9e4\ubc88 \ub2e4\ub978 \uac83 \uc120\ud0dd):**\n- \uac70\ub974\uae30 \uc790\ub791: \uba39\ud280\uac80\uc99d/\uba39\ud280\uc81c\ubcf4\ub85c \uc0ac\uae30 \uc0ac\uc774\ud2b8 \uac78\ub7ec\ub0b8 \uacbd\ud5d8\n- \uc548\uc804 \ub8e8\ud2f4 \uc790\ub791: \uc548\uc804\ub180\uc774\ud130/\uba54\uc774\uc800\uc0ac\uc774\ud2b8 \ub9ac\uc2a4\ud2b8\ub9cc \ubcf4\uace0 \uace0\ub974\ub294 \uc2b5\uad00\n- \uc81c\ubcf4 \ud65c\uc6a9 \uc790\ub791: \uba39\ud280\uc81c\ubcf4 \ubcf4\uace0 \uc704\ud5d8\ud55c \ub370 \ubbf8\ub9ac \ud53c\ud55c \uacbd\ud5d8\n- \uc218\uc775 \ubcf4\uc804 \uc790\ub791: \uac80\uc99d\ub41c \uacf3\ub9cc \uace8\ub77c\uc11c \ub3c8 \ub0a0\ub9b0 \uc801 \uc5c6\ub2e4\ub294 \uc790\ub791\n\n### \uce74\ud14c\uace0\ub9ac 2: \uce74\uc9c0\ub178/\uac8c\uc784 \ud301\n**\uc7a5\uba742 \ube0c\ub9bf\uc9c0 \uc811\uadfc\ubc95:**\n- \uc2e4\ub825\ud615: \uc5f0\uc2b5/\uae30\ubcf8 \uc5c6\uc774 \ud55c \uacb0\uacfc\ub97c \uc9da\uace0 \uce74\uc9c0\ub178\ub3c4 \uac19\ub2e4\uace0 \uc5f0\uacb0\n- \ud55c\uc2ec\ud615: \uc7a5\uba741 \ud638\uad6c\uc9d3 \ube44\uc6c3\uace0 \uce74\uc9c0\ub178\uc5d0\uc11c\ub3c4 \uadf8\ub7ec\uace0 \uc788\uaca0\uc9c0\ub77c\uace0 \ucd94\uce21\n- \uad50\ud6c8\ud615: \ub9e4\ubc88 \ub2f9\ud558\uba74\uc11c\ub3c4 \ub2e4\ub978 \ub370\uc11c\ub294 \uc798\ub420 \uac70\ub77c \uc0dd\uac01\ud558\ub294 \uc2ec\ub9ac \uc9da\uae30\n- \ube44\uc720\ud615: \uba74\ud5c8 \uc5c6\uc774 \uc6b4\uc804\ud558\ub294 \uac83\ucc98\ub7fc \uae30\ubcf8 \uc5c6\uc774 \uce74\uc9c0\ub178 \ud558\ub294 \ube44\uc720\n**\uc7a5\uba743 Flex \uc811\uadfc\ubc95:**\n- \uae30\ubcf8\uae30 \uc790\ub791: \ubc29\uc1a1\uc874\uc5d0\uc11c \uae30\ubcf8\uae30 \uba3c\uc800 \uc775\ud788\uace0 \uc2dc\uc791\ud55c \uacbd\ud5d8\n- \ubb34\ub8cc\uccb4\ud5d8 \uc790\ub791: \ubb34\ub8cc\uc2ac\ub86f \uccb4\ud5d8\uc73c\ub85c \uac10\uac01 \uc7a1\uc740 \uacbd\ud5d8\n- \uc804\ub7b5 \uc790\ub791: \uce74\uc9c0\ub178 \ub274\uc2a4 \ubcf4\uace0 \ud750\ub984 \ud30c\uc545\ud558\ub294 \ub8e8\ud2f4\n- \uc190\uc2e4\ubc29\uc9c0 \uc790\ub791: \uae30\ubcf8 \uc5c6\uc774 \ub6f0\uc5b4\ub4e4\uc5c8\uc73c\uba74 \ub0a0\ub838\uc744 \ub3c8\uc744 \uc9c0\ud0a8 \uacbd\ud5d8\n\n### \uce74\ud14c\uace0\ub9ac 3: \ucee4\ubba4\ub2c8\ud2f0 \ud65c\uc6a9\n**\uc7a5\uba742 \ube0c\ub9bf\uc9c0 \uc811\uadfc\ubc95:**\n- \uc815\ubcf4\uaca9\ucc28\ud615: \ub3c8 \uc8fc\uace0 \ud55c \uac78 \uacf5\uc9dc\ub85c \ud560 \uc218 \uc788\ub2e4\ub294 \uac78 \ubaa8\ub974\ub294 \uac83 \uc9da\uae30\n- \ud6a8\uc728\ud615: \ud63c\uc790 \uc0bd\uc9c8\ud558\ub294 \ud328\ud134\uc774 \uce74\uc9c0\ub178\uc5d0\uc11c\ub3c4 \ubc18\ubcf5\ub41c\ub2e4\ub294 \uc9c0\uc801\n- \ubc1c\uacac\ud615: \uc815\ubcf4\uac00 \ud544\uc694\ud55c \uac74 \uc5b4\ub514\ub4e0 \ub9c8\ucc2c\uac00\uc9c0\ub77c\ub294 \uc5f0\uacb0\n- \ube44\uad50\ud615: \uc8fc\ubcc0\uc5d0 \ubb3c\uc5b4\ubd24\uc73c\uba74 \uc548 \ub2f9\ud588\uc744 \uac83\ucc98\ub7fc \ucee4\ubba4\ub2c8\ud2f0 \ud65c\uc6a9 \uc5f0\uacb0\n**\uc7a5\uba743 Flex \uc811\uadfc\ubc95:**\n- \ud3ec\uc778\ud2b8 \uc790\ub791: \ud3ec\uc778\ud2b8\uc874\uc5d0\uc11c \uacf5\uc9dc \ud61c\ud0dd \ucc59\uae34 \uacbd\ud5d8\n- \uae30\ud504\ud2f0\ucf58 \uc790\ub791: \uae30\ud504\ud2f0\ucf58 \uad50\ud658\uc73c\ub85c \uc2e4\uc0dd\ud65c \ucfe0\ud3f0 \ubf51\uc740 \uacbd\ud5d8\n- \uc815\ubcf4 \uc790\ub791: \uc790\uc720\uac8c\uc2dc\ud310\uc5d0\uc11c \uafc0\ud301 \uc5bb\uc5b4\uc11c \ud65c\uc6a9\ud55c \uacbd\ud5d8\n- \uc0ac\uae30\uafbc \ud68c\ud53c \uc790\ub791: \ud328\ub110\ud2f0\uba85\ub2e8 \ubcf4\uace0 \uc591\uc544\uce58 \ud53c\ud55c \uacbd\ud5d8\n\n### \uce74\ud14c\uace0\ub9ac 4: \uc2a4\ud3ec\uce20/\ubd84\uc11d\n**\uc7a5\uba742 \ube0c\ub9bf\uc9c0 \uc811\uadfc\ubc95:**\n- \ub370\uc774\ud130\ud615: \uac10\uc73c\ub85c \ud55c \uacb0\uacfc\ub97c \uc9da\uace0 \uc2a4\ud3ec\uce20 \ubc30\ud305\ub3c4 \ub370\uc774\ud130 \uc5c6\uc73c\uba74 \uac19\uc740 \uaf34\n- \uc790\uc874\uc2ec\ud615: \uc790\uc2e0\uac10\ub9cc \uc55e\uc138\uc6b0\ub294 \ud328\ud134\uc774 \ubc30\ud305\uc5d0\uc11c\ub3c4 \ubc18\ubcf5\ub41c\ub2e4\ub294 \uc9c0\uc801\n- \ud604\uc2e4\uc9c1\uc2dc\ud615: \uacb0\uacfc\uac00 \uc99d\uba85\ud558\uc796\uc544, \ubd84\uc11d \uc5c6\ub294 \ubc30\ud305\ub3c4 \uac19\uc740 \uacb0\ub9d0\n- \ub0c9\uc18c\ud615: \uc77c\uad00\uc131 \uc788\uac8c \uac10\uc73c\ub85c\ub9cc \ud558\uace0 \uc77c\uad00\uc131 \uc788\uac8c \ub9dd\ud55c\ub2e4\ub294 \ube44\uaf3c\n**\uc7a5\uba743 Flex \uc811\uadfc\ubc95:**\n- \ubd84\uc11d \uc790\ub791: \uc2a4\ud3ec\uce20 \ubd84\uc11d \uac8c\uc2dc\ud310 \ubcf4\uace0 \uc801\uc911\ud55c \uacbd\ud5d8\n- \ub274\uc2a4 \uc790\ub791: \uc2a4\ud3ec\uce20 \ub274\uc2a4\uc5d0\uc11c \uc815\ubcf4 \ubcf4\uace0 \ud310\ub2e8\ud55c \uacbd\ud5d8\n- \ub370\uc774\ud130 \uc790\ub791: \ubd84\uc11d \ub370\uc774\ud130\ub85c \ubc30\ub2f9\ub960 \uc77d\uace0 \ud310\ub2e8\ud55c \uacbd\ud5d8\n- \ucee4\ubba4\ub2c8\ud2f0 \uc790\ub791: \uc790\uc720\uac8c\uc2dc\ud310\uc5d0\uc11c \ub2e4\ub978 \uc0ac\ub78c \ubd84\uc11d \ucc38\uace0\ud55c \uacbd\ud5d8\n\n## \uc774\ubc88 \ucf58\ud150\uce20 \uc8fc\uc81c\n**\uce74\ud14c\uace0\ub9ac: {{ $json.categoryName }}**\n**\uc774\ubc88 \uc8fc\uc81c: {{ $json.currentTopic }}**\n\ubc18\ub4dc\uc2dc \uc704 \uc8fc\uc81c\ub85c \ucf58\ud150\uce20\ub97c \ub9cc\ub4e4 \uac83. \ub2e4\ub978 \uc8fc\uc81c \uc120\ud0dd \uae08\uc9c0.\ncurrentTopic\uc774 \ube44\uc5b4 \uc788\uc73c\uba74 categoryName \ubc94\uc704 \ub0b4 \uc18c\uc7ac \ubaa9\ub85d\uc5d0\uc11c \ud558\ub098\ub97c \uc120\ud0dd.\n\n## \uc628\uce74\uc2a4\ud130\ub514 \uba54\ub274 \uad6c\uc870 (\uc7a5\uba743\uc5d0\uc11c \uad6c\uccb4\uc801 \uba54\ub274 \ud65c\uc6a9)\n- \uc628\uce74\uc2a4\ud130\ub514: \uacf5\uc9c0\uc0ac\ud56d, \uce74\uc9c0\ub178 \ub274\uc2a4, \uba39\ud280\uc81c\ubcf4, \uc2a4\ud3ec\uce20 \ub274\uc2a4, \uc2a4\ud3ec\uce20 \ubd84\uc11d\n- \uc81c\ud734\uc0ac\uc774\ud2b8: \uc81c\ud734\uc0ac\uc774\ud2b8, \ud6c4\uae30\uac8c\uc2dc\ud310\n- \ubc29\uc1a1\uc874: \ub3d9\ubb3c\uc6d0(\uc2ac\ub86f), \uac00\ub514\uc5b8(\uc2ac\ub86f), \uc778\uc0dd\uc5ed\uc804(\uce74\uc9c0\ub178), \ud558\uc774\ub77c\uc774\ud2b8, \ubc29\uc1a1 \uc774\ubca4\ud2b8\n- \ucee4\ubba4\ub2c8\ud2f0: \uc790\uc720\uac8c\uc2dc\ud310, \uac00\uc785\uc778\uc0ac, \ud328\ub110\ud2f0\uba85\ub2e8, \uc7ad\ud31f \uc81c\ubcf4\n- \ud3ec\uc778\ud2b8\uc874: \ubcf5\uad8c, \uc624\ubaa9\uac8c\uc784, \ub3cc\ub9bc\ud310, \ud3ec\uc778\ud2b8\uad50\ud658, \uae30\ud504\ud2f0\ucf58 \uad50\ud658, \ubb34\ub8cc\uc2ac\ub86f \uccb4\ud5d8\n- \uc2a4\ud130\ub514\ud310: \uba39\ud280\uac80\uc99d, \ud1a0\ud1a0\uc0ac\uc774\ud2b8, \uba54\uc774\uc800\uc0ac\uc774\ud2b8, \uce74\uc9c0\ub178\uc0ac\uc774\ud2b8, \uba39\ud280\uc0ac\uc774\ud2b8\n\n'\uc628\uce74\uc2a4\ud130\ub514 \uac00\ubd10' \uac19\uc740 \ubb49\ub6b1\uadf8\ub9b0 \ud45c\ud604 \uae08\uc9c0. \uad6c\uccb4\uc801 \uba54\ub274\uba85 \ud544\uc218.\n\n## \ubcc0\uc8fc \ud3ec\uc778\ud2b8 (\ub9e4\ubc88 \ubcc0\ud654 \ud544\uc218)\n\n| \uc694\uc18c | \uc124\uba85 |\n|------|------|\n| \ud638\uad6c\uc370 \uc18c\uc7ac | 5\uac00\uc9c0 \uc911 \ub9e4\ubc88 \ub2e4\ub978 \uac83 |\n| \ud638\uad6c \ub2f9\ud55c \uac15\ub3c4 | \uac00\ubcbc\uc6b4 \uc9dc\uc99d ~ \ubd84\ub178 \ud3ed\ubc1c |\n| 4\ud134 \ube0c\ub9bf\uc9c0 \ubc29\uc2dd | \uce74\ud14c\uace0\ub9ac\ubcc4 \uc811\uadfc\ubc95 \uc911 \ub9e4\ubc88 \ub2e4\ub978 \uac83 |\n| A\uc758 \ud329\ud3ed \uac15\ub3c4 | \uac00\ubccd\uac8c \ub180\ub9ac\uae30 ~ \uc9c4\uc2ec \ud55c\uc2ec |\n| \uc7a5\uc18c/\ubc30\uacbd | \ub9e4\ubc88 \uc644\uc804\ud788 \uc0c8\ub85c\uc6b4 \uc7a5\uc18c |\n| B\uc758 \uac10\uc815\uc120 | \uc5b5\uc6b8\u2192\ubd84\ub178 / \uc5b5\uc6b8\u2192\uccb4\ub150 / \uc5b5\uc6b8\u2192\ubc18\uc131 \ub4f1 |\n| 5\ud134 Flex \ubc29\uc2dd | \uce74\ud14c\uace0\ub9ac\ubcc4 \uc811\uadfc\ubc95 \uc911 \ub9e4\ubc88 \ub2e4\ub978 \uac83 |\n| 6\ud134 \ub9c8\ubb34\ub9ac \uac10\uc815 | \ub2e4\uc9d0 / \uac10\ud0c4 / \ud55c\uc228 / \ubc18\uc131 / \uc720\uba38 \ub4f1 |\n\n## \uc601\uc0c1 \uc2a4\ud0c0\uc77c\n- \ucd1d 24\ucd08, 16:9 \uac00\ub85c \uc601\uc0c1\n- \uc0c1\ub2e8: \uace0\uc815 \ud6c5 \uc81c\ubaa9 (\ud575\uc2ec \ud0a4\uc6cc\ub4dc 1~2\uac1c\ub294 <y>\ud0dc\uadf8</y>\ub85c \uac10\uc2f8\uae30)\n- \uc911\uac04: AI \uc0dd\uc131 \uce90\ub9ad\ud130 \uc601\uc0c1\n- \ud558\ub2e8: \ub300\ud654\uccb4 \uc790\ub9c9\n- \uc624\ub514\uc624: \uc601\uc0c1 \ub0b4 AI \uc74c\uc131\n\n## \uce90\ub9ad\ud130 \ud504\ub85c\ud544 (\u2605 \ubaa8\ub4e0 image_prompt\uc5d0 \uadf8\ub300\ub85c \ud3ec\ud568)\n\n**A (Jay):**\n\"young Black man, 28 years old, athletic build, warm brown eyes, clear dark skin, short fade haircut with neat line up, well-groomed short beard, natural charismatic smile, confident relaxed expression, wearing black premium hoodie, gold chain necklace\"\n\n**B (Mike):**\n\"young Black man, 25 years old, lean build, bright curious eyes, dark skin, medium length twists hairstyle, clean shaven, big genuine smile showing teeth, expressive animated face, wearing white oversized graphic t-shirt with silver watch\"\n\n**AB \ud568\uaed8:**\n\"young Black man in black hoodie with gold chain together with young Black man in white graphic t-shirt with silver watch, two friends\"\n\n## \uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b8 \uaddc\uce59\n1. \uc601\uc5b4\ub85c \uc791\uc131\n2. AB\ud568\uaed8 \ubb38\uad6c\ub85c \uc2dc\uc791 \u2192 \uc7a5\uc18c \ubb18\uc0ac \u2192 A \ud504\ub85c\ud544 \uc804\ubb38 + \ud45c\uc815/\uc81c\uc2a4\ucc98 \u2192 B \ud504\ub85c\ud544 \uc804\ubb38 + \ud45c\uc815/\uc81c\uc2a4\ucc98\n3. \ud55c \uc601\uc0c1\uc758 \ubaa8\ub4e0 \uc7a5\uba74\uc740 \ub3d9\uc77c \ubc30\uacbd, \ub2e4\ub978 \ud3ec\uc988/\ud45c\uc815/\uce74\uba54\ub77c\uc575\uae00\n4. **\uc7a5\uba74 2, 3\uc758 image_prompt\uc5d0\ub3c4 \uce90\ub9ad\ud130 \ud504\ub85c\ud544 \uc804\ubb38\uc744 \ucd95\uc57d \uc5c6\uc774 \ub2e4\uc2dc \ud3ec\ud568\ud560 \uac83. \"Same as scene 1\" \ub4f1 \uc0dd\ub7b5 \ud45c\ud604 \uc808\ub300 \uae08\uc9c0**\n5. \ub9d0\ud558\ub294 \uc0ac\ub78c\uc740 talking/gesturing, \ub4e3\ub294 \uc0ac\ub78c\uc740 listening/reacting\n6. \"two friends, two-shot\" \ud3ec\ud568\n7. \ub9c8\uc9c0\ub9c9: \"RAW photograph, DSLR photo, 35mm film, real human skin texture, photojournalistic, cinematic lighting, 16:9 landscape, upper body shot, shallow depth of field, 4K, (\uce74\uba54\ub77c \uc575\uae00), natural camera movement, NOT anime, NOT cartoon, NOT illustration, NOT 3D render, NOT CGI\"\n\n**\ubc30\uacbd/\uc7a5\uc18c:** \ub9e4 \uc5d0\ud53c\uc18c\ub4dc\ub9c8\ub2e4 \uc644\uc804\ud788 \uc0c8\ub85c\uc6b4 \uc7a5\uc18c \ucc3d\uc791.\n\n## \uc74c\uc131 \ucd9c\ub825 \uaddc\uce59 (Veo3\uc6a9)\n\n**\uc808\ub300 \uae08\uc9c0:** \ub2e8\ub3c5 \uc790\uc74c/\ubaa8\uc74c \uc804\ubd80 (\u314b\u314b, \u314e\u314e, \u3160\u3160 \ub4f1), \ud55c \uae00\uc790\uc9dc\ub9ac \uac10\ud0c4\n**\ub300\uccb4:** \uc6c3\uc74c\u2192\ube44\uaf2c\ub294 \ud1a4 / \uc2ac\ud514\u2192\"\uc544...\", \"\ud558...\" / \ud600\ucc28\uae30\u2192\"\uc774\ub7f0\", \"\ucc38\ub098\" / \ub180\ub78c\u2192\"\ud5d0\"\n**\uc22b\uc790:** \uc544\ub77c\ube44\uc544 \uc22b\uc790 \uae08\uc9c0. \ud55c\uae00\ub85c \ud480\uc5b4\uc4f8 \uac83.\n\n## \u2605\u2605\u2605 dialogue \ud544\ub4dc \ud654\uc790 \uad6c\ubd84 \uaddc\uce59 (Veo3 \uc74c\uc131 \ubc30\ubd84\uc6a9) \u2605\u2605\u2605\n**dialogue \ud544\ub4dc\uc5d0 \ubc18\ub4dc\uc2dc \ud654\uc790 \uc774\ub984\uc744 \ubd99\uc5ec\uc11c Veo3\uac00 \ub204\uac00 \ub9d0\ud558\ub294\uc9c0 \uad6c\ubd84\ud560 \uc218 \uc788\uac8c \ud560 \uac83.**\n- \ud615\uc2dd: \"\ud654\uc790\uc774\ub984: \ub300\uc0ac \ud654\uc790\uc774\ub984: \ub300\uc0ac\"\n- \ud654\uc790 \ud45c\uae30: **Jay** / **Mike**\n\n## \ucd9c\ub825 \ud615\uc2dd (\uc808\ub300 \uaddc\uce59)\n- \uc624\uc9c1 \uc21c\uc218 JSON\ub9cc \ucd9c\ub825. \ub9c8\ud06c\ub2e4\uc6b4 \ucf54\ub4dc\ube14\ub85d/\uc778\uc0ac\ub9d0/\uc124\uba85 \ud14d\uc2a4\ud2b8 \uc808\ub300 \uae08\uc9c0\n\n{\n  \"hook_title\": \"(\ud6c5 \uc81c\ubaa9 - \ud575\uc2ec \ud0a4\uc6cc\ub4dc 1~2\uac1c <y>\ud0dc\uadf8</y>\ub85c \uac10\uc2f8\uae30)\",\n  \"scenes\": [\n    {\n      \"dialogue_turns\": [\n        {\"speaker\": \"B\", \"line\": \"(1\ud134: \uad6c\uccb4\uc801 \uc0c1\ud669/\uae08\uc561/\ub514\ud14c\uc77c \ud3ec\ud568 20~45\uc790)\"},\n        {\"speaker\": \"A\", \"line\": \"(2\ud134: B\uc758 \ud5c8\uc810\uc744 \uc815\ud655\ud788 \uc9da\ub294 \ud329\ud3ed 20~45\uc790)\"}\n      ],\n      \"dialogue\": \"Mike: (1\ud134 \ub300\uc0ac) Jay: (2\ud134 \ub300\uc0ac)\",\n      \"image_prompt\": \"(AB\ud568\uaed8 \ubb38\uad6c + \uc7a5\uc18c + A \ud504\ub85c\ud544 \uc804\ubb38 + \ud45c\uc815 + B \ud504\ub85c\ud544 \uc804\ubb38 + \ud45c\uc815 + two-shot + \ucd2c\uc601 \uc2a4\ud399)\",\n      \"speaker\": \"B\"\n    },\n    {\n      \"dialogue_turns\": [\n        {\"speaker\": \"B\", \"line\": \"(3\ud134: \uc790\uae30 \ub17c\ub9ac\ub85c \ubcc0\uba85 20~45\uc790)\"},\n        {\"speaker\": \"A\", \"line\": \"(4\ud134: 2\ubb38\uc7a5 \ube0c\ub9bf\uc9c0 \ud329\ud3ed 40~70\uc790 - \uccab\ubb38\uc7a5=\uc7a5\uba741 \ube44\uc6c3\uae30, \ub450\ubc88\uc9f8=\uce74\uc9c0\ub178 \uc5f0\uacb0)\"}\n      ],\n      \"dialogue\": \"Mike: (3\ud134 \ub300\uc0ac) Jay: (4\ud134 \ub300\uc0ac)\",\n      \"image_prompt\": \"(\uac19\uc740 \uc7a5\uc18c, \ub2e4\ub978 \ud3ec\uc988/\ud45c\uc815/\uc575\uae00, \ud504\ub85c\ud544 \uc804\ubb38 \ud3ec\ud568 - \ucd95\uc57d \uae08\uc9c0)\",\n      \"speaker\": \"A\"\n    },\n    {\n      \"dialogue_turns\": [\n        {\"speaker\": \"A\", \"line\": \"(5\ud134: \uc628\uce74\uc2a4\ud130\ub514 \uad6c\uccb4\uc801 \uba54\ub274 + \ud55c \ubb38\uc7a5 \uc790\ub791 35\uc790 \uc774\ud558)\"},\n        {\"speaker\": \"B\", \"line\": \"(6\ud134: \ub9c8\ubb34\ub9ac \ub9ac\uc561\uc158 20~45\uc790)\"}\n      ],\n      \"dialogue\": \"Jay: (5\ud134 \ub300\uc0ac) Mike: (6\ud134 \ub300\uc0ac)\",\n      \"image_prompt\": \"(\uac19\uc740 \uc7a5\uc18c, \ub2e4\ub978 \ud3ec\uc988/\ud45c\uc815/\uc575\uae00, \ud504\ub85c\ud544 \uc804\ubb38 \ud3ec\ud568 - \ucd95\uc57d \uae08\uc9c0)\",\n      \"speaker\": \"B\"\n    }\n  ],\n  \"Subject\": \"(hook_title\uc5d0\uc11c <y>\ud0dc\uadf8 \ube80 \uc81c\ubaa9) #\uc628\uce74\uc2a4\ud130\ub514 + \uce74\ud14c\uace0\ub9ac\ubcc4 \ud0dc\uadf8(1: #\uba39\ud280\uac80\uc99d #\uc548\uc804\ub180\uc774\ud130 / 2: #\uce74\uc9c0\ub178\ud301 #\uc2ac\ub86f / 3: #\ucee4\ubba4\ub2c8\ud2f0\uafc0\ud301 #\ud3ec\uc778\ud2b8 / 4: #\uc2a4\ud3ec\uce20\ubd84\uc11d #\ubc30\ud305)\",\n  \"Caption\": \"(\uc2a4\ud3ec\uc77c\ub7ec \uc5c6\uc774 \ud638\uae30\uc2ec \uc720\ubc1c 1~2\ubb38\uc7a5) #\uc628\uce74\uc2a4\ud130\ub514 + \uce74\ud14c\uace0\ub9ac\ubcc4 \ud0dc\uadf8\",\n  \"Comment\": \"(\uc2dc\uccad\uc790 \uacf5\uac10 \uccab \ub313\uae00)\",\n  \"BGM_prompt\": \"chill lo-fi hip hop beat\"\n}\n\n## \ucd9c\ub825 \uc9c1\uc804 \uac80\uc99d\n1. 6\ud134 \uc21c\uc11c: \uc7a5\uba741(B\u2192A) / \uc7a5\uba742(B\u2192A) / \uc7a5\uba743(A\u2192B) \ub9de\ub294\uac00?\n2. \uac01 \uc7a5\uba74\uc774 \uc815\ud655\ud788 2\ud134\uc529\uc778\uac00?\n3. 4\ud134\uc774 2\ubb38\uc7a5 \ube0c\ub9bf\uc9c0 \uad6c\uc870\uc778\uac00? (\uccab\ubb38\uc7a5=\uc7a5\uba741 \uc9da\uae30, \ub450\ubc88\uc9f8=\uce74\uc9c0\ub178 \uc5f0\uacb0)\n4. \uc7a5\uba741\uc5d0 \uae08\uc9c0\uc5b4 18\uac1c \uc5c6\ub294\uac00?\n5. 4\ud134\uc5d0 \"\uce74\uc9c0\ub178\"/\"\uc0ac\uc774\ud2b8\" \uc9c1\uc811 \ub2e8\uc5b4 \uc788\ub294\uac00?\n6. \"\uc628\uce74\uc2a4\ud130\ub514\" 5\ud134\uc5d0\uc11c\ub9cc 1\ud68c \ub4f1\uc7a5\ud558\ub294\uac00?\n7. \ube14\ub799\ub9ac\uc2a4\ud2b8 \ud328\ud134 \uc0ac\uc6a9\ud558\uc9c0 \uc54a\uc558\ub294\uac00?\n8. \ub2e8\ub3c5 \uc790\uc74c/\ubaa8\uc74c \uc5c6\ub294\uac00? \uc544\ub77c\ube44\uc544 \uc22b\uc790 \uc5c6\ub294\uac00?\n9. image_prompt\uc5d0 \ud504\ub85c\ud544 \uc804\ubb38\uc774 \ucd95\uc57d \uc5c6\uc774 \ud3ec\ud568\ub418\uc5c8\ub294\uac00?\n10. **dialogue\uc5d0 \"Mike:\" / \"Jay:\" \ud654\uc790 \ud0dc\uadf8\uac00 \ubd99\uc5b4\uc788\ub294\uac00?**\n11. **\uc774\uc804 \uc5d0\ud53c\uc18c\ub4dc\uc640 4\ud134 \ube0c\ub9bf\uc9c0 \ubc29\uc2dd, 5\ud134 Flex \ubc29\uc2dd\uc774 \ub2e4\ub978\uac00?**\n\n**\uc704\ubc18 \ubc1c\uacac \uc2dc: \uc704\ubc18\ub41c \ud134\ub9cc \uad50\uccb4. JSON \uad6c\uc870 \uc720\uc9c0.**\n"
                        }
                    ]
                },
                "jsonOutput": true,
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                -2304,
                3584
            ],
            "id": "60de0ff2-3699-4a28-afca-7a47aec88ba3",
            "name": "AI \ucf58\ud150\uce20 \uc0dd\uc1311",
            "credentials": {
                "googlePalmApi": {
                    "id": "IKP349r08J9Hoz5E",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json;\nlet text = '';\nif (raw.content && raw.content.parts) {\n  text = raw.content.parts[0].text;\n} else if (typeof raw === 'string') {\n  text = raw;\n} else if (raw.text) {\n  text = raw.text;\n} else {\n  text = JSON.stringify(raw);\n}\n\nconst cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nif (!data.scenes || data.scenes.length < 3) {\n  throw new Error('scenes must have at least 3 items, got: ' + (data.scenes?.length || 0));\n}\n\n// dialogue_turns \uac80\uc99d\nfor (let i = 0; i < data.scenes.length; i++) {\n  const scene = data.scenes[i];\n  if (!scene.dialogue_turns || scene.dialogue_turns.length < 2) {\n    if (scene.dialogue && scene.speaker) {\n      scene.dialogue_turns = [{speaker: scene.speaker, line: scene.dialogue}];\n    } else {\n      throw new Error('scene ' + (i+1) + ' missing dialogue_turns');\n    }\n  }\n  if (!scene.dialogue) {\n    scene.dialogue = scene.dialogue_turns.map(t => t.line).join(' ');\n  }\n  if (!scene.speaker) {\n    scene.speaker = scene.dialogue_turns[0].speaker;\n  }\n}\n\nreturn [{\n  json: {\n    hook_title: data.hook_title,\n    scenes: data.scenes,\n    Subject: data.Subject,\n    Caption: data.Caption,\n    Comment: data.Comment,\n    BGM_prompt: data.BGM_prompt,\n    fullDialogue: data.scenes.map(s => s.dialogue).join(' '),\n    segmentCount: data.scenes.length,\n    Status: '\uc900\ube44',\n    generatedAt: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1952,
                3584
            ],
            "id": "46ce7267-0ec1-4be0-a35d-a59ead95e24e",
            "name": "\ucf58\ud150\uce20 \ud30c\uc2f11"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
                    "mode": "list",
                    "cachedResultName": "\uc628\uce74\uc2a4\ud130\ub514",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "\uc2a4\ud1a0\ub9ac\ud615 \uc20f\uce20"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Subject": "={{ $json.Subject }}",
                        "Hook": "={{ $json.hook_title }}",
                        "Narration": "={{ $json.fullDialogue }}",
                        "Caption": "={{ $json.Caption }}",
                        "\ub313\uae00": "={{ $json.Comment }}",
                        "BGM prompt": "={{ $json.BGM_prompt }}",
                        "Status": "\uc900\ube44"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Subject",
                            "displayName": "Subject",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Hook",
                            "displayName": "Hook",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Narration",
                            "displayName": "Narration",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Caption",
                            "displayName": "Caption",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "\ub313\uae00",
                            "displayName": "\ub313\uae00",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "BGM prompt",
                            "displayName": "BGM prompt",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                -1760,
                3584
            ],
            "id": "2c95355e-3377-4894-b194-c632e6ea3579",
            "name": "\uc2dc\ud2b8 \uae30\ub85d1",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "CWBUyXUqCU9p5VAg",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $('\ucf58\ud150\uce20 \ud30c\uc2f11').first().json;\nconst scenes = data.scenes || [];\n\n// \uace0\uc815 \ucc38\uc870 \uc774\ubbf8\uc9c0 URL\nconst refResults = $('\ucc38\uc870 \uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b81').all();\nconst refA_url = refResults[0]?.json?.refUrl || '';\nconst refB_url = refResults[1]?.json?.refUrl || '';\n\nif (!refA_url || !refB_url) {\n  throw new Error('\ucc38\uc870 \uc774\ubbf8\uc9c0 URL \uc5c6\uc74c! refA=' + !!refA_url + ', refB=' + !!refB_url);\n}\n\n// Veo3 \ud551\ud401 \ub300\ud654 \ud504\ub86c\ud504\ud2b8 \uc0dd\uc131\nfunction buildVeo3Dialogue(turns) {\n  const speakerDesc = {\n    'A': 'The man in the black hoodie with gold chain (short fade haircut)',\n    'B': 'The man in the white t-shirt with silver watch (twists hairstyle)'\n  };\n\n  return turns.map((turn, i) => {\n    const desc = speakerDesc[turn.speaker] || speakerDesc['A'];\n    const line = turn.line.replace(/'/g, \"\");\n    if (i === 0) return desc + \" says '\" + line + \"'\";\n    return \"then \" + desc + \" responds '\" + line + \"'\";\n  }).join(', ');\n}\n\nreturn scenes.map((scene, i) => {\n  const speaker = scene.speaker || scene.dialogue_turns?.[0]?.speaker || 'A';\n\n  const cleanImagePrompt = scene.image_prompt.replace(/\"/g, \"'\");\n\n  // dialogue_turns \ud551\ud401 \ud504\ub86c\ud504\ud2b8\n  let dialoguePart;\n  if (scene.dialogue_turns && scene.dialogue_turns.length > 1) {\n    dialoguePart = buildVeo3Dialogue(scene.dialogue_turns);\n  } else {\n    const cleanDialogue = scene.dialogue.replace(/\"/g, \"'\");\n    dialoguePart = 'The person is naturally speaking in Korean, saying: ' + cleanDialogue;\n  }\n\n  const veo3_prompt = cleanImagePrompt +\n    '. ' + dialoguePart +\n    '. Natural back-and-forth conversation with realistic timing. Natural lip synchronization for both speakers, subtle body gestures while talking, cinematic camera movement. No text overlay, no subtitles, no captions on screen.';\n\n  return {\n    json: {\n      index: i,\n      dialogue: scene.dialogue,\n      dialogue_turns: scene.dialogue_turns || [{speaker: speaker, line: scene.dialogue}],\n      image_prompt: scene.image_prompt,\n      veo3_prompt: veo3_prompt,\n      speaker: speaker,\n      refUrl_A: refA_url,\n      refUrl_B: refB_url,\n    }\n  };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -784,
                3584
            ],
            "id": "3ece4708-c006-499c-bd34-8be349f80ab8",
            "name": "\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/jobs/createTask",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.image_prompt }}\",\n    \"image_input\": [\"{{ $json.refUrl_A }}\", \"{{ $json.refUrl_B }}\"],\n    \"aspect_ratio\": \"16:9\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -336,
                3584
            ],
            "id": "c1a6fa7d-7d06-472a-8537-6c2733fe917d",
            "name": "\uc774\ubbf8\uc9c0 \uc0dd\uc1311",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            }
        },
        {
            "parameters": {
                "amount": 180
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -112,
                3584
            ],
            "id": "4f8f10aa-d696-4765-a952-93444f78ab6a",
            "name": "\uc774\ubbf8\uc9c0 \ub300\uae301",
            "webhookId": "img-wait-webhook"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $('\uc774\ubbf8\uc9c0 \uc0dd\uc1311').item.json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                112,
                3584
            ],
            "id": "97a0bcc9-e326-4ebf-a419-9315816a64ab",
            "name": "\uc774\ubbf8\uc9c0 \uacb0\uacfc1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// NCA \uc2a4\ud1a0\ub9ac\ud615 \uc20f\uce20 - \uc2e4\ud328\ud55c \uc601\uc0c1 \uc2a4\ud0b5\nconst hookTitle = $('\ucf58\ud150\uce20 \ud30c\uc2f11').first().json.hook_title;\nconst segmentCount = $('\ucf58\ud150\uce20 \ud30c\uc2f11').first().json.segmentCount;\n\nlet segments = [];\nlet currentStart = 0;\nconst CLIP_DURATION = 8;\n\nfunction getVideoUrl(nodeName) {\n  try {\n    const data = $(nodeName).first().json;\n    return data?.data?.response?.resultUrls?.[0] || '';\n  } catch(e) { return ''; }\n}\n\nlet skippedVideos = [];\nfor (let i = 0; i < segmentCount; i++) {\n  const videoUrl = getVideoUrl('\uc601\uc0c1' + (i + 1) + ' \uacb0\uacfc');\n  const segData = $('\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1').all()[i]?.json;\n  const dialogueText = segData?.dialogue\n    || (segData?.dialogue_turns || []).map(t => t.line).join(' ') || '';\n\n  if (!videoUrl) {\n    console.log('\uc601\uc0c1' + (i+1) + ' URL \uc5c6\uc74c \u2192 \uc2a4\ud0b5');\n    skippedVideos.push(i + 1);\n    continue;\n  }\n\n  segments.push({\n    index: i + 1, videoUrl, duration: CLIP_DURATION,\n    start: currentStart, dialogueText,\n  });\n  currentStart += CLIP_DURATION;\n}\n\nif (segments.length === 0) {\n  throw new Error('\ubaa8\ub4e0 \uc601\uc0c1 \uc0dd\uc131 \uc2e4\ud328 - \ud569\uc131 \ubd88\uac00');\n}\n\nconst totalDuration = currentStart;\n\nfunction toSrtTime(sec) {\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = Math.floor(sec % 60);\n  const ms = Math.round((sec - Math.floor(sec)) * 1000);\n  return String(h).padStart(2, '0') + ':' +\n         String(m).padStart(2, '0') + ':' +\n         String(s).padStart(2, '0') + ',' +\n         String(ms).padStart(3, '0');\n}\n\nlet srtLines = [];\nfor (let i = 0; i < segments.length; i++) {\n  const seg = segments[i];\n  srtLines.push((i + 1) + '\\n' + toSrtTime(seg.start) + ' --> ' +\n    toSrtTime(seg.start + seg.duration) + '\\n' + seg.dialogueText + '\\n');\n}\nconst srtContent = srtLines.join('\\n');\n\nlet inputs = [];\nlet inputIndex = 0;\nconst videoInputs = [];\n\nfor (const seg of segments) {\n  inputs.push({ file_url: seg.videoUrl, options: [] });\n  videoInputs.push(inputIndex);\n  inputIndex++;\n}\n\nlet filterParts = [];\nfor (let i = 0; i < segments.length; i++) {\n  const vIdx = videoInputs[i];\n  filterParts.push(\n    '[' + vIdx + ':v]trim=duration=' + segments[i].duration +\n    ',setpts=PTS-STARTPTS,scale=1920:1080:force_original_aspect_ratio=decrease' +\n    ',pad=1920:1080:(ow-iw)/2:(oh-ih)/2:black,fps=30[v' + i + ']'\n  );\n  filterParts.push(\n    '[' + vIdx + ':a]atrim=duration=' + segments[i].duration +\n    ',asetpts=PTS-STARTPTS[a' + i + ']'\n  );\n}\n\nfilterParts.push(segments.map((_, i) => '[v' + i + ']').join('') +\n  'concat=n=' + segments.length + ':v=1:a=0[vfinal]');\nfilterParts.push(segments.map((_, i) => '[a' + i + ']').join('') +\n  'concat=n=' + segments.length + ':v=0:a=1[afinal]');\n\nconst nca_payload = {\n  inputs, filters: [{ filter: filterParts.join(';') }],\n  outputs: [{\n    options: [\n      { option: '-map', argument: '[vfinal]' },\n      { option: '-map', argument: '[afinal]' },\n      { option: '-c:v', argument: 'libx264' },\n      { option: '-preset', argument: 'medium' },\n      { option: '-crf', argument: '18' },\n      { option: '-c:a', argument: 'aac' },\n      { option: '-b:a', argument: '256k' },\n      { option: '-pix_fmt', argument: 'yuv420p' },\n      { option: '-movflags', argument: '+faststart' },\n      { option: '-t', argument: String(totalDuration) }\n    ],\n    file_name: 'story_shorts_final.mp4'\n  }]\n};\n\n\n// \u2605 \ucd94\uac00: \uc790\ub9c9\uc6a9 \ud134\ubcc4 \ub300\uc0ac \ub370\uc774\ud130 \uc218\uc9d1\nconst dialogueData = [];\nfor (const seg of segments) {\n  const segData = $('\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1').all()[seg.index - 1]?.json;\n  const turns = segData?.dialogue_turns || [];\n  dialogueData.push({\n    start: seg.start,\n    duration: seg.duration,\n    turns: turns.map(t => ({ speaker: t.speaker, line: t.line }))\n  });\n}\n\nreturn [{\n  json: {\n    nca_payload, totalDuration, srtContent,\n    segmentCount: segments.length, hookTitle,\n    skippedVideos,\n    dialogueData,\n    subject: $('\ucf58\ud150\uce20 \ud30c\uc2f11').first().json.Subject,\n    caption: $('\ucf58\ud150\uce20 \ud30c\uc2f11').first().json.Caption,\n    comment: $('\ucf58\ud150\uce20 \ud30c\uc2f11').first().json.Comment,\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                96,
                4432
            ],
            "id": "32b006fd-1dcf-4cb3-ac7d-728d29bbdf8a",
            "name": "NCA \ub370\uc774\ud130 \uc900\ube441"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://76.13.182.180:8080/v1/ffmpeg/compose",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "nca-sagong-2026"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.nca_payload) }}",
                "options": {
                    "timeout": 600000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                320,
                4432
            ],
            "id": "a5221439-86b2-4594-b179-155da020b8ed",
            "name": "NCA \uc601\uc0c1 \uc81c\uc7911"
        },
        {
            "parameters": {
                "amount": 120
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                560,
                4432
            ],
            "id": "c503cf2e-ee89-41c8-82dd-adf43adc0633",
            "name": "NCA \uc81c\uc791 \ub300\uae301",
            "webhookId": "a7abe995-b5e1-4c40-af9a-62859e00a1b5"
        },
        {
            "parameters": {
                "jsCode": "// NCA \uacb0\uacfc \ucc98\ub9ac\nconst result = $input.first().json;\nconst prevData = $('NCA \ub370\uc774\ud130 \uc900\ube441').first().json;\n\nlet videoUrl = '';\nif (Array.isArray(result.response)) {\n  videoUrl = result.response[0]?.file_url || '';\n} else if (typeof result.response === 'string') {\n  videoUrl = result.response;\n} else {\n  videoUrl = result.output_url || result.url || result.video_url || result.file_url || '';\n}\n\nif (!videoUrl) {\n  throw new Error('NCA \uc601\uc0c1 \uc81c\uc791 \uacb0\uacfc URL \uc5c6\uc74c: ' + JSON.stringify(result).substring(0, 500));\n}\n\nreturn [{\n  json: {\n    final_video_url: videoUrl,\n    url: videoUrl,\n    hookTitle: prevData.hookTitle || '',\n    dialogueData: prevData.dialogueData || [],\n    totalDuration: prevData.totalDuration || 24,\n    srtContent: prevData.srtContent,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                784,
                4432
            ],
            "id": "13269b1b-5fb5-4487-b868-f2c61a302420",
            "name": "NCA \uacb0\uacfc \ucc98\ub9ac1"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg",
                    "mode": "list",
                    "cachedResultName": "\uc628\uce74\uc2a4\ud130\ub514",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gkRjLIcK3HxbnTbLCvG6oknMGVt2uz9pgboM3EF_VKg/edit"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "\uc2a4\ud1a0\ub9ac\ud615 \uc20f\uce20"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "\uc0dd\uc131 \uc644\ub8cc",
                        "\uc601\uc0c1 URL": "={{ $json.final_video_url || $json.url }}",
                        "\uc601\uc0c1URL": "={{ $json.final_video_url }}",
                        "SRT": "={{ $json.srtContent }}",
                        "Subject": "={{ $json.subject }}",
                        "row_number": 0
                    },
                    "matchingColumns": [
                        "Subject"
                    ],
                    "schema": [
                        {
                            "id": "Subject",
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "\uc601\uc0c1 URL",
                            "displayName": "\uc601\uc0c1 URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": false,
                            "readOnly": true
                        },
                        {
                            "id": "\uc601\uc0c1URL",
                            "displayName": "\uc601\uc0c1URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "SRT",
                            "displayName": "SRT",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                1664,
                4432
            ],
            "id": "9c8c5143-7fa5-4436-94c4-92bfc18fc670",
            "name": "\uc0c1\ud0dc \uc5c5\ub370\uc774\ud2b81",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "CWBUyXUqCU9p5VAg",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// \uace0\uc815 \ucc38\uc870 \uc774\ubbf8\uc9c0 URL\nconst refA_url = \"https://raw.githubusercontent.com/hatihoro15-netizen/n8n-project/feature/jay-mike-character/Jay.png\";\nconst refB_url = \"https://raw.githubusercontent.com/hatihoro15-netizen/n8n-project/feature/jay-mike-character/Mike.png\";\nreturn [\n  { json: { refUrl: refA_url, speaker: \"A\" } },\n  { json: { refUrl: refB_url, speaker: \"B\" } }\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1008,
                3584
            ],
            "id": "5a1916b9-09d7-4f1b-a2f0-8d3972c6d4a7",
            "name": "\ucc38\uc870 \uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b81"
        },
        {
            "parameters": {
                "jsCode": "// \uc774\ubbf8\uc9c0 URL \ucd94\ucd9c (\ud06c\ub808\ub374\uc15c \uae30\ubc18 \ud3f4\ub9c1)\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.retryCount) staticData.retryCount = 0;\nstaticData.retryCount++;\n\nconst data = $input.first().json;\nlet imageUrl = '';\n\n// \uacb0\uacfc\uc5d0\uc11c URL \ucd94\ucd9c\nif (data?.data?.state === 'success' && data?.data?.resultJson) {\n  try {\n    const parsed = JSON.parse(data.data.resultJson);\n    imageUrl = (parsed.resultUrls || parsed.originUrls || [])[0] || '';\n  } catch(e) {}\n}\n\n// \uc2e4\ud328 \ud655\uc778\nif (data?.data?.state === 'failed') {\n  staticData.retryCount = 0;\n  throw new Error('\uc774\ubbf8\uc9c0 \uc0dd\uc131 \uc2e4\ud328: ' + (data?.data?.taskId || ''));\n}\n\nif (imageUrl) {\n  staticData.retryCount = 0;\n  return [{ json: { ...data, images: [{ url: imageUrl }], imageComplete: true } }];\n}\n\n// \ud0c0\uc784\uc544\uc6c3 (30\ud68c \u00d7 30\ucd08 = 15\ubd84)\nif (staticData.retryCount > 30) {\n  staticData.retryCount = 0;\n  throw new Error('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c \uc2e4\ud328 (15\ubd84 \ud0c0\uc784\uc544\uc6c3)');\n}\n\n// \ubbf8\uc644\ub8cc\nreturn [{ json: { ...data, imageComplete: false } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                3584
            ],
            "id": "d2e66713-548d-4250-8898-bc19e6d6f155",
            "name": "\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1"
        },
        {
            "parameters": {
                "jsCode": "// \uc7a5\uba74 1\uc758 \uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b8\ub9cc \uc120\ud0dd (1\uc7a5\ub9cc \uc0dd\uc131)\nconst items = $input.all();\nconst first = items[0].json;\nreturn [{\n  json: {\n    image_prompt: first.image_prompt,\n    refUrl_A: first.refUrl_A,\n    refUrl_B: first.refUrl_B,\n  }\n}];"
            },
            "id": "6db66063-1d29-45f2-8890-aad660cd435b",
            "name": "\uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b8 \uc120\ud0dd1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -560,
                3584
            ]
        },
        {
            "parameters": {
                "jsCode": "// \uc601\uc0c11 \uc900\ube44: \uc774\ubbf8\uc9c0 URL \ucd94\ucd9c \uacb0\uacfc\uc5d0\uc11c \uc774\ubbf8\uc9c0 \uac00\uc838\uc624\uae30\nconst imageUrl = $input.first().json.images?.[0]?.url || '';\nif (!imageUrl) throw new Error('\uc774\ubbf8\uc9c0 URL \uc5c6\uc74c');\n\nconst seg = $('\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1').all()[0].json;\nconst prompt = (seg.veo3_prompt || '').replace(/[\\\\\"]/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').trim();\nif (!prompt) throw new Error('veo3_prompt \uc5c6\uc74c (\uc7a5\uba741)');\n\nreturn [{\n  json: {\n    veo3Body: {\n      prompt: prompt,\n      imageUrls: [imageUrl],\n      model: 'veo3_fast',\n      generationType: 'FIRST_AND_LAST_FRAMES_2_VIDEO',\n      aspect_ratio: '16:9',\n      enableTranslation: false\n    }\n  }\n}];"
            },
            "id": "6262eee8-c4b9-42d4-9bc5-d6cde0da49cd",
            "name": "\uc601\uc0c11 \uc900\ube441",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1680,
                3872
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/veo/generate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.veo3Body) }}",
                "options": {}
            },
            "id": "799f0b78-abaa-42b1-b3cc-b2ae1a0993c0",
            "name": "\uc601\uc0c11 \uc0dd\uc1311",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1456,
                3872
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "amount": 300
            },
            "id": "657f626b-9fc0-4082-8f2d-3ed3cf9d98f5",
            "name": "\uc601\uc0c11 \ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -1008,
                3872
            ],
            "webhookId": "c82dfe2d-8cd1-43b5-8407-b5fb5f3b82d7"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $('\uc601\uc0c11 \uc0dd\uc1311').item.json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "9f7c3e9f-ed53-49c9-b478-267975d06e93",
            "name": "\uc601\uc0c11 \uacb0\uacfc1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -784,
                3872
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "bb07e65a",
                            "leftValue": "={{ $json.data.successFlag }}",
                            "rightValue": "1",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": true
                }
            },
            "id": "ca7bb11e-9798-4fb3-b193-b636ac012136",
            "name": "\uc601\uc0c11 \uc644\ub8cc\uccb4\ud06c1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -384,
                3872
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "4e219da3-2897-4e58-9cba-f4a899366044",
            "name": "\uc601\uc0c11 \uc7ac\ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -144,
                3888
            ],
            "webhookId": "a13742be-e399-4a95-92ee-9b978949ef28"
        },
        {
            "parameters": {
                "jsCode": "// \ud504\ub808\uc7841 \ucd94\ucd9c (\uc7ac\uc9c4\uc785 \uc9c0\uc6d0)\nconst data = $input.first().json;\n\n// \uc601\uc0c1 \uc2e4\ud328 \uc2dc \uc2a4\ud0b5\nif (data.videoFailed) {\n  console.log('\uc601\uc0c1 \uc2e4\ud328 \u2192 \ud504\ub808\uc784 \ucd94\ucd9c \uc2a4\ud0b5');\n  return [{ json: { skipped: true, originalImageUrl: data.originalImageUrl || '' } }];\n}\n\n// \uc601\uc0c1 URL: \uccab \uc9c4\uc785\uc774\uba74 \uacb0\uacfc\uc5d0\uc11c, \uc7ac\uc2dc\ub3c4\uba74 \uc804\ub2ec\ubc1b\uc740 videoUrl\nconst videoUrl = data.videoUrl || data?.data?.response?.resultUrls?.[0] || '';\nif (!videoUrl) {\n  console.log('\uc601\uc0c1 URL \uc5c6\uc74c \u2192 \ud504\ub808\uc784 \ucd94\ucd9c \uc2a4\ud0b5');\n  return [{ json: { skipped: true } }];\n}\n\n// NCA API\ub85c 7.5\ucd08 \uc2dc\uc810 \ud504\ub808\uc784 \ucd94\ucd9c (jpg \uac15\uc81c)\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: {\n      'x-api-key': 'nca-sagong-2026',\n      'Content-Type': 'application/json'\n    },\n    body: {\n      inputs: [{ file_url: videoUrl, options: [{ option: '-ss', argument: '7.5' }] }],\n      filters: [],\n      outputs: [{\n        options: [\n          { option: '-frames:v', argument: '1' },\n          { option: '-q:v', argument: '2' },\n          { option: '-f', argument: 'image2' },\n          { option: '-update', argument: '1' }\n        ],\n        file_name: 'last_frame_1.jpg'\n      }]\n    }\n  });\n  return [{ json: { ...result, videoUrl } }];\n} catch(e) {\n  console.log('NCA \ud504\ub808\uc784 \ucd94\ucd9c \uc2e4\ud328: ' + e.message);\n  return [{ json: { ncaError: true, error: e.message, videoUrl } }];\n}"
            },
            "id": "f890bfed-d111-40bd-9411-1d2115385666",
            "name": "\ud504\ub808\uc7841 \ucd94\ucd9c1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                112,
                3856
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "00a8d8ca-2027-4eb5-a2bd-dd932f6f30b6",
            "name": "\ud504\ub808\uc7841 \ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                336,
                3856
            ],
            "webhookId": "e836bbd9-d700-47f4-b59a-21c5959c1d30"
        },
        {
            "parameters": {
                "jsCode": "// \ud504\ub808\uc7841 \uacb0\uacfc (\uc644\ub8cc \uccb4\ud06c + mp4 \ud3f4\ubc31)\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.retryCount) staticData.retryCount = 0;\n\nconst data = $input.first().json;\nconst originalImageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n\n// \uc2a4\ud0b5\ub41c \uacbd\uc6b0 \ubc14\ub85c \uc644\ub8cc\nif (data.skipped) {\n  staticData.retryCount = 0;\n  const fallback = data.originalImageUrl || originalImageUrl;\n  return [{ json: { frameUrl: fallback, frameComplete: true, usedFallback: true } }];\n}\n\nlet frameUrl = '';\n\n// NCA \uc751\ub2f5\uc5d0\uc11c \ud504\ub808\uc784 URL \ucd94\ucd9c\nif (!data.ncaError) {\n  if (Array.isArray(data?.response)) {\n    frameUrl = data.response[0]?.file_url || '';\n  }\n  if (!frameUrl && data?.file_url) frameUrl = data.file_url;\n  if (!frameUrl && data?.url) frameUrl = data.url;\n}\n\n// .mp4 URL\uc774\uba74 \uc774\ubbf8\uc9c0\uac00 \uc544\ub2c8\ubbc0\ub85c \uc6d0\ubcf8 \uc774\ubbf8\uc9c0\ub85c \ud3f4\ubc31\nif (frameUrl && frameUrl.toLowerCase().endsWith('.mp4')) {\n  console.log('\ud504\ub808\uc7841 \uacb0\uacfc\uac00 .mp4 \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31: ' + frameUrl);\n  staticData.retryCount = 0;\n  return [{ json: { frameUrl: originalImageUrl, frameComplete: true, usedFallback: true, mp4Detected: true } }];\n}\n\nif (frameUrl) {\n  staticData.retryCount = 0;\n  return [{ json: { frameUrl, frameComplete: true } }];\n}\n\n// \uc7ac\uc2dc\ub3c4 \ud69f\uc218 \uccb4\ud06c (10\ud68c \u00d7 60\ucd08 = \uc57d 10\ubd84)\nstaticData.retryCount++;\nif (staticData.retryCount > 10) {\n  console.log('\ud504\ub808\uc7841 \ucd94\ucd9c 10\ud68c \uc2e4\ud328 \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n  staticData.retryCount = 0;\n  return [{ json: { frameUrl: originalImageUrl, frameComplete: true, usedFallback: true } }];\n}\n\n// \ubbf8\uc644\ub8cc \u2192 \uc7ac\uc2dc\ub3c4\nconsole.log('\ud504\ub808\uc7841 \ubbf8\uc644\ub8cc, \uc7ac\uc2dc\ub3c4 ' + staticData.retryCount + '/10');\nreturn [{ json: { frameComplete: false, videoUrl: data.videoUrl || '' } }];"
            },
            "id": "57985a4b-f3ea-4455-b004-e37f01bf686f",
            "name": "\ud504\ub808\uc7841 \uacb0\uacfc1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                576,
                3856
            ]
        },
        {
            "parameters": {
                "jsCode": "// \uc601\uc0c12 \uc900\ube44: \ud504\ub808\uc7841 \ub610\ub294 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31\nlet imageUrl = $input.first().json.frameUrl || '';\n\nif (!imageUrl) {\n  imageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n  console.log('\ud504\ub808\uc784 \uc5c6\uc74c \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n}\nif (!imageUrl) throw new Error('\uc601\uc0c12 \uc785\ub825 \uc774\ubbf8\uc9c0 \uc5c6\uc74c');\n\nconst seg = $('\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1').all()[1].json;\nconst prompt = (seg.veo3_prompt || '').replace(/[\\\\\"]/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').trim();\nif (!prompt) throw new Error('veo3_prompt \uc5c6\uc74c (\uc7a5\uba742)');\n\nreturn [{\n  json: {\n    veo3Body: {\n      prompt: prompt,\n      imageUrls: [imageUrl],\n      model: 'veo3_fast',\n      generationType: 'FIRST_AND_LAST_FRAMES_2_VIDEO',\n      aspect_ratio: '16:9',\n      enableTranslation: false\n    }\n  }\n}];"
            },
            "id": "3c2e181a-1dee-4a88-8d2a-696fd14a5a0b",
            "name": "\uc601\uc0c12 \uc900\ube441",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1696,
                4176
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/veo/generate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.veo3Body) }}",
                "options": {}
            },
            "id": "3233ebcb-4d6a-481d-a827-bcbddf0c299b",
            "name": "\uc601\uc0c12 \uc0dd\uc1311",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1472,
                4176
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "amount": 300
            },
            "id": "fac6df2c-9aaf-415d-996a-37f33f4df7fa",
            "name": "\uc601\uc0c12 \ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -1248,
                4176
            ],
            "webhookId": "d2407170-d76d-4dd5-9eef-9be53fde87d9"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $('\uc601\uc0c12 \uc0dd\uc1311').item.json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "6ac3b971-9149-42b4-8783-f4206e044918",
            "name": "\uc601\uc0c12 \uacb0\uacfc1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -800,
                4176
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "e36b459a",
                            "leftValue": "={{ $json.data.successFlag }}",
                            "rightValue": "1",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": true
                }
            },
            "id": "8bb998ff-2811-4044-a300-5958d54a429d",
            "name": "\uc601\uc0c12 \uc644\ub8cc\uccb4\ud06c1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -400,
                4176
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "efcb02ed-a07c-46cd-bbab-18514e6830a7",
            "name": "\uc601\uc0c12 \uc7ac\ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -144,
                4192
            ],
            "webhookId": "f5b50b19-c70e-4206-95a7-5b63f8984d76"
        },
        {
            "parameters": {
                "jsCode": "// \ud504\ub808\uc7842 \ucd94\ucd9c (\uc7ac\uc9c4\uc785 \uc9c0\uc6d0)\nconst data = $input.first().json;\n\n// \uc601\uc0c1 \uc2e4\ud328 \uc2dc \uc2a4\ud0b5\nif (data.videoFailed) {\n  console.log('\uc601\uc0c1 \uc2e4\ud328 \u2192 \ud504\ub808\uc784 \ucd94\ucd9c \uc2a4\ud0b5');\n  return [{ json: { skipped: true, originalImageUrl: data.originalImageUrl || '' } }];\n}\n\n// \uc601\uc0c1 URL: \uccab \uc9c4\uc785\uc774\uba74 \uacb0\uacfc\uc5d0\uc11c, \uc7ac\uc2dc\ub3c4\uba74 \uc804\ub2ec\ubc1b\uc740 videoUrl\nconst videoUrl = data.videoUrl || data?.data?.response?.resultUrls?.[0] || '';\nif (!videoUrl) {\n  console.log('\uc601\uc0c1 URL \uc5c6\uc74c \u2192 \ud504\ub808\uc784 \ucd94\ucd9c \uc2a4\ud0b5');\n  return [{ json: { skipped: true } }];\n}\n\n// NCA API\ub85c 7.5\ucd08 \uc2dc\uc810 \ud504\ub808\uc784 \ucd94\ucd9c (jpg \uac15\uc81c)\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: {\n      'x-api-key': 'nca-sagong-2026',\n      'Content-Type': 'application/json'\n    },\n    body: {\n      inputs: [{ file_url: videoUrl, options: [{ option: '-ss', argument: '7.5' }] }],\n      filters: [],\n      outputs: [{\n        options: [\n          { option: '-frames:v', argument: '1' },\n          { option: '-q:v', argument: '2' },\n          { option: '-f', argument: 'image2' },\n          { option: '-update', argument: '1' }\n        ],\n        file_name: 'last_frame_2.jpg'\n      }]\n    }\n  });\n  return [{ json: { ...result, videoUrl } }];\n} catch(e) {\n  console.log('NCA \ud504\ub808\uc784 \ucd94\ucd9c \uc2e4\ud328: ' + e.message);\n  return [{ json: { ncaError: true, error: e.message, videoUrl } }];\n}"
            },
            "id": "06a8cf68-9c25-402c-9610-e4dd9eeaed02",
            "name": "\ud504\ub808\uc7842 \ucd94\ucd9c1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                96,
                4160
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "719b0481-bc13-4fc8-92e1-c15d8473eeeb",
            "name": "\ud504\ub808\uc7842 \ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                320,
                4160
            ],
            "webhookId": "3cd50ace-887f-4a96-a157-ce8b19e41d31"
        },
        {
            "parameters": {
                "jsCode": "// \ud504\ub808\uc7842 \uacb0\uacfc (\uc644\ub8cc \uccb4\ud06c + mp4 \ud3f4\ubc31)\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.retryCount) staticData.retryCount = 0;\n\nconst data = $input.first().json;\nconst originalImageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n\n// \uc2a4\ud0b5\ub41c \uacbd\uc6b0 \ubc14\ub85c \uc644\ub8cc\nif (data.skipped) {\n  staticData.retryCount = 0;\n  const fallback = data.originalImageUrl || originalImageUrl;\n  return [{ json: { frameUrl: fallback, frameComplete: true, usedFallback: true } }];\n}\n\nlet frameUrl = '';\n\n// NCA \uc751\ub2f5\uc5d0\uc11c \ud504\ub808\uc784 URL \ucd94\ucd9c\nif (!data.ncaError) {\n  if (Array.isArray(data?.response)) {\n    frameUrl = data.response[0]?.file_url || '';\n  }\n  if (!frameUrl && data?.file_url) frameUrl = data.file_url;\n  if (!frameUrl && data?.url) frameUrl = data.url;\n}\n\n// .mp4 URL\uc774\uba74 \uc774\ubbf8\uc9c0\uac00 \uc544\ub2c8\ubbc0\ub85c \uc6d0\ubcf8 \uc774\ubbf8\uc9c0\ub85c \ud3f4\ubc31\nif (frameUrl && frameUrl.toLowerCase().endsWith('.mp4')) {\n  console.log('\ud504\ub808\uc7842 \uacb0\uacfc\uac00 .mp4 \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31: ' + frameUrl);\n  staticData.retryCount = 0;\n  return [{ json: { frameUrl: originalImageUrl, frameComplete: true, usedFallback: true, mp4Detected: true } }];\n}\n\nif (frameUrl) {\n  staticData.retryCount = 0;\n  return [{ json: { frameUrl, frameComplete: true } }];\n}\n\n// \uc7ac\uc2dc\ub3c4 \ud69f\uc218 \uccb4\ud06c (10\ud68c \u00d7 60\ucd08 = \uc57d 10\ubd84)\nstaticData.retryCount++;\nif (staticData.retryCount > 10) {\n  console.log('\ud504\ub808\uc7842 \ucd94\ucd9c 10\ud68c \uc2e4\ud328 \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n  staticData.retryCount = 0;\n  return [{ json: { frameUrl: originalImageUrl, frameComplete: true, usedFallback: true } }];\n}\n\n// \ubbf8\uc644\ub8cc \u2192 \uc7ac\uc2dc\ub3c4\nconsole.log('\ud504\ub808\uc7842 \ubbf8\uc644\ub8cc, \uc7ac\uc2dc\ub3c4 ' + staticData.retryCount + '/10');\nreturn [{ json: { frameComplete: false, videoUrl: data.videoUrl || '' } }];"
            },
            "id": "38063ed3-c810-4020-86f3-5c17e173d832",
            "name": "\ud504\ub808\uc7842 \uacb0\uacfc1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                560,
                4160
            ]
        },
        {
            "parameters": {
                "jsCode": "// \uc601\uc0c13 \uc900\ube44: \ud504\ub808\uc7842 \ub610\ub294 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31\nlet imageUrl = $input.first().json.frameUrl || '';\n\nif (!imageUrl) {\n  imageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n  console.log('\ud504\ub808\uc784 \uc5c6\uc74c \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n}\nif (!imageUrl) throw new Error('\uc601\uc0c13 \uc785\ub825 \uc774\ubbf8\uc9c0 \uc5c6\uc74c');\n\nconst seg = $('\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1').all()[2].json;\nconst prompt = (seg.veo3_prompt || '').replace(/[\\\\\"]/g, \"'\").replace(/[\\n\\r\\t]/g, ' ').trim();\nif (!prompt) throw new Error('veo3_prompt \uc5c6\uc74c (\uc7a5\uba743)');\n\nreturn [{\n  json: {\n    veo3Body: {\n      prompt: prompt,\n      imageUrls: [imageUrl],\n      model: 'veo3_fast',\n      generationType: 'FIRST_AND_LAST_FRAMES_2_VIDEO',\n      aspect_ratio: '16:9',\n      enableTranslation: false\n    }\n  }\n}];"
            },
            "id": "191700f3-379b-457d-8c59-bc0b0493a2a2",
            "name": "\uc601\uc0c13 \uc900\ube441",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1696,
                4448
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.kie.ai/api/v1/veo/generate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.veo3Body) }}",
                "options": {}
            },
            "id": "253ba70d-6d3a-4c11-a293-0358c4b8b297",
            "name": "\uc601\uc0c13 \uc0dd\uc1311",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1472,
                4448
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "amount": 300
            },
            "id": "7d3caa40-a09e-4591-a585-956522c56df8",
            "name": "\uc601\uc0c13 \ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -1248,
                4448
            ],
            "webhookId": "e249c3c0-0416-4e17-8865-73c8829ce2b3"
        },
        {
            "parameters": {
                "url": "=https://api.kie.ai/api/v1/veo/record-info?taskId={{ $('\uc601\uc0c13 \uc0dd\uc1311').item.json.data.taskId }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "3ce31374-9a2f-4e48-b20e-6ab48ae4f2cb",
            "name": "\uc601\uc0c13 \uacb0\uacfc1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -800,
                4448
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "l77M6Gy6p1bUA86P",
                    "name": "Kie.ai API Key"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "85d82019",
                            "leftValue": "={{ $json.data.successFlag }}",
                            "rightValue": "1",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": true
                }
            },
            "id": "dc430c80-3157-4bea-ac2e-d8dfc25c6a85",
            "name": "\uc601\uc0c13 \uc644\ub8cc\uccb4\ud06c1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -368,
                4448
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "0423e9c4-7af6-4547-81ce-d9c75f99b5c1",
            "name": "\uc601\uc0c13 \uc7ac\ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                -128,
                4464
            ],
            "webhookId": "425f17f7-a44b-49c9-9b2b-90d6a61190fc"
        },
        {
            "parameters": {
                "jsCode": "// \uc601\uc0c11 \uc2e4\ud328/\ud0c0\uc784\uc544\uc6c3 \uccb4\ud06c (\uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31)\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.retryCount) staticData.retryCount = 0;\nstaticData.retryCount++;\n\nconst data = $input.first().json;\nconst flag = data?.data?.successFlag;\nconst originalImageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n\n// successFlag === 1 \u2192 \uc131\uacf5\nif (flag === 1) {\n  staticData.retryCount = 0;\n  return [{json: data}];\n}\n\n// successFlag >= 2 \ub610\ub294 \uc7ac\uc2dc\ub3c4 20\ud68c \ucd08\uacfc \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31\nif ((typeof flag === 'number' && flag >= 2) || staticData.retryCount > 20) {\n  const reason = (typeof flag === 'number' && flag >= 2)\n    ? '\uc601\uc0c11 \uc2e4\ud328 (successFlag=' + flag + ')'\n    : '\uc601\uc0c11 \ud0c0\uc784\uc544\uc6c3 (' + staticData.retryCount + '\ud68c)';\n  console.log(reason + ' \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n  staticData.retryCount = 0;\n  const mod = JSON.parse(JSON.stringify(data));\n  mod.data = mod.data || {};\n  mod.data.successFlag = 1;\n  mod.videoFailed = true;\n  mod.failReason = reason;\n  mod.originalImageUrl = originalImageUrl;\n  return [{json: mod}];\n}\n\n// \uc544\uc9c1 \uc9c4\ud589\uc911 \u2192 \uc7ac\ub300\uae30\nreturn [{json: data}];"
            },
            "id": "d404f14d-6a43-4f2a-948c-c7208d98eb98",
            "name": "\uc601\uc0c11 \uc2e4\ud328\uccb4\ud06c1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -560,
                3872
            ]
        },
        {
            "parameters": {
                "jsCode": "// \uc601\uc0c12 \uc2e4\ud328/\ud0c0\uc784\uc544\uc6c3 \uccb4\ud06c (\uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31)\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.retryCount) staticData.retryCount = 0;\nstaticData.retryCount++;\n\nconst data = $input.first().json;\nconst flag = data?.data?.successFlag;\nconst originalImageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n\n// successFlag === 1 \u2192 \uc131\uacf5\nif (flag === 1) {\n  staticData.retryCount = 0;\n  return [{json: data}];\n}\n\n// successFlag >= 2 \ub610\ub294 \uc7ac\uc2dc\ub3c4 20\ud68c \ucd08\uacfc \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31\nif ((typeof flag === 'number' && flag >= 2) || staticData.retryCount > 20) {\n  const reason = (typeof flag === 'number' && flag >= 2)\n    ? '\uc601\uc0c12 \uc2e4\ud328 (successFlag=' + flag + ')'\n    : '\uc601\uc0c12 \ud0c0\uc784\uc544\uc6c3 (' + staticData.retryCount + '\ud68c)';\n  console.log(reason + ' \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n  staticData.retryCount = 0;\n  const mod = JSON.parse(JSON.stringify(data));\n  mod.data = mod.data || {};\n  mod.data.successFlag = 1;\n  mod.videoFailed = true;\n  mod.failReason = reason;\n  mod.originalImageUrl = originalImageUrl;\n  return [{json: mod}];\n}\n\n// \uc544\uc9c1 \uc9c4\ud589\uc911 \u2192 \uc7ac\ub300\uae30\nreturn [{json: data}];"
            },
            "id": "0af9833d-481e-49f0-9cf9-338e84adf57e",
            "name": "\uc601\uc0c12 \uc2e4\ud328\uccb4\ud06c1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -576,
                4176
            ]
        },
        {
            "parameters": {
                "jsCode": "// \uc601\uc0c13 \uc2e4\ud328/\ud0c0\uc784\uc544\uc6c3 \uccb4\ud06c (\uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31)\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.retryCount) staticData.retryCount = 0;\nstaticData.retryCount++;\n\nconst data = $input.first().json;\nconst flag = data?.data?.successFlag;\nconst originalImageUrl = $('\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1').first().json?.images?.[0]?.url || '';\n\n// successFlag === 1 \u2192 \uc131\uacf5\nif (flag === 1) {\n  staticData.retryCount = 0;\n  return [{json: data}];\n}\n\n// successFlag >= 2 \ub610\ub294 \uc7ac\uc2dc\ub3c4 20\ud68c \ucd08\uacfc \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31\nif ((typeof flag === 'number' && flag >= 2) || staticData.retryCount > 20) {\n  const reason = (typeof flag === 'number' && flag >= 2)\n    ? '\uc601\uc0c13 \uc2e4\ud328 (successFlag=' + flag + ')'\n    : '\uc601\uc0c13 \ud0c0\uc784\uc544\uc6c3 (' + staticData.retryCount + '\ud68c)';\n  console.log(reason + ' \u2192 \uc6d0\ubcf8 \uc774\ubbf8\uc9c0 \ud3f4\ubc31');\n  staticData.retryCount = 0;\n  const mod = JSON.parse(JSON.stringify(data));\n  mod.data = mod.data || {};\n  mod.data.successFlag = 1;\n  mod.videoFailed = true;\n  mod.failReason = reason;\n  mod.originalImageUrl = originalImageUrl;\n  return [{json: mod}];\n}\n\n// \uc544\uc9c1 \uc9c4\ud589\uc911 \u2192 \uc7ac\ub300\uae30\nreturn [{json: data}];"
            },
            "id": "d554867e-07d2-4cf5-aaa1-d92de6873bed",
            "name": "\uc601\uc0c13 \uc2e4\ud328\uccb4\ud06c1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -576,
                4448
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "img-cond-1",
                            "leftValue": "={{ $json.imageComplete }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": true
                }
            },
            "id": "11598ecc-c30f-48db-bc70-a7eae799de25",
            "name": "\uc774\ubbf8\uc9c0 \uc644\ub8cc\uccb4\ud06c1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                576,
                3584
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "1d15ba85-6a23-4159-9740-53bebe6d963f",
            "name": "\uc774\ubbf8\uc9c0 \uc7ac\ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                832,
                3600
            ],
            "webhookId": "31e22254-2dba-4faa-8e40-a566c24ffc6e"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "frame-cond-1",
                            "leftValue": "={{ $json.frameComplete }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": true
                }
            },
            "id": "1d86a1a8-888e-4f74-8c11-1acd352056ee",
            "name": "\ud504\ub808\uc7841 \uc644\ub8cc\uccb4\ud06c1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                816,
                3856
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "782997f6-5183-41ee-8a53-16ece7c48527",
            "name": "\ud504\ub808\uc7841 \uc7ac\ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1072,
                3872
            ],
            "webhookId": "d958b8c2-2524-4e91-a0da-a1dd619289aa"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "frame-cond-2",
                            "leftValue": "={{ $json.frameComplete }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {
                    "looseTypeValidation": true
                }
            },
            "id": "f5483526-5de9-4597-8386-b3fbd1c751fb",
            "name": "\ud504\ub808\uc7842 \uc644\ub8cc\uccb4\ud06c1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                800,
                4160
            ]
        },
        {
            "parameters": {
                "amount": 30
            },
            "id": "7df7c501-6c6a-4f42-9bf6-af9040438a3d",
            "name": "\ud504\ub808\uc7842 \uc7ac\ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1040,
                4176
            ],
            "webhookId": "90d602d6-1c87-43f8-bf90-ad3ef0cf1093"
        },
        {
            "parameters": {
                "jsCode": "// \uce74\ud14c\uace0\ub9ac + \uc8fc\uc81c \uc21c\uc11c \uc120\ud0dd (staticData\ub85c \uc0c1\ud0dc \uc720\uc9c0)\nconst staticData = $getWorkflowStaticData('global');\nif (typeof staticData.categoryIndex !== 'number') staticData.categoryIndex = 0;\nif (!staticData.topicIndices) staticData.topicIndices = {0:0, 1:0, 2:0, 3:0};\n\nconst categories = [\n  { index: 1, name: '\uba39\ud280\uac80\uc99d/\uc548\uc804 \uc815\ubcf4', count: 7, topics: [\n    '1. \uba39\ud280 \uc0ac\uc774\ud2b8 \uad6c\ubcc4\ud558\ub294 \ud575\uc2ec \uccb4\ud06c\ud3ec\uc778\ud2b8 3\uac00\uc9c0',\n    '2. \uc548\uc804\ud55c \uce74\uc9c0\ub178 \uc0ac\uc774\ud2b8 \uace0\ub974\ub294 \ubc95',\n    '3. \uba39\ud280 \ub2f9\ud588\uc744 \ub54c \ub300\ucc98\ubc95 (\uc2e0\uace0, \uc99d\uac70 \uc218\uc9d1)',\n    '4. \uba54\uc774\uc800\uc0ac\uc774\ud2b8 vs \uc2e0\uc0dd\uc0ac\uc774\ud2b8 \ucc28\uc774\uc810',\n    '5. \uba39\ud280\uac80\uc99d \uc81c\ub300\ub85c \ud558\ub294 \ubc95',\n    '6. \uba39\ud280\uc81c\ubcf4/\uba39\ud280\uac80\uc99d \uc0ac\ub840\uc640 \ud53c\ud558\ub294 \ubc95',\n    '7. \uba54\uc774\uc800\uc0ac\uc774\ud2b8 vs \uba39\ud280\uc0ac\uc774\ud2b8 \uad6c\ubcc4\ubc95'\n  ]},\n  { index: 2, name: '\uce74\uc9c0\ub178/\uac8c\uc784 \ud301', count: 7, topics: [\n    '8. \uc2ac\ub86f \ucd08\ubcf4\uac00 \uaf2d \uc54c\uc544\uc57c \ud560 \uae30\ubcf8 \uc0c1\uc2dd',\n    '9. \ub77c\uc774\ube0c \uce74\uc9c0\ub178 \ucc98\uc74c \ud560 \ub54c \uc2e4\uc218\ud558\uae30 \uc26c\uc6b4 \uac83\ub4e4',\n    '10. \ud658\uc804 \uc2dc \uc8fc\uc758\uc0ac\ud56d (\uc218\uc218\ub8cc, \uc2dc\uac04, \ud55c\ub3c4)',\n    '11. \ubcf4\ub108\uc2a4/\uc774\ubca4\ud2b8 \uc81c\ub300\ub85c \ud65c\uc6a9\ud558\ub294 \ubc95',\n    '12. \ubc30\ud305 \uc790\uae08 \uad00\ub9ac\uc758 \uae30\ubcf8',\n    '13. \uc7ad\ud31f \uc81c\ubcf4\uc640 \ud604\uc2e4\uc801 \ud655\ub960, \ud130\uc9c4 \ud6c4\uae30',\n    '14. \ubb34\ub8cc\uc2ac\ub86f \uccb4\ud5d8 - \uc785\uae08 \uc804\uc5d0 \uba3c\uc800 \uccb4\ud5d8\ud558\ub294 \ud301'\n  ]},\n  { index: 3, name: '\ucee4\ubba4\ub2c8\ud2f0 \ud65c\uc6a9', count: 7, topics: [\n    '15. \uc628\uce74\uc2a4\ud130\ub514 \ud3ec\uc778\ud2b8 \uafc0\ud301 (\ubcf5\uad8c, \ub3cc\ub9bc\ud310, \uc624\ubaa9, \ubb34\ub8cc\uc2ac\ub86f)',\n    '16. \uc81c\ud734\uc0ac\uc774\ud2b8 \ud6c4\uae30 \uc77d\ub294 \ubc95 (\uc9c4\uc9dc \ud6c4\uae30 vs \uad11\uace0)',\n    '17. \uc81c\ud734\uc0ac\uc774\ud2b8 \ud6c4\uae30 - \uac80\uc99d\ub41c \uc0ac\uc774\ud2b8 \uace0\ub974\ub294 \uae30\uc900',\n    '18. \uc790\uc720\uac8c\uc2dc\ud310\uc5d0\uc11c \uc815\ubcf4 \uc5bb\ub294 \ud301',\n    '19. \ubc29\uc1a1\uc874 \ud65c\uc6a9\ubc95 (\ub3d9\ubb3c\uc6d0, \uac00\ub514\uc5b8, \uc778\uc0dd\uc5ed\uc804, \ud558\uc774\ub77c\uc774\ud2b8)',\n    '20. \uae30\ud504\ud2f0\ucf58 \uad50\ud658 \uafc0\ud301',\n    '21. \ud328\ub110\ud2f0\uba85\ub2e8 - \uc0ac\uae30\uafbc/\uc591\uc544\uce58 \uad6c\ubcc4\ubc95'\n  ]},\n  { index: 4, name: '\uc2a4\ud3ec\uce20/\ubd84\uc11d', count: 6, topics: [\n    '22. \uc2a4\ud3ec\uce20 \ubc30\ud305 \uae30\ucd08',\n    '23. \uc2a4\ud3ec\uce20 \ubd84\uc11d/\ubc30\ud305 - \ubd84\uc11d \uc5c6\uc774 \ubc30\ud305\ud558\ub294 \uc704\ud5d8\uc131',\n    '24. \uc2a4\ud3ec\uce20 \ub274\uc2a4 \ud574\uc11d\ud558\ub294 \ubc95',\n    '25. \ub77c\uc774\ube0c \uc2a4\ucf54\uc5b4 \ud65c\uc6a9\ubc95',\n    '26. \ubc30\ub2f9\ub960 \uc77d\ub294 \ubc95 (\ucd08\ubcf4 \uac00\uc774\ub4dc)',\n    '27. \uc2a4\ud3ec\uce20 \ubd84\uc11d \uac8c\uc2dc\ud310 \ud65c\uc6a9 \ud301'\n  ]}\n];\n\nconst catIdx = staticData.categoryIndex % 4;\nconst cat = categories[catIdx];\nconst topicIdx = (staticData.topicIndices[catIdx] || 0) % cat.topics.length;\nconst currentTopic = cat.topics[topicIdx];\n\nconsole.log('\uce74\ud14c\uace0\ub9ac: ' + cat.name + ', \uc8fc\uc81c: ' + currentTopic);\n\n// \ub2e4\uc74c \uc2e4\ud589\uc744 \uc704\ud574 \uc5c5\ub370\uc774\ud2b8\nstaticData.topicIndices[catIdx] = topicIdx + 1;\nstaticData.categoryIndex++;\n\nreturn [{ json: {\n  categoryIndex: cat.index,\n  categoryName: cat.name,\n  topicNumber: topicIdx + 1,\n  currentTopic: currentTopic\n}}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2496,
                3584
            ],
            "id": "1f9d3448-f163-4ff5-9d65-058a35a089a9",
            "name": "\uce74\ud14c\uace0\ub9ac \uc120\ud0dd1"
        },
        {
            "parameters": {
                "jsCode": "// 16:9 \u2192 9:16 \uc20f\uce20 \ubcc0\ud658 + \uc81c\ubaa9/\uc790\ub9c9 \uc624\ubc84\ub808\uc774\nconst prevData = $input.first().json;\nconst videoUrl = prevData.final_video_url || prevData.url || '';\n\nif (!videoUrl) {\n  return [{ json: { ...prevData, convertSkipped: true } }];\n}\n\nconst fontBold = '/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf';\nconst fontRegular = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf';\n\n// FFmpeg drawtext \ud14d\uc2a4\ud2b8 \uc774\uc2a4\ucf00\uc774\ud504\nfunction esc(text) {\n  return (text || '')\n    .replace(/\\\\/g, '')\n    .replace(/'/g, '\\u2019')\n    .replace(/;/g, '')\n    .replace(/%/g, '%%');\n}\n\n// \u2500\u2500 \uc0c1\ub2e8 \uc81c\ubaa9 \ucc98\ub9ac \u2500\u2500\nlet title = (prevData.hookTitle || '').replace(/<\\/?y>/g, '');\n\n// \uc81c\ubaa9 \uc904\ubc14\uafc8 (12\uc790 \ucd08\uacfc \uc2dc 2\uc904)\nfunction splitTitle(text) {\n  if (text.length <= 13) return [text];\n  const mid = Math.ceil(text.length / 2);\n  let splitIdx = -1;\n  for (let d = 0; d <= 6; d++) {\n    for (const offset of [-d, d]) {\n      const i = mid + offset;\n      if (i >= 0 && i < text.length && ' :,!?\u00b7'.includes(text[i])) {\n        splitIdx = text[i] === ' ' ? i : i + 1;\n        break;\n      }\n    }\n    if (splitIdx !== -1) break;\n  }\n  if (splitIdx === -1) splitIdx = mid;\n  return [text.substring(0, splitIdx).trim(), text.substring(splitIdx).trim()].filter(Boolean);\n}\n\nconst titleLines = splitTitle(title);\n\n// \u2500\u2500 \ud544\ud130 \ube4c\ub4dc \u2500\u2500\nlet f = '[0:v]scale=1080:-2,pad=1080:1920:(ow-iw)/2:(oh-ih)/2:black';\n\n// \uc0c1\ub2e8 \uc81c\ubaa9\nconst titleFontSize = 80;\nconst titleLineH = 95;\nconst titleStartY = titleLines.length === 1 ? 280 : 250;\n\nfor (let i = 0; i < titleLines.length; i++) {\n  const y = titleStartY + (i * titleLineH);\n  f += \",drawtext=text='\" + esc(titleLines[i]) + \"'\"\n    + ':fontfile=' + fontBold\n    + ':fontsize=' + titleFontSize\n    + ':fontcolor=white'\n    + ':x=(w-text_w)/2'\n    + ':y=' + y\n    + ':borderw=4:bordercolor=black';\n}\n\n// \ud558\ub2e8 \uc790\ub9c9 (\ud134\ubcc4 \ud0c0\uc774\ubc0d, \uae34 \ub300\uc0ac 2\uc904 \ubd84\ub9ac)\nconst dialogueData = prevData.dialogueData || [];\nconst subtitleFontSize = 48;\nconst subtitleLineH = 62;\nconst maxCharsPerLine = 14;\n\n// \uae34 \ub300\uc0ac\ub97c 2\uc904\ub85c \ubd84\ub9ac\nfunction splitSubtitle(text) {\n  if (text.length <= maxCharsPerLine) return [text];\n  const mid = Math.ceil(text.length / 2);\n  let splitIdx = -1;\n  for (let d = 0; d <= 5; d++) {\n    for (const offset of [-d, d]) {\n      const i = mid + offset;\n      if (i >= 0 && i < text.length && ' ,!?.\u00b7'.includes(text[i])) {\n        splitIdx = text[i] === ' ' ? i : i + 1;\n        break;\n      }\n    }\n    if (splitIdx !== -1) break;\n  }\n  if (splitIdx === -1) splitIdx = mid;\n  return [text.substring(0, splitIdx).trim(), text.substring(splitIdx).trim()].filter(Boolean);\n}\n\nfor (const seg of dialogueData) {\n  const turns = seg.turns || [];\n  if (turns.length === 0) continue;\n  const turnDur = seg.duration / turns.length;\n\n  for (let j = 0; j < turns.length; j++) {\n    const text = esc(turns[j].line || '');\n    if (!text) continue;\n    const tStart = (seg.start + j * turnDur).toFixed(2);\n    const tEnd = (seg.start + (j + 1) * turnDur).toFixed(2);\n    const lines = splitSubtitle(text);\n\n    // \uc904 \uc218\uc5d0 \ub530\ub77c Y \uc704\uce58 \uc870\uc815 (2\uc904\uc774\uba74 \uc704\ub85c \uc62c\ub9bc)\n    const baseY = lines.length === 1 ? 1400 : 1370;\n\n    for (let k = 0; k < lines.length; k++) {\n      const y = baseY + (k * subtitleLineH);\n      f += \",drawtext=text='\" + esc(lines[k]) + \"'\"\n        + ':fontfile=' + fontBold\n        + ':fontsize=' + subtitleFontSize\n        + ':fontcolor=white'\n        + ':x=(w-text_w)/2'\n        + ':y=' + y\n        + ':borderw=3:bordercolor=black'\n        + \":enable='between(t,\" + tStart + \",\" + tEnd + \")'\";\n    }\n  }\n}\n\nf += '[vout]';\n\ntry {\n  const result = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://76.13.182.180:8080/v1/ffmpeg/compose',\n    headers: {\n      'x-api-key': 'nca-sagong-2026',\n      'Content-Type': 'application/json'\n    },\n    body: {\n      inputs: [{ file_url: videoUrl }],\n      filters: [{ filter: f }],\n      outputs: [{\n        options: [\n          { option: '-map', argument: '[vout]' },\n          { option: '-map', argument: '0:a' },\n          { option: '-c:v', argument: 'libx264' },\n          { option: '-preset', argument: 'medium' },\n          { option: '-crf', argument: '18' },\n          { option: '-c:a', argument: 'aac' },\n          { option: '-b:a', argument: '256k' },\n          { option: '-pix_fmt', argument: 'yuv420p' },\n          { option: '-movflags', argument: '+faststart' }\n        ],\n        file_name: 'story_shorts_9x16.mp4'\n      }]\n    }\n  });\n\n  return [{ json: { ...prevData, convertResult: result, originalVideoUrl: videoUrl, filterUsed: f } }];\n} catch (e) {\n  console.log('9:16 \ubcc0\ud658 \uc2e4\ud328: ' + e.message);\n  return [{ json: { ...prevData, convertError: e.message } }];\n}"
            },
            "id": "46864186-02b3-43dd-8ec7-0b012d2c1b2d",
            "name": "9:16 \ubcc0\ud6581",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                992,
                4432
            ]
        },
        {
            "parameters": {
                "amount": 60
            },
            "id": "41cca220-39be-4c0c-ba71-53c7eb9cf688",
            "name": "\ubcc0\ud658 \ub300\uae301",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1216,
                4432
            ],
            "webhookId": "916-convert-wait-hook"
        },
        {
            "parameters": {
                "jsCode": "// 9:16 \ubcc0\ud658 \uacb0\uacfc \ucc98\ub9ac\nconst prevData = $input.first().json;\n\n// \ubcc0\ud658 \uc2a4\ud0b5 \ub610\ub294 \uc5d0\ub7ec \uc2dc \uc6d0\ubcf8 \uc720\uc9c0\nif (prevData.convertSkipped || prevData.convertError) {\n  return [{ json: {\n    final_video_url: prevData.final_video_url || prevData.url,\n    url: prevData.final_video_url || prevData.url,\n    srtContent: prevData.srtContent,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n  }}];\n}\n\nconst convertResult = prevData.convertResult || {};\nlet shortsUrl = '';\n\nif (Array.isArray(convertResult.response)) {\n  shortsUrl = convertResult.response[0]?.file_url || '';\n} else if (convertResult.file_url) {\n  shortsUrl = convertResult.file_url;\n} else if (typeof convertResult.response === 'string') {\n  shortsUrl = convertResult.response;\n}\n\nconst finalUrl = shortsUrl || prevData.final_video_url || prevData.url;\n\nreturn [{\n  json: {\n    final_video_url: finalUrl,\n    url: finalUrl,\n    originalVideoUrl: prevData.originalVideoUrl || prevData.final_video_url,\n    srtContent: prevData.srtContent,\n    subject: prevData.subject,\n    caption: prevData.caption,\n    comment: prevData.comment,\n    isShorts: !!shortsUrl\n  }\n}];"
            },
            "id": "570068f1-45cd-4310-a06f-60ddcbb11657",
            "name": "\ubcc0\ud658 \uacb0\uacfc1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1440,
                4432
            ]
        }
    ],
    "connections": {
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "\uce74\ud14c\uace0\ub9ac \uc120\ud0dd",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking \u2018Execute workflow\u2019": {
            "main": [
                [
                    {
                        "node": "\uce74\ud14c\uace0\ub9ac \uc120\ud0dd1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ub098\ub808\uc774\uc158 \uac80\uc218": {
            "main": [
                [
                    {
                        "node": "\uac80\uc218 \ubd84\uae30",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uac80\uc218 \ubd84\uae30": {
            "main": [
                [
                    {
                        "node": "\ucc38\uc870 \uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b81",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI \ucf58\ud150\uce20 \uc0dd\uc1311",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI \ucf58\ud150\uce20 \uc0dd\uc1311": {
            "main": [
                [
                    {
                        "node": "\ucf58\ud150\uce20 \ud30c\uc2f11",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ucf58\ud150\uce20 \ud30c\uc2f11": {
            "main": [
                [
                    {
                        "node": "\uc2dc\ud2b8 \uae30\ub85d1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc2dc\ud2b8 \uae30\ub85d1": {
            "main": [
                [
                    {
                        "node": "\ub098\ub808\uc774\uc158 \uac80\uc218",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b8 \uc120\ud0dd1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 \uc0dd\uc1311": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NCA \ub370\uc774\ud130 \uc900\ube441": {
            "main": [
                [
                    {
                        "node": "NCA \uc601\uc0c1 \uc81c\uc7911",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NCA \uc601\uc0c1 \uc81c\uc7911": {
            "main": [
                [
                    {
                        "node": "NCA \uc81c\uc791 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NCA \uc81c\uc791 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "NCA \uacb0\uacfc \ucc98\ub9ac1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NCA \uacb0\uacfc \ucc98\ub9ac1": {
            "main": [
                [
                    {
                        "node": "9:16 \ubcc0\ud6581",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ucc38\uc870 \uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b81": {
            "main": [
                [
                    {
                        "node": "\uc138\uadf8\uba3c\ud2b8 \ubd84\ub9ac1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 URL \ucd94\ucd9c1": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \uc644\ub8cc\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 \ud504\ub86c\ud504\ud2b8 \uc120\ud0dd1": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \uc0dd\uc1311",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \uc900\ube441": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \uc0dd\uc1311",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \uc0dd\uc1311": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \uc2e4\ud328\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \uc644\ub8cc\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7841 \ucd94\ucd9c1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\uc601\uc0c11 \uc7ac\ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \uc7ac\ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7841 \ucd94\ucd9c1": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7841 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7841 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7841 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7841 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7841 \uc644\ub8cc\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \uc900\ube441": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \uc0dd\uc1311",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \uc0dd\uc1311": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \uc2e4\ud328\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \uc644\ub8cc\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7842 \ucd94\ucd9c1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\uc601\uc0c12 \uc7ac\ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \uc7ac\ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7842 \ucd94\ucd9c1": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7842 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7842 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7842 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7842 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7842 \uc644\ub8cc\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \uc900\ube441": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \uc0dd\uc1311",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \uc0dd\uc1311": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \uc2e4\ud328\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \uc644\ub8cc\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "NCA \ub370\uc774\ud130 \uc900\ube441",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\uc601\uc0c13 \uc7ac\ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \uc7ac\ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c11 \uc2e4\ud328\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \uc644\ub8cc\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c12 \uc2e4\ud328\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \uc644\ub8cc\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc601\uc0c13 \uc2e4\ud328\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \uc644\ub8cc\uccb4\ud06c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 \uc644\ub8cc\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c11 \uc900\ube441",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \uc7ac\ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uc774\ubbf8\uc9c0 \uc7ac\ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\uc774\ubbf8\uc9c0 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7841 \uc644\ub8cc\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c12 \uc900\ube441",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\ud504\ub808\uc7841 \uc7ac\ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7841 \uc7ac\ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7841 \ucd94\ucd9c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7842 \uc644\ub8cc\uccb4\ud06c1": {
            "main": [
                [
                    {
                        "node": "\uc601\uc0c13 \uc900\ube441",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\ud504\ub808\uc7842 \uc7ac\ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud504\ub808\uc7842 \uc7ac\ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\ud504\ub808\uc7842 \ucd94\ucd9c1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\uce74\ud14c\uace0\ub9ac \uc120\ud0dd1": {
            "main": [
                [
                    {
                        "node": "AI \ucf58\ud150\uce20 \uc0dd\uc1311",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9:16 \ubcc0\ud6581": {
            "main": [
                [
                    {
                        "node": "\ubcc0\ud658 \ub300\uae301",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ubcc0\ud658 \ub300\uae301": {
            "main": [
                [
                    {
                        "node": "\ubcc0\ud658 \uacb0\uacfc1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ubcc0\ud658 \uacb0\uacfc1": {
            "main": [
                [
                    {
                        "node": "\uc0c1\ud0dc \uc5c5\ub370\uc774\ud2b81",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {
        "When clicking \u2018Execute workflow\u2019": [
            {
                "json": {}
            }
        ]
    },
    "versionId": "44a49c35-ef70-4a44-a4a3-226b884e721a",
    "activeVersionId": null,
    "versionCounter": 10,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-02-25T10:33:01.160Z",
            "createdAt": "2026-02-25T10:33:01.160Z",
            "role": "workflow:owner",
            "workflowId": "zVxyn0i9v5Fc8IAr",
            "projectId": "W6LETsSnBzw4J5Aa",
            "project": {
                "updatedAt": "2026-02-09T04:42:12.235Z",
                "createdAt": "2026-02-07T19:04:11.494Z",
                "id": "W6LETsSnBzw4J5Aa",
                "name": "hatihoro15 hatihoro15 <hatihoro15@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-07T19:04:11.494Z",
                        "createdAt": "2026-02-07T19:04:11.494Z",
                        "userId": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
                        "projectId": "W6LETsSnBzw4J5Aa",
                        "user": {
                            "updatedAt": "2026-02-25T23:02:25.783Z",
                            "createdAt": "2026-02-07T19:04:09.331Z",
                            "id": "2ddbfebd-4622-4c10-ae9d-fb1eddcee9b2",
                            "email": "hatihoro15@gmail.com",
                            "firstName": "hatihoro15",
                            "lastName": "hatihoro15",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-07T19:24:51.818Z",
                                "personalization_survey_n8n_version": "2.6.4"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "dEtWqwWQPJfwCWiIM0QYd",
                                "userActivatedAt": 1771888859109,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 1,
                                    "lastShownAt": 1771060625309
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-25",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": null
}
